/* -------------------------------------------------------------
- for userContent

- modifications for multiple websites
- all scrollbars
- PIP button (picture in picture)
- about:config page
- bing declutter
 ------------------------------------------------------------- */

/* all scrollbars */
:root {
  scrollbar-width: auto !important;
  scrollbar-color: rgba(53, 53, 56, 0.4) rgba(255, 255, 255, 0) !important;
}

/* PIP button */
.pip-wrapper {
  transform: scale(0.6);
}

/* about:config page*/
@-moz-document url(chrome://browser/content/browser.xul), url(about:config)
{
  @media (prefers-color-scheme: dark) {
    html,
    body {
      background: #353538 !important;
    }
  }
  @-moz-document url("about:config") {
    .button-delete,
    .button-edit,
    .button-reset,
    .button-save,
    .button-toggle {
      margin-block: 1px !important;
      padding-block: 11px 0 !important;
      padding-inline: 0 !important;
      min-height: 22px !important;
      width: 22px !important;
      outline-offset: 0 !important;
      box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2); /* Example for a toolbar */
    }
    .cell-edit {
      width: 28px !important;
    }
    form > input,
    tr:not(.add) > th,
    tr:not(.add) > .cell-value {
      padding-block: 0 !important;
    }
    tr:not(:hover) .semi-transparent:not(.primary, .button-add) {
      background-color: transparent !important;
    }
  }
  /* ff higgs-boson guide -  */
  #toolbar::after {
    content: "⚛ If that's proton or lepton, welcome to Higgs-Boson, the God Particle!" !important;
    display: flex;
    padding: 10px 1px 0px 5px;
    border-radius: var(--uc-all-border-radius);
    background: var(--in-content-page-background);
    color: #f7f1ff;
    font-size: 16px;
  }
}

/*--------------------------------------------------------------------------------*/

/*bing declutter*/

@-moz-document domain("bing.com") {
  .vs_cont .vs,
  .vs_cont .mc_caro {
    display: none !important;
  }

  .sb_feedback_button {
    opacity: 0.4 !important;
    border-radius: 10px !important;
  }
}
