/* Current Design Derived from Firefox Mod-Blur
*/
/*===============================================================
==================== C O R E   S T Y L E S ====================
===============================================================*/

/* Import common variables and colors */
@import url("CSS/common/variables.css");
@import url("CSS/common/colors.css");

/* Import chrome components */
@import url("CSS/chrome/toolbar-order.css");
@import url("CSS/chrome/colors.css");
@import url("CSS/chrome/hide-elements.css");
@import url("CSS/chrome/height-fixes.css");
@import url("CSS/chrome/search-bar.css");
@import url("CSS/chrome/tabs.css");
@import url("CSS/chrome/window-controls.css");
@import url("CSS/chrome/context-menu.css");
@import url("CSS/chrome/bookmarks.css");
@import url("CSS/chrome/buttons.css");
@import url("CSS/chrome/url-auto-hide.css");
@import url("CSS/chrome/linux-support.css");
@import url("CSS/chrome/customization.css");
@import url("CSS/chrome/vertical-tabs.css");
@import url("CSS/chrome/other.css");

