/*===============================================================
==================== C O R E   C O N T E N T ==================
===============================================================*/

/* Import content-specific colors and styles */
@import url("CSS/content/colors.css");
@import url("CSS/content/private-browsing.css");
@import url("CSS/content/new-tab.css");
@import url("CSS/content/firefox-view.css");
@import url("CSS/content/about-blank.css");
@import url("CSS/content/about-addons.css");
@import url("CSS/content/about-config.css");
@import url("CSS/content/about-settings.css");
@import url("CSS/content/about-image.css");
@import url("CSS/content/about-discovery.css");