 @-moz-document url("about:home"),
 url(about:preferences),
 url("about:blank"),
 url("about:newtab"),
 url("about:privatebrowsing"){
  body{
      background-color:#17161b !important;
  }
  a,a:visited,a:hover
  {
      color:#00caff!important;
  }
	#newtab-search-text {
	background-color: #17161B !important;
	font-size: 18px !important;
	color: #e9e9ff !important;
	box-shadow: none !important;
	text-align: center !important;
	border:none !important;
	font-weight: bold !important;
		}

.search-wrapper input {
    --newtab-textbox-focus-boxshadow: none !important;
    padding-left: 20px !important;
   	padding-inline-end: 13px !important;
  }


.search-wrapper .logo-and-wordmark .wordmark {
  display: none!important;
}

.search-wrapper .logo-and-wordmark {
  margin-bottom: 40px!important;
  padding-top: 60px!important;
  filter: saturate(30%) opacity(50%)!important;
}



.search-button{background:none !important;}

.prefs-button button {fill: #9BA8BB !important;}

.prefs-button button:hover, .prefs-button button:focus {
    background-color:  transparent !important; }

 .contentSearchSuggestionTable {display: none !important;}


}
:root {

    --in-content-border-active: #9BA8BB !important;
    --in-content-border-active-shadow: none !important;
    --in-content-page-background: #2d2f3d !important;
    scrollbar-color: #556 #00caff !important;
    scrollbar-width: thin;
}
