/* Rebased based on flexfox https://github.com/yuuqilin/FlexFox */

@import url(./css/components/uc-variables.css) not
  (
    -moz-pref("uc.higgs.disable-flexfox")
      or -moz-pref("uc.higgs.skip-loading-uc-variables.css")
  );
@import url(./css/components/uc-icons.css) not
  (
    -moz-pref("uc.higgs.disable-flexfox")
      or -moz-pref("uc.higgs.skip-loading-uc-icons.css")
  );
@import url(./css/components/uc-menu-icons.css) not
  (
    -moz-pref("uc.higgs.disable-flexfox")
      or -moz-pref("uc.higgs.skip-loading-uc-menu-icons.css")
  );
@import url(./css/components/uc-uni-extensions.css) not
  (
    -moz-pref("uc.higgs.disable-flexfox")
      or -moz-pref("uc.higgs.skip-loading-uc-uni-extensions.css")
  );
@import url(./css/components/uc-misc.css) not
  (
    -moz-pref("uc.higgs.disable-flexfox")
      or -moz-pref("uc.higgs.skip-loading-uc-misc.css")
  );
@import url(./css/components/uc-tabs-bar.css) not
  (
    -moz-pref("uc.higgs.disable-flexfox")
      or -moz-pref("uc.higgs.skip-loading-uc-tabs-bar.css")
  );
@import url(./css/components/uc-urlbar.css) not
  (
    -moz-pref("uc.higgs.disable-flexfox")
      or -moz-pref("uc.higgs.skip-loading-uc-urlbar.css")
  );
@import url(./css/components/uc-navbar.css) not
  (
    -moz-pref("uc.higgs.disable-flexfox")
      or -moz-pref("uc.higgs.skip-loading-uc-navbar.css")
  );
@import url(./css/components/uc-fullscreen.css) not
  (
    -moz-pref("uc.higgs.disable-flexfox")
      or -moz-pref("uc.higgs.skip-loading-uc-fullscreen.css")
  );
@import url(./css/components/uc-bookmarks.css) not
  (
    -moz-pref("uc.higgs.disable-flexfox")
      or -moz-pref("uc.higgs.skip-loading-uc-bookmarks.css")
  );
@import url(./css/components/uc-sidebar.css) not
  (
    -moz-pref("uc.higgs.disable-flexfox")
      or -moz-pref("uc.higgs.skip-loading-uc-sidebar.css")
  );
@import url(./css/components/uc-findbar.css) not
  (
    -moz-pref("uc.higgs.disable-flexfox")
      or -moz-pref("uc.higgs.skip-loading-uc-findbar.css")
  );
@import url(./css/components/uc-window-controls.css) not
  (
    -moz-pref("uc.higgs.disable-flexfox")
      or -moz-pref("uc.higgs.skip-loading-uc-window-controls.css")
  );
@import url(./css/components/uc-verticalfox.css) not
  (
    -moz-pref("uc.higgs.disable-flexfox")
      or -moz-pref("uc.higgs.skip-loading-uc-verticalfox.css")
  );
@import url(./css/components/uc-browser.css) not
  (
    -moz-pref("uc.higgs.disable-flexfox")
      or -moz-pref("uc.higgs.skip-loading-uc-browser.css")
  );
@import url(./css/components/uc-user-settings.css);
