/* Error: Undefined operation "2 * 2pxvar(---urlbar-container-padding)".
 *      ,
 * 2066 |     width: (100% - 2 * (2px + var(---urlbar-container-padding))) !important;
 *      |                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *      '
 *   src/higgsBosonChrome.scss 2066:20  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined operation "2 * 2pxvar(---urlbar-container-padding)".\a      \2577 \a 2066 \2502      width: (100% - 2 * (2px + var(---urlbar-container-padding))) !important;\a      \2502                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a      \2575 \a   src/higgsBosonChrome.scss 2066:20  root stylesheet';
}
