@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@import "../../colors/vice";

/* Variables that start with --- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */



 @media (prefers-color-scheme: dark) {
  :root {
    /* Browser area before a page starts loading */
    ---browser-before-load-background: var(--base00);

    /* Toolbars */
    ---toolbar-background: var(--base00);
    ---toolbar-color: var(--base06);
    ---toolbar-border-color: #3c3f4ccc;
    ---inactive-toolbar-background: var(--base00);
    ---inactive-toolbar-border-color: var(--base02);

    /* Sidebar */
    ---sidebar-background: var(--base00);
    ---inactive-sidebar-background: #181c28;

    /* Popups */
    ---menu-background: var(--base00);
    ---menu-border-color: #3c3f4ccc;
    ---popover-background: var(--base00);
    ---popover-border-color: #3c3f4ccc;
    ---popover-shadow: 0 1px 2px #22262d33;
    ---popover-button-hover-background: #2f303d;
    ---popover-separator-color: #17191e00;

    /* Header bar */
    ---headerbar-background: linear-gradient(32deg, var(--base29), var(--base00)), #2f303d,
      var(--base00));
    ---headerbar-border-color: #3c3f4ccc;
    ---headerbar-box-shadow: outset 0 1px #10111466;
    ---inactive-headerbar-background: linear-gradient(var(--base00), var(--base00));
    ---inactive-headerbar-border-color: var(--base02);
    ---inactive-headerbar-box-shadow: outset 0 1px #10111466;

    /* Buttons */
    ---button-background: linear-gradient(to top, #161925 2px, #161925);
    ---button-border-color: #3c3f4ccc;
    ---button-border-accent-color: #555e70cc;
    ---button-box-shadow: outset 0 1px #10111466, 0 1px 2px #17191e22;
    ---button-hover-background: linear-gradient(to top, #2f303d, #2f303d 1px);
    ---button-active-background: linear-gradient(-42deg, var(--base00), var(--base02), var(--base02), #2f303d, var(--base00));
    ---button-active-border-color: #3c3f4ccc;
    ---button-active-border-accent-color: var(--base03)cc;
    ---button-active-box-shadow: outset 0 1px #17191e33;
    ---button-disabled-background: var(--base00);
    ---button-disabled-border-color: var(--base02);
    ---button-disabled-box-shadow: outset 0 1px #17191e33;
    ---inactive-button-background: linear-gradient(var(--base00), var(--base00));
    ---inactive-button-border-color: var(--base00);
    ---inactive-button-box-shadow: outset 0 1px #17191e33;
    ---button-suggested-action-background: linear-gradient(
        -40deg,
      #b2bfd9ce,
      var(--base05),
	  #b2bfd999
    );
    ---button-suggested-action-border-color: var(--base05);
    ---button-suggested-action-border-accent-color: var(--base06);
    ---button-suggested-action-box-shadow: outset 0 1px #10111466,
      0 1px 2px #17191e22;
    ---button-suggested-action-hover-background: linear-gradient(
      -40deg,
      #b2bfd9ce,
      var(--base05),
	  #b2bfd999
    );
    ---button-suggested-action-active-background: var(--base00);
    ---button-suggested-action-active-border-color: var(--base06);
    ---button-suggested-action-active-box-shadow: outset 0 1px #17191e33;
    ---button-destructive-action-background: linear-gradient(
      to top,
      #ff416c 2px,
      #ff4b2b
    );
    ---button-destructive-action-border-color: #ff416c;
    ---button-destructive-action-border-accent-color: #570b0e;
    ---button-destructive-action-box-shadow: outset 0 1px #10111466,
      0 1px 2px #17191e22;
    ---button-destructive-action-hover-background: linear-gradient(
      to top,
      #ff416cec,
      #ff00aa 1px
    );
    ---button-destructive-action-active-background: linear-gradient(
      -40deg,
      #3c3f4caa,
      #22262dcc,
	  #17191ebb
    );;
    ---button-destructive-action-active-border-color: #ff416c;
    ---button-destructive-action-active-box-shadow: outset 0 1px #17191e33;

    /* URL bar */
    ---urlbar-background: linear-gradient(#161925, #161925);
    ---urlbar-border-color: var(--base29);
    ---urlbar-box-shadow: outset 0 0 0 1px #22262d22;
    ---urlbar-color: var(--base06);
    ---inactive-urlbar-background: linear-gradient(var(--base00), #181c28);
    ---inactive-urlbar-border-color: var(--base02);
    ---inactive-urlbar-box-shadow: none;
    ---inactive-urlbar-color: var(--base06);
    ---focused-urlbar-border-color: var(--base07);
    ---private-urlbar-background: #17191ecc;

    /* Tabs */
    ---tabbar-tab-color: #b2bfd999;
    ---tabbar-tab-hover-background: var(--base00);
    ---tabbar-tab-hover-border-bottom-color: var(--base29);
    ---tabbar-tab-hover-color: #3c3f4c99;
    ---tabbar-tab-active-background: var(--base29);
    ---tabbar-tab-active-border-bottom-color: #555e70cc;
    ---tabbar-tab-active-color: var(--base07);
    ---tabbar-tab-active-hover-background: var(--base29);
    ---inactive-tabbar-tab-color: #b2bfd999;
    ---inactive-tabbar-tab-active-background: var(--base00);
    ---inactive-tabbar-tab-active-border-bottom-color: #555e70cc;
    ---inactive-tabbar-tab-active-color: #b2bfd999;

    /* Switch */
    ---switch-background: #1e2233;
    ---switch-border-color: var(--base29);
    ---switch-slider-background: #151723;
    ---switch-slider-border-color: var(--base29);
    ---switch-slider-box-shadow: outset 0 1px #10111466, 0 1px #17191e00,
      0 1px 2px #17191e22;
    ---switch-active-background: linear-gradient(to right, #f7005a, #ffffaf);
    ---switch-active-border-color: var(--base29);
    ---switch-active-slider-border-color: #3c3f4ccc;
    ---switch-active-slider-background: var(--base07);

    ---start-gradient-color: #0badff;
    ---end-gradient-color: #ff00aa;
    ---start-gradient-color-rgb: 88, 0, 226;
    ---end-gradient-color-rgb: 255, 0, 230;
  }
}
