@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with -- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */
 @media (prefers-color-scheme: dark) { 
	 
 
	:root {
		/* Browser area before a page starts loading */
		--browser-before-load-background: #17191e;

		/* Toolbars */
		--toolbar-background: #17191e;	
		--toolbar-color: #f4f4f7;
		--toolbar-border-color: #0b0c0f;
		--inactive-toolbar-background: #17191e;	
		--inactive-toolbar-border-color: #22262d;

		/* Sidebar */
		--sidebar-background: #17191e;
		--inactive-sidebar-background: #22262d;

		/* Popups */
		--menu-background: #17191e;
		--menu-border-color: #0b0c0f;
		--popover-background: #17191e;
		--popover-border-color: #0b0c0f;
		--popover-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
		--popover-button-hover-background: #252a3f;
		--popover-separator-color: rgba(0, 0, 0, 0.1);

		/* Header bar */
		--headerbar-background: linear-gradient(to top, #17191e, #17191e);
		--headerbar-border-color: #070707;
		--headerbar-box-shadow: inset 0 1px rgba(238, 238, 236, 0.07);
		--inactive-headerbar-background: linear-gradient(#17191e, #17191e);
		--inactive-headerbar-border-color: #22262d;
		--inactive-headerbar-box-shadow: inset 0 1px rgba(238, 238, 236, 0.07);

		/* Buttons */	
		--button-background: linear-gradient(to top, #0b0c0f 2px, #17191e);
		--button-border-color: #252a3f;
		--button-border-accent-color: #22262d; 
		--button-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px 2px rgba(0, 0, 0, 0.07);	
		--button-hover-background: linear-gradient(to top, #252a3f, #22262d 1px);	
		--button-active-background: linear-gradient(45deg,#8b9cbe, #0badff);
		--button-active-border-color: #0b0c0f;
		--button-active-border-accent-color: #0b0c0f;
		--button-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);	
		--button-disabled-background: #2b3140;
		--button-disabled-border-color: #17191e;
		--button-disabled-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
		--inactive-button-background: linear-gradient(#17191e, #17191e);
		--inactive-button-border-color: #17191e;
		--inactive-button-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
		--button-suggested-action-background: linear-gradient(to top, #0badff 2px, #ff29a8);
		--button-suggested-action-border-color: #0badff;
		--button-suggested-action-border-accent-color: #092444;;
		--button-suggested-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px 2px rgba(0, 0, 0, 0.07);
		--button-suggested-action-hover-background: linear-gradient(to top, #0badffec, #ff29a8ec 1px);
		--button-suggested-action-active-background: #0badff;
		--button-suggested-action-active-border-color: #0badff;
		--button-suggested-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);	
		--button-destructive-action-background: linear-gradient(to top, #FF29a8 2px, #FF3d81);
		--button-destructive-action-border-color: #FF3d81;
		--button-destructive-action-border-accent-color: #570b0e;
		--button-destructive-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px 2px rgba(0, 0, 0, 0.07);
		--button-destructive-action-hover-background: linear-gradient(to top, #FF416Cec, #FF4B2Bec 1px);
		--button-destructive-action-active-background: #FF416C;
		--button-destructive-action-active-border-color: #FF416C;
		--button-destructive-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);

		/* URL bar */
		--urlbar-background: linear-gradient(#17191e, #17191e);
		--urlbar-border-color: #0b0c0f;
		--urlbar-box-shadow: inset 0 0 0 1px rgba(21, 83, 158, 0);
		--urlbar-color: #f4f4f7;
		--inactive-urlbar-background: linear-gradient(#2b3140, #2b3140);
		--inactive-urlbar-border-color: #22262d;
		--inactive-urlbar-box-shadow: none;
		--inactive-urlbar-color: #d6d6d6;
		--focused-urlbar-border-color: #8265ff;
		--private-urlbar-background: #25003e;

		/* Tabs */
		--tabbar-tab-color: #8b9cbe;
		--tabbar-tab-hover-background: #22262d;
		--tabbar-tab-hover-border-bottom-color: #0b0c0f;
		--tabbar-tab-hover-color: #b2bfd9;
		--tabbar-tab-active-background: #17191e;
		--tabbar-tab-active-border-bottom-color: #8265ff;
		--tabbar-tab-active-color: #f4f4f7;
		--tabbar-tab-active-hover-background: #17191e;
		--inactive-tabbar-tab-color: #555e70;
		--inactive-tabbar-tab-active-background: #17191e;
		--inactive-tabbar-tab-active-border-bottom-color: #8265ff;
		--inactive-tabbar-tab-active-color: #555e70;  

		/* Switch */
		--switch-background: #1E2233;
		--switch-border-color: #0b0c0f;
		--switch-slider-background: #000000;
		--switch-slider-border-color: #0b0c0f;
		--switch-slider-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);	
		--switch-active-background: linear-gradient(to right, #ff3d81, #8265ff);;
		--switch-active-border-color: #0b0c0f;
		--switch-active-slider-border-color: #22262d;
		--switch-active-slider-background: #ffffff;

		--start-gradient-color: #0badff;
		--end-gradient-color: #ff29a8;
		--start-gradient-color-rgb: 88,0,226;
		--end-gradient-color-rgb: 255,0,230;
	}

 }
