@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@import "../../colors/vice"
/* Variables that start with --- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */

:root {
  /* Browser area before a page starts loading */
  ---browser-before-load-background: var(--base00);

  /* Toolbars */
  ---toolbar-background: var(--base00);
  ---toolbar-color: #b2bfd9;
  ---toolbar-border-color: var(--base04);
  ---inactive-toolbar-background: var(--base00);
  ---inactive-toolbar-border-color: #22262d;

  /* Sidebar */
  ---sidebar-background: var(--base00);
  ---inactive-sidebar-background: #1b1f22;

  /* Popups */
  ---menu-background: var(--base00);
  ---menu-border-color: var(--base04);
  ---popover-background: var(--base00);
  ---popover-border-color: var(--base04);
  ---popover-shadow: 0 1px 2px #22262d33;
  ---popover-button-hover-background: #22262d33;
  ---popover-separator-color: var(--base0000);

  /* Header bar */
  ---headerbar-background: linear-gradient(to top, var(--base00), var(--base00));
  ---headerbar-border-color: #21242b;
  ---headerbar-box-shadow: outset 0 1px #10111466;
  ---inactive-headerbar-background: linear-gradient(var(--base00), var(--base00));
  ---inactive-headerbar-border-color: #22262d;
  ---inactive-headerbar-box-shadow: outset 0 1px #10111466;

  /* Buttons */
  ---button-background: linear-gradient(-32deg, #22262d, , var(--base00), #2f303d);
  ---button-border-color: var(--base04);
  ---button-border-accent-color: #21242b;
  ---button-box-shadow: outset 0 1px #10111466, 0 1px 2px var(--base0033);
  ---button-hover-background: linear-gradient(to top, #1b1f22, #1b1f22 1px);
  ---button-active-background: linear-gradient(45deg, #ff005d, #ff8b26);
  ---button-active-border-color: var(--base04);
  ---button-active-border-accent-color: var(--base04);
  ---button-active-box-shadow: outset 0 1px rgba(255, 255, 255, 0);
  ---button-disabled-background: #1b1f22;
  ---button-disabled-border-color: var(--base00);
  ---button-disabled-box-shadow: outset 0 1px rgba(255, 255, 255, 0);
  ---inactive-button-background: linear-gradient(var(--base00), var(--base00));
  ---inactive-button-border-color: var(--base00);
  ---inactive-button-box-shadow: outset 0 1px rgba(255, 255, 255, 0);
  ---button-suggested-action-background: linear-gradient(
    to top,
    #485563 2px,
    #29323c
  );
  ---button-suggested-action-border-color: #485563;
  ---button-suggested-action-border-accent-color: #092444;
  ---button-suggested-action-box-shadow: outset 0 1px #10111466,
    0 1px 2px var(--base0033);
  ---button-suggested-action-hover-background: linear-gradient(
    to top,
    #485563ec,
    #29323cec 1px
  );
  ---button-suggested-action-active-background: #485563;
  ---button-suggested-action-active-border-color: #485563;
  ---button-suggested-action-active-box-shadow: outset 0 1px
    rgba(255, 255, 255, 0);
  ---button-destructive-action-background: linear-gradient(
    to top,
    #ff416c 2px,
    #ff4b2b
  );
  ---button-destructive-action-border-color: #ff416c;
  ---button-destructive-action-border-accent-color: #570b0e;
  ---button-destructive-action-box-shadow: outset 0 1px #10111466,
    0 1px 2px var(--base0033);
  ---button-destructive-action-hover-background: linear-gradient(
    to top,
    #ff416cec,
    #ff00aa 1px
  );
  ---button-destructive-action-active-background: #ff416c;
  ---button-destructive-action-active-border-color: #ff416c;
  ---button-destructive-action-active-box-shadow: outset 0 1px
    rgba(255, 255, 255, 0);

  /* URL bar */
  ---urlbar-background: linear-gradient(-32deg, #22262d, #2f303d);
  ---urlbar-border-color: var(--base04);
  ---urlbar-box-shadow: outset 0 0 0 1px rgba(21, 83, 58, 0);
  ---urlbar-color: #b2bfd9;
  ---inactive-urlbar-background: linear-gradient(#1b1f22, #1b1f22);
  ---inactive-urlbar-border-color: #22262d;
  ---inactive-urlbar-box-shadow: none;
  ---inactive-urlbar-color: #d6d6d6;
  ---focused-urlbar-border-color: #f67e7d;
  ---private-urlbar-background: #25003e;

  /* Tabs */
  ---tabbar-tab-color: #b2bfd999;
  ---tabbar-tab-hover-background: var(--base00);
  ---tabbar-tab-hover-border-bottom-color: var(--base04);
  ---tabbar-tab-hover-color: var(--base0299);
  ---tabbar-tab-active-background: #1a1e21;
  ---tabbar-tab-active-border-bottom-color: #f67e7d;
  ---tabbar-tab-active-color: #b2bfd9;
  ---tabbar-tab-active-hover-background: var(--base00);
  ---inactive-tabbar-tab-color: #b2bfd999;
  ---inactive-tabbar-tab-active-background: var(--base00);
  ---inactive-tabbar-tab-active-border-bottom-color: #f67e7d;
  ---inactive-tabbar-tab-active-color: #b2bfd999;

  ---start-gradient-color: var(--base02cc);
  ---end-gradient-color: #555e70cc;
}
