@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */

:root {
  /* Browser area before a page starts loading */
  ---browser-before-load-background: #181b1e;

  /* Toolbars */
  ---toolbar-background: #181b1e;
  ---toolbar-color: #b2bfd9;
  ---toolbar-border-color: #0f1113;
  ---inactive-toolbar-background: #181b1e;
  ---inactive-toolbar-border-color: #22262d;

  /* Sidebar */
  ---sidebar-background: #181b1e;
  ---inactive-sidebar-background: #1b1f22;

  /* Popups */
  ---menu-background: #181b1e;
  ---menu-border-color: #0f1113;
  ---popover-background: #181b1e;
  ---popover-border-color: #0f1113;
  ---popover-shadow: 0 1px 2px #22262d33;
  ---popover-button-hover-background: #1b1f22;
  ---popover-separator-color: #17191e00;

  /* Header bar */
  ---headerbar-background: linear-gradient(to top, #181b1e, #181b1e);
  ---headerbar-border-color: #21242b;
  ---headerbar-box-shadow: inset 0 1px #10111466;
  ---inactive-headerbar-background: linear-gradient(#181b1e, #181b1e);
  ---inactive-headerbar-border-color: #22262d;
  ---inactive-headerbar-box-shadow: inset 0 1px #10111466;

  /* Buttons */
  ---button-background: linear-gradient(to top, #1c2023 2px, #1c2023);
  ---button-border-color: #0f1113;
  ---button-border-accent-color: #21242b;
  ---button-box-shadow: inset 0 1px #10111466, 0 1px 2px #17191e22;
  ---button-hover-background: linear-gradient(to top, #1b1f22, #1b1f22 1px);
  ---button-active-background: linear-gradient(45deg, #ff005d, #ff8b26);
  ---button-active-border-color: #0f1113;
  ---button-active-border-accent-color: #000000;
  ---button-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
  ---button-disabled-background: #1b1f22;
  ---button-disabled-border-color: #181b1e;
  ---button-disabled-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
  ---inactive-button-background: linear-gradient(#181b1e, #181b1e);
  ---inactive-button-border-color: #181b1e;
  ---inactive-button-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
  ---button-suggested-action-background: linear-gradient(
    to top,
    #485563 2px,
    #29323c
  );
  ---button-suggested-action-border-color: #485563;
  ---button-suggested-action-border-accent-color: #092444;
  ---button-suggested-action-box-shadow: inset 0 1px #10111466,
    0 1px 2px #17191e22;
  ---button-suggested-action-hover-background: linear-gradient(
    to top,
    #485563ec,
    #29323cec 1px
  );
  ---button-suggested-action-active-background: #485563;
  ---button-suggested-action-active-border-color: #485563;
  ---button-suggested-action-active-box-shadow: inset 0 1px
    rgba(255, 255, 255, 0);
  ---button-destructive-action-background: linear-gradient(
    to top,
    #ff416c 2px,
    #ff4b2b
  );
  ---button-destructive-action-border-color: #ff416c;
  ---button-destructive-action-border-accent-color: #570b0e;
  ---button-destructive-action-box-shadow: inset 0 1px #10111466,
    0 1px 2px #17191e22;
  ---button-destructive-action-hover-background: linear-gradient(
    to top,
    #ff416cec,
    #ff00aa 1px
  );
  ---button-destructive-action-active-background: #ff416c;
  ---button-destructive-action-active-border-color: #ff416c;
  ---button-destructive-action-active-box-shadow: inset 0 1px
    rgba(255, 255, 255, 0);

  /* URL bar */
  ---urlbar-background: linear-gradient(#1c2023, #1c2023);
  ---urlbar-border-color: #0f1113;
  ---urlbar-box-shadow: inset 0 0 0 1px rgba(21, 83, 158, 0);
  ---urlbar-color: #b2bfd9;
  ---inactive-urlbar-background: linear-gradient(#1b1f22, #1b1f22);
  ---inactive-urlbar-border-color: #22262d;
  ---inactive-urlbar-box-shadow: none;
  ---inactive-urlbar-color: #d6d6d6;
  ---focused-urlbar-border-color: #f67e7d;
  ---private-urlbar-background: #25003e;

  /* Tabs */
  ---tabbar-tab-color: #b2bfd999;
  ---tabbar-tab-hover-background: #181b1e;
  ---tabbar-tab-hover-border-bottom-color: #0f1113;
  ---tabbar-tab-hover-color: #3c3f4c99;
  ---tabbar-tab-active-background: #1a1e21;
  ---tabbar-tab-active-border-bottom-color: #f67e7d;
  ---tabbar-tab-active-color: #b2bfd9;
  ---tabbar-tab-active-hover-background: #181b1e;
  ---inactive-tabbar-tab-color: #b2bfd999;
  ---inactive-tabbar-tab-active-background: #181b1e;
  ---inactive-tabbar-tab-active-border-bottom-color: #f67e7d;
  ---inactive-tabbar-tab-active-color: #b2bfd999;

  ---start-gradient-color: #ff005d;
  ---end-gradient-color: #ff8b26;
}
