/* Based on: <https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/floating_findbar_on_top.css> */
/* findbar as floating box at the top center
 * N.B: privacy.resistFingerprinting.letterboxing prevents this from working properly
*/

findbar {
  order: -1;
  margin-bottom: -32px;
  position: relative;
  border-top: none !important;
  padding: 0 !important;
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out !important;
  background: none !important;
  pointer-events: none;
  z-index: 1;
  white-space: nowrap;
}

/* Auto-hide findbar after Ns when unfocused */
/* Buggy: Causes issues as seen on webpages */
/*
findbar:not(:focus-within) {
  opacity: 0 !important;
  margin-top: -100px !important;
  transition:
    opacity 0.8s ease-in-out 5s,
    margin-top 0.8s ease-in-out 5s !important;
}
*/

.findbar-container > .findbar-find-fast {
  padding: var(--toolbarbutton-inner-padding) 1px;
  margin: 0 !important;
}

findbar[hidden] {
  transform: translateY(-30px);
}

findbar > .findbar-container,
findbar > .close-icon {
  border: 1px solid var(--chrome-content-separator-color);
  border-width: 0 0 1px 0px;
  background-color: var(--lwt-accent-color) !important;
  background-image: linear-gradient(
      var(--toolbar-bgcolor),
      var(--toolbar-bgcolor)
    ),
    var(--lwt-header-image, none);
  pointer-events: auto;
}

findbar > .findbar-container {
  border-bottom-right-radius: 4px;
  border-right-width: 1px;
  height: initial !important;
  margin-inline: 0px !important;
  overflow-inline: visible !important;
}

.findbar-find-status {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.findbar-closebutton {
  margin: 0 !important;
  border-radius: 0 !important;
  padding: 5px !important;
  width: initial !important;
  order: -1;
}

.findbar-closebutton > image {
  padding: 3px;
}

.findbar-closebutton:hover > image {
  background: var(--toolbarbutton-hover-background) !important;
  border-radius: 4px;
}

findbar > .findbar-container > hbox {
  margin: 0 5px;
}

findbar::after {
  content: "";
  display: flex;
  flex-grow: 100;
}

findbar {
  flex-direction: row-reverse;
}

findbar > .findbar-container {
  flex-direction: row-reverse;
  border-inline-width: 1px 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 4px;
}

findbar {
  margin-right: 300px;
  border-right: 1px solid var(--chrome-content-separator-color);
}

/* Move the findbar word count (x of y matches) to the center (from the far right to next to the previous & next occurrence arrows) */
hbox[anonid="findbar-textbox-wrapper"] {
  order: 1 !important;
}
.findbar-label.found-matches {
  order: 2 !important;
}
.findbar-label.findbar-find-status {
  order: 3 !important;
}
.findbar-highlight {
  order: 4 !important;
}
.findbar-case-sensitive {
  order: 5 !important;
}
.findbar-match-diacritics {
  order: 6 !important;
}
.findbar-entire-word {
  order: 7 !important;
}

label[anonid="match-case-status"] {
  order: 8 !important;
}
label[anonid="match-diacritics-status"] {
  order: 9 !important;
}
label[anonid="entire-word-status"] {
  order: 10 !important;
}

/* Add words to the findbar next and previous buttons */
/*
.findbar-find-next:before {
  content: "Next" !important;
}

.findbar-find-previous:before {
  content: "Previous" !important;
}
*/

/* Don't animate the findbar close button */
toolbarbutton[anonid="find-closebutton"]:hover {
  filter: none !important;
  animation: none !important;
}
