/* Based on: <https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/navbar_below_content.css> */
/* Move the main toolbar (#nav-bar) to the bottom */
@-moz-document url(chrome://browser/content/browser.xhtml)
{
  :root:not([inFullscreen]) {
    --uc-bottom-toolbar-height: calc(34px + var(--toolbarbutton-outer-padding));
  }

  :root[uidensity="compact"]:not([inFullscreen]) {
    --uc-bottom-toolbar-height: calc(32px + var(--toolbarbutton-outer-padding));
  }

  #browser,
  #customization-container {
    margin-bottom: var(--uc-bottom-toolbar-height, 0px);
  }

  #nav-bar {
    position: fixed !important;
    bottom: 0px;
    /* For some reason -webkit-box behaves internally like -moz-box,
    but can be used with fixed position.
    display: flex would work too but it breaks extension menus. */
    display: -webkit-box;
    width: 100%;
    z-index: 1;
  }
  #nav-bar-customization-target {
    -webkit-box-flex: 1;
  }

  /* Fix panels sizing */
  .panel-viewstack {
    max-height: unset !important;
  }

  #urlbar[breakout][breakout-extend] {
    display: flex !important;
    flex-direction: column-reverse;
    bottom: 0px !important;
    top: auto !important;
  }

  .urlbarView-body-inner {
    border-top-style: none !important;
  }
}

/* Remove border between tabbar and urlbar */
#nav-bar {
  box-shadow: none !important;
  margin: 0px !important;
  border-top: 0px !important;
  border-bottom: 0px !important;
}

:root {
  /* Remove the line between the tab and rest of the UI */
  --tabs-navbar-separator-style: none !important;
  /* Remove line separator between tabbar and urlbar */
  --tab-block-margin: 0 !important;
}

/* Show bookmarks toolbar when urlbar is focused */
/*
#nav-bar:focus-within + #PersonalToolbar{
  visibility: visible !important;
}

#PersonalToolbar {
  visibility: collapse !important;
}
*/

/* Hide bookmarks toolbar by default */
#PersonalToolbar {
  opacity: 0;
  visibility: collapse;
  transition:
    opacity 0.4s ease-in-out,
    visibility 0s linear 0.3s;
}

/* Show bookmarks toolbar when toolbar is hovered */
#navigator-toolbox:hover > #PersonalToolbar {
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.4s ease-in-out,
    visibility 0s linear 0.3s;
}

/* Based on: <https://github.com/Etesam913/rounded-fox> */

/* Auto Hide Toolbar */
/* Breaks on Firefox 113.0+ */
/*
#navigator-toolbox-background {
    height: 0 !important;
}

#titlebar {
    display: none !important;
}

.titlebar-buttonbox-container {
    display: none !important;
}

#navigator-toolbox:not(:hover) {
    --is-bar-visible: hidden;
    opacity: 0 !important;
    height: 10px;
    transition: height 300ms ease-in-out, opacity 300ms ease-in-out;
}

#navigator-toolbox {
    position: relative;
    z-index: 1;
    overflow: var(--is-bar-visible);
}

#navigator-toolbox:hover {
    height: 40px;
    opacity: 1 !important;
    transition: opacity 200ms ease-in-out;
}

#navigator-toolbox:focus-within {
    height: 40px;
    opacity: 1 !important;
    transition: opacity 200ms ease-in-out;
    --is-bar-visible: visible;
}

toolbarbutton[open] {
    --is-bar-visible: visible !important;
}
*/
