/* Based on: <https://github.com/MrOtherGuy/firefox-csshacks/tree/master/content/compact_about_config.css> */
/* Compact about:config list */
@-moz-document url("about:config") {
  .button-delete,
  .button-edit,
  .button-reset,
  .button-save,
  .button-toggle {
    margin-block: 1px !important;
    padding-block: 12px 0 !important;
    padding-inline: 0 !important;
    min-height: 22px !important;
    width: 24px !important;
    outline-offset: 0 !important;
  }
  .cell-edit {
    width: 30px !important;
  }
  form > input,
  tr:not(.add) > th,
  tr:not(.add) > .cell-value {
    padding-block: 0 !important;
  }
  tr:not(:hover) .semi-transparent:not(.primary, .button-add) {
    background-color: transparent !important;
  }
}

/* Hide all 'Learn more' links in about:preferences */
@-moz-document url-prefix("about:preferences") {
  .learnMore,
  .browsing-cfr-recommendations-learn-more,
  #addEngines,
  #addressAutofillLearnMore,
  #creditCardAutofillLearnMore,
  #creditCardReauthenticateLearnMore,
  #crashReporterLearnMore,
  a[is="moz-support-link"] {
    display: none !important;
  }
}
