/* Remove annoying "Upgrade your plan" option from ChatGPT sidebar */
@-moz-document domain("chatgpt.com") {
  .px-2.rounded-lg.m-0.hover\:bg-token-sidebar-surface-secondary.items-center.radix-disabled\:opacity-50.radix-disabled\:pointer-events-none.focus\:ring-0.cursor-pointer.text-sm.p-2\.5.gap-2.flex.group {
    display: none !important;
  }
}

/* Remove "ChatGPT Auto" menu from the top left side */
@-moz-document domain("chatgpt.com") {
  .overflow-hidden.gap-0.items-center.flex
    > .whitespace-nowrap.overflow-hidden.text-token-text-secondary.radix-state-open\:bg-token-main-surface-secondary.hover\:bg-token-main-surface-secondary.font-semibold.text-lg.px-3.py-1\.5.rounded-lg.gap-1.items-center.cursor-pointer.flex.group {
    display: none !important;
  }
}

/* Remove distracting "?" icon element from the bottom right corner side */
@-moz-document domain("chatgpt.com") {
  .text-token-text-secondary.text-xs.border-token-border-light.border.rounded-full.justify-center.items-center.w-6.h-6.flex {
    display: none !important;
  }
}

@-moz-document domain("chatgpt.com") {
  /* Hide specific elements */
  .text-token-text-secondary.text-xs.border-token-border-light.border.rounded-full.justify-center.items-center.w-6.h-6.flex {
    display: none !important;
  }

  /* Wrap code blocks to prevent horizontal scrolling and widen the output for better readability. */
  /* Based on: <https://userstyles.world/style/17767/chatgpt-improvements> */

  /* Wrap code blocks */
  pre .overflow-y-auto {
    overflow: hidden;
  }

  code.\!whitespace-pre {
    white-space: pre-wrap !important;
  }

  /* Widen output for larger screens */
  @media (min-width: 1024px) {
    .lg\:max-w-\[40rem\] {
      max-width: 48rem;
    }
  }

  @media (min-width: 1280px) {
    .xl\:max-w-\[48rem\] {
      max-width: 54rem;
    }
  }
}
