html#main-window
    body
    box#navigator-toolbox-background
    toolbox#navigator-toolbox
    toolbar#PersonalToolbar.browser-toolbar.chromeclass-directories.instant.customization-target
    toolbaritem#personal-bookmarks
    hbox#PlacesToolbar
    toolbarbutton#OtherBookmarks.bookmark-item
    menupopup#OtherBookmarksPopup
    menuitem.menuitem-iconic.bookmark-item.menuitem-with-favicon {
    margin-top: 4px !important;
    margin-right: 5px !important;
    margin-bottom: 3px !important;
    margin-left: 5px !important;
    padding-top: 5px !important;
    padding-right: 10px !important;
    padding-bottom: 5px !important;
    padding-left: 8px !important;
}

html#main-window
    body
    box#navigator-toolbox-background
    toolbox#navigator-toolbox
    toolbar#PersonalToolbar.browser-toolbar.chromeclass-directories.instant.customization-target
    toolbaritem#personal-bookmarks
    hbox#PlacesToolbar
    toolbarbutton#OtherBookmarks.bookmark-item {
    padding-right: 20px !important;
    margin-left: -8px !important;
    padding-top: 3px !important;
    padding-bottom: 12px !important;
    margin-bottom: -4px !important;
    margin-left: -10px !important;
    margin-right: 3px !important;
    padding-left: 12px !important;
}
