/* Compact context menu */
menupopup > menuitem,
menupopup > menu {
  padding-block: 2px !important;
  min-height: unset !important;
}

/* Remove excess paddings on the context menu */
menupopup > menuitem,
menupopup > menu,
menupopup > menucaption,
menupopup > menuseparator {
  padding-inline: 0px !important;
}

/* Based on: <https://github.com/Redundakitties/colorful-minimalist/raw/main/hacks/darkContextMenu.css> */
/* And: <https://gist.github.com/soulhotel/23c20583751a7f457eb5b5579e828965> */
menupopup {
  color-scheme: light dark;
  --panel-background: #202020 !important;
  --panel-color: #b0adac !important;
  --panel-border-radius: 12px !important;
  --panel-border-color: rgba(32, 32, 32, 0) !important;
}

menuitem:hover {
  background-color: #202020 !important;
  color: #b0adac !important;
}

menu:where([_moz-menuactive="true"]:not([disabled="true"])),
menuitem:where([_moz-menuactive="true"]:not([disabled="true"])) {
  background-color: #202020 !important;
  color: #b0adac !important;
}

/* foreground */
menupopup > menuitem[_moz-menuactive="true"],
menupopup > menu[_moz-menuactive="true"],
#context-navigation
  > menuitem[_moz-menuactive="true"]
  > .menu-iconic-left
  > .menu-iconic-icon {
  color: whitesmoke !important;
  filter: brightness(1.2);
}

menupopup > menuitem,
menupopup > menu,
menupopup > menucaption,
menupopup > menuseparator {
  margin-inline: 0px !important;
}

/* Remove separator */
menupopup menuseparator {
  display: none;
}

/* Navigation Icons */
#context-back {
  list-style-image: url("../icons/back.svg") !important;
}

#context-back {
  list-style-image: url("../icons/back.svg") !important;
}

#context-forward {
  list-style-image: url("../icons/forward.svg") !important;
}

#context-reload {
  list-style-image: url("../icons/reload-contextmenu.svg") !important;
}

#context-stop {
  list-style-image: url("../icons/close.svg") !important;
}

#context-bookmarkpage {
  list-style-image: url("../icons/bookmarks.svg") !important;
}

#contentAreaContextMenu #context-bookmarkpage[starred] {
  list-style-image: url("../icons/bookmarks-fill.svg") !important;
}
