

#navigator-toolbox { --browser-area-z-index-toolbox: 4 !important; }
#nav-bar { z-index: 2 !important; }
#PersonalToolbar { z-index: 1 !important; }

#PlacesToolbarItems > .bookmark-item, #PersonalToolbar > #import-button, #OtherBookmarks {
  padding-block: var(--bookmark-block-padding) !important;
}

#PersonalToolbar:not([customizing]) {
  margin-bottom: calc(0px - var(--uc-bookmarks-inner-height) - 2 * var(--bookmark-block-padding));
  background-color: inherit !important;
  transform-origin: top;
  transform: rotateX(90deg);
  transition: transform var(--uc-bookmarks-animation-speed) ease-out var(--uc-bookmarks-hover-debounce),
              opacity var(--uc-bookmarks-animation-speed) ease-out var(--uc-bookmarks-hover-debounce);
}
#navigator-toolbox:hover #PersonalToolbar { transform: rotateX(0deg); }
#navigator-toolbox:not(:hover) #PersonalToolbar:not([customizing]) { opacity: 0 !important; }

/* Smaller bookmarks overflow button in compact mode */
:root[uidensity="compact"] #PlacesChevron {
  margin-block: 0px !important;
  height: var(--uc-bookmarks-inner-height) !important;
}

/* Shadow for the Bookmarks bar */
#PersonalToolbar { box-shadow: 0px 3px 3px hsla(0, 0%, 0%, 0.2) !important; }
