#unified-extensions-panel .panel-header,
#unified-extensions-manage-extensions {
  display: none !important;
}

#unified-extensions-panel #unified-extensions-view {
  width: 100% !important;
}

#unified-extensions-view {
  --uei-icon-size: 22px;
  --firefoxcss-number-of-extensions-in-a-row: 4;
}

#allTabsMenu-allTabsView .subviewbutton-iconic > .toolbarbutton-icon {
  fill: #f8f8f8 !important;
}

#unified-extensions-view {
  --uei-icon-size: 24px;

  width: 100% !important;
  margin-inline-end: 0px !important;

  .unified-extensions-item-menu-button.subviewbutton,
  .unified-extensions-item-action-button .unified-extensions-item-contents {
    display: none !important;
  }

  .panel-subview-body {
    padding: 10px !important;
  }

  .unified-extensions-item {
    .unified-extensions-item-icon,
    .toolbarbutton-badge-stack {
      margin-inline-end: 0px !important;
    }
  }

  #overflowed-extensions-list,
  #unified-extensions-area,
  .unified-extensions-list {
    display: grid !important;
    grid-template-columns: repeat(4, auto);
    justify-items: left !important;
    align-items: left !important;
  }
}
