/*------------------------------------------------------------------*/
/*                         Findbar Styling                          */
/*------------------------------------------------------------------*/

findbar {
  border-color: var(--uc-theme-border-color) !important;
}
findbar .findbar-container {
  background-color: var(--uc-theme-secondary-color) !important;
  color: var(--uc-theme-accent-color) !important;
}
findbar .findbar-closebutton {
  background-color: var(--uc-theme-secondary-color) !important;
}
findbar .findbar-closebutton .toolbarbutton-icon {
  fill: var(--uc-theme-accent-color) !important;
  transition: fill 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}
findbar .findbar-closebutton:hover .toolbarbutton-icon {
  fill: var(--uc-theme-accent-color) !important;
  fill-opacity: 0 !important;
}
findbar .findbar-button {
  border: 1px solid var(--uc-theme-border-color) !important;
  background-color: var(--uc-theme-main-color) !important;
  color: var(--uc-theme-text-color) !important;
  border-radius: 3px !important;
  transition:
    background-colorw,
    border-color 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}
findbar .findbar-button:hover {
  background: var(--uc-theme-main-color) !important;
  border: 1px solid var(--uc-theme-border-color) !important;
}

findbar .findbar-button[checked="true"] {
  background: var(--uc-theme-main-color) !important;
  color: var(--uc-theme-accent-color) !important;
  border: 1px solid var(--uc-theme-border-color) !important;
}

findbar .findbar-textbox {
  background-color: var(--uc-theme-main-color) !important;
  border: 1px solid var(--uc-theme-border-color) !important;
  color: var(--uc-theme-text-color) !important;
  border-radius: 3px !important;
  transition:
    background-color,
    border-color 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}

findbar .findbar-textbox:focus {
  border-color: var(--uc-theme-border-color) !important;
  background-color: var(--uc-theme-secondary-color) !important;
}
w findbar .findbar-find-previous,
findbar .findbar-find-next {
  background-color: rgb(var(--uc-theme-main-color)) !important;
  border: none !important;
}

findbar .findbar-find-previous .toolbarbutton-icon,
findbar .findbar-find-next .toolbarbutton-icon {
  fill: var(--uc-theme-accent-color) !important;
  transition: fill 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}

findbar .findbar-find-previous .toolbarbutton-icon[disabled="true"],
findbar .findbar-find-next .toolbarbutton-icon[disabled="true"] {
  fill: var(--moonlight-gray-5) !important;
  opacity: 1 !important;
}

findbar .findbar-find-previous:not([disabled="true"]):hover .toolbarbutton-icon,
findbar .findbar-find-next:not([disabled="true"]):hover .toolbarbutton-icon {
  fill: var(--uc-theme-text-color) !important;
}

/*------------------------------------------------------------------*/
/*                    Findbar On Top + Floating                     */
/*------------------------------------------------------------------*/
findbar {
  order: -1;
  margin-bottom: -33px;
  position: relative;
  border-top: none !important;
  padding: 0 !important;
  transition:
    transform 82ms linear,
    opacity 82ms linear 32ms !important;
  background: none !important;
  pointer-events: none;
  z-index: 1;
  white-space: nowrap;
}

.findbar-container > .findbar-find-fast {
  padding: var(--toolbarbutton-inner-padding) 1px;
  margin: 0 !important;
}

findbar[hidden] {
  transform: translateY(-30px);
}

findbar > .findbar-container,
findbar > .close-icon {
  border: 1px solid var(--chrome-content-separator-color);
  border-width: 0 0 1px 0px;
  background-color: var(--lwt-accent-color) !important;
  background-image:
    linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
    var(--lwt-header-image, none);
  pointer-events: auto;
}

findbar > .findbar-container {
  border-bottom-right-radius: 4px;
  border-right-width: 1px;
  height: initial !important;
  margin-inline: 0px !important;
  overflow-inline: visible !important;
}

.findbar-find-status {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.findbar-closebutton {
  margin: 0 !important;
  border-radius: 0 !important;
  padding: 5px !important;
  width: initial !important;
  order: -1;
}
.findbar-closebutton > image {
  padding: 3px;
}
.findbar-closebutton:hover > image {
  background: var(--toolbarbutton-hover-background) !important;
  border-radius: 4px;
}
findbar > .findbar-container > hbox {
  margin: 0 5px;
}

findbar::after {
  content: "";
  display: flex;
  flex-grow: 100;
}

@media (-moz-bool-pref: "userchrome.floating-findbar-on-right.enabled"),
  -moz-pref("userchrome.floating-findbar-on-right.enabled") {
  findbar {
    flex-direction: row-reverse;
  }
  findbar > .findbar-container {
    flex-direction: row-reverse;
    border-inline-width: 1px 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 4px;
  }
  /*
  Move findbar so it isn't over the scrollbar
  Delete if you want findbar to begin from right window edge
  */
  findbar {
    margin-right: 16px;
    border-right: 1px solid var(--chrome-content-separator-color);
  }
}
