@import url("icons.css");
@import url("misc.css");
@import url("navbar.css");
@import url("sidebar.css");
@import url("urlbar.css");
@import url("window-controls.css");

body {
  background-color: var(--uc-bg) !important;
  background-image: var(--lwt-additional-images);
  background-repeat: var(--lwt-background-tiling);
  background-position: var(--lwt-background-alignment);
}

#main-window {
  background: transparent !important;
}

/* remove bg from things */
#nav-bar,
#navigator-toolbox,
#browser,
tabbox#tabbrowser-tabbox,
splitter.devtools-horizontal-splitter,
.devtools-side-splitter,
#tabbrowser-tabpanels,
#sidebar-box,
#sidebar,
#sidebar-splitter {
  background-color: transparent !important;
  background-image: none !important;
}

:root {
  --uc-content-margin-top: 0px;
  --uc-content-margin-right: 0px;
  --uc-content-margin-bottom: 0px;
  --uc-content-margin-left: 0px;
  &:not(
      [inFullscreen="true"],
      [inDOMFullscreen="true"],
      [chromehidden*="toolbar"],
      [chromehidden*="menubar"]
    ) {
    --uc-content-margin-top: var(--uc-content-margin);
    --uc-content-margin-right: var(--uc-content-margin);
    --uc-content-margin-bottom: var(--uc-content-margin);
    --uc-content-margin-left: var(--uc-content-margin);

    & tabbox#tabbrowser-tabbox {
      margin: var(--uc-content-margin-top) var(--uc-content-margin-right)
        var(--uc-content-margin-bottom) var(--uc-content-margin-left) !important;
      & browser {
        border-radius: var(--uc-content-radius);
        clip-path: circle(100%);
        background-color: var(--uc-content-bg) !important;
        box-shadow: var(--uc-content-shadow) !important;
      }
    }
  }
}
