/* ============================================================================
 * Tweaks for the popup menus
 * ========================================================================= */

/* Hide context menu items */
#context-savelinktopocket,
#context-pocket {
  display: none !important;
}
@keyframes popup-animation {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Popup animations */
#appMenu-popup[animate="open"],
#unified-extensions-panel[animate="open"],
.panel-no-padding[animate="open"],
.bookmark-item[open] .toolbar-menupopup {
  animation: popup-animation var(--uc-menu-animation-speed) ease-out;
}
#window-modal-dialog[open] {
  animation: popup-animation var(--uc-window-animation-speed) ease-out;
}

#allTabsMenu-allTabsView .subviewbutton-iconic > .toolbarbutton-icon {
  fill: #f8f8f8 !important;
}
