/* dev tools */
splitter.devtools-horizontal-splitter {
  opacity: 0 !important;
  min-height: var(--uc-content-margin) !important;
  margin: 0 !important;
  border: none !important;
}

.devtools-side-splitter {
  opacity: 0 !important;
  min-width: var(--uc-content-margin) !important;
  margin: 0 !important;
  border: none !important;
}

.devtools-toolbox-bottom-iframe {
  border-radius: var(--uc-radius) !important;
}

.devtools-toolbox-side-iframe {
  border-radius: var(--uc-radius) !important;
}

.browserContainer.responsive-mode {
  background-color: var(--uc-content-bg) !important;
  border-radius: var(--uc-content-radius) !important;
}

.browserContainer.responsive-mode > .browserStack > browser {
  border: none !important;
  box-shadow: none !important;
}

.browserContainer.responsive-mode > .rdm-toolbar {
  border-radius: var(--uc-radius) !important;
}

/* screenshot tool */
#screenshotsPagePanel {
  screenshots-buttons {
    top: var(--uc-floating-margin) !important;
    right: calc(
      var(--uc-floating-margin) + var(--uc-content-margin-right)
    ) !important;

    padding: var(--uc-content-margin) !important;
    border-radius: var(--uc-radius) !important;
  }

  & .footer-button {
    margin-inline-start: var(--uc-content-margin) !important;
  }
}

/* navbar hidden */
#main-window[titlepreface*="​"]:not([inDOMFullscreen="true"])
  #screenshotsPagePanel {
  position: fixed !important;
  width: 100vw !important;
  left: 0 !important;
  top: 0 !important;
  & screenshots-buttons {
    top: calc(
      var(--uc-floating-margin) + var(--uc-content-margin-right)
    ) !important;
  }
}

.dialogBox[sizeto="available"] {
  border-radius: var(--uc-radius) !important;
  margin: var(--uc-content-margin) !important;
}

/* findbar */
.browserContainer > findbar {
  background-image: none !important;
  border: none !important;
  border-radius: var(--uc-radius) !important;
  background-color: var(--uc-bg-tran) !important;
  backdrop-filter: blur(var(--uc-blur-radius)) !important;

  position: absolute !important;
  left: var(--uc-small-floating-margin) !important;
  right: var(--uc-small-floating-margin) !important;
  width: auto !important;

  .findbar-textbox {
    border-radius: var(--uc-radius) !important;
  }

  .findbar-container {
    width: fit-content !important;
  }

  bottom: var(--uc-small-floating-margin) !important;
}

/* link thingy when hovering over url */
#statuspanel {
  bottom: var(--uc-small-floating-margin) !important;
  &:not([mirror="true"]) {
    left: var(--uc-small-floating-margin) !important;
  }
  &[mirror="true"] {
    right: var(--uc-small-floating-margin) !important;
  }

  & #statuspanel-label {
    border-radius: var(--uc-radius) !important;
    background-color: var(--uc-bg-tran) !important;
    border: none !important;
    backdrop-filter: blur(var(--uc-blur-radius)) !important;
  }
}

/* menu that appears when alt is pressed */
#toolbar-menubar[autohide="true"]:not([inactive], [customizing]) {
  height: unset !important;
}

/* notification thingy (in navbar) */
#tab-notification-deck .notificationbox-stack {
  background-color: transparent !important;
}

/* private browser indicator */
#private-browsing-indicator-with-label {
  display: none !important;
}
