#sidebar-button {
  display: none !important;
}
#sidebar-main {
  -moz-window-dragging: drag !important;
}
#main-window[inFullscreen="true"] * {
  --uc-sidebar-collapsed-width: 0.01px;
}

@media (-moz-bool-pref: "sidebar.verticalTabs"),
  -moz-pref("sidebar.verticalTabs") {
  .tab-background,
  #tabs-newtab-button {
    margin: 0px !important;
  }
  .tabbrowser-tab,
  #sidebar-box {
    padding: 0px !important;
  }
  .tab-content {
    padding-left: 9px !important;
    padding-right: 9px !important;
  }
  #tabbrowser-tabs:not([expanded]) .tab-label-container,
  #vertical-pinned-tabs-container .tab-label-container {
    display: flex !important;
    margin-left: 7.5px !important;
  }
  #vertical-pinned-tabs-container tab {
    box-sizing: border-box !important;
    display: flex !important;
    grid-column-start: 1 !important;
  }
  #vertical-pinned-tabs-container:not(:empty)
    + #vertical-pinned-tabs-container-separator {
    display: block !important;
  }
  #vertical-pinned-tabs-container-separator {
    margin: 0px !important;
  }
  #vertical-pinned-tabs-container {
    padding: 0px !important;
  }

  #sidebar-main {
    background-color: rgb(var(--uc-theme-main-color)) !important;
    min-width: var(--uc-sidebar-collapsed-width) !important;
    max-width: var(--uc-sidebar-collapsed-width) !important;
    transition:
      min-width var(--uc-sidebar-animation-speed) ease-out
        var(--uc-sidebar-hover-debounce),
      margin var(--uc-sidebar-animation-speed) ease-out
        var(--uc-sidebar-hover-debounce);
    .tab-background,
    #vertical-tabs,
    #tabs-newtab-button {
      width: var(--uc-sidebar-collapsed-width) !important;
      transition: width var(--uc-sidebar-animation-speed) ease-out
        var(--uc-sidebar-hover-debounce);
    }
    .tab-icon-stack[soundplaying] .tab-icon-image,
    .tab-icon-stack[muted] .tab-icon-image,
    .tab-icon-stack[activemedia-blocked] .tab-icon-image,
    .tab-label-container {
      opacity: 0 !important;
      transition: opacity var(--uc-sidebar-animation-speed) linear
        var(--uc-sidebar-hover-debounce);
    }
  }
  #sidebar-main:hover {
    min-width: var(--uc-sidebar-extended-width) !important;
    @media (-moz-bool-pref: "sidebar.position_start"),
      -moz-pref("sidebar.position_start") {
      margin-right: calc(
        0px - var(--uc-sidebar-extended-width) +
          var(--uc-sidebar-collapsed-width)
      ) !important;
    }
    @media not (-moz-bool-pref: "sidebar.position_start"),
      not -moz-pref("sidebar.position_start") {
      margin-left: calc(
        0px - var(--uc-sidebar-extended-width) +
          var(--uc-sidebar-collapsed-width)
      ) !important;
    }
    .tab-background,
    #vertical-tabs,
    #tabs-newtab-button {
      width: var(--uc-sidebar-extended-width) !important;
    }
    .tab-icon-stack[soundplaying] .tab-icon-image,
    .tab-icon-stack[muted] .tab-icon-image,
    .tab-icon-stack[activemedia-blocked] .tab-icon-image,
    .tab-label-container {
      opacity: 1 !important;
    }
  }
}
#addonbar {
  background-color: var(--uc-main-color) !important;
}
