#sidebar-main {
  -moz-window-dragging: drag !important;
}
#main-window[inFullscreen="true"] * {
  --uc-sidebar-collapsed-width: 0.01px;
}

.tab-background,
#tabs-newtab-button {
  margin: 0px !important;
}
.tabbrowser-tab,
#sidebar-box {
  padding: 0px !important;
}
.tab-content {
  padding-left: 9px !important;
  padding-right: 9px !important;
}
#tabbrowser-tabs:not([expanded]) .tab-label-container,
#vertical-pinned-tabs-container .tab-label-container {
  display: flex !important;
  margin-left: 7.5px !important;
}
#vertical-pinned-tabs-container tab {
  box-sizing: border-box !important;
  display: flex !important;
  grid-column-start: 1 !important;
}
#vertical-pinned-tabs-container:not(:empty)
  + #vertical-pinned-tabs-container-separator {
  display: block !important;
}
#vertical-pinned-tabs-container-separator {
  margin: 0px !important;
}
#vertical-pinned-tabs-container {
  padding: 0px !important;
}

#sidebar-main {
  background-color: rgb(var(--uc-theme-main-color)) !important;
  min-width: var(--uc-sidebar-collapsed-width) !important;
  max-width: var(--uc-sidebar-collapsed-width) !important;
  transition:
    min-width var(--uc-sidebar-animation-speed) ease-out
      var(--uc-sidebar-hover-debounce),
    margin var(--uc-sidebar-animation-speed) ease-out
      var(--uc-sidebar-hover-debounce);
}
#sidebar-main .tab-background,
#sidebar-main #vertical-tabs,
#sidebar-main #tabs-newtab-button {
  width: var(--uc-sidebar-collapsed-width) !important;
  transition: width var(--uc-sidebar-animation-speed) ease-out
    var(--uc-sidebar-hover-debounce);
}
#sidebar-main .tab-icon-stack[soundplaying] .tab-icon-image,
#sidebar-main .tab-icon-stack[muted] .tab-icon-image,
#sidebar-main .tab-icon-stack[activemedia-blocked] .tab-icon-image,
#sidebar-main .tab-label-container {
  opacity: 0 !important;
  transition: opacity var(--uc-sidebar-animation-speed) linear
    var(--uc-sidebar-hover-debounce);
}

#sidebar-main:hover .tab-background,
#sidebar-main:hover #vertical-tabs,
#sidebar-main:hover #tabs-newtab-button {
  width: var(--uc-sidebar-extended-width) !important;
}
#sidebar-main:hover .tab-icon-stack[soundplaying] .tab-icon-image,
#sidebar-main:hover .tab-icon-stack[muted] .tab-icon-image,
#sidebar-main:hover .tab-icon-stack[activemedia-blocked] .tab-icon-image,
#sidebar-main:hover .tab-label-container {
  opacity: 1 !important;
}

#addonbar {
  background-color: var(--uc-main-color) !important;
  -moz-window-dragging: drag !important;
}
