/* SPDX-License-Identifier: MPL-2.0 */
/* SPDX-FileCopyrightText: 2024 awwpotato */

/* make sidebar bg transparent */
@media (-moz-bool-pref: "browser.tabs.allow_transparent_browser") {
  window#webextpanels-window {
    background-color: transparent !important;
  }
}

#main-window:not([customizing]):has(#sidebar-box:not([hidden="true"])) {
  /* adjust content margin */
  &:has(#sidebar-box:not([positionend="true"])) {
    --uc-content-margin-left: 0px !important;
  }
  &:has(#sidebar-box[positionend="true"]) {
    --uc-content-margin-right: 0px !important;
  }

  #sidebar-box {
    min-width: var(--uc-sidebar-width) !important;
    margin-bottom: var(--uc-content-margin-bottom) !important;
    margin-top: var(--uc-content-margin-top) !important;
    &[positionend="true"] {
      margin-right: var(--uc-sidebar-margin);
    }
    &:not([positionend="true"]) {
      margin-left: var(--uc-sidebar-margin);
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -10;
      top: 0;
      bottom: 0;
      left: calc(-1 * var(--uc-sidebar-margin));
      right: calc(-1 * var(--uc-sidebar-margin));
      width: auto;
      height: auto;
    }
  }

  #sidebar {
    clip-path: circle(100%);
    border-radius: var(--uc-content-radius) !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }

  #sidebar-splitter {
    width: var(--uc-sidebar-margin) !important;
    border: none !important;
    margin-inline: 0 !important;
  }

  #sidebar-header {
    border-top-left-radius: var(--uc-radius) !important;
    border-top-right-radius: var(--uc-radius) !important;
    padding: 0 1.5px !important;
    border: none !important;
    font-size: 16px !important;

    #sidebar-switcher-target {
      align-content: flex-start !important;
      min-width: 0 !important;
      display: flex !important;
      width: auto !important;
      margin-inline-end: 0 !important;
      padding: 0 !important;
      border: none !important;
      appearance: unset !important;
      flex: unset !important;
      padding-block-start: 4px !important;
      padding-block-end: 2px !important;
      padding-inline-end: 4px !important;
    }

    #sidebar-icon {
      margin-inline: 7px 5px !important;
    }

    #sidebar-title {
      padding: 0 !important;
      padding-inline: 1px !important;
      font: 15px sans-serif !important;
    }
    #sidebar-switcher-arrow {
      min-width: 0 !important;
    }
    #sidebar-close {
      display: none !important;
    }
  }

  /* navbar hidden */
  &[sizemode="fullscreen"][titlepreface*="​"] #sidebar-box {
    margin-top: 0 !important;
    height: 100% !important;
    & #sidebar {
      padding-block: var(--uc-sidebar-margin) !important;
    }
  }

  /* sidebar collapse or sidebar hidden */
  &:is([titlepreface*="᠎"], [titlepreface*="‌"]) {
    #sidebar-splitter {
      display: none !important;
    }

    #sidebar-box {
      position: relative;
      z-index: 10;
      min-width: var(--uc-sidebar-width) !important;
      width: var(--uc-sidebar-width) !important;
      max-width: var(--uc-sidebar-width) !important;

      &[positionend="true"] {
        margin-left: var(--uc-sidebar-margin);
      }
      &:not([positionend="true"]) {
        margin-right: var(--uc-sidebar-margin);
      }

      &:not(:hover) #sidebar-header {
        overflow: clip !important;
      }
    }

    #sidebar,
    #sidebar-header,
    #sidebar-header #sidebar-switcher-target {
      transition:
        min-width var(--uc-transition) var(--uc-mouseout-delay),
        max-width var(--uc-transition) var(--uc-mouseout-delay),
        width var(--uc-transition) var(--uc-mouseout-delay),
        background var(--uc-transition) var(--uc-mouseout-delay),
        backdrop-filter var(--uc-transition) var(--uc-mouseout-delay) !important;
      will-change: min-width;
    }

    #sidebar-box:hover > #sidebar-header,
    #sidebar-box:hover > #sidebar-header > #sidebar-switcher-target,
    #sidebar-box:hover > #sidebar {
      transition:
        min-width var(--uc-transition),
        max-width var(--uc-transition),
        width var(--uc-transition),
        background var(--uc-transition),
        backdrop-filter var(--uc-transition) !important;
      min-width: var(--uc-sidebar-hover-width) !important;
    }

    #sidebar-box:hover > #sidebar-header,
    #sidebar-box:hover > #sidebar {
      background-color: var(--uc-bg-tran) !important;
      backdrop-filter: blur(var(--uc-blur-radius)) !important;
    }

    /* sidebar hidden */
    &[titlepreface*="‌"] {
      #sidebar-box {
        min-width: var(--uc-content-margin) !important;
        max-width: var(--uc-content-margin) !important;
        margin-inline: 0px !important;

        & #sidebar,
        & #sidebar-header {
          will-change: auto !important;
          transition:
            margin-left var(--uc-transition) var(--uc-mouseout-delay),
            margin-right var(--uc-transition) var(--uc-mouseout-delay) !important;
          background-color: var(--uc-bg-tran) !important;
          backdrop-filter: blur(var(--uc-blur-radius)) !important;

          margin-left: calc(
            -1 * (var(--uc-sidebar-hover-width) + var(--uc-content-margin-left))
          ) !important;
          min-width: var(--uc-sidebar-hover-width) !important;
          max-width: var(--uc-sidebar-hover-width) !important;
        }

        &:hover #sidebar,
        &:hover #sidebar-header {
          transition:
            margin-left var(--uc-transition),
            margin-right var(--uc-transition) !important;
        }

        & #sidebar-header {
          margin-top: var(--uc-floating-margin) !important;
        }
        & #sidebar {
          margin-block: var(--uc-floating-margin) !important;
          margin-top: 0 !important;
        }

        &:not([positionend="true"]) #sidebar,
        &:not([positionend="true"]) #sidebar-header {
          margin-left: calc(
            -1 * (var(--uc-sidebar-hover-width) + var(--uc-content-margin))
          ) !important;
        }
        &[positionend="true"] #sidebar,
        &[positionend="true"] #sidebar-header {
          margin-right: calc(
            -1 * (var(--uc-sidebar-hover-width) + var(--uc-content-margin))
          ) !important;
        }

        &:not([positionend="true"]):hover #sidebar,
        &:not([positionend="true"]):hover #sidebar-header {
          margin-left: calc(
            var(--uc-content-margin) + var(--uc-floating-margin)
          ) !important;
        }
        &[positionend="true"]:hover #sidebar,
        &[positionend="true"]:hover #sidebar-header {
          margin-right: calc(
            var(--uc-content-margin) + var(--uc-floating-margin)
          ) !important;
        }

        &::after {
          content: "";
          position: absolute !important;
          top: 0 !important;
          left: 0 !important;
          height: 100% !important;
          width: var(--uc-hover-target-size) !important;
        }
        &[positionend="true"]::after {
          left: unset !important;
          right: 0 !important;
        }

        &:hover::after {
          width: calc(
            var(--uc-floating-margin) + var(--uc-content-margin) + 1px
          ) !important;
        }
      }

      &:not([sizemode="fullscreen"])
        #sidebar-box:not([positionend="true"])::before {
        left: calc(
          var(--uc-content-margin) * 0.5 - var(--uc-panel-hint-size) * 0.5
        ) !important;
        &:not([sizemode="fullscreen"])
          #sidebar-box[positionend="true"]::before {
          right: calc(
            var(--uc-content-margin) * 0.5 - var(--uc-panel-hint-size) * 0.5
          ) !important;
        }
        &:not([sizemode="fullscreen"]) #sidebar-box::before {
          content: "";
          position: absolute;
          height: 80%;
          top: 10%;
          bottom: auto !important;
          width: var(--uc-panel-hint-size) !important;
          z-index: 199 !important;

          visibility: visible;
          display: unset;
          opacity: 1 !important;
          background-color: var(--uc-panel-hint) !important;
          border-radius: var(--uc-content-radius) !important;
          transition: opacity var(--uc-transition) var(--uc-mouseout-delay) !important;
        }

        &:not([sizemode="fullscreen"]) #sidebar-box:hover::before {
          opacity: 0 !important;
          transition: opacity var(--uc-transition) !important;
        }
      }

      &[sizemode="fullscreen"] #sidebar-box {
        background-color: transparent !important;
        &[positionend="true"] {
          margin-left: calc(-1 * var(--uc-content-margin)) !important;
        }
        &:not([positionend="true"]) {
          margin-right: calc(-1 * var(--uc-content-margin)) !important;
        }

        &:not([positionend="true"]):hover #sidebar,
        &:not([positionend="true"]):hover #sidebar-header {
          margin-left: var(--uc-content-margin) !important;
        }
        &[positionend="true"]:hover #sidebar,
        &[positionend="true"]:hover #sidebar-header {
          margin-right: var(--uc-content-margin) !important;
        }
      }
    }

    #sidebar-box[positionend="true"] {
      direction: rtl;
    }
    #sidebar-box[positionend="true"] > * {
      direction: ltr;
    }
    #sidebar-box[positionend="true"]:-moz-locale-dir(rtl) {
      direction: ltr;
    }
    #sidebar-box[positionend="true"]:-moz-locale-dir(rtl) > * {
      direction: rtl;
    }
  }
}
