#identity-box[pageproxystate="valid"]:is(
    .notSecureText,
    .chromeUI,
    .extensionPage
  )
  > .identity-box-button {
  &:not(:hover) {
    background-color: transparent !important;
  }
  & image {
    list-style-image: url("../icons/firefox.svg") !important;
  }

  & #identity-icon-label {
    display: none !important;
  }

  fill: var(--toolbarbutton-icon-fill) !important;
}

#urlbar {
  z-index: 9999 !important;
}

#urlbar-background {
  border-radius: var(--uc-button-radius) !important;
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

#urlbar[breakout-extend] #urlbar-background {
  --field: Field;
  --urlbar-bg: var(--toolbar-field-focus-background-color);
  @media (-moz-platform: linux) {
    --urlbar-bg: var(--toolbar-field-focus-background-color, var(--field));
  }
  background-color: var(--urlbar-bg) !important;
  background-color: color-mix(
    in oklab,
    var(--urlbar-bg) 90%,
    transparent
  ) !important;
  backdrop-filter: blur(var(--uc-blur-radius)) !important;
}

#main-window:not([customizing]) {
  --uc-urlbar-width: clamp(
    min(
      calc(
        100vw - var(--uc-floating-margin) * 2 - var(--uc-content-margin-inline)
      ),
      500px
    ),
    64vw,
    800px
  );

  #urlbar,
  #urlbar-container {
    margin: auto !important;
  }

  #urlbar-container {
    flex: 1;
    max-width: 1000px;
  }

  #urlbar[breakout-extend] {
    position: fixed !important;
    width: var(--uc-urlbar-width) !important;
    right: 0px !important;
    left: 0px !important;

    top: 20vh !important;
    bottom: auto !important;

    .urlbar-input,
    #urlbar-input {
      font-size: 16px !important;
    }
  }

  #urlbar:not([breakout-extend]) {
    & .urlbar-input-container,
    & #urlbar-input-container {
      text-align: center !important;
      & .urlbar-input-box {
        transition: none !important;
      }
    }
  }
}
