@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*
 * From https://gist.github.com/BenoitAverty/af633ee20e27f48f9ba7178451432206
 */

#nav-bar {
  -moz-box-ordinal-group: 1 !important;
  border-top-width: 0 !important;
}

#PersonalToolbar {
  -moz-box-ordinal-group: 2 !important;
}

#TabsToolbar {
  -moz-box-ordinal-group: 3 !important;
}

/*
 * Based on firefox own behavior while in fullscreen
 */

#navigator-toolbox:focus-within {
  margin-top: 0px;
  transition: margin-top 0.5s;
}
