:root {
  /* All the CSS variables here are global */
  /* These applies to all colorschemes */

  /* If windows - `-moz-win-glass`, if macOS - `-moz-mac-vibrancy-dark` */
  --moz-appearance: -moz-win-glass !important;

  --backdrop-blur: 6px;

  --sidebar-searchbar-radius: 6px;

  --accent-bg: #00caff;
  --blank-page-bg: #22262d;
  --box-shadow: #22262d66;

  --urlbar-hightlight-bg: var(--accent-bg);
  --urlbar-radius: 9px;
  --urlbar-results-font-size: 12pt;
  --urlbar-results-font-weight: 550;
  --urlbar-font-size: 12pt;
  --urlbar-font-weight: 500;
  --urlbar-switch-tab-color: #00caff;
  --urlbar-bookmark-color: #ff29a8;

  --navbar-padding: 6px;

  --tab-selected-bg: #3c3f4ccc;
  --tab-font-size: 11pt;
  --tab-font-weight: 600;
  --tab-height: 24px;
  --tab-border-radius: 6px;
  --tab-soundplaying-bg: #22262dcc;

  --toolbar-bgcolor: transparent !important;
  --urlbar-separator-color: transparent !important;
}

/* Light Mode */
:root:-moz-lwtheme-darktext {
  --main-window: transparent;
  --bg: #e9efff66;
  --color: #22262d;

  --hover-bg: #17191e33;
  --active-bg: #17191e66;

  --icon-color: #22262d;
  --tab-toolbar-bg: #e9efffaa;
  --tab-selected-bg: #0b0c0f22;
  --navbar-bg: var(--bg);
  --urlbar-bg: var(--bg);
  --urlbar-active-bg: var(--bg);
  --urlbar-focused-color: var(--color);

  --sidebar-bg: var(--bg);
  --sidebar-color: var(--color);

  --menupopup-bg: #e9efffaa;
  --menupopup-bg-hover: #b2bfd9aa;
  --menupopup-color: var(--color);
}

/* Dark Mode */
:root:-moz-lwtheme-brighttext {
  --main-window: transparent;
  --bg: #22262d66;
  --color: #b2bfd9cc;

  --hover-bg: #e9efff33;
  --active-bg: #e9efff66;

  --icon-color: #e9efff;
  --tab-toolbar-bg: #0b0c0faa;
  --tab-selected-bg: #e9efff10;
  --navbar-bg: var(--bg);
  --urlbar-bg: var(--bg);
  --urlbar-active-bg: var(--bg);
  --urlbar-focused-color: var(--color);

  --sidebar-bg: var(--bg);
  --sidebar-color: var(--color);

  --menupopup-bg: #3c3f4caa;
  --menupopup-bg-hover: #555e70aa;
  --menupopup-color: var(--color);
}
