:root {
  /* All the CSS variables here are global */
  /* These applies to all colorschemes */

  /* If windows - `-moz-win-glass`, if macOS - `-moz-mac-vibrancy-dark` */
  --moz-appearance: -moz-win-glass !important;

  --backdrop-blur: 6px;

  --sidebar-searchbar-radius: 6px;

  --accent-bg: #4c5ff9cc;
  --blank-page-bg: #252525;

  --urlbar-hightlight-bg: var(--accent-bg);
  --urlbar-radius: 9px;
  --urlbar-results-font-size: 12pt;
  --urlbar-results-font-weight: 550;
  --urlbar-font-size: 12pt;
  --urlbar-font-weight: 500;
  --urlbar-switch-tab-color: #6498ef;
  --urlbar-bookmark-color: #53e2ae;

  --navbar-padding: 6px;

  --tab-selected-bg: #77777788;
  --tab-font-size: 11pt;
  --tab-font-weight: 400;
  --tab-height: 36px;
  --tab-border-radius: 6px;
  --tab-soundplaying-bg: #985effcc;

  --toolbar-bgcolor: transparent !important;
  --urlbar-separator-color: transparent !important;
}

/* Light Mode */
:root:-moz-lwtheme-darktext {
  --main-window: #ffffff;
  --bg: var(--main-window);
  --color: #0a0a0a;

  --hover-bg: #1a1a1a33;
  --active-bg: #1a1a1a66;

  --icon-color: #0a0a0a;
  --tab-toolbar-bg: #e5e5e5;
  --tab-selected-bg: var(--bg);
  --navbar-bg: var(--bg);
  --urlbar-bg: #e6e6e6;
  --urlbar-active-bg: #e6e6e6;
  --urlbar-focused-color: var(--color);

  --sidebar-bg: var(--bg);
  --sidebar-color: var(--color);

  --menupopup-bg: #f2f2f2ee;
  --menupopup-color: var(--color);
}

/* Dark Mode */
:root:-moz-lwtheme-brighttext {
  --main-window: #0a0a0a;
  --bg: var(--main-window);
  --color: #f2f2f2;

  --hover-bg: #f2f2f233;
  --active-bg: #f2f2f266;

  --icon-color: #f2f2f2;
  --tab-toolbar-bg: var(--base-bg);
  --tab-selected-bg: #252525;
  --navbar-bg: #202020;
  --urlbar-bg: #2f2f2f;
  --urlbar-active-bg: #2f2f2f;
  --urlbar-focused-color: var(--color);

  --sidebar-bg: var(--bg);
  --sidebar-color: var(--color);

  --menupopup-bg: #0a0a0aee;
  --menupopup-color: var(--color);
}
