:root {
  --color00: #17191e !important;
  --color0022: #17191e22 !important;
  --color0033: #17191e33 !important;
  --color0066: #17191e66 !important;
  --color0099: #17191e99 !important;
  --color00aa: #17191eaa !important;
  --color00cc: #17191ecc !important;
  --color0000: #17191e00 !important;
  --color01: #23252e !important;
  --color02: #323643 !important;
  --color0233: #3c3f4c33 !important;
  --color0266: #3c3f4c66 !important;
  --color0299: #3c3f4c99 !important;
  --color02aa: #3c3f4caa !important;
  --color02cc: #3c3f4ccc !important;
  --color03: #555e70 !important;
  --color03cc: #555e70cc !important;
  --color04: #0b0c0f !important;
  --color05: #8b9cbe !important;
  --color06: #b2bfd9 !important;
  --color0633: #b2bfd933 !important;
  --color0666: #b2bfd966 !important;
  --color07: #f4f4f7 !important;
  --color0733: #f4f4f733 !important;
  --color0766: #f4f4f766 !important;
  --color0799: #f4f4f799 !important;
  --color07aa: #f4f4f7aa !important;
  --color07bb: #f4f4f7bb !important;
  --color07cc: #f4f4f7cc !important;
  --color07dd: #f4f4f7dd !important;
  --color08: #ff00aa !important;
  --color09: #8265ff !important;
  --color10: #ffffaf !important;
  --color11: #878eff !important;
  --color12: #87ffff !important;
  --color13: #0badff !important;
  --color14: #209afe !important;
  --color15: #44ffdd !important;
  --color16: #ff87d7 !important;
  --color17: #af9dfc !important;
  --color18: #555566 !important;
  --color19: #1b1d24 !important;
  --color20: #0b0c0f !important;
  --color21: #3c3f4c !important;
  --color22: #555566 !important;
  --color23: #727f96 !important;
  --color24: #383a47 !important;
  --color25: #2f303d !important;
  --color26: #570b0e !important;
  --color27: #092444 !important;
  --color28: #25003e !important;
  --color29: #101114 !important;
  --color30: #1a1e21 !important;
  --color31: #00ffcc !important;
}
