:root {
  /* All the CSS variables here are global */
  /* These applies to all colorschemes */

  /* If windows - `-moz-win-glass`, if macOS - `-moz-mac-vibrancy-dark` */
  --moz-appearance: -moz-win-glass !important;

  --backdrop-blur: 6px;

  --sidebar-searchbar-radius: 6px;

  --accent-bg: #00caff;
  --blank-page-bg: #22262dbb;
  --box-shadow: #22262d66;

  --urlbar-hightlight-bg: var(--accent-bg);
  --urlbar-radius: 9px;
  --urlbar-results-font-size: 12pt;
  --urlbar-results-font-weight: 550;
  --urlbar-font-size: 12pt;
  --urlbar-font-weight: 500;
  --urlbar-switch-tab-color: #00caff;
  --urlbar-bookmark-color: #ff29a8;

  --navbar-padding: 6px;

  --tab-selected-bg: #383a47bb;
  --tab-font-size: 11pt;
  --tab-font-weight: 600;
  --tab-height: 24px;
  --tab-border-radius: 6px;
  --tab-soundplaying-bg: #22262dbb;

  --toolbar-bgcolor: transparent !important;
  --urlbar-separator-color: transparent !important;
}

/* Light Mode */
:root:-moz-lwtheme-darktext {
  --main-window: transparent;
  --bg: #e9efffbb;
  --color: #22262d;

  --hover-bg: #17191ebb;
  --active-bg: #17191ebb;

  --icon-color: #22262dbb;
  --tab-toolbar-bg: #e9efffbb;
  --tab-selected-bg: #0b0c0fbb;
  --navbar-bg: var(--bg);
  --urlbar-bg: var(--bg);
  --urlbar-active-bg: var(--bg);
  --urlbar-focused-color: var(--color);

  --sidebar-bg: var(--bg);
  --sidebar-color: var(--color);

  --menupopup-bg: var(--bg)
  --menupopup-color: var(--color);
  --menupopup-bg-hover: #b2bfd9;
}

/* Dark Mode */
:root:-moz-lwtheme-brighttext {
  --main-window: transparent;
  --bg: #2f303dbb;
  --color: #b2bfd9bb;

  --hover-bg: #e9efffbb;
  --active-bg: #e9efffbb;

  --icon-color: #b2bfd9bb;
  --tab-toolbar-bg: #2f303dbb;
  --tab-selected-bg: #3c3f4cbb;
  --navbar-bg: var(--bg);
  --urlbar-bg: var(--bg);
  --urlbar-active-bg: var(--bg);
  --urlbar-focused-color: var(--color);

  --sidebar-bg: var(--bg);
  --sidebar-color: var(--color);

  --menupopup-bg: #3c3f4cbb;
  --menupopup-bg-hover: #555e70bb;
  --menupopup-color: var(--color);
}
