/* SPDX-License-Identifier: MPL-2.0 */
/* SPDX-FileCopyrightText: 2024 awwpotato */

/* themes for about:* pages */

@-moz-document url-prefix("about:newtab"),
url-prefix("about:privatebrowsing"),
url-prefix("about:home") {
  @media (-moz-bool-pref: "browser.tabs.allow_transparent_browser") {
    body {
      background-color: transparent !important;
    }
  }
  .customize-menu {
    height: fit-content !important;
    border-radius: var(--uc-content-radius) !important;
    box-shadow: none !important;
    margin: var(--uc-content-margin) !important;
    backdrop-filter: blur(var(--uc-blur-radius)) !important;
    background-color: color-mix(
      in oklab,
      var(
          --lwt-sidebar-background-color,
          var(--newtab-background-color-secondary)
        )
        80%,
      transparent
    ) !important;

    & .close-button-wrapper {
      background-color: transparent !important;
    }
    & .wallpaper-list.category {
      height: 100% !important;
      width: 100% !important;
      top: 0 !important;
      left: 0 !important;
      margin: auto !important;
      border-radius: var(--uc-content-radius) !important;
      backdrop-filter: blur(var(--uc-blur-radius)) !important;
      background-color: color-mix(
        in oklab,
        var(
            --lwt-sidebar-background-color,
            var(--newtab-background-color-secondary)
          )
          70%,
        transparent
      ) !important;
    }
    /*  back button on wallpaper page */
    & .wallpaper-list.category button.arrow-button {
      margin: 16px !important;
    }
  }
  .top-sites .tile,
  .search-wrapper .search-handoff-button,
  .search-wrapper input,
  .card-outer,
  .compact-cards .card-outer .card-context,
  .weatherButtonContextMenuWrapper,
  .weatherInfoLink,
  .context-menu,
  .weatherButtonContextMenuWrapper::after,
  .personalize-button:hover {
    backdrop-filter: blur(var(--uc-blur-radius)) !important;
    background-color: color-mix(
      in oklab,
      var(
          --lwt-sidebar-background-color,
          var(--newtab-background-color-secondary)
        )
        80%,
      transparent
    ) !important;
  }
  & .compact-cards .card-outer .card-context {
    clip-path: none !important;
  }
  .personalize-button {
    border-radius: var(--uc-radius) !important;
    transition: opacity var(--uc-transition) !important;
    &:not(:hover) {
      opacity: 0.2 !important;
    }
  }
}

/* common theming */
@-moz-document url-prefix("about:preferences"),
url-prefix("about:support"),
url-prefix("about:config"),
url-prefix("about:newtab"),
url-prefix("about:privatebrowsing"),
url-prefix("about:home"),
url-prefix("about:support"),
url-prefix("about:profiles"),
url-prefix("about:addons") {
  @media (-moz-bool-pref: "browser.tabs.allow_transparent_browser") and (-moz-bool-pref: "uc.tweak.translucency") {
    :root {
      --in-content-page-background: transparent !important;
      --in-content-table-background: transparent !important;
      --in-content-box-background: color-mix(
        in oklab,
        var(--background-color-box) 20%,
        transparent
      ) !important;
    }
    .card {
      box-shadow: none !important;
    }
  }
}

@-moz-document url-prefix("about:config") {
  @media (-moz-bool-pref: "browser.tabs.allow_transparent_browser") and (-moz-bool-pref: "uc.tweak.translucency") {
    #about-config-search {
      backdrop-filter: blur(33px) !important;
      background-color: color-mix(
        in oklab,
        var(--background-color-box) 80%,
        transparent
      ) !important;
    }
  }
}

@-moz-document url-prefix("about:addons") {
  @media (-moz-bool-pref: "browser.tabs.allow_transparent_browser") and (-moz-bool-pref: "uc.tweak.translucency") {
    :root {
      --in-content-box-background: color-mix(
        in oklab,
        var(--background-color-box) 40%,
        transparent
      ) !important;
    }
    .main-heading {
      display: none !important;
    }
  }
}

@-moz-document url-prefix("about:preferences"),
url-prefix("about:support") {
  @media (-moz-bool-pref: "browser.tabs.allow_transparent_browser") and (-moz-bool-pref: "uc.tweak.translucency") {
    #searchInput {
      backdrop-filter: blur(33px) !important;
      background-color: color-mix(
        in oklab,
        var(--background-color-box) 90%,
        transparent
      ) !important;
    }
  }
}
