/* PIP button */
.pip-wrapper {
  transform: scale(0.6);
}

/*--------------------------------------------------------------------------------*/

/*bing declutter*/

@-moz-document domain("bing.com") {
  .vs_cont .vs,
  .vs_cont .mc_caro {
    display: none !important;
  }
  e .sb_feedback_button {
    opacity: 0.4 !important;
    border-radius: 10px !important;
  }
}
