/* for the places organizer, e.g. "Manage Bookmarks" */

@-moz-document url-prefix("chrome://browser/content/places/places.xhtml"), url-prefix("about:downloads")
{
  :root {
    --in-content-button-background-disabled: hsla(0, 20%, 80%, 0.12);
    --in-content-button-background-hover: hsla(0, 20%, 90%, 0.15) !important;
    --in-content-button-background-active: hsla(0, 20%, 90%, 0.19) !important;
    --in-content-button-background-bold: hsla(0, 20%, 90%, 0.23) !important;
    --in-content-border-color: var(
      --uc-panel-border
    ) !important; /* Closest approximation */
    --in-content-border-hover: var(
      --uc-panel-border
    ) !important; /* Closest approximation - Consider a darker shade */
    --arrowpanel-dimmed: color-mix(
      in srgb,
      currentColor 17%,
      transparent
    ) !important;
    --arrowpanel-dimmed-further: color-mix(
      in srgb,
      currentColor 25%,
      transparent
    ) !important;
    --arrowpanel-dimmed-even-further: color-mix(
      in srgb,
      currentColor 30%,
      transparent
    ) !important;
    --organizer-color: var(--uc-theme-text-color) !important; /* Closest approximation */
    --organizer-hover-color: var(
      --uc-text
    ) !important; /* Closest approximation */
    --organizer-selected-color: var(
      --uc-text
    ) !important; /* Closest approximation */
    --organizer-focus-selected-color: var(
      --uc-text
    ) !important; /* Closest approximation */
    --organizer-deemphasized-color: color-mix(
      in srgb,
      var(--uc-theme-text-color) 75%,
      transparent
    ) !important; /* Closest approximation */
    --organizer-toolbar-background: var(
      --uc-background-layered
    ) !important; /* Closest approximation */
    --organizer-pane-background: var(
      --uc-background-main
    ) !important; /* Closest approximation */
    --organizer-content-background: var(
      --uc-background-main
    ) !important; /* Closest approximation */
    --organizer-hover-background: var(
      --uc-button-selected
    ) !important; /* Closest approximation */
    --organizer-selected-background: var(
      --uc-button-selected
    ) !important; /* Closest approximation */
    --organizer-selected-active-background: var(
      --uc-button-selected
    ) !important; /* Closest approximation - Consider a darker shade */
    --organizer-selected-focus-background: var(
      --uc-accent-i
    ) !important; /* Closest approximation */
    --organizer-outline-color: var(
      --uc-accent-v
    ) !important; /* Closest approximation */
    --organizer-border-color: var(
      --uc-accent-iv
    ) !important; /* Closest approximation */
    --organizer-toolbar-field-background: var(
      --uc-background-main
    ) !important; /* Closest approximation */
    --organizer-toolbar-field-background-focused: var(
      --uc-background-main
    ) !important; /* Closest approximation */
    --organizer-separator-color: var(
      --uc-accent-iv
    ) !important; /* Closest approximation */
    --organizer-toolbar-field-focus-border-color: var(
      --organizer-outline-color
    ) !important;
    --organizer-toolbar-field-focus-box-shadow: 0 0 0 0.5px
      var(--organizer-toolbar-field-focus-border-color) inset !important;
    --organizer-pane-field-border-color: var(
      --uc-accent-iv
    ) !important; /* Closest approximation */
    --download-button-hover-bg: hsla(230, 8%, 80%, 0.12);
  }

  #placesToolbar > toolbarbutton,
  #placesMenu > menu,
  #searchFilter {
    border-radius: var(
      --uc-button-border-radius
    ) !important; /* Closest approximation */
  }

  #placesToolbar
    > toolbarbutton:is(:hover, :focus-visible):not([disabled="true"]) {
    background-color: var(--organizer-hover-background) !important;
    color: var(--organizer-hover-color) !important;
  }

  #placesMenu > menu > .menubar-text {
    background-size: 12px !important;
    padding-inline-end: 16px !important;
  }

  #searchFilter[focused] {
    outline-color: var(--uc-theme-border-color) !important;
    outline-width: 2px !important;
    outline-style: solid !important;
    box-shadow: none !important;
    border-color: transparent !important;
    outline-offset: 0 !important;
  }

  #places input[type="text"]:focus {
    outline: 2px solid var(--organizer-outline-color) !important;
    outline-offset: -1px !important;
  }

  #contentView treecol {
    box-shadow: inset 0 -1px var(--organizer-border-color);
  }

  tree {
    appearance: none !important;
    margin: 0 !important;
    border: none !important;
    padding: 0 !important;
  }

  treecol,
  treecolpicker {
    background-color: var(--organizer-pane-background) !important;
    border-color: var(--organizer-border-color) !important;
  }

  :is(treecol, treecolpicker):where(:hover) {
    background-color: var(--organizer-hover-background) !important;
  }

  :is(treecol, treecolpicker):where(:hover:active) {
    background-color: var(--organizer-selected-background) !important;
  }

  menubar > menu[_moz-menuactive="true"]:not([disabled="true"]) {
    background-color: var(--organizer-hover-background) !important;
    color: var(--organizer-hover-color) !important;
  }

  treechildren::-moz-tree-row(selected),
  treechildren::-moz-tree-row(current, focus) {
    background-color: var(--organizer-selected-background) !important;
    outline: none !important;
  }

  treechildren::-moz-tree-row(selected, hover),
  treechildren::-moz-tree-row(current, focus, hover) {
    background-color: var(--organizer-selected-active-background) !important;
  }

  treechildren::-moz-tree-row(selected, focus),
  treechildren::-moz-tree-row(current, selected, focus) {
    background-color: var(--organizer-selected-focus-background) !important;
  }

  treechildren::-moz-tree-cell(cutting, selected),
  treechildren::-moz-tree-cell(cutting, hover) {
    background-color: color-mix(
      in srgb,
      transparent 50%,
      var(--organizer-selected-background)
    ) !important;
  }

  treechildren::-moz-tree-cell-text(primary, dropOn) {
    background-color: var(--organizer-selected-background) !important;
  }
}
