/* PDF Viewer Styles */

:root:has(.pdfViewer) {
  #viewerContainer {
    inset: 0 !important;

    #viewer .page:first-of-type {
      margin-top: 20px !important;
    }
  }

  #toolbarContainer {
    position: sticky !important;
    width: auto !important;
    margin-top: 3px !important;
    margin-inline: 3px !important;
    border-radius: var(--uc-theme-border-radius);
    box-shadow: none !important;
    border: none !important;
    background: color-mix(
      in oklab,
      var(--toolbar-bg-color),
      transparent 10%
    ) !important;
    backdrop-filter: blur(var(--uc-theme-border-radius)) !important;

    #loadingBar {
      top: unset !important;
      bottom: 0 !important;
      border: none !important;
    }

    button {
      border-radius: var(--uc-theme-border-radius) !important;
    }
  }

  #sidebarContainer {
    margin: 5px;
    margin-top: 10px;
    border-radius: var(--uc-theme-border-radius) !important;
    background-color: rgba(var(--uc-theme-secondary-color), var(--uc-theme-low-alpha)) !important;
    backdrop-filter: blur(var(--uc-theme-border-radius));
    * {
      box-shadow: none !important;
    }
    #toolbarSidebar {
      background-color: transparent !important;
    }

    button,
    .thumbnail.selected {
      border-radius: var(--uc-theme-border-radius) !important;
    }
  }
}
