/*
 * Author: Thomas Leon Highbaugh (thighbaugh@zoho.com)
 * Project: firefox
 * File: userContent/about_reader.css
 * Description: styles reader page
 */
@-moz-document url-prefix("about:reader") {
  /* Fonts */
  body.sans-serif,
  body.sans-serif .remove-button {
    font-family: "Segoe UI", Arial, sans-serif !important;
  }

  body.serif,
  body.serif .remove-button {
    font-family: "Tahoma", "Times New Roman", serif !important;
  }

  /* Buttons and Toolbar to match browser's navbar color */
  .toolbar {
    background-color: var(--arc-dark-navbar) !important;
    border: none !important;
  }

  .button {
    height: 52px !important;
    background-color: var(--arc-dark-navbar) !important;
    fill: var(--color) !important;
    border: none !important;
  }

  .button:hover {
    background-color: var(--bg) !important;
    fill: var(--accent) !important;
  }

  .close-button {
    height: 68px !important;
  }

  .close-button:hover {
    background-color: var(--bg) !important;
    fill: var(--urlbar-bookmark-color) !important;
  }

  .dropdown.narrate-dropdown {
    display: none !important;
  }

  /* Text colors */
  .moz-reader-content a:visited {
    color: var(--urlbar-bookmark-color) !important;
  }
}
