/* * 
 * https://www.reddit.com/r/FirefoxCSS/comments/7lefac/ublock_origin_dark_theme/
 * https://www.reddit.com/r/FirefoxCSS/comments/bcgnvb/fully_themed_ublock_origin_css/
 */

@-moz-document url-prefix("moz-extension://96739bf5-16fd-468d-ba3e-fcf65184ca7c/")
{
  body {
    background-color: var(--blank-page-bg) !important;
    color: var(--color) !important;
  }
  a {
    color: var(--accent) !important;
  }
  h2 {
    background-color: var(--blank-page-bg) !important;
    color: var(--color) !important;
  }
  code {
    background-color: var(--blank-page-bg) !important;
  }
  .tool {
    color: var(--color) !important;
  }
  .tool.enabled:hover {
    color: var(--icon-color) !important;
  }
  .permatoolbar {
    background-color: #292d35 !important;
  }
  .permatoolbar .button {
    background-color: var(--menupopup-bg) !important;
  }
  .permatoolbar .button:hover {
    background-color: var(--menupopup-bg) !important;
  }
  #tooltip {
    background-color: var(--bg) !important;
    border: 0px solid var(--blank-page-bg) !important;
    color: var(--color) !important;
  }
  #firewallContainer > div {
    background-color: var(--bg) !important;
  }
  #firewallContainer > div:hover {
    background-color: #36393f !important;
  }
  #firewallContainer > div > span {
    color: #eee !important;
    border-bottom: 0px solid #111 !important;
  }
  #firewallContainer > div > span:first-of-type ~ span {
    border-left: 0px solid #111 !important;
  }
  #extraTools {
    background-color: #292d35 !important;
  }
  #extraTools > span:hover {
    color: #8ad !important;
  }
  #dashboard-nav-widgets {
    background-color: #111 !important;
    border-bottom: 0px solid #666 !important;
  }
  .tabButton {
    background-color: #292d35 !important;
    border: 1px solid #666 !important;
    border-bottom: 0px solid #666 !important;
    color: #eee !important;
  }
  .tabButton.selected {
    background-color: #292d35 !important;
    border-bottom: 0px solid #292d35 !important;
  }
  #diff li {
    background-color: #3c3f4c !important;
  }
  #diff li:nth-child(even) {
    background-color: #666 !important;
  }
  #diff textarea {
    background-color: var(--blank-page-bg) !important;
    color: var(--color) !important;
  }
  #switch .fa-icon {
    fill: var(--icon-color) !important;
  }
  body.off #switch .fa-icon {
    fill: var(--accent) !important;
  }
  #tooltip {
    background-color: var(--blank-page-bg) !important;
    border: 0px solid gray !important;
    border-radius: 0px !important;
    box-shadow: 0px 0px 0px gray !important;
    color: white !important;
  }
  #refresh {
    background-color: var(--bg) !important;
    border: 0px solid var(--color) !important;
    border-radius: 0px !important;
    fill: white !important;
  }
}
