@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/** Fully Dark Mode ***********************************************************/
/*= Fully Dark Mode - Dark Mode Colors =======================================*/
/* Based on chrome://global/skin/in-content/common.css */
:host,
:root {
  --in-content-page-color: #f4f4f7;
  --in-content-page-background: #1c1e24;
  --in-content-text-color: var(--in-content-page-color);
  --in-content-deemphasized-text: #8b9cbe;
  --in-content-box-background: #1c1e24;
  --in-content-box-background-odd: #1b1d24; /* grey 90 a05 */
  --in-content-box-border-color: color-mix(
    in srgb,
    currentColor 41%,
    transparent
  );
  --in-content-box-info-background: #2f303d;
  --in-content-item-hover: color-mix(in srgb, #b2bfd9 20%, transparent);
  --in-content-item-hover-text: var(--in-content-page-color);
  --in-content-item-selected: var(--in-content-primary-button-background);
  --in-content-item-selected-text: var(--in-content-primary-button-text-color);
  --in-content-icon-color: #f4f4f7;
  --in-content-accent-color: #8b9cbe;
  --in-content-accent-color-active: #b2bfd9;
  --in-content-border-hover: #f4f4f7;
  --in-content-border-invalid: #e9efff;
  --in-content-border-color: #e9efff;
  --in-content-error-text-color: #ff3d81;
  --in-content-link-color: #8b9cbe;
  --in-content-link-color-hover: #b2bfd9;
  --in-content-link-color-active: #b2bfd9;
  --in-content-link-color-visited: #555e70;
  /* button background states are also used for checkboxes and radiobuttons */
  --in-content-button-text-color: var(--in-content-text-color);
  --in-content-button-text-color-hover: var(--in-content-text-color);
  --in-content-button-background: #3c3f4c;
  --in-content-button-background-hover: #22262d;
  --in-content-button-background-active: #22262d;
  --in-content-primary-button-text-color: #f4f4f7;
  --in-content-primary-button-text-color-hover: var(
    --in-content-primary-button-text-color
  );
  --in-content-primary-button-background: #8b9cbe;
  --in-content-primary-button-background-hover: #b2bfd9;
  --in-content-primary-button-background-active: #b2bfd9;
  --in-content-danger-button-background: #e22850;
  --in-content-danger-button-background-hover: #ff3d81;
  --in-content-danger-button-background-active: #ff3d81;
  --in-content-focus-outline-color: #b2bfd9;

  /* Note: 1px smaller than we want because we have a 1px transparent border. */
  /* Once proton ships, these can probably stop being variables. */
  --in-content-button-border-radius: 4px;
  --in-content-button-horizontal-padding: 15px;
  --in-content-button-vertical-padding: 7px;

  --in-content-table-background: #1b1d24;
  --in-content-table-border-dark-color: #3c3f4c;
  --in-content-table-header-background: #2f303d;
  --in-content-table-header-color: #f4f4f7;
  --in-content-sidebar-width: 240px;

  --dialog-warning-text-color: #e22850;

  --checkbox-border-color: var(--in-content-box-border-color);
  --checkbox-unchecked-bgcolor: var(--in-content-button-background);
  --checkbox-unchecked-hover-bgcolor: var(--in-content-button-background-hover);
  --checkbox-unchecked-active-bgcolor: var(
    --in-content-button-background-active
  );
  --checkbox-checked-bgcolor: var(--in-content-primary-button-background);
  --checkbox-checked-color: var(--in-content-primary-button-text-color);
  --checkbox-checked-border-color: transparent;
  --checkbox-checked-hover-bgcolor: var(
    --in-content-primary-button-background-hover
  );
  --checkbox-checked-active-bgcolor: var(
    --in-content-primary-button-background-active
  )
  
  
  --blue-40: #3cbdff;
  --blue-50: #0badff;
  --blue-60: #098acc;
  --blue-70: #076899;
  --blue-80: #044566;
  --grey-30: #d7d7db;
  --grey-60: #444b5a;
  --grey-90-a10: #22262d22;
  --grey-90-a20: #22262d55;
  --grey-90-a30: #22262d66;
  --grey-90-a50: #22262d88;
  --grey-90-a60: #22262daa;
  --green-50: #33ffd6;
  --green-60: #00cca3;
  --green-70: #00997a;
  --green-80: #006652;
  --green-90: #003329;
  --orange-50: #ff9400;
  --red-40: #ff4f5e;
  --red-50: #ff0039;
  --red-60: #d70022;
  --red-70: #a4000f;
  --red-80: #5a0002;
  --red-90: #3e0200;
  --yellow-50: #ffe900;
  --yellow-60: #d7b600;
  --yellow-60-a30: rgba(215, 182, 0, 0.3);
  --yellow-70: #a47f00;
  --yellow-80: #715100;
  --yellow-90: #3e2800;

  --shadow-10: 0 1px 4px var(--grey-90-a10);
  --shadow-30: 0 4px 16px var(--grey-90-a10);

  --card-padding: 16px;
  --card-shadow: var(--shadow-10);
  --card-outline-color: var(--grey-30);
  --card-shadow-hover: var(--card-shadow), 0 0 0 5px var(--card-outline-color);
}

@media (-moz-toolbar-prefers-color-scheme: dark), (prefers-color-scheme: dark) {
  :host,
  :root {
    /* Keep these in sync with layout/base/PresShell.cpp, and plaintext.css */
    --in-content-page-background: rgb(28, 27, 34);
    --in-content-page-color: rgb(251, 251, 254);
    --in-content-deemphasized-text: rgb(191, 191, 201);

    --in-content-box-background: #2f303d;
    --in-content-box-background-odd: #22262d44;
    --in-content-box-info-background: #3c3f4c;

    --in-content-border-color: #555e70aa;
    --in-content-border-hover: #555e70ee;
    --in-content-border-invalid: #2c2c2c;

    --in-content-error-text-color: #ff9aa2;

    --in-content-button-background: #22262d;
    --in-content-button-background-hover: #3c3f4c;
    --in-content-button-background-active: #3c3f4c;
    --in-content-icon-color: #f4f4f7;

    --in-content-primary-button-text-color: #f4f4f7;
    --in-content-primary-button-background: #1c1e24;
    --in-content-primary-button-background-hover: #22262d;
    --in-content-primary-button-background-active: #22262d;

    --in-content-danger-button-background: #ff848b;
    --in-content-danger-button-background-hover: #ffbdc5;
    --in-content-danger-button-background-active: #ffdfe7;

    --in-content-table-background: #2f303d;
    --in-content-table-border-dark-color: rgba(249, 249, 250, 0.2);
    --in-content-table-header-background: #1c1e24;
    --in-content-table-header-color: #f4f4f7;

    --in-content-accent-color: #8b9cbe;
    --in-content-accent-color-active: var(
      --in-content-primary-button-background-hover
    );
    --in-content-link-color: #8b9cbe;
    --in-content-link-color-hover: var(
      --in-content-primary-button-background-hover
    );
    --in-content-link-color-active: var(
      --in-content-primary-button-background-active
    );
    --in-content-link-color-visited: #555e70;

    --card-outline-color: var(--grey-60);

    --dialog-warning-text-color: var(--red-40);
  }
