/*================ IMPORT COLORS ================*/
@import "../colors/vice";

/*================== FIREFOX BG COLOR ==================*/
@-moz-document url("about:newtab"), url("about:home"), url("about:blank"), url("about:support"), url("about:config") {
  /*Dark*/
  html:not(#ublock0-epicker)[lwt-newtab-brighttext],
  html:not(#ublock0-epicker) body[lwt-newtab-brighttext],
  #newtab-customize-overlay[lwt-newtab-brighttext] {
    background-color: var(--base1) !important;
  }
  html[lwt-newtab-brighttext] {
    --in-content-page-background: var(--base01) !important;
  }
  [lwt-newtab-brighttext] .wordmark {
    fill: #fefafe !important;
  }
  [lwt-newtab-brighttext] .SnippetBaseContainer {
    background-color: var(--base02) !important;
    color: var(--base07) !important;
  }
  [lwt-newtab-brighttext] .ASRouterButton {
    border-radius: 3px !important;
  }
}

/*================== SEARCH BAR ==================*/
/*Dark*/
[lwt-newtab-brighttext] .search-wrapper input {
  transition: all 0.3s ease !important;
  background: var(--base02) var(--base06) 12px center no-repeat !important;
  background-size: 20px !important;
  border: 1px solid !important;
  border-color: var(--base03) !important;
  box-shadow: none !important;
  color: var(--base07) !important;
}
/*Private*/
html.private .search-wrapper input {
  transition: all 0.3s ease !important;
  background: var(--base02) var(--base06) 12px center no-repeat !important;
  background-size: 20px !important;
  border: 1px solid !important;
  border-color: #3c3f4c !important;
  box-shadow: none !important;
  color: #fff5ff !important;
}
/*Dark*/
[lwt-newtab-brighttext] .search-wrapper .search-inner-wrapper:hover input,
[lwt-newtab-brighttext] .search-wrapper .search-inner-wrapper:active input,
[lwt-newtab-brighttext] .search-wrapper input:focus {
  border-color: var(--base04) !important;
}
/*Private*/
[private] .search-wrapper .search-inner-wrapper:hover input,
[private] .search-wrapper .search-inner-wrapper:active input,
[private] .search-wrapper input:focus {
  border-color: #555e70 !important;
}
/*Dark*/
[lwt-newtab-brighttext] .search-wrapper .search-button,
[lwt-newtab-brighttext] .search-wrapper .search-button {
  transition: all 0.3s ease !important;
  fill: var(--base07) !important;
}
/*Private*/
[private] .search-wrapper .search-button,
[private] .search-wrapper .search-button {
  transition: all 0.3s ease !important;
  fill: #f4f4f7 !important;
}
/*Dark*/
[lwt-newtab-brighttext] .search-wrapper .search-button:focus,
[lwt-newtab-brighttext] .search-wrapper .search-button:hover {
  background-color: var(--base04) !important;
}
/*Private*/
[private] .search-wrapper .search-button:focus,
[private] .search-wrapper .search-button:hover {
  background-color: #555e70 !important;
}

/*================== READER VIEW ==================*/
@-moz-document url-prefix("about:reader") {
  html {
    background: var(--base00);
  }
  toolbar > reader-toolbar {
    border-radius: 3px !important;
  }

  /*Dark*/
  body.loaded.dark {
    --toolbar-bgcolor: var(--base00) !important;
    --toolbar-border: var(--base01) !important;
    --toolbar-hover: var(--base02) !important;
    --popup-bgcolor: var(--base01) !important;
    --popup-border: var(--base03) !important;
    --font-color: var(--base07) !important;
    --icon-fill: var(--base07) !important;
    background: var(--base00) !important;
    --blue-40: var(--base07) !important;
    --blue-40-a30: #8265ff !important;
    --selected-background: #8265ff99!important;
    --active-color: var(--base07) !important;
  }
}