/* nord VPN extension */

@-moz-document url-prefix("moz-extension://54896d1f-a658-4fd5-ab86-4ad739b06f69")
{
  @supports -moz-bool-pref("userChrome.css.mac-ui-fonts") {
    body {
      font-family: SF Pro Text, Segoe UI, sans-serif !important;
    }

    .fwm {
      font-family: SF Pro Display, Segoe UI, sans-serif !important;
    }
  }

  body,
  .Container {
    background-color: var(--secondary-color) !important;
    color: var(--inverted-color) !important;
  }

  .c-bw-12,
  .CountryItem .Text {
    color: var(--inverted-color) !important;
  }

  .text-grey-darkest {
    color: var(--inverted-color) !important;
  }

  .text-black {
    color: var(--inverted-color) !important;
  }

  .TopBar .py-5 > .nord-image {
    stroke: var(--color03);
    fill: var(--inverted-color);
    background-image: url(chrome://userchrome/content/in-content/nordvpn-logo.svg) !important;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 31px;
    -moz-context-properties: fill, stroke;
  }

  .c-bw-14 * {
    fill: var(--inverted-color) !important;
  }

  .TopBar .Link:hover .SVG--inline:not(.SVG--no-hover) * {
    fill: var(--color03) !important;
  }

  .Button--small {
    min-height: 32px !important;
  }

  .Button--blue,
  .nord-button--v-contained.nord-button--c-blue {
    background-color: var(--color02) !important;
    border-color: transparent !important;
  }

  .Button--blue:hover,
  .nord-button--v-contained.nord-button--c-blue:is(:hover, :focus-visible):not([disabled]) {
    background-color: var(--color03) !important;
    border-color: transparent !important;
  }

  .Link--alt,
  .text-blue {
    color: var(--color05) !important;
  }

  .Link--alt.Link--active,
  .Link--alt:hover,
  .text-blue:hover {
    color: color-mix(
      in srgb,
      var(--color06) 50%,
      var(--uc-identity-color-gray)
    ) !important;
  }

  .c-blu-6,
  .c-blu-6 * {
    color: var(--color07) !important;
    fill: var(--color05) !important;
  }

  .Link--alt:is(:active, :focus, :hover) .SVG--inline:not(.SVG--no-hover) * {
    fill: color-mix(
      in srgb,
      var(--color06) 50%,
      var(--uc-identity-color-gray)
    ) !important;
  }

  .Link--dark.Link--active,
  .Link--dark:hover {
    color: var(--inverted-color) !important;
  }

  .CountryItem--active,
  .CountryItem:hover {
    background: var(--secondary-color) !important;
  }

  hr {
    background: none !important;
    border-bottom: 1px solid var(--secondary-color) !important;
    height: 0 !important;
  }

  .Toggle__track {
    background-color: var(--secondary-color-hover) !important;
  }

  .Toggle:hover:not(.Toggle--disabled) .Toggle__track {
    background-color: var(--secondary-color-active) !important;
  }

  .Toggle__thumb {
    background-color: var(--inverted-color) !important;
    border-color: transparent !important;
    background-clip: content-box !important;
  }

  .Toggle:hover:not(.Toggle--disabled) .Toggle__thumb {
    background-color: var(--inverted-color) !important;
  }

  .Toggle--checked .Toggle__track {
    background-color: var(--color02) !important;
  }

  .Toggle--checked:hover:not(.Toggle--disabled) .Toggle__track {
    background-color: var(--color03) !important;
  }

  .Toggle--checked .Toggle__thumb {
    background-color: var(--inverted-color) !important;
  }

  .Button--destructive.Button--outline,
  .nord-button.text-red {
    border-color: transparent !important;
  }

  .Button--destructive.Button--outline:not(:hover) {
    background-color: var(--secondary-color) !important;
  }

  .nord-button.text-red:not(:hover) {
    background-color: var(--secondary-color) !important;
  }

  .nord-button.text-red:hover {
    background-color: var(--secondary-color-hover) !important;
  }

  .form-control,
  .nord-input {
    background-color: var(--secondary-color) !important;
  }

  .TextField__element,
  .nord-input {
    border-color: var(--color0033) !important;
  }

  .form-control:focus,
  .TextField__element:focus,
  .nord-input:focus {
    border-color: var(--in-content-border-focus) !important;
  }
}
