/
  /*
 * Author: Thomas Leon Highbaugh (thighbaugh@zoho.com)
 * Project: firefox
 * File: userContent/view_source.css
 * Description: styles the output of viewsource
 */
  @-moz-document url-prefix(view-source:) {
  html {
    background: (--bg) !important;
    color: var(--color) !important;
  }

  .attribute-name {
    color: var(--base15) !important;
  }
  .start-tag,
  .end-tag {
    color: var(--base16) !important;
  }
  .attribute-value {
    color: var(--base14) !important;
  }
}
