/*= Default Colors - Hard Coded ==============================================*/
/* Based on chrome://global/skin/in-content/common.css */
:host,
:root {
  --in-content-page-color: #f4f4f7;
  --in-content-page-background: #1c1e24;
  --in-content-text-color: var(--in-content-page-color);
  --in-content-deemphasized-text: #555e70;
  --in-content-box-background: #383a47;
  --in-content-box-background-odd: #2f303dcc; /* grey 90 a05 */
  --in-content-box-border-color: color-mix(in srgb, currentColor 41%, transparent);
  --in-content-box-info-background: #282b36;
  --in-content-item-hover: color-mix(in srgb, #555e70 20%, transparent);
  --in-content-item-hover-text: var(--in-content-page-color);
  --in-content-item-selected: var(--in-content-primary-button-background);
  --in-content-item-selected-text: var(--in-content-primary-button-text-color);
  --in-content-icon-color: rgb(91, 91, 102);
  --in-content-accent-color: #0a84ff;
  --in-content-accent-color-active: #0060df;
  --in-content-border-hover: var(--grey-90-a50);
  --in-content-border-invalid: var(--red-50);
  --in-content-border-color: #d7d7db;
  --in-content-error-text-color: #c50042;
  --in-content-link-color: var(--blue-60);
  --in-content-link-color-hover: var(--blue-70);
  --in-content-link-color-active: var(--blue-80);
  --in-content-link-color-visited: var(--blue-60);
  /* button background states are also used for checkboxes and radiobuttons */
  --in-content-button-text-color: var(--in-content-text-color);
  --in-content-button-text-color-hover: var(--in-content-text-color);
  --in-content-button-background: rgba(207, 207, 216, 0.33);
  --in-content-button-background-hover: rgba(207, 207, 216, 0.66);
  --in-content-button-background-active: rgb(207, 207, 216);
  --in-content-primary-button-text-color: rgb(251, 251, 254);
  --in-content-primary-button-text-color-hover: var(--in-content-primary-button-text-color);
  --in-content-primary-button-background: #0061e0;
  --in-content-primary-button-background-hover: #0250bb;
  --in-content-primary-button-background-active: #053e94;
  --in-content-danger-button-background: #e22850;
  --in-content-danger-button-background-hover: #c50042;
  --in-content-danger-button-background-active: #810220;
  --in-content-focus-outline-color: var(--in-content-primary-button-background);

  /* Note: 1px smaller than we want because we have a 1px transparent border. */
  /* Once proton ships, these can probably stop being variables. */
  --in-content-button-border-radius: 4px;
  --in-content-button-horizontal-padding: 15px;
  --in-content-button-vertical-padding: 7px;

  --in-content-table-background: #f8f8fa;
  --in-content-table-border-color: var(--in-content-box-border-color); /* Legacy: #d1d1d1; rgba(249, 249, 250, 0.2) */
  --in-content-table-border-dark-color: var(--in-content-table-border-color);
  --in-content-table-header-background: var(
    --in-content-primary-button-background
  ); /* Legacy: #0a84ff; rgb(5, 64, 150); */
  --in-content-table-header-color: var(
    --in-content-primary-button-text-color
  ); /* Legacy: #ffffff; var(--in-content-page-color); */
  --in-content-sidebar-width: 240px;

  --dialog-warning-text-color: var(--red-60);

  --checkbox-border-color: var(--in-content-box-border-color);
  --checkbox-unchecked-bgcolor: var(--in-content-button-background);
  --checkbox-unchecked-hover-bgcolor: var(--in-content-button-background-hover);
  --checkbox-unchecked-active-bgcolor: var(--in-content-button-background-active);
  --checkbox-checked-bgcolor: var(--in-content-primary-button-background);
  --checkbox-checked-color: var(--in-content-primary-button-text-color);
  --checkbox-checked-border-color: transparent;
  --checkbox-checked-hover-bgcolor: var(--in-content-primary-button-background-hover);
  --checkbox-checked-active-bgcolor: var(--in-content-primary-button-background-active);
  --blue-40: #b2bfd9;
  --blue-50: #8b9cbe;
  --blue-60: #555e70;
  --blue-70: #383a47;
  --blue-80: #2f303d;
  --grey-30: #e9efff;
  --grey-60: #555e70;
  --grey-90-a10: rgba(12, 12, 13, 0.1);
  --grey-90-a20: rgba(12, 12, 13, 0.2);
  --grey-90-a30: rgba(12, 12, 13, 0.3);
  --grey-90-a50: rgba(12, 12, 13, 0.5);
  --grey-90-a60: rgba(12, 12, 13, 0.6);
  --green-50: #44ffdd;
  --green-60: #36ccb1;
  --green-70: #299985;
  --green-80: #1b6658;
  --green-90: #0e332c;
  --orange-50: #ffffaf;
  --red-40: #ffb1cd;
  --red-50: #ff8bb3;
  --red-60: #ff3d81;
  --red-70: #99254d;
  --red-80: #661834;
  --red-90: #330c1a;
  --yellow-50: #ffff00;
  --yellow-60: #d7b600;
  --yellow-60-a30: rgba(215, 182, 0, 0.3);
  --yellow-70: #a47f00;
  --yellow-80: #715100;
  --yellow-90: #3e2800;

  --shadow-10: 0 1px 4px var(--grey-90-a10);
  --shadow-30: 0 4px 16px var(--grey-90-a10);

  --card-padding: 16px;
  --card-shadow: var(--shadow-10);
  --card-outline-color: var(--grey-30);
  --card-shadow-hover: var(--card-shadow), 0 0 0 5px var(--card-outline-color);
}

@include Dark {
  :host,
  :root {
    /* Keep these in sync with layout/base/PresShell.cpp, and plaintext.css */
    --in-content-page-background: #1c1e24;
    --in-content-text-color: var(--in-content-page-color);
    --in-content-deemphasized-text: #555e70;
    --in-content-box-background: #383a47;
    --in-content-box-background-odd: #2f303dcc; /* grey 90 a05 */
    --in-content-box-border-color: color-mix(in srgb, currentColor 41%, transparent);
    --in-content-box-info-background: #282b36;
    --in-content-item-hover: color-mix(in srgb, #555e70 20%, transparent);
      --in-content-border-color: rgba(249, 249, 250, 0.2);
    --in-content-border-hover: rgba(249, 249, 250, 0.3);
    --in-content-border-invalid: rgb(255, 132, 139);

    --in-content-error-text-color: #ff9aa2;

    --in-content-button-background:#2f303d;
    --in-content-button-background-hover: #383a47;
    --in-content-button-background-active: #282b36;
    --in-content-icon-color: rgb(251, 251, 254);

    --in-content-primary-button-text-color: #f4f4f7;
    --in-content-primary-button-background: var(--in-content-button-background);
    --in-content-primary-button-background-hover: var(--in-content-button-background-hover);
    --in-content-primary-button-background-active:var(--in-content-button-background-active);

    --in-content-danger-button-background: #ff3d81;
    --in-content-danger-button-background-hover: #ff8bb3;
    --in-content-danger-button-background-active: #ffb1cd;

    --in-content-table-background: rgb(35, 34, 43);
    --in-content-table-border-dark-color: var(--in-content-box-border-color);

    --in-content-accent-color: #8b9cbe;
    --in-content-accent-color-active: #b2bfd9;
    --in-content-link-color: #555e70;
    --in-content-link-color-hover: #8b9cbe;
    --in-content-link-color-active: #b2bfd9;
    --in-content-link-color-visited: var(--in-content-link-color);

    --card-outline-color: var(--grey-60);

    --dialog-warning-text-color: var(--red-40);
  }
}

