@-moz-document url(chrome://browser/content/browser.xul), url(about:newtab), url(about:home)
{
  @media not (-moz-bool-pref: "browser.newtabpage.activity-stream.newtabWallpapers.v2.enabled") {
    /*
This file handles New Tab Backgrounds for Color Schemes.
Create Your Own - TUTORIAL: https://github.com/soulhotel/FF-ULTIMA/blob/main/doc/new-color-scheme.md

Use the template below to enter your theme into the list:

@media (-moz-bool-pref: "user.theme.dark.MYTHEME"){body{background-image: url("pic/MYTHEME.png") !important;}

@media (-moz-bool-pref: "user.theme.light.MYTHEME"){body{background-image: url("pic/MYTHEME.png") !important;}
*/

    /*--------------------------------- DARK COLOR SCHEME SECTION ---------------------------------*/

    @media (prefers-color-scheme: dark) {
      @media (-moz-bool-pref: "user.theme.dark.a") {
        body {
          background-image: url("pic/fullmoon.png") !important;
        }
      }

      @media (-moz-bool-pref: "user.theme.dark.midnight") {
        body {
          background-image: url("pic/midnight.png") !important;
        }
      }

      @media (-moz-bool-pref: "user.theme.dark.monokaipro-spectrum") {
        body {
          background-image: url("pic/midnight.png") !important;
        }
      }

      @media (-moz-bool-pref: "user.theme.dark.vice") {
        body {
          background-image: url("pic/vice.png") !important;
        }
      }

      @media (-moz-bool-pref: "user.theme.dark.vice-alt") {
        body {
          background-image: url("pic/vice-alt.png") !important;
        }
      }
    }

    /*--------------------------------- LIGHT COLOR SCHEME SECTION ---------------------------------*/

    @media (prefers-color-scheme: light) {
      @media (-moz-bool-pref: "user.theme.light.a") {
        body {
          background-image: url("pic/dusky.png") !important;
        }
      }
    }

    /*--------------------------- NEW TAB WALLPAPER MENU (EXPERIMENTAL) ---------------------------*/

    @-moz-document url(chrome://browser/content/browser.xul), url(about:newtab), url(about:home)
    {
      .wallpaper-input.dark-color,
      .wallpaper-input.light-color {
        background-image: url("pic/walldisplay.png") !important;
      }

      #dark-sky {
        background-image: url("pic/fullmoon.png") !important;
      }
      #dark-fox-anniversary {
        background-image: url("pic/old.dusky.png") !important;
      }
      :root:has(#dark-sky[aria-checked="true"]) body {
        background-image: url("pic/fullmoon.png") !important;
      }

      :root:has(#photographs[style='background-image: url("https://firefox-settings-attachments.cdn.mozilla.net/main-workspace/newtab-wallpapers-v2/e94b1e49-c518-40d6-98e3-dffab6cc370d.avif");'])
  body:not([style*="--"]) {
        background-image: url("pic/fullmoon.png") !important;
      }

      :root:has(#photographs[style='background-image: url("https://firefox-settings-attachments.cdn.mozilla.net/main-workspace/newtab-wallpapers-v2/6b8eb3cf-f232-4c7b-a179-afd174555134.avif");'])
  body:not([style*="--"]) {
        background-image: url("pic/midnight.png") !important;
      }

      /*--------------------------------------------------------------------------------------------------------------*/

      #dark-sky {
        order: 1 !important;
      }
      #dark-fox-anniversary {
        order: 2 !important;
      }
      .wallpaper-attribution {
        display: none !important;
      }

      .wallpaper-list fieldset {
        background-color: rgb(15, 15, 15) !important;
        border-radius: 12px !important;
      }
    } /*the end*/
  }
}
