/* Change the default ugly cyan color in various elements/UI */
:root,
panel,
dialog,
window {
  --lwt-toolbarbutton-icon-fill-attention: #69676c !important;
  --button-primary-bgcolor: #69676c !important;
  --button-primary-hover-bgcolor: #69676c !important;
  --button-primary-active-bgcolor: #69676c !important;
  --in-content-primary-button-background: #69676c !important;
  --in-content-primary-button-background-hover: #69676c !important;
  --in-content-primary-button-background-active: #69676c !important;
  --input-border-color: #69676c !important;
  --uc-checkbox-checked-bgcolor: #69676c !important;
  --checkbox-checked-bgcolor: #69676c !important;
  --focus-outline-color: #69676c !important;
  --in-content-link-color: #69676c !important;
}
