@-moz-document url-prefix(chrome://)
{
  #nav-bar {
    padding: 0 6px !important;
  }

  .browser-toolbar.titlebar-color:-moz-lwtheme-brighttext,
  .tab-background:not([selected]):-moz-lwtheme-brighttext {
    background-color: var(--tab-background-color) !important;
    color: var(--tab-color) !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  /* Match tabs toolbar background color */
  .chromeclass-toolbar-additional,
  #addonbar {
    background-color: var(--tab-background-color) !important;
  }
  #main-window {
    background-color: var(--theme-sidebar-background) !important;
  }
}
