#statuspanel #statuspanel-label,
statuspanel .statuspanel-label,
#addonbar {
  background-color: var(--toolbar-bgcolor) !important;
  color: var(--in-content-page-color) !important;
  border: none !important;
}
