/* fundamental content styles, e.g. plaintext pages. */

@namespace html url("http://www.w3.org/1999/xhtml");
@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

html|tt,
html|code,
html|kbd,
html|samp,
html|xmp,
html|pre,
html|plaintext,
html|listing,
html|textarea,
html|input:is([type="date"], [type="time"], [type="datetime-local"]) {
  font-family:
    Fira Code UC,
    Fira Code,
    SF Mono,
    -moz-fixed,
    monospace;
  font-weight: 300;
}

@media (prefers-color-scheme: dark) {
  ::selection {
    background-color: var(--uc-accent-i) !important; /* Closest approximation */
    color: var(--uc-light-color) !important; /* Closest approximation */
  }

  /* pdf viewer: selection, findbar highlights */
  .pdfViewer .textLayer .highlight {
    background-color: var(--uc-accent-i) !important; /* Closest approximation */
  }

  .pdfViewer .textLayer .highlight.selected {
    background-color: var(
      --uc-accent-i
    ) !important; /* Closest approximation - Consider a slightly darker shade */
  }

  .pdfViewer .textLayer ::selection {
    background-color: var(--uc-accent-i) !important; /* Closest approximation */
    color: revert !important;
  }

  /* optional dark mode for PDFs. to use, open the inspector
  and change class="pdfViewer" to class="pdfViewer invert" */
  .pdfViewer.invert {
    filter: invert(1) brightness(1.15) contrast(0.85);
  }
}

:read-only:focus:not(:focus-visible),
:not(
    textarea,
    [contenteditable]:read-write,
    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    input[type="week"]
  ):focus:not(:focus-visible) {
  outline: unset;
  outline-offset: unset;
}

@-moz-document plain-text-document() {
  :root {
    font-family:
      Fira Code UC,
      Fira Code,
      SF Mono,
      -moz-fixed,
      monospace;
    font-weight: 300;
  }

  xmp,
  pre,
  plaintext {
    font-family:
      Fira Code UC,
      Fira Code,
      SF Mono,
      -moz-fixed,
      monospace;
    font-weight: 300;
  }
}

@-moz-document plain-text-document(), media-document(all) {
  @media (prefers-color-scheme: dark) {
    :root {
      color: var(--uc-text) !important; /* Closest approximation */
      background-color: var(
        --uc-background-main
      ) !important; /* Closest approximation */
    }

    body:not([style*="background"], [class], [id]) {
      background-color: transparent !important;
    }

    ::selection {
      color: var(--uc-light-color) !important; /* Closest approximation */
      background-color: var(
        --uc-accent-i
      ) !important; /* Closest approximation */
    }
  }
}

.controlsContainer {
  --control-focus-outline: 2px solid var(--uc-accent-v) !important; /* Closest approximation */
}

#texttracks {
  font-family:
    SF Pro Text,
    SF Arabic,
    Segoe UI,
    sans-serif !important;
}
