.tab-icon-stack {
  -moz-box-flex: 1;
  justify-content: end;
}

#personal-bookmarks,
#PlacesToolbar,
#PlacesToolbarItems {
  -moz-box-pack: center !important;
}

#tabbrowser-arrowscrollbox {
  --uc-scrollbox-pack: center;
}
#tabbrowser-arrowscrollbox[overflowing] {
  --uc-scrollbox-pack: start;
}
scrollbox[orient="horizontal"] {
  -moz-box-pack: var(--uc-scrollbox-pack, initial) !important;
}

.tab-secondary-label {
  -moz-box-pack: center;
}
