.tab-label-container {
  display: grid;
  justify-content: safe center;
  align-items: safe center;
}

.tab-label,
.tab-secondary-label {
  overflow: hidden;
}

#personal-bookmarks,
#PlacesToolbar,
#PlacesToolbarItems {
  padding-left: 3px !important;
  margin-left: -1px !important;
}
