@-moz-document url("chrome://browser/content/browser.xul")
{
  #ESB_toolbar {
    background-color: #f0f0f0; /* Adjust as needed */
    border-top: 1px solid #ccc; /* Adjust as needed */
    padding: 2px 5px;
  }

  #esb-url-box {
    overflow: hidden;
  }

  #esb-url-label {
    margin: 0;
    padding: 0;
    color: #222; /* Adjust as needed */
    font-size: 12px; /* Adjust as needed */
    visibility: hidden; /* Initially hidden */
  }
  #ESB_toolbar toolbaritem {
    overflow: hidden;
  }
}
