@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

/* Hide all tabs (but not tab bar) when windowed. Preserves area for window controls (tested on macOS). */
/*#TabsToolbar { 
  visibility: collapse !important;
}*/

/* Hide the whole tab bar in fullscreen */
#TabsToolbar[inFullscreen] {
  visibility: collapse !important;
}

#nav-bar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/*#titlebar {margin-bottom: -20px !important;}*/
#tabbrowser-tabs {
  visibility: collapse !important;
}

#titlebar-buttonbox {
  position: relative !important;
  overflow-x: hidden !important;
  height: 10px !important;
  -moz-transition: all 0.2s ease-out 0.2s !important;
}

[privatebrowsingmode="temporary"] #TabsToolbar {
  visibility: collapse !important;
}
[privatebrowsingmode="temporary"] #titlebar-spacer {
  background-image: url("chrome://browser/skin/private-browsing.svg");
  background-repeat: no-repeat;
  background-position: right;
}
