/* --------------------------------------------------------------------------------

- this file positions the tabs panel (globally), works in conjunction with all-global-positioning.css
- https://github.com/soulhotel/FF-ULTIMA/blob/main/doc/spreadsheet-all-ultima-variables.md

[Index] (ctrl + f a line to find section)

(1. global layout)
position tabs globally
browser positioning
set position of container
tab scrollbox position
force consistent model
tab container height
individual tabs
pinned position
position the content inside of individual tabs
tab container extra buttons
adjustments 
Scrollbox Shadow
patch, hovering tab edges triggers a collapse
patch, tabs slide out of view when attempting to rearrange them

(2. dynamic layouts)
tabs autohide ~ setting
collapse the tabs panel - on full screen
hide tabs, except for private browsing ~ setting
vertical tabs on rightside ~ setting
tabs hidden ~ setting
tabs on top ~ setting

(0. account for each user set preference in each layout)
@media (-moz-bool-pref: "ultima.tabs.vertical")
@media (-moz-bool-pref: "ultima.tabs.autohide")
@media (-moz-bool-pref: "ultima.tabs.vertical.onlyinprivate")
@media (-moz-bool-pref: "ultima.tabs.vertical.rightside")
@media (-moz-bool-pref: "ultima.tabs.vertical.hide")
@media not (-moz-bool-pref: "ultima.tabs.vertical")

-------------------------------------------------------------------------------- */

/* position tabs globally ----------------------------------------------------------------------*/

@media (-moz-bool-pref: "ultima.tabs.vertical") {
  @media not all and (-moz-bool-pref: "ultima.tabs.vertical.hide") {
    /* set position of container */
    :root:not([customizing]) #tabbrowser-tabs {
      position: relative !important;
      /* height: var(--uc-tabbar-height) !important; */
      height: 300px !important;
      width: var(--uc-vertical-tabs-width);
      /* left: 0px; */
      contain: size !important;
      overflow: hidden !important;
      order: 0;
      border-radius: var(--uc-all-border-radius);
      border-inline-start: 0 !important;
      margin: 0 !important;
      padding-inline: 0 !important;
      margin-left: 2px !important;
    }
    /* tab scrollbox position */
    #tabbrowser-arrowscrollbox,
    #tabbrowser-arrowscrollbox .scrollbox-clip,
    #tabbrowser-arrowscrollbox scrollbox {
      width: var(--uc-vertical-tabs-width) !important;
    }
    /* force consistent model */
    :root:not([customizing]) #tabbrowser-arrowscrollbox {
      --uc-scrollbox-box-model: -webkit-box;
      --uc-scrollbox-height: 100vh;
      --uc-scrollbutton-display: none;
      --uc-scrollbox-overflow: auto;
    }
    #tabbrowser-tabs:is(haspinnedtabs="") scrollbox[orient="horizontal"],
    #tabbrowser-tabs[positionpinnedtabs] scrollbox[orient="horizontal"],
    scrollbox[orient="horizontal"] {
      display: var(--uc-scrollbox-box-model, flex);
      -webkit-box-orient: vertical !important;
      -moz-box-orient: vertical !important;
      height: 100%;
      overflow: var(--uc-scrollbox-overflow, initial) !important;
    }
    #tabbrowser-tabs:is(haspinnedtabs="") scrollbox[orient="horizontal"],
    #tabbrowser-tabs[positionpinnedtabs] scrollbox[orient="horizontal"] {
      display: var(--uc-scrollbox-box-model, flex);
      -webkit-box-orient: vertical !important;
      moz-box-orient: vertical !important;
      height: 100%;
      overflow: var(--uc-scrollbox-overflow, initial);
    }
    /* required to keep from scolling < > */
    #tabbrowser-arrowscrollbox,
    #tabbrowser-arrowscrollbox .scrollbox-clip {
      contain: inline-size !important;
      margin-left: -1px !important;
    }
    /* tabs container height */
    :root:has([collapsed="false"]) #TabsToolbar-customization-target {
      top: calc(var(--uc-bookbar-height) + var(--uc-navbar-height));
      height: var(--uc-tabbar-height-adjust) !important;
    }
    /* height in full screen mode */
    #main-window:is([inDOMFullscreen]) #TabsToolbar-customization-target {
      top: var(--uc-navbar-height) !important;
    }
    /* individual tabs */
    .tabbrowser-tab:not([pinned]),
    .tabbrowser-tab:is([pinned]) {
      min-width: calc(var(--uc-vertical-tabs-width)-1px) !important;
      width: calc(var(--uc-vertical-tabs-width)-1px) !important;
      padding: 0 2px !important;
      --tab-label-mask-size: 0.6em !important;
    }
    .tabbrowser-tab:not([pinned]) {
      max-width: calc(var(--uc-vertical-tabs-width)-1px) !important;
      min-width: calc(var(--uc-vertical-tabs-width)-1px) !important;
      transition:
        min-width 100ms ease-out,
        max-width 100ms ease-out;
    }
    /* pinned position */
    .tabbrowser-tab:is([pinned]),
    #tabbrowser-tabs[positionpinnedtabs]
      > #tabbrowser-arrowscrollbox
      > .tabbrowser-tab[pinned] {
      position: initial !important;
      flex-shrink: initial !important;
      margin-left: initial !important;
      margin: 0 !important;
      align-items: stretch !important;
      justify-content: flex-start !important;
      overflow: clip !important;
      overflow-clip-margin: 2px !important;
    }
    .tab-icon-stack:is([pinned]) {
      margin-right: 5.5px;
    }
    .tab-throbber,
    .tab-icon-pending,
    .tab-icon-image,
    .tab-sharing-icon-overlay,
    .tab-icon-overlay {
      &:not([pinned]) {
        margin-inline-end: 5.5px;
      }
    }
    .tab-label-container[textoverflow][labeldirection="ltr"]:not([pinned]),
    .tab-label-container[textoverflow]:not(
        [labeldirection],
        [pinned]
      ):-moz-locale-dir(ltr) {
      mask-image: linear-gradient(
        to left,
        transparent,
        black var(--tab-label-mask-size)
      );
      direction: ltr;
    }

    /* position the content inside of individual tabs */
    /* tab container for (favicon,url,closebutton) */
    .tab-stack {
      margin-inline: 0px !important;
    }
    .tab-background {
      border-radius: var(--tab-border-radius) !important;
      margin-block: var(--tab-block-margin) !important;
      min-height: var(--tab-min-height) !important;
    }
    .tab-content {
      padding: 0 10px !important;
      min-width: 0 !important;
    }
    .tab-content {
      :root:not([uidensity="compact"]) &[pinned] {
        padding: 0px;
      }
    }
    .tab-label-container {
      overflow: hidden;
    }
    .tab-label {
      margin-inline: 0;
      white-space: nowrap;
    }
    .tabbrowser-tab:not([labelendaligned], :hover)
      > .tab-stack
      > .tab-content
      > .tab-close-button {
      padding-inline-start: 0px !important;
      width: 16px !important;
      height: 16px !important;
    }
    /* close buttons disabled, but still positioned */
    #tabbrowser-tabs .tab-close-button {
      margin-inline-end: -3px !important;
      height: 16px !important;
      width: 16px !important;
      border-radius: var(--uc-button-border) !important;
      display: none !important;
      /*--removable--*/
    }
    #tabbrowser-tabs .close-icon {
      padding: 2px !important;
      border-radius: var(--uc-button-border) !important;
      display: none !important;
      /*--removable--*/
    }
    .tab-throbber,
    .tab-icon-pending,
    .tab-icon-image,
    .tab-sharing-icon-overlay,
    .tab-icon-overlay {
      height: 16px;
      width: 16px;
    }
    /* tab container extra buttons */
    #tabs-newtab-button,
    #tabs-newtab-button > .toolbarbutton-icon {
      background: none !important;
      border-radius: var(--tab-border-radius);
    }
    #tabbrowser-tabs[hasadjacentnewtabbutton] #tabs-newtab-button {
      display: flex !important;
      width: 100%;
      height: 50px;
    }
    #tabbrowser-tabs:hover #tabs-newtab-button {
      justify-content: center !important;
    }
    #tabs-newtab-button:active {
      background: rgba(0, 0, 0, 0.2) !important;
    }
    /*---------------------adjustments DO NOT TOUCH--------------------------*/
    /*--(dont touch) removal of inconsistent buttons, and adjustments--*/
    #scrollbutton-up,
    #scrollbutton-down {
      display: var(--uc-scrollbutton-display, initial);
    }
    #titlebar {
      will-change: none !important;
      transition: none !important;
      opacity: 1 !important;
      z-index: 1 !important;
    }
    #tabbrowser-arrowscrollbox {
      &:not([scrolledtostart])::part(overflow-start-indicator) {
        margin-inline: -2 !important;
        opacity: 0 !important;
      }
    }
    #tabbrowser-arrowscrollbox {
      &[scrolledtostart]::part(overflow-start-indicator),
      &[scrolledtoend]::part(overflow-end-indicator) {
        opacity: 1;
      }
    }
    .tabbrowser-tab:not([pinned], [fadein]) {
      max-width: 0.1px;
      min-width: 0.1px;
      visibility: initial;
      opacity: 1;
    }
    .tabbrowser-tab:not([pinned]) {
      flex: 100 100;
    }
    .tabbrowser-tab,
    .tabbrowser-tab:not([pinned]),
    .tabbrowser-tab:is([pinned]) {
      padding: 0 2px !important;
      flex-shrink: 0;
      --tab-label-mask-size: 2em;
    }
    #tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
      > #tabbrowser-arrowscrollbox
      > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
      margin-inline-start: 0px !important;
    }
    #tabbrowser-tabs[hasadjacentnewtabbutton]:not([overflow]) ~ #new-tab-button,
    #tabbrowser-tabs[overflow]
      > #tabbrowser-arrowscrollbox
      > #tabbrowser-arrowscrollbox-periphery
      > #tabs-newtab-button,
    #tabbrowser-tabs:not([hasadjacentnewtabbutton])
      > #tabbrowser-arrowscrollbox
      > #tabbrowser-arrowscrollbox-periphery
      > #tabs-newtab-button,
    #TabsToolbar[customizing="true"] #tabs-newtab-button {
      display: flex !important;
      justify-content: left;
      pointer-events: none !important;
    }
    #new-tab-button {
      background: transparent !important;
      opacity: 0 !important;
      left: 5px;
      position: absolute;
      display: none !important;
    }
    /* this button is a pain */
    #alltabs-button {
      display: none;
    }
    /* make sure closed tabs update the scrollbox */
    .tabbrowser-tab:not([pinned], [fadein]) {
      max-width: 0.1px !important;
      min-width: 0.1px !important;
      visibility: collapse !important;
    }
    /* to prevent tabs from triggering autohide events at tab sensitive edges */
    .tabbrowser-tab {
      margin-bottom: -2.4px !important;
    }
    /* patch, tabs slide out of view when attempting to rearrange them */
    .tabbrowser-tab[style*="transform"] {
      transform: translateX(0px) !important;
      transform: translateY(0px) !important;
    }
    /*----------------------END OF ADJUSTMENTS------------------------*/

    /*------------------Scrollbox Shadow------------------------------*/

    /* Source code for shadow inspired by */
    /* https://css-tricks.com/books/greatest-css-tricks/scroll-shadows/ */

    @media (prefers-color-scheme: dark) {
      #main-window:not([lwtheme="true"])
        .scrollbox-clip
        scrollbox[smoothscroll="true"] {
        background:
                    /* Shadow Cover TOP */
                    /* TODO: Need to be changed to variable */
          linear-gradient(#23232a 30%, rgba(255, 255, 255, 0)) center top,
          /* Shadow Cover BOTTOM */
            linear-gradient(
              var(--uc-background-secondary),
              var(--uc-background-secondary) 70%
            )
            center bottom,
          /* Shadow TOP */
            /* TODO: Change to variable indicating scrollable area */
            radial-gradient(farthest-side at 50% 0, black, rgba(0, 0, 0, 0))
            center top,
          /* Shadow BOTTOM */
            radial-gradient(farthest-side at 50% 100%, black, rgba(0, 0, 0, 0))
            center bottom;

        background-repeat: no-repeat;
        background-size:
          100% 40px,
          100% 40px,
          100% 14px,
          100% 14px;
        background-attachment: local, local, scroll, scroll;
      }
    }
    @media (prefers-color-scheme: light) {
      #main-window:not([lwtheme="true"])
        .scrollbox-clip
        scrollbox[smoothscroll="true"] {
        background:
                    /* Shadow Cover TOP */
                    /* TODO: Need to be changed to variable */
          linear-gradient(#b7b7da 30%, rgba(0, 0, 0, 0)) center top,
          /* Shadow Cover BOTTOM */
            linear-gradient(
              var(--uc-background-secondary),
              var(--uc-background-secondary) 70%
            )
            center bottom,
          /* Shadow TOP */
            /* TODO: Change to variable indicating scrollable area */
            radial-gradient(
              farthest-side at 50% 0,
              rgb(162, 153, 182),
              rgba(255, 255, 255, 0)
            )
            center top,
          /* Shadow BOTTOM */
            radial-gradient(
              farthest-side at 50% 100%,
              rgb(162, 153, 182),
              rgba(255, 255, 255, 0)
            )
            center bottom;

        background-repeat: no-repeat;
        background-size:
          100% 40px,
          100% 40px,
          100% 14px,
          100% 14px;
        background-attachment: local, local, scroll, scroll;
      }
    }
  }
}

/*tabs autohide ~ setting ----------------------------------------------------------------------*/

/*
ultima.tabs.autohide
hide/show tabs on hover
*/

@media (-moz-bool-pref: "ultima.tabs.vertical") {
  /* when disabled */
  @media not (-moz-bool-pref: "ultima.tabs.autohide") {
    :root,
    body,
    * {
      --uc-all-margins: 0px 6px 6px
        calc(
          var(--uc-vertical-tabs-width) + var(--uc-margin-inline) +
            var(--uc-margin-inline)
        ) !important;
    }
    #browser {
      margin: var(--uc-all-margins) !important;
      /*refresh*/
    }
  }

  /* when disabled and rightside tabs enabled */
  @media not (-moz-bool-pref: "ultima.tabs.autohide") {
    @media (-moz-bool-pref: "ultima.tabs.vertical.rightside") {
      :root,
      body,
      * {
        --uc-all-margins: 0px
          calc(
            var(--uc-vertical-tabs-width) + var(--uc-margin-inline) +
              var(--uc-margin-inline)
          )
          6px 6px !important;
      }
      #browser {
        margin: var(--uc-all-margins) !important;
        /*refresh*/
      }
    }
  }

  /* when disabled and squared setting enabled */
  @media not (-moz-bool-pref: "ultima.tabs.autohide") {
    @media (-moz-bool-pref: "ultima.xstyle.squared"),
      (-moz-bool-pref: "ultima.xstyle.squished") {
      :root,
      body,
      * {
        --uc-all-margins: 0px 0px 0px
          calc(
            var(--uc-vertical-tabs-width) + var(--uc-margin-inline) +
              var(--uc-margin-inline)
          ) !important;
      }
      #browser {
        margin: var(--uc-all-margins) !important;
        /*refresh*/
      }
    }
  }

  /*autohide default */
  @media (-moz-bool-pref: "ultima.tabs.autohide") {
    @media not (-moz-bool-pref: "ultima.tabs.vertical.rightside") {
      /* autohide tabs based on predefined variables (all-global-positioning.css) */
      :root:not([customizing])
        #TabsToolbar-customization-target:not(hover)
        #tabbrowser-tabs {
        width: var(--uc-collapsed-tabs-width) !important;
      }
      :root:not([customizing])
        #TabsToolbar-customization-target:hover
        #tabbrowser-tabs {
        width: var(--uc-vertical-tabs-width-revert) !important;
      }

      /* browser content positioning */
      :root,
      body,
      * {
        --uc-all-margins: 0px 6px 6px
          calc(
            var(--uc-collapsed-tabs-width) + var(--uc-margin-inline) +
              var(--uc-margin-inline)
          ) !important;
      }
      #browser {
        margin: var(--uc-all-margins) !important;
        /*refresh*/
      }

      /* adjustment for xstyle.squared preference */
      @media (-moz-bool-pref: "ultima.xstyle.squared"),
        (-moz-bool-pref: "ultima.xstyle.squished") {
        :root,
        body,
        * {
          --uc-all-margins: 0px 0px 0px
            calc(
              var(--uc-collapsed-tabs-width) + var(--uc-margin-inline) +
                var(--uc-margin-inline)
            ) !important;
        }
        #browser {
          margin: var(--uc-all-margins) !important;
          /*refresh*/
        }
        @media (-moz-bool-pref: "ultima.tabs.vertical.onlyprivate") {
          :root:not(
              [privatebrowsingmode="temporary"],
              [windowtype="Toolkit:PictureInPicture"]
            )
            #browser {
            --uc-all-margins: 0px 0px 0px 0px !important;
            /*refresh*/
          }
          :root:not(
              [privatebrowsingmode="temporary"],
              [windowtype="Toolkit:PictureInPicture"]
            )
            #browser:has([positionend="true"]) {
            --uc-all-margins: 0px 0px 0px 0px !important;
            /*refresh*/
          }
          :root:not([sizemode="fullscreen"]) #browser {
            --uc-all-margins: 0px 0px 0px 0px !important;
          }
        }
        @media (-moz-bool-pref: "ultima.tabs.vertical.hide") {
          #browser:has([positionend="true"]) {
            --uc-all-margins: 0px 0px 0px 0px !important;
            /*refresh*/
          }
          #browser {
            --uc-all-margins: 0px 0px 0px 0px !important;
          }
        }
      }
    }
  }

  /*autohide with rightside */
  @media (-moz-bool-pref: "ultima.tabs.autohide") {
    @media (-moz-bool-pref: "ultima.tabs.vertical.rightside") {
      /* autohide tabs based on predefined variables (all-global-positioning.css) */
      :root:not([customizing])
        #TabsToolbar-customization-target:not(hover)
        #tabbrowser-tabs {
        width: var(--uc-collapsed-tabs-width) !important;
      }
      :root:not([customizing])
        #TabsToolbar-customization-target:hover
        #tabbrowser-tabs {
        width: var(--uc-vertical-tabs-width-revert) !important;
      }

      /* browser content positioning */
      :root,
      body,
      * {
        --uc-all-margins: 0px
          calc(
            var(--uc-collapsed-tabs-width) + var(--uc-margin-inline) +
              var(--uc-margin-inline)
          )
          6px 6px !important;
      }
      #browser {
        margin: var(--uc-all-margins) !important;
        /*refresh*/
      }

      /* adjustment for xstyle.squared preference */
      @media (-moz-bool-pref: "ultima.xstyle.squared"),
        (-moz-bool-pref: "ultima.xstyle.squished") {
        :root,
        body,
        * {
          --uc-all-margins: 0px
            calc(
              var(--uc-collapsed-tabs-width) + var(--uc-margin-inline) +
                var(--uc-margin-inline)
            )
            0px 0px !important;
        }
        #browser {
          --uc-all-margins: 0px
            calc(
              var(--uc-collapsed-tabs-width) + var(--uc-margin-inline) +
                var(--uc-margin-inline)
            )
            0px 0px !important;
          margin: var(--uc-all-margins) !important;
          /*refresh*/
        }
        #TabsToolbar-customization-target {
          right: 0px !important;
        }
      }
    }
  }

  /* background and visibility */
  #navigator-toolbox {
    z-index: 2 !important;
  }
  @media (prefers-color-scheme: dark) {
    #tabbrowser-arrowscrollbox {
      background: var(--uc-background-secondary) !important;
    }
    #main-window[lwtheme="true"] #tabbrowser-arrowscrollbox {
      background: var(--uc-tabs-lwt) !important;
    }
  }
  @media (prefers-color-scheme: light) {
    #tabbrowser-arrowscrollbox {
      background: var(--uc-background-secondary) !important;
    }
    #main-window[lwtheme="true"] #tabbrowser-arrowscrollbox {
      background: var(--uc-tabs-lwt) !important;
    }
  }

  /* Userchrome-toggler extension support */
  /* @Kaedriz - https://github.com/soulhotel/FF-ULTIMA/tree/userchrome-toggler */
  :root[titlepreface="᠎"] {
    & #browser {
      --uc-vertical-tabs-width: 250px !important;
      --uc-vertical-tabs-width-revert: 250px !important;
      margin-left: var(--uc-vertical-tabs-width) !important;
    }
    & #tabbrowser-tabs {
      --uc-vertical-tabs-width: 250px !important;
      --uc-vertical-tabs-width-revert: 250px !important;
    }
  }
}

/* collapse the tabs panel - on full screen ------------------------------------------------------*/

/*
when in fullscreen mode (F11), reposition tabs and remove rounded borders
*/

@media not (-moz-bool-pref: "ultima.tabs.vertical") {
  #main-window[sizemode="fullscreen"] #browser,
  #main-window[sizemode="fullscreen"] #browser * {
    --uc-all-margins: 0px 0.2px 0px 0.2px !important;
    --uc-all-border-radius: 0px !important;
  }
}

@media (-moz-bool-pref: "ultima.tabs.vertical") {
  /* collapse the tabs panel - on full screen */
  #main-window[sizemode="fullscreen"] {
    --uc-vertical-tabs-width: var(--uc-collapsed-tabs-width) !important;

    @media (-moz-bool-pref: "ultima.tabs.vertical.rightside") {
      @media not (-moz-platform: macos) {
        .titlebar-buttonbox {
          display: none !important;
          z-index: 0 !important;
        }
        #nav-bar {
          margin-right: 0px !important;
        }
      }
    }
    & #browser *,
    & #browser {
      --uc-all-border-radius: 0px !important;
    }
    & #sidebar-switcher-target {
      border-radius: 10px !important;
    }
    /* shame. doesnt work well.
        & #TabsToolbar-customization-target:not(:hover) {
            left: -30px !important;
        }
        */
    @media not (-moz-bool-pref: "ultima.tabs.vertical.rightside") {
      & #TabsToolbar-customization-target:not(:hover) {
        left: -40px !important;
        opacity: 0;
      }
      & #TabsToolbar-customization-target:hover {
        left: -6px !important;
      }
      & * {
        --uc-all-margins: 0px 0px 0px 0px !important;
      }
    }
    @media (-moz-bool-pref: "ultima.tabs.vertical.rightside") {
      & #TabsToolbar-customization-target:not(:hover) {
        right: -40px !important;
        opacity: 0;
      }
      & #TabsToolbar-customization-target:hover {
        right: 0px !important;
      }
      & * {
        --uc-all-margins: 0px 0.2px 0px 0px !important;
      }
    }
  }
  #tabbrowser-tabs {
    transition: width 80ms linear 70ms !important;
    will-change: width !important;
  }
  #main-window[sizemode="fullscreen"] #browser {
    transition: margin-left 80ms linear 150ms !important;
    will-change: margin-left !important;
  }
  #main-window[sizemode="fullscreen"] #tabbrowser-tabs,
  #main-window[sizemode="fullscreen"] #browser {
    transition-delay: 0ms !important;
  }

  /* full screen tabs panel height correction */
  @media not (-moz-bool-pref: "ultima.tabs.vertical.hide") {
    #main-window[sizemode="fullscreen"] #TabsToolbar-customization-target {
      @media (-moz-bool-pref: "ultima.xstyle.squared"),
        (-moz-bool-pref: "ultima.xstyle.squished") {
        left: -2px;
      }
    }
  }

  /* collapse tabs on small browser width */
  @media (max-width: 850px) {
    #main-window {
      --uc-vertical-tabs-width: var(--uc-collapsed-tabs-width) !important;
    }
    #tabbrowser-tabs {
      transition: width 80ms linear 70ms !important;
      will-change: width !important;
    }
    @media not (-moz-bool-pref: "ultima.tabs.vertical.rightside") {
      #main-window[sizemode="fullscreen"] #browser {
        transition: margin-left 80ms linear 150ms !important;
        will-change: margin-left !important;
      }
    }
    @media (-moz-bool-pref: "ultima.tabs.vertical.rightside") {
      #main-window[sizemode="fullscreen"] #browser {
        transition: margin-right 80ms linear 150ms !important;
        will-change: margin-right !important;
      }
    }
    #tabbrowser-tabs,
    #browser {
      transition-delay: 0ms !important;
    }
    #tabbrowser-tabs .tab-close-button,
    #tabbrowser-tabs .close-icon {
      padding: 0px !important;
      display: none !important;
      margin-inline-end: -3px !important;
    }
  }
}

/* hide tabs, except for private browsing ~ setting ----------------------------------------------*/

/* 
tabs.vertical.onlyprivate
hide vertical tabs ~ except for private windows
*/

@media (-moz-bool-pref: "ultima.tabs.vertical") {
  @media (-moz-bool-pref: "ultima.tabs.vertical.onlyprivate") {
    /* adjust spacing, margins for everything */
    :root:not([privatebrowsingmode="temporary"]):not(
        [customizing],
        [chromehidden~="menubar"]
      ) {
      --uc-vertical-tabs-width: 0px;
      --uc-vertical-tabs-width-revert: 0px;
      --uc-navbar-height: 40px;
      --uc-collapsed-tabs-width: 0px;
    }
    :root:not(
        [privatebrowsingmode="temporary"],
        [windowtype="Toolkit:PictureInPicture"]
      )
      * {
      --uc-all-margins: 0px 6px 6px 6px !important;
    }
    @media (-moz-bool-pref: "ultima.tabs.vertical.rightside") {
      :root:not(
          [privatebrowsingmode="temporary"],
          [windowtype="Toolkit:PictureInPicture"]
        )
        * {
        --uc-all-margins: 0px 6px 6px 6px;
      }
    }
    /* POOF! tabs gone */
    #main-window:not([customizing="true"], [privatebrowsingmode="temporary"])
      #TabsToolbar-customization-target {
      visibility: collapse !important;
    }
  }
}

/* vertical tabs on rightside ~ setting --------------------------------------------------------------------*/

/*
ultima.tabs.vertical.rightside
*/

@media (-moz-bool-pref: "ultima.tabs.vertical") {
  @media (-moz-bool-pref: "ultima.tabs.vertical.rightside") {
    :root,
    body,
    * {
      --uc-tabbar-height: calc(
        100vh - var(--uc-navbar-height) - var(--uc-margin-top) -
          var(--uc-margin-bottom)
      );
      --uc-tabbar-height-adjust: calc(
        100vh - var(--uc-bookbar-height) - var(--uc-navbar-height) -
          var(--uc-margin-top) - var(--uc-margin-bottom)
      );
      --uc-all-margins: 0px
        calc(
          var(--uc-vertical-tabs-width) + var(--uc-margin-inline) +
            var(--uc-margin-inline)
        )
        6px 6px;
      --uc-tab-margins: 0px 0px 7px 0px;
    }
    @media (-moz-bool-pref: "ultima.xstyle.squared"),
      (-moz-bool-pref: "ultima.xstyle.squished") {
      :root,
      body,
      * {
        --uc-all-margins: 0px
          calc(
            var(--uc-vertical-tabs-width) + var(--uc-margin-inline) +
              var(--uc-margin-inline)
          )
          0px 0px !important;
      }
      #TabsToolbar-customization-target {
        right: 0px !important;
      }
    }
  }
}

/*tabs hidden ~ setting ------------------------------------------------------------------------*/

@media (-moz-bool-pref: "ultima.tabs.vertical") {
  @media (-moz-bool-pref: "ultima.tabs.vertical.hide") {
    /* adjust positioning for everything */
    :root:not([customizing], [chromehidden~="menubar"]) {
      --uc-vertical-tabs-width: 0px;
      --uc-vertical-tabs-width-revert: 0px;
      --uc-navbar-height: 40px;
      --uc-collapsed-tabs-width: 0px;
    }
    :root,
    body,
    * {
      --uc-all-margins: 0px 6px 6px 6px !important;
      --uc-tab-margins: 0px !important;
      --uc-sb-margin-leftside: 0px 6px 0px 0px;
      --uc-sb-margin-rightside: 0px 0px 0px 6px;
      #browser {
        margin: var(--uc-all-margins) !important;
        /*refresh*/
      }
    }

    /* adjust browser content margins for no tabs */
    #tab-notification-deck,
    .global-notificationbox {
      margin: calc(
        var(--uc-collapsed-tabs-width) + var(--uc-margin-inline)
      ) !important;
      width: auto !important;
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    }

    /* POOF! tabs gone */
    #main-window:not([customizing="true"]) #TabsToolbar-customization-target {
      visibility: collapse !important;
    }
    @media (-moz-bool-pref: "ultima.xstyle.squared"),
      (-moz-bool-pref: "ultima.xstyle.squished") {
      :root,
      body,
      * {
        --uc-all-margins: 0px !important;
        --uc-tab-margins: 0px !important;
        --uc-sb-margin-leftside: 0px;
        --uc-sb-margin-rightside: 0px;
        & #browser {
          margin: var(--uc-all-margins) !important;
          /*refresh*/
        }
      }
    }
  }
}

/* tabs on top ~ setting -----------------------------------------------------------------------------------*/

@media not (-moz-bool-pref: "ultima.tabs.vertical") {
  /* baseline */
  :root,
  body,
  * {
    --uc-all-margins: 0 6px 6px 6px !important;
    --tab-min-height: 33px;
    --tab-min-width: initial !important;
    --tab-overflow-pinned-tabs-width: initial !important;
    --inline-tab-padding: 10px;
    --tab-block-margin: 2px;
  }
  @media (-moz-bool-pref: "ultima.xstyle.squared"),
    (-moz-bool-pref: "ultima.xstyle.squished") {
    :root,
    body,
    * {
      --uc-all-margins: 0 !important;
    }
  }
  #browser {
    margin: var(--uc-all-margins);
  }

  /* browser adjustments */
  #navigator-toolbox,
  #main-window:not([lwtheme]),
  #main-window:not([lwtheme]) body,
  #tabbrowser-tabpanels browser[type] {
    background-color: var(--uc-ultima-window) !important;
  }
  #tabbrowser-tabpanels browser[type] {
    padding-top: 1px !important;
    outline: 3px solid var(--uc-ultima-window) !important;
  }
  #main-window[lwtheme] #tabbrowser-tabpanels browser[type] {
    padding-top: 1px !important;
    outline: 3px solid var(--lwt-accent-color) !important;
  }
  #navigator-toolbox {
    z-index: 9999 !important;
    border-bottom: 0px solid rgba(0, 0, 0, 0) !important;
  }
  #browser,
  #appcontent,
  .browserStack,
  #tabbrowser-tabbox,
  #tabbrowser-tabpanels,
  .browserSidebarContainer {
    border-radius: 0 !important;
  }
  #titlebar {
    margin-inline: 6.5px !important;
  }

  /* menu bar */
  #toolbar-menubar[autohide="false"],
  #toolbar-menubar[autohide="true"]:not([inactive="true"]) {
    z-index: 999 !important;
    position: fixed;
    left: calc(50vw - 500px) !important;
    top: 3px !important;
    min-height: 38px !important;
    min-width: 700px !important;
    & #menubar-items {
      min-width: 1000px !important;
    }
  }

  /* tabs container adjustments */
  #main-window[lwtheme] #TabsToolbar-customization-target,
  #main-window:not([lwtheme]) #TabsToolbar-customization-target {
    background: transparent !important;
    box-shadow: none !important;
  }
  #main-window[lwtheme] #TabsToolbar-customization-target {
    background: transparent !important;
  }

  /* tabs (style) */
  #main-window:not([lwtheme]) .tabbrowser-tab[pinned] .tab-background,
  #main-window:not([lwtheme]) .tabbrowser-tab[selected] .tab-background {
    background-color: var(--uc-background-secondary) !important;
    box-shadow: 0.1rem 0.4rem 0.4rem -0.1rem rgba(25, 25, 25, 0.7) !important;
  }

  /* bookmarks style */
  /* toolbarbuttons */
  /* navbar */
  /* insert more styles for the tabs on top layout here ⬆️ */
}

:root {
  /* delay before expanding tabs, set to '0' for no delay */
  --delay: 0.1s;
  --transition-time: 0.2s;
  --positionX1: 48px; /* '48px' for left, '0px' for right sidebar */
  --positionX2: absolute; /* 'absolute' for left, 'none' for right sidebar */
  /* width of the collapsed sidebar in fullscreen mode ('1px' or '48px') */
  --fullscreen-sidebar-width: 1px;
}

/* macOS specific styles */
@media (-moz-platform: macos) {
  #TabsToolbar:not([customizing="true"]) {
    visibility: collapse !important;
  }

  :root:not([customizing="true"]) #nav-bar:not([inFullscreen]) {
    padding-left: 80px !important;
  }

  :root:not([customizing="true"]) #TabsToolbar .titlebar-buttonbox-container {
    visibility: visible !important;
    position: absolute;
    top: 12px;
    left: 0px;
    display: block;
  }
}

/* Linux/GTK specific styles */
@media (-moz-gtk-csd-available), (-moz-platform: linux) {
  /* .browser-toolbar:not(.titlebar-color){ /* Fixes wrong coloring applied with --toolbar-bgcolor by Firefox (#101) */
  /* background-color: transparent !important;
        box-shadow: none !important;
    } */

  #TabsToolbar:not([customizing="true"]) {
    visibility: collapse !important;
  }

  #toolbar-menubar {
    padding-top: 0px !important;
  }

  /* Fixes issue in FF 123 where minimize, close, and maximize buttons no longer work. */
  :root[tabsintitlebar] #titlebar {
    will-change: auto !important;
  }

  :root:not([customizing="true"])
    #toolbar-menubar[inactive]
    + #TabsToolbar
    .titlebar-buttonbox-container {
    visibility: visible !important;
    position: absolute;
    top: var(--uc-win-ctrl-vertical-offset);
    display: block;
    z-index: 101;
  }

  /* enable rounded top corners */
  :root[tabsintitlebar][sizemode="normal"]:not([gtktiledwindow="true"]):not(
      [customizing="true"]
    )
    #nav-bar {
    border-top-left-radius: env(-moz-gtk-csd-titlebar-radius);
    border-top-right-radius: env(-moz-gtk-csd-titlebar-radius);
  }

  /* window control padding values (these don't change the size of the actual buttons, only the padding for the navbar) */
  :root[tabsintitlebar]:not([customizing="true"]) {
    /* default button/padding size based on adw-gtk3 theme */
    --uc-win-ctrl-btn-width: 38px;
    --uc-win-ctrl-padding: 12px;
    /* vertical offset from the top of the window, calculation: (1/2 * (NAVBAR_HEIGHT - BUTTON_HEIGHT)) */
    --uc-win-ctrl-vertical-offset: 8px;
    /* extra window drag space */
    --uc-win-ctrl-drag-space: 20px;
  }

  :root[tabsintitlebar][lwtheme]:not([customizing="true"]) {
    /* seperate values for when using a theme, based on the Firefox defaults */
    --uc-win-ctrl-btn-width: 30px;
    --uc-win-ctrl-padding: 12px;
    /* vertical offset from the top of the window, calculation: (1/2 * (NAVBAR_HEIGHT - BUTTON_HEIGHT)) */
    --uc-win-ctrl-vertical-offset: 5px;
    /* extra window drag space */
    --uc-win-ctrl-drag-space: 20px;
  }

  /* setting the padding value for all button combinations */
  @media (-moz-gtk-csd-minimize-button),
    (-moz-gtk-csd-maximize-button),
    (-moz-gtk-csd-close-button) {
    #nav-bar {
      --uc-navbar-padding: calc(var(--uc-win-ctrl-btn-width) * 1);
    }
  }

  @media (-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-maximize-button),
    (-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-close-button),
    (-moz-gtk-csd-maximize-button) and (-moz-gtk-csd-close-button) {
    #nav-bar {
      --uc-navbar-padding: calc(var(--uc-win-ctrl-btn-width) * 2);
    }
  }

  @media (-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-maximize-button) and (-moz-gtk-csd-close-button) {
    #nav-bar {
      --uc-navbar-padding: calc(var(--uc-win-ctrl-btn-width) * 3);
    }
  }

  /* only applies padding/positioning if there is 1 or more buttons */
  @media (-moz-gtk-csd-minimize-button),
    (-moz-gtk-csd-maximize-button),
    (-moz-gtk-csd-close-button) {
    /* window controls on the right */
    @media not (-moz-gtk-csd-reversed-placement) {
      #nav-bar {
        padding-inline: 0
          calc(
            var(--uc-navbar-padding, 0) + var(--uc-win-ctrl-padding) +
              var(--uc-win-ctrl-drag-space)
          ) !important;
      }

      .titlebar-buttonbox-container {
        right: 0;
      }
    }

    /* window controls on the left */
    @media (-moz-gtk-csd-reversed-placement) {
      #nav-bar {
        padding-inline: calc(
            var(--uc-navbar-padding, 0) + var(--uc-win-ctrl-padding) +
              var(--uc-win-ctrl-drag-space)
          )
          0 !important;
      }

      .titlebar-buttonbox-container {
        left: 0;
      }
    }
  }

  /* Hide window buttons in fullscreen */
  #navigator-toolbox[style*="margin-top: -"] .titlebar-buttonbox-container,
  [inDOMFullscreen="true"] .titlebar-buttonbox-container {
    transform: translateY(-100px);
  }
}

/* Windows specific styles */
@media (-moz-platform: windows), (-moz-platform: windows-win10) {
  /* Hide main tabs toolbar */
  :root[tabsintitlebar] {
    --uc-window-control-width: 137px; /* Space at the right of nav-bar for window controls */
    /* --uc-window-drag-space-width: 24px; */ /* To add extra window drag space in nav-bar */
  }

  #nav-bar {
    border-inline: var(--uc-window-drag-space-width, 80px) solid
      var(--toolbar-bgcolor);
    border-inline-style: solid !important;
    border-right-width: calc(
      var(--uc-window-control-width, 0px) +
        var(--uc-window-drag-space-width, 0px)
    );

    padding-top: 0.5px !important; /* This makes it possible to drag the maximized window. */
    margin-left: -80px; /* Removes the space left when hiding .titlebar-buttonbox-container */
  }

  #back-button {
    margin-top: -0.5px !important;
  }

  #forward-button {
    margin-top: -0.5px !important;
  }

  #reload-button {
    margin-top: -0.5px !important;
  }

  #PanelUI-button {
    margin-top: -0.5px !important;
  }

  #nav-bar-overflow-button {
    margin-top: -0.5px !important;
  }

  :root {
    --uc-toolbar-height: 32px;
    --chrome-content-separator-color: none !important;
  }

  :root:not([uidensity="compact"]) {
    --uc-toolbar-height: 38px;
  }

  #TabsToolbar {
    visibility: collapse !important;
  }

  /* Hide the Windows controls on the left side. */
  #TabsToolbar .titlebar-buttonbox-container {
    visibility: hidden !important;
  }
  /* Line up the Windows controls with the rest of the icons in the toolbar. */
  :root:not([sizemode="maximized"]) .titlebar-buttonbox-container {
    margin-top: 3px;
  }

  :root:not([inFullscreen]) #nav-bar {
    margin-top: calc(0px - var(--uc-toolbar-height));
    z-index: 2;
  }

  #toolbar-menubar {
    min-height: unset !important;
    height: var(--uc-toolbar-height) !important;
    position: relative;
  }

  /* For a rounded button design, uncomment both lines in .titlebar-buttonbox. */
  .titlebar-buttonbox {
    z-index: 3 !important;
    /* padding-right:3px; */
  }

  .titlebar-buttonbox * {
    /* border-radius: 5px; */
    width: 35px;
    height: 38px;
    pointer-events: auto;
  }

  #titlebar {
    z-index: 3;
    pointer-events: none;
  }

  #main-menubar {
    -moz-box-flex: 1;
    background-color: var(--toolbar-bgcolor, --toolbar-non-lwt-bgcolor);
    background-clip: padding-box;
    border-right: 30px solid transparent;
    border-image: linear-gradient(
        to left,
        transparent,
        var(--toolbar-bgcolor, --toolbar-non-lwt-bgcolor) 30px
      )
      20 / 30px;
  }

  #toolbar-menubar:not([inactive]) {
    z-index: 2;
  }

  #toolbar-menubar[inactive] > #menubar-items {
    opacity: 0;
    pointer-events: none;
    margin-left: var(--uc-window-drag-space-width, 0px);
  }

  :root[inFullscreen] #nav-bar {
    border-right: none !important;
  }
}

/* General styles */
#browser {
  position: relative;
}

#nav-bar,
#urlbar {
  z-index: 100;
}

#sidebar-box:not([lwt-sidebar]) {
  appearance: unset !important;
}

#sidebar-box[sidebarcommand*="tabcenter"] {
  z-index: 1;
}

#sidebar-box[sidebarcommand*="tabcenter"] #sidebar-header {
  visibility: collapse;
  display: none;
}

#main-window:not([chromehidden~="toolbar"])
  [sidebarcommand*="tabcenter"]
  #sidebar,
#main-window:not([chromehidden~="toolbar"])
  #sidebar-box[sidebarcommand*="tabcenter"]:not([hidden="true"]) {
  display: block !important;
  min-width: 48px !important;
  max-width: 48px !important;
  width: 48px;
}

#main-window:not([chromehidden~="toolbar"])
  #sidebar-box[sidebarcommand*="tabcenter"]:not([hidden]) {
  display: block;
  position: var(--positionX2);
  min-width: 48px;
  max-width: 48px;
  overflow: hidden;
  border-right: 1px solid var(--sidebar-border-color);
  z-index: 1;
  top: 0;
  bottom: 0;
}

#main-window[inFullscreen]:not([chromehidden~="toolbar"])
  #sidebar-box[sidebarcommand*="tabcenter"]:not([hidden]):not(:hover) {
  min-width: var(--fullscreen-sidebar-width) !important;
  max-width: var(--fullscreen-sidebar-width) !important;
}

#main-window:not([chromehidden~="toolbar"])
  #sidebar-box[sidebarcommand*="tabcenter"]:hover
  #sidebar,
#main-window:not([chromehidden~="toolbar"])
  #sidebar-box[sidebarcommand*="tabcenter"]:hover {
  min-width: 10vw !important;
  width: 30vw !important;
  max-width: 200px !important;
  z-index: 1 !important;
  transition: all var(--transition-time) ease var(--delay);
}

/* used for delay function */
#sidebar-box[sidebarcommand*="tabcenter"]:not(:hover) #sidebar,
#sidebar-box[sidebarcommand*="tabcenter"]:not(:hover) {
  transition: all var(--transition-time) ease 0s;
}

@media (width >= 1200px) {
  #main-window:not([chromehidden~="toolbar"])
    #sidebar-box[sidebarcommand*="tabcenter"]:hover
    #sidebar,
  #main-window:not([chromehidden~="toolbar"])
    #sidebar-box[sidebarcommand*="tabcenter"]:hover {
    max-width: 250px !important;
  }
}

[sidebarcommand*="tabcenter"] ~ #sidebar-splitter {
  display: none;
}

[sidebarcommand*="tabcenter"] #sidebar {
  max-height: 100%;
  height: 100%;
}

#main-window:not([inFullscreen]):not([chromehidden~="toolbar"])
  #sidebar-box[sidebarcommand*="tabcenter"]:not([hidden])
  ~ #appcontent {
  margin-left: var(--positionX1);
}

#main-window[inFullscreen]:not([inDOMFullscreen]):not([chromehidden~="toolbar"])
  #sidebar-box[sidebarcommand*="tabcenter"]:not([hidden])
  ~ #appcontent {
  margin-left: var(--fullscreen-sidebar-width);
}

#main-window[inFullscreen] #sidebar {
  height: 100vh;
}

[sidebarcommand*="tabcenter"] #sidebar-header {
  background: #0c0c0d;
  border-bottom: none !important;
}

[sidebarcommand*="tabcenter"] ~ #sidebar-splitter {
  border-right-color: #0c0c0d !important;
  border-left-color: #0c0c0d !important;
}

[sidebarcommand*="tabcenter"] #sidebar-switcher-target,
[sidebarcommand*="tabcenter"] #sidebar-close {
  filter: invert(100%);
}

@media (max-width: 630px) {
  #urlbar-container {
    min-width: 100% !important;
  }

  #menubar-items {
    display: none !important;
  }
}

/* Up the z-index of the top bar so that the bookmarks toolbar is above the sidebar. */
#navigator-toolbox {
  z-index: 2 !important;
}
