#nav-bar {
    display: flex;
    justify-content: center;
}

#urlbar-container {
    flex: 1;
    max-width: 1000px;
    min-width: 200px;
    margin: auto !important;
}

#main-window #urlbar {
    z-index: 9999 !important;
    width: 100% !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    transition: width 0.3s ease, left 0.3s ease, margin-top 0.3s ease, margin-left 0.3s ease, margin-right 0.3s ease;
}

#main-window #urlbar[breakout][breakout-extend] {
    opacity: 0.97 !important;
    width: 100% !important;
    left: 0;
    right: 0;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 30vh !important;
    transition: width 0.3s ease, left 0.3s ease, margin-top 0.3s ease, margin-left 0.3s ease, margin-right 0.3s ease;
}

#urlbar-background,
#urlbar-input-container {
    --toolbarbutton-border-radius: calc(var(--urlbar-min-height) / 2);
}

#urlbar-input-container {
    --urlbar-icon-border-radius: calc(var(--toolbarbutton-border-radius) - 1px);
}

#urlbar:not([focused]) #urlbar-input {
    text-align: center !important;
}

#urlbar:not([breakout][breakout-extend]) #urlbar-input {
    text-align: center !important;
}

@media (prefers-color-scheme: dark) {
  #urlbar-background {
    background-color: #2a2a2a !important;
  }
}

@media (prefers-color-scheme: light)  {
  #urlbar-background {
    background-color: #d6d6d6 !important;
  }
}

@media (prefers-color-scheme: dark) {
#urlbar-results > *[selected=""]  {
  background-color: #424242 !important;
}
}

@media (prefers-color-scheme: light)  {
#urlbar-results > *[selected=""]  {
  background-color: #e8e8e8 !important;
}
}

#nav-bar:not([customizing="true"]):not(.searchButton) > #nav-bar-customization-target > #urlbar-container:not(:hover) > #urlbar:not([focused]) > #urlbar-input-container > #page-action-buttons .urlbar-page-action {
  opacity: 0;
  transition-delay: 500ms;
}

#nav-bar:not([customizing="true"]):not(.searchButton) > #nav-bar-customization-target > #urlbar-container:not(:hover) > #urlbar:not([focused]) > #urlbar-input-container > #identity-box > #identity-permission-box:not([open]) {
  opacity: 0;
  transition-delay: 500ms;
}

#page-action-buttons .urlbar-page-action,
#identity-permission-box,
#notification-popup-box .notification-anchor-icon {
  transition: opacity 0.2s ease;
}

#urlbar #identity-icon-box,
#urlbar #identity-permission-box {
  opacity: 0 !important;
  margin-inline-start: calc(-16px - 2 * var(--urlbar-icon-padding));
  transition: margin-inline-start 100ms linear, opacity 200ms linear;
}

#urlbar #identity-box.notSecureText #identity-icon-box {
  margin-inline-start: initial !important;
  opacity: 1 !important;
  color: #e36f6f !important;
}

#urlbar #identity-box.extensionPage #identity-icon-box {
  margin-inline-start: initial !important;
  opacity: 1 !important;
}

#identity-box:hover #identity-icon-box,
#identity-box:hover #identity-permission-box,
#identity-box #identity-permission-box[open="true"] {
  opacity: 1 !important;
  margin-inline-start: initial !important;
}
