@import "../styling/animations.css";

/* Based on: <https://github.com/MrOtherGuy/firefox-csshacks/raw/master/chrome/centered_statuspanel.css> */
/* Centered Status Panel at the Top */
#statuspanel:not([hidden]) {
  display: flex !important;
  justify-self: center !important;
  padding-top: 0 !important;
  inset-inline: auto !important;
  inset-block: 0 auto !important; /* top status panel */
  min-width: unset !important;
  border-radius: 0 !important; /* Remove rounded corners */
}

#statuspanel-label {
  border-width: 0 !important; /* Remove all borders */
  margin-inline: auto !important;
}

/* Ensure no rounded corners for both the panel and its label */
#statuspanel:not([hidden]),
#statuspanel-label {
  border-radius: 0 !important;
}

/* Increase the size of the status panel */
#statuspanel:not([hidden]) {
  min-width: 100px !important;
  height: 30px !important;
  display: flex !important;
  justify-content: center !important; /* Center content horizontally */
  align-items: center !important; /* Center content vertically */
}

#statuspanel-label {
  font-size: 20px !important;
  padding: 5 5px !important; /* Padding on the sides */
  background-color: rgba(
    32,
    32,
    32,
    0
  ) !important; /* Fully transparent background */
  color: #c38f8f !important;
  animation: heartbeat 1.5s ease-in-out infinite;
  will-change: transform; /* Hint to the browser to optimize for transform changes */
  backface-visibility: hidden; /* Prevents flickering */
  transform: translateZ(0); /* Creates a new layer for the element */
}

/* Hide the status panel */
/*
#statuspanel {display: none !important ;}
*/
