/* Override browser color if there's no theme background image. */
@media not (-moz-pref("uc.flex.allow-addons-to-change-toolbar-color") or -moz-pref("uc.flex.browser-wallpaper-enabled")) {
    @media -moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and (not -moz-pref("widget.windows.mica")),
        -moz-pref("extensions.activeThemeID", "firefox-compact-light@mozilla.org"),
        -moz-pref("extensions.activeThemeID", "firefox-compact-dark@mozilla.org") {
        :root:not([lwtheme-image], [style*="--lwt-additional-images"]) {
            #browser {
                --toolbar-bgcolor: var(--uc-bgcolor) !important;
                --toolbox-bgcolor-inactive: var(--uc-bgcolor) !important;
                background-image:
                    var(--toolbar-bgimage, linear-gradient(transparent, transparent)),
                    linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
                    var(--lwt-header-image, var(--lwt-additional-images)) !important;

                /* Ensure the background color of the sidebar stripe area matches the sidebar when the window is inactive */
                @media -moz-pref("uc.flex.disable-sidebery-autohide") {
                    background-image: none !important;
                    &:-moz-window-inactive {
                        background-color: var(--uc-bgcolor) !important;
                    }
                }
                @media not -moz-pref("uc.flex.disable-sidebery-autohide") {
                    &[titlepreface*="\180e "] {
                        background-image: none !important;
                        &:-moz-window-inactive {
                            background-color: var(--uc-bgcolor) !important;
                        }
                    }
                }
            }
        }
    }
}

/* Remove the border and rounded corners from the webpage content area */
@media -moz-pref("sidebar.revamp") {
    /* !TEMPORARY: The following #tabbrowser-tabbox rules will no longer be needed starting from v147. */
    #tabbrowser-tabbox,
    .browserContainer {
        outline: none !important;
        box-shadow: none !important;
        @media -moz-pref("sidebar.revamp.round-content-area") {
            &:not([sidebar-positionend]) {
                border-start-start-radius: var(--uc-sb-tabbox-border-radius, var(--border-radius-medium)) !important;
            }
            &[sidebar-positionend] {
                border-start-end-radius: var(--uc-sb-tabbox-border-radius, var(--border-radius-medium)) !important;
            }
            @media -moz-pref("uc.flex.fully-hide-toolbox"),
                -moz-pref("uc.flex.fully-hide-sidebery"),
                (display-mode: fullscreen) {
                border-radius: 0 !important;
            }
            @media not (-moz-pref("uc.flex.fully-hide-toolbox") or -moz-pref("uc.flex.fully-hide-sidebery")) {
                :root:is([titlepreface*="\200b "], [titlepreface*="\200c "], [titlepreface*="\200d "]) & {
                    border-radius: 0 !important;
                }
            }
        }
    }
}

/* Remove white flash before page load */
/*
@-moz-document url-prefix(about:), url-prefix(chrome://browser)
{
    browser[type="content"],
    tabpanels {
        background: #1a1a1a !important;
    }
}
*/
#tabbrowser-tabpanels {
    /*
    background: hsl(240, 4%, 10%) !important;
    */
    background-color: light-dark(#f9f9fb, #202020) !important;
    /* Use light background when the system theme is dark but "Website appearance" is set to light */
    /*
    @media (prefers-color-scheme: dark) and -moz-pref("layout.css.prefers-color-scheme.content-override", 1) {
    */
    @media (-moz-content-prefers-color-scheme: light) {
        background-color: #f9f9fb !important;
    }
    /* Use dark background when the system theme is light but "Website appearance" is set to dark */
    /*
    @media (prefers-color-scheme: light) and -moz-pref("layout.css.prefers-color-scheme.content-override", 0) {
    */
    @media (-moz-content-prefers-color-scheme: dark) {
        background-color: #202020 !important;
    }
    /* Clip background bleed around rounded corners when the UI color scheme is opposite to the page scheme */
    @media -moz-pref("sidebar.revamp") {
        @media -moz-pref("sidebar.revamp.round-content-area") and (not -moz-pref("uc.flex.enable-rounded-web-content")) {
            @media not (-moz-pref("uc.flex.fully-hide-sidebery") or -moz-pref("uc.flex.fully-hide-toolbox")) {
                :root:not([inFullscreen], [titlepreface*="\200b "], [titlepreface*="\200c "], [titlepreface*="\200d "])
                    & {
                    @media (prefers-color-scheme: dark) and (-moz-content-prefers-color-scheme: light),
                        (prefers-color-scheme: light) and (-moz-content-prefers-color-scheme: dark) {
                        clip-path: inset(
                            0 round var(--uc-sb-web-content-radius-top-left-clip, var(--uc-web-content-radius-clip)) 0 0
                                0
                        );
                        #tabbrowser-tabbox[sidebar-positionend] > & {
                            clip-path: inset(
                                0 round 0
                                    var(--uc-sb-web-content-radius-top-right-clip, var(--uc-web-content-radius-clip)) 0
                                    0
                            );
                        }
                    }
                }
            }
        }
    }
}

/* ════════════════════════════════════════════════════════════════════
██╗    ██╗███████╗██████╗      ██████╗ ██████╗ ███╗   ██╗████████╗███████╗███╗   ██╗████████╗
██║    ██║██╔════╝██╔══██╗    ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔════╝████╗  ██║╚══██╔══╝
██║ █╗ ██║█████╗  ██████╔╝    ██║     ██║   ██║██╔██╗ ██║   ██║   █████╗  ██╔██╗ ██║   ██║   
██║███╗██║██╔══╝  ██╔══██╗    ██║     ██║   ██║██║╚██╗██║   ██║   ██╔══╝  ██║╚██╗██║   ██║   
╚███╔███╔╝███████╗██████╔╝    ╚██████╗╚██████╔╝██║ ╚████║   ██║   ███████╗██║ ╚████║   ██║   
 ╚══╝╚══╝ ╚══════╝╚═════╝      ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝╚═╝  ╚═══╝   ╚═╝   
                                                                                             
═════════════════════════════════════════════════════════════════════ */

/* Add margin, shadow, and rounded corners to the web content area */
@media -moz-pref("uc.flex.enable-rounded-web-content") {
    @media not (-moz-pref("uc.flex.fully-hide-toolbox") and -moz-pref("uc.flex.fully-hide-sidebery")) {
        :root:not([inFullscreen], [titlepreface*="\200b "][titlepreface*="\200c "], [titlepreface*="\200d "]) {
            /* Remove white overlay to match the browser margin background with the sidebar */
            @media not -moz-pref("sidebar.verticalTabs") {
                #browser /* :not(.browser-toolbox-background) */ {
                    background-image: none !important;
                }
            }

            /* !TEMPORARY: The following #tabbrowser-tabbox rules will no longer be needed starting from v147. */
            #tabbrowser-tabbox {
                box-shadow: none !important;
                outline: none !important;
                /* Allow child element shadows to extend beyond the container and appear over the sidebar and navbar */
                overflow: unset !important;
            }

            /* Add shadow and outer margin to the main tab panel, and round the shadow corners */
            #tabbrowser-tabpanels {
                border-radius: var(--uc-web-content-radius);
                border-top-left-radius: var(--uc-sb-web-content-radius-top-left, var(--uc-web-content-radius));
                border-top-right-radius: var(--uc-sb-web-content-radius-top-right, var(--uc-web-content-radius));
                margin: var(--uc-web-content-margin-box);

                background-color: transparent !important;
                @media not (-moz-pref("uc.flex.allow-addons-to-change-toolbar-color") or -moz-pref("uc.flex.browser-wallpaper-enabled")) {
                    @media -moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and (not -moz-pref("widget.windows.mica")),
                        -moz-pref("extensions.activeThemeID", "firefox-compact-light@mozilla.org"),
                        -moz-pref("extensions.activeThemeID", "firefox-compact-dark@mozilla.org") {
                        :root:not([lwtheme-image], [style*="--lwt-additional-images"]) & {
                            background-color: var(--uc-bgcolor) !important;
                        }
                    }
                }
            }

            .browserContainer {
                /* !TEMPORARY: Fix for Nightly v147 change that broke border-radius. 
                    This is still under development and the fix may need adjustments in the future. */
                background: transparent !important;
                @media -moz-pref("sidebar.revamp") {
                    outline: none !important;
                    box-shadow: none !important;
                }
                @media -moz-pref("sidebar.revamp") and -moz-pref("sidebar.revamp.round-content-area") {
                    overflow: unset !important;
                    /*
                    :root:not([inDOMFullscreen]) #tabbrowser-tabbox[sidebar-shown] & {
                        @media -moz-pref("sidebar.position_start") {
                            border-start-start-radius: 0 !important;
                        }
                        @media not -moz-pref("sidebar.position_start") {
                            border-start-end-radius: 0 !important;
                        }
                    }
                    */
                }

                /**
                 * When DevTools and Sidebery are docked on the same side, 
                 * the corresponding corner of the web content container should always be rounded. 
                 */
                @media -moz-pref("devtools.toolbox.host", "left") {
                    &:not(:first-child) .browserStack {
                        border-top-left-radius: var(--uc-web-content-radius);
                    }
                }
                @media -moz-pref("devtools.toolbox.host", "right") {
                    &:not(:last-child) .browserStack {
                        border-top-right-radius: var(--uc-web-content-radius);
                    }
                }
            }

            /**
             * 1. Page loading background cannot be applied directly to <browser>, or it causes flickering.
             * 2. clip-path must be on the same layer as the background to properly mask background bleed around rounded corners.
             * 3. box-shadow must be inside .browserStack (or its descendants) so that content and DevTools frames can each render their own shadows.
             * 4. These constraints mean background, clip-path, and box-shadow can only coexist on .browserStack.
             * 5. However, clip-path will also clip the box-shadow.
             * 6. To resolve this, we separate concerns using a pseudo-element: apply background and clip-path to ::before, and keep box-shadow on .browserStack.
             */
            .browserStack {
                border-radius: var(--uc-web-content-radius);
                border-top-left-radius: var(--uc-sb-web-content-radius-top-left, var(--uc-web-content-radius));
                border-top-right-radius: var(--uc-sb-web-content-radius-top-right, var(--uc-web-content-radius));
                overflow: hidden;
                box-shadow: 0 1.5px 9px light-dark(rgba(12, 12, 16, 0.15), rgba(12, 12, 16, 0.25));
                @media -moz-pref("uc.flex.-dev-web-content-box-shadow-highlight") {
                    box-shadow: 0 1.5px 9px red;
                }

                @media not (-moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and -moz-pref("widget.windows.mica") and -moz-pref("browser.tabs.allow_transparent_browser")) {
                    @media not (-moz-pref("uc.flex.browser-wallpaper-enabled") and -moz-pref("browser.tabs.allow_transparent_browser")) {
                        &::before {
                            content: "";
                            position: absolute;
                            inset: 0;
                            z-index: -1;
                            pointer-events: none;
                            /* Background shown while loading pages */
                            background-color: light-dark(#f9f9fb, #202020);
                            @media (-moz-content-prefers-color-scheme: light) {
                                background-color: #f9f9fb;
                            }
                            @media (-moz-content-prefers-color-scheme: dark) {
                                background-color: #202020;
                            }
                            /* Clips background bleed around rounded corners */
                            clip-path: inset(
                                0 round var(--uc-sb-web-content-radius-top-left-clip, var(--uc-web-content-radius-clip))
                                    var(--uc-sb-web-content-radius-top-right-clip, var(--uc-web-content-radius-clip))
                                    var(--uc-web-content-radius-clip) var(--uc-web-content-radius-clip)
                            );
                        }
                    }
                }
            }

            .devtools-toolbox-side-iframe {
                border-radius: var(--uc-web-content-radius);
                border-top-left-radius: var(--uc-sb-web-content-radius-top-left, var(--uc-web-content-radius));
                border-top-right-radius: var(--uc-sb-web-content-radius-top-right, var(--uc-web-content-radius));
                /* When DevTools is docked on the left, override sharp corner with a rounded one and add right margin */
                @media -moz-pref("devtools.toolbox.host", "left") {
                    border-top-right-radius: var(--uc-web-content-radius);
                    margin-right: var(--uc-web-content-margin);
                    box-shadow: 0 1.5px 9px light-dark(#00000026, #00000040);
                }
                /* When DevTools is docked on the right, override sharp corner with a rounded one and add left margin */
                @media -moz-pref("devtools.toolbox.host", "right") {
                    border-top-left-radius: var(--uc-web-content-radius);
                    margin-left: var(--uc-web-content-margin);
                    box-shadow: 0 1.5px 9px light-dark(#00000026, #00000040);
                }
            }

            .devtools-toolbox-bottom-iframe {
                border-radius: var(--uc-web-content-radius);
                margin-top: var(--uc-web-content-margin);
                box-shadow: 0 1.5px 9px light-dark(#00000026, #00000040);
            }

            .devtools-side-splitter,
            .devtools-horizontal-splitter {
                opacity: 0;
            }
        }

        .split-view-splitter {
            opacity: 0;
        }

        /* Round the corners of the status panel */
        #statuspanel-label {
            border-bottom-left-radius: var(--uc-web-content-radius);
            #statuspanel:not([mirror]) > &:-moz-locale-dir(rtl),
            #statuspanel[mirror] > &:-moz-locale-dir(ltr) {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: var(--uc-web-content-radius);
            }
        }
    }
}

/* ════════════════════════════════════════════════════════════════════
███╗   ███╗██╗ ██████╗ █████╗     ██████╗  █████╗  ██████╗██╗  ██╗██████╗ ██████╗  ██████╗ ██████╗ 
████╗ ████║██║██╔════╝██╔══██╗    ██╔══██╗██╔══██╗██╔════╝██║ ██╔╝██╔══██╗██╔══██╗██╔═══██╗██╔══██╗
██╔████╔██║██║██║     ███████║    ██████╔╝███████║██║     █████╔╝ ██║  ██║██████╔╝██║   ██║██████╔╝
██║╚██╔╝██║██║██║     ██╔══██║    ██╔══██╗██╔══██║██║     ██╔═██╗ ██║  ██║██╔══██╗██║   ██║██╔═══╝ 
██║ ╚═╝ ██║██║╚██████╗██║  ██║    ██████╔╝██║  ██║╚██████╗██║  ██╗██████╔╝██║  ██║╚██████╔╝██║     
╚═╝     ╚═╝╚═╝ ╚═════╝╚═╝  ╚═╝    ╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝╚═════╝ ╚═╝  ╚═╝ ╚═════╝ ╚═╝     
                                                                                                   
═════════════════════════════════════════════════════════════════════ */

/* Mica background clipping and window transparency settings */
@media -moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and -moz-pref("widget.windows.mica"),
    -moz-pref("uc.flex.browser-wallpaper-enabled") {
    #tabbrowser-tabpanels {
        background-color: transparent !important;
    }

    @media not -moz-pref("sidebar.verticalTabs") {
        #browser,
        #nav-bar,
        #PersonalToolbar {
            background-color: transparent !important;
            background-image: none !important;
        }
    }

    /**
     * Sets the initial clip state of the tab box to enable a smooth transition
     * when the sidebar or navigator expands, allowing the Mica backdrop to show cleanly.
     */
    #tabbrowser-tabbox {
        &:not([sidebar-positionend]) {
            clip-path: var(--uc-tabbox-clip-path-start);
        }
        &[sidebar-positionend] {
            clip-path: var(--uc-tabbox-clip-path-end);
        }
        will-change: clip-path;
        transition: var(--uc-tabbox-clip-path-transition);
    }

    /* When a menu is open, clip the tab box to reveal the Mica backdrop */
    #mainPopupSet:has(
            > [panelopen]:not(
                    #ask-chat-shortcuts,
                    #selection-shortcut-action-panel,
                    #chat-shortcuts-options-panel,
                    #tab-preview-panel
                ),
            #tab-group-editor > [panelopen]
        )
        ~ #browser
        #tabbrowser-tabbox {
        --uc-tabbox-clip-path-start: var(--uc-hover-navigator-tabbox-clip-path-start);
        --uc-tabbox-clip-path-end: var(--uc-hover-navigator-tabbox-clip-path-end);
        --uc-tabbox-clip-path-transition: var(--uc-hover-tabbox-clip-path-transition);
    }

    /* When the navigator or its child bookmark toolbar is expanded, clip the tab box to reveal the Mica backdrop */
    @media not -moz-pref("sidebar.verticalTabs") {
        #mainPopupSet:has(> #tab-group-editor > [panelopen], > #tabgroup-preview-panel[panelopen])
            ~ #browser
            #tabbrowser-tabbox,
        #navigator-toolbox:hover ~ #browser #tabbrowser-tabbox {
            --uc-tabbox-clip-path-start: var(--uc-hover-navigator-tabbox-clip-path-start);
            --uc-tabbox-clip-path-end: var(--uc-hover-navigator-tabbox-clip-path-end);
            --uc-tabbox-clip-path-transition: var(--uc-hover-tabbox-clip-path-transition);
        }

        /* When the "hide horizontal tabs" option is set to 3, the tab bar only appears when hovering over the tabs toolbar.
           In this case, the following variables are used to apply additional clipping. */
        @media -moz-pref("uc.flex.auto-hide-horizontal-tabs-and-keep-navbar", 3) and (not -moz-pref("uc.flex.auto-hide-navbar-and-keep-horizontal-tabs")) {
            #mainPopupSet:has(> #tab-group-editor > [panelopen], > #tabgroup-preview-panel[panelopen])
                ~ #browser
                #tabbrowser-tabbox,
            #navigator-toolbox:has(> :is(#toolbar-menubar, #TabsToolbar):hover) ~ #browser #tabbrowser-tabbox,
            #navigator-toolbox[movingtab] ~ #browser #tabbrowser-tabbox {
                --uc-tabbox-clip-path-start: var(--uc-hover-tabstoolbar-tabbox-clip-path-start);
                --uc-tabbox-clip-path-end: var(--uc-hover-tabstoolbar-tabbox-clip-path-end);
            }
        }

        /* Keep the tab box clipped when the navigator contains an open toolbar button */
        @media -moz-pref("uc.flex.fully-hide-toolbox") {
            #navigator-toolbox:has(toolbarbutton[open]) ~ #browser #tabbrowser-tabbox {
                --uc-tabbox-clip-path-start: var(--uc-hover-navigator-tabbox-clip-path-start);
                --uc-tabbox-clip-path-end: var(--uc-hover-navigator-tabbox-clip-path-end);
                --uc-tabbox-clip-path-transition: var(--uc-hover-tabbox-clip-path-transition);
            }
        }
        @media not -moz-pref("uc.flex.fully-hide-toolbox") {
            :root:is([titlepreface*="\200b "], [titlepreface*="\200d "]) {
                #navigator-toolbox:has(toolbarbutton[open]) ~ #browser #tabbrowser-tabbox {
                    --uc-tabbox-clip-path-start: var(--uc-hover-navigator-tabbox-clip-path-start);
                    --uc-tabbox-clip-path-end: var(--uc-hover-navigator-tabbox-clip-path-end);
                    --uc-tabbox-clip-path-transition: var(--uc-hover-tabbox-clip-path-transition);
                }
            }
        }
    }

    /* When the navigator or its child bookmark toolbar is expanded, clip the tab box to reveal the Mica backdrop */
    @media -moz-pref("sidebar.verticalTabs") {
        @media not -moz-pref("uc.flex.disable-bookmarks-autohide"),
            -moz-pref("uc.flex.fully-hide-toolbox"),
            (display-mode: fullscreen) {
            #navigator-toolbox:hover ~ #browser #tabbrowser-tabbox {
                --uc-tabbox-clip-path-start: var(--uc-hover-navigator-tabbox-clip-path-start);
                --uc-tabbox-clip-path-end: var(--uc-hover-navigator-tabbox-clip-path-end);
                --uc-tabbox-clip-path-transition: var(--uc-hover-tabbox-clip-path-transition);
            }

            /* Keep the tab box clipped when the navigator contains an open toolbar button */
            @media -moz-pref("uc.flex.fully-hide-toolbox") {
                #navigator-toolbox:has(toolbarbutton[open]) ~ #browser #tabbrowser-tabbox {
                    --uc-tabbox-clip-path-start: var(--uc-hover-navigator-tabbox-clip-path-start);
                    --uc-tabbox-clip-path-end: var(--uc-hover-navigator-tabbox-clip-path-end);
                    --uc-tabbox-clip-path-transition: var(--uc-hover-tabbox-clip-path-transition);
                }
            }
        }
    }
    /** 
     * Repeat the styles above using the selector for the "Hide Topbar" shortcut,
     * which has the same effect as @media -moz-pref("uc.flex.fully-hide-toolbox"). 
     */
    @media -moz-pref("sidebar.verticalTabs") {
        :root:is([titlepreface*="\200b "], [titlepreface*="\200d "]) {
            #navigator-toolbox:hover ~ #browser #tabbrowser-tabbox {
                --uc-tabbox-clip-path-start: var(--uc-hover-navigator-tabbox-clip-path-start);
                --uc-tabbox-clip-path-end: var(--uc-hover-navigator-tabbox-clip-path-end);
                --uc-tabbox-clip-path-transition: var(--uc-hover-tabbox-clip-path-transition);
            }

            #navigator-toolbox:has(toolbarbutton[open]) ~ #browser #tabbrowser-tabbox {
                --uc-tabbox-clip-path-start: var(--uc-hover-navigator-tabbox-clip-path-start);
                --uc-tabbox-clip-path-end: var(--uc-hover-navigator-tabbox-clip-path-end);
                --uc-tabbox-clip-path-transition: var(--uc-hover-tabbox-clip-path-transition);
            }
        }
    }

    /* Clip the tab box when native vertical tabs are expanded to reveal the Mica backdrop */
    @media -moz-pref("sidebar.verticalTabs") and (not -moz-pref("sidebar.visibility", "expand-on-hover")) {
        /* 
         * Same logic as in uc-verticalfox.css.
         *
         * Background is clipped to show the Mica backdrop in the following cases:
         * 1. If `uc.flex.disable-sidebery-autohide` is not enabled (auto-hide not disabled), clipping applies.
         * 2. If `uc.flex.fully-hide-sidebery` is enabled (fully hide Sidebery), clipping applies regardless of the "disable auto-hide" setting.
         * 3. If in fullscreen mode or when using the `Hide Sidebery` / `Hide All` shortcuts, clipping applies.
         */
        #sidebar-main:hover ~ #tabbrowser-tabbox[sidebar-launcher-expanded]:not([sidebar-panel-open]) {
            /* Style 1 */
            @media not -moz-pref("uc.flex.disable-sidebery-autohide") {
                :root:not([titlepreface*="\180e "]) & {
                    --uc-tabbox-clip-path-start: var(--uc-hover-vt-tabbox-clip-path-start);
                    --uc-tabbox-clip-path-end: var(--uc-hover-vt-tabbox-clip-path-end);
                    --uc-tabbox-clip-path-transition: var(--uc-hover-tabbox-clip-path-transition);
                }
            }
            /* Style 2 */
            @media -moz-pref("uc.flex.fully-hide-sidebery") {
                --uc-tabbox-clip-path-start: var(--uc-hover-vt-tabbox-clip-path-start);
                --uc-tabbox-clip-path-end: var(--uc-hover-vt-tabbox-clip-path-end);
                --uc-tabbox-clip-path-transition: var(--uc-hover-tabbox-clip-path-transition);
            }
            /* Style 3 */
            @media not -moz-pref("uc.flex.fully-hide-sidebery") {
                :root:is([inFullscreen], [titlepreface*="\200c "], [titlepreface*="\200d "]) & {
                    --uc-tabbox-clip-path-start: var(--uc-hover-vt-tabbox-clip-path-start);
                    --uc-tabbox-clip-path-end: var(--uc-hover-vt-tabbox-clip-path-end);
                    --uc-tabbox-clip-path-transition: var(--uc-hover-tabbox-clip-path-transition);
                }
            }
        }

        /** 
         * When the sidebar panel is open ([sidebar-panel-open]) 
         * and native vertical tabs are in expanded mode ([sidebar-launcher-expanded]), 
         * clip the sidebar panel on hover to reveal the Mica backdrop. 
         */
        #sidebar-box[sidebar-launcher-expanded][sidebar-panel-open]:not(
                [sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]
            ) {
            min-width: var(--uc-sidebar-main-hover-clip-mica) !important;
            /*
            clip-path: inset(0 0 0 0);
            */
            &:not([sidebar-positionend]) {
                clip-path: var(--uc-vt-sidebox-clip-path-start);
            }
            /*if sidebar on right*/
            &[sidebar-positionend] {
                clip-path: var(--uc-vt-sidebox-clip-path-end);
            }
            transition: var(--uc-tabbox-clip-path-transition);
        }
        #sidebar-main:hover
            ~ #sidebar-box[sidebar-launcher-expanded][sidebar-panel-open]:not(
                [sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]
            ) {
            --uc-vt-sidebox-clip-path-start: var(--uc-hover-vt-sidebox-clip-path-start);
            --uc-vt-sidebox-clip-path-end: var(--uc-hover-vt-sidebox-clip-path-end);
            --uc-tabbox-clip-path-transition: var(--uc-hover-tabbox-clip-path-transition);
        }
    }

    /** 
     * When using Sidebery as the sidebar panel, 
     * clip Sidebery on hover over the sidebar stripe to reveal the Mica backdrop. 
     */
    @media -moz-pref("sidebar.verticalTabs") and (not -moz-pref("sidebar.visibility", "expand-on-hover")) {
        #sidebar-box[sidebar-panel-open][sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
            &:not(:hover) {
                clip-path: inset(0 0 0 0);
            }
            transition:
                opacity var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type)
                    var(--uc-autohide-sidebar-delay),
                z-index 0ms linear 0ms
                    /* calc(var(--uc-autohide-sidebar-delay) + var(--uc-autohide-transition-duration) + 10ms) */
                    allow-discrete,
                /*
                clip-path var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type)
                    var(--uc-autohide-sidebar-delay);
                */
                    clip-path 0ms var(--uc-autohide-transition-type) 0ms;
        }
        @media not -moz-pref("uc.flex.fully-hide-sidebery") {
            :root:not([inFullscreen], [titlepreface*="\200c "], [titlepreface*="\200d "]) {
                #sidebar-main:hover
                    ~ #sidebar-box[sidebar-panel-open][sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
                    &:not([sidebar-positionend]) {
                        clip-path: inset(0 0 0 var(--uc-sidebar-stripe-width));
                    }
                    &[sidebar-positionend] {
                        clip-path: inset(0 var(--uc-sidebar-stripe-width) 0 0);
                    }
                    transition:
                        opacity var(--uc-hover-transition-duration) var(--uc-autohide-transition-type)
                            calc(var(--uc-hover-sidebar-delay) + 10ms),
                        z-index 0ms linear 0ms /* calc(var(--uc-hover-sidebar-delay) - 10ms) */ allow-discrete,
                        /*
                        clip-path var(--uc-hover-transition-duration) var(--uc-autohide-transition-type)
                            var(--uc-hover-sidebar-delay);
                        */
                            clip-path 0ms var(--uc-autohide-transition-type) 0ms;
                }
            }
        }

        /** 
         * When Sidebery is fully hidden or in fullscreen mode, 
         * the sidebar stripe expands over the tab box, 
         * so clip the tab box to reveal the Mica backdrop.
         * Clipping is only applied when --uc-sb-sidebar-main-hover-clip-mica is set, 
         * indicating Sidebery is active.
         */
        @media -moz-pref("uc.flex.fully-hide-sidebery") {
            #sidebar-main:hover ~ #tabbrowser-tabbox[sidebar-panel-open] {
                --uc-tabbox-clip-path-start: var(--uc-hover-sidebar-main-tabbox-clip-path-start);
                --uc-tabbox-clip-path-end: var(--uc-hover-sidebar-main-tabbox-clip-path-end);
                --uc-tabbox-clip-path-transition: var(--uc-hover-tabbox-clip-path-transition);
            }
        }
        @media not -moz-pref("uc.flex.fully-hide-sidebery") {
            :root:is([inFullscreen], [titlepreface*="\200c "], [titlepreface*="\200d "]) {
                #sidebar-main:hover ~ #tabbrowser-tabbox[sidebar-panel-open] {
                    --uc-tabbox-clip-path-start: var(--uc-hover-sidebar-main-tabbox-clip-path-start);
                    --uc-tabbox-clip-path-end: var(--uc-hover-sidebar-main-tabbox-clip-path-end);
                    --uc-tabbox-clip-path-transition: var(--uc-hover-tabbox-clip-path-transition);
                }
            }
        }
    }

    /* Clip the tab box when Sidebery is expanded to reveal the Mica backdrop */
    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
        &:hover ~ #tabbrowser-tabbox[sidebar-panel-open] {
            /* Style 1 */
            @media not (-moz-pref("uc.flex.disable-sidebery-autohide") or -moz-pref("uc.flex.sidebery-allow-resizable-width")) {
                :root:not([titlepreface*="\180e "]) & {
                    --uc-tabbox-clip-path-start: var(--uc-hover-sidebery-tabbox-clip-path-start);
                    --uc-tabbox-clip-path-end: var(--uc-hover-sidebery-tabbox-clip-path-end);
                    --uc-tabbox-clip-path-transition: var(--uc-hover-tabbox-clip-path-transition);
                }
            }
            /* Style 2 */
            @media -moz-pref("uc.flex.fully-hide-sidebery") {
                --uc-tabbox-clip-path-start: var(--uc-hover-sidebery-tabbox-clip-path-start);
                --uc-tabbox-clip-path-end: var(--uc-hover-sidebery-tabbox-clip-path-end);
                --uc-tabbox-clip-path-transition: var(--uc-hover-tabbox-clip-path-transition);
            }
            /* Style 3 */
            @media not -moz-pref("uc.flex.fully-hide-sidebery") {
                :root:is([inFullscreen], [titlepreface*="\200c "], [titlepreface*="\200d "]) & {
                    --uc-tabbox-clip-path-start: var(--uc-hover-sidebery-tabbox-clip-path-start);
                    --uc-tabbox-clip-path-end: var(--uc-hover-sidebery-tabbox-clip-path-end);
                    --uc-tabbox-clip-path-transition: var(--uc-hover-tabbox-clip-path-transition);
                }
            }
        }
    }

    #sidebar,
    #webextpanels-window {
        background-color: transparent !important;
    }

    .toolbar-menupopup,
    menupopup {
        --panel-background: light-dark(
            rgba(249, 249, 251, var(--uc-menupopup-backdrop-transparency)),
            rgba(32, 32, 32, var(--uc-menupopup-backdrop-transparency))
        ) !important;
    }

    menupopup,
    panel:not(#autoscroller),
    tooltip,
    slot[part="content"] {
        background-color: light-dark(
            rgba(249, 249, 251, var(--uc-menupopup-backdrop-transparency)),
            rgba(32, 32, 32, var(--uc-menupopup-backdrop-transparency))
        ) !important;
        appearance: menupopup !important;
        --panel-shadow-margin: 0px !important;
    }

    /* backdrop-filter doesn't blur remote <browser> element https://bugzilla.mozilla.org/show_bug.cgi?id=1799334 */
    /* Needed to enable backdrop-filter effects on <browser> */
    browser {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    #urlbar[breakout][breakout-extend] {
        border-radius: 15px !important;
        backdrop-filter: blur(26px) saturate(140%);
    }

    #urlbar[breakout][breakout-extend] > :where(#urlbar-background, .urlbar-background) {
        background-color: light-dark(
            rgba(249, 249, 251, var(--uc-urlbar-backdrop-transparency)),
            rgba(32, 32, 32, var(--uc-urlbar-backdrop-transparency))
        ) !important;
        background-image: none !important;
    }

    findbar,
    .found-matches {
        background-color: light-dark(
            rgba(249, 249, 251, var(--uc-urlbar-backdrop-transparency)),
            rgba(32, 32, 32, var(--uc-urlbar-backdrop-transparency))
        ) !important;
        background-image: none !important;
    }
    findbar {
        backdrop-filter: blur(26px) saturate(140%);
    }
    findbar:has(.found-matches:not([hidden])) {
        border-bottom-left-radius: 0px;
    }
    .found-matches {
        height: 25px;
        padding: 2px 12px 0px 10px;
        top: 35px;
        border-bottom-right-radius: var(--uc-findbar-outer-border-radius);
        &::after {
            display: none;
        }
    }
}

@media -moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and -moz-pref("widget.windows.mica") {
    @media not -moz-pref("uc.flex.browser-wallpaper-enabled") {
        #main-window {
            background-color: light-dark(
                rgba(255, 255, 255, var(--uc-browser-mica-transparency)),
                rgba(0, 0, 0, var(--uc-browser-mica-transparency))
            ) !important;
            /*
            -moz-appearance: -moz-win-borderless-glass !important;
            */
        }
    }
}

/* ════════════════════════════════════════════════════════════════════
██╗    ██╗ █████╗ ██╗     ██╗     ██████╗  █████╗ ██████╗ ███████╗██████╗ 
██║    ██║██╔══██╗██║     ██║     ██╔══██╗██╔══██╗██╔══██╗██╔════╝██╔══██╗
██║ █╗ ██║███████║██║     ██║     ██████╔╝███████║██████╔╝█████╗  ██████╔╝
██║███╗██║██╔══██║██║     ██║     ██╔═══╝ ██╔══██║██╔═══╝ ██╔══╝  ██╔══██╗
╚███╔███╔╝██║  ██║███████╗███████╗██║     ██║  ██║██║     ███████╗██║  ██║
 ╚══╝╚══╝ ╚═╝  ╚═╝╚══════╝╚══════╝╚═╝     ╚═╝  ╚═╝╚═╝     ╚══════╝╚═╝  ╚═╝
                                                                          
═════════════════════════════════════════════════════════════════════ */

@media -moz-pref("uc.flex.browser-wallpaper-enabled") {
    #main-window {
        --toolbar-bgcolor: light-dark(
            rgba(var(--uc-browser-wallpaper-light-mask), var(--uc-browser-wallpaper-transparency)),
            rgba(var(--uc-browser-wallpaper-dark-mask), var(--uc-browser-wallpaper-transparency))
        ) !important;
        /*
        -moz-appearance: -moz-win-borderless-glass !important;
        */
        --lwt-header-image: var(--uc-browser-wallpaper, none) !important;
        --lwt-additional-images: var(--uc-browser-wallpaper, none) !important;
        @media not -moz-pref("uc.flex.browser-wallpaper-acrylic-disabled") {
            --uc-acrylic-noise-image: url("../icons/wallpaper/acrylic-noise.png");
        }

        background-image:
            var(--uc-acrylic-noise-image, none),
            linear-gradient(var(--toolbar-bgcolor, Field), var(--toolbar-bgcolor, Field)), var(--lwt-header-image, none) !important;
        background-repeat: repeat, no-repeat, no-repeat !important;
        background-position: right top !important;
        background-position-y: top !important;
        background-size: auto, cover, cover !important;
        @media not -moz-pref("uc.flex.browser-wallpaper-acrylic-disabled") {
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                z-index: -1;
                @media (prefers-color-scheme: dark), (-moz-content-prefers-color-scheme: dark) {
                    backdrop-filter: blur(26px) contrast(var(--uc-browser-wallpaper-contrast)) saturate(140%);
                }
                @media (prefers-color-scheme: light), (-moz-content-prefers-color-scheme: light) {
                    backdrop-filter: blur(26px) saturate(140%);
                }
                pointer-events: none;
            }
            /**
             * Standard acrylic material design. 
             * However, the noise layer can reduce readability when applied to a full browser background, 
             * so it's not ideal for this use case. 
             */
            /*
            &::after {
                content: "";
                position: absolute;
                inset: 0;
                z-index: -1;
                background-image: var(--uc-acrylic-noise-image, none);
                background-repeat: repeat;
                background-position: right top;
                background-size: auto;
                opacity: 0.2;
            }
            */
        }
    }

    @media not (-moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and -moz-pref("widget.windows.mica")) {
        #navigator-toolbox {
            --toolbox-bgcolor: transparent !important;
            --toolbox-bgcolor-inactive: transparent !important;
        }
        #sidebar-main {
            --uc-bgcolor: transparent;
        }
        #browser {
            --toolbox-bgcolor: transparent !important;
            --toolbox-bgcolor-inactive: transparent !important;
        }
    }
}
