/*Full Screen Warning*/

#fullscreen-warning {
    background-color: var(--uc-fullscreen-warn) !important;
    border-color: var(--uc-fullscreen-warn) !important;
    max-width: 500px !important;
    max-height: 50px !important;
    border-radius: 50px !important;
    font-size: 12px !important;
    opacity: 0.8 !important;
}

.pointerlockfswarning-generic-text,
.pointerlockfswarning-domain-text {
    font-size: 15px !important;
    color: rgb(255, 255, 255) !important;
    text-shadow: none !important;
}

/* Enable bookmarks toolbar in full-screen mode */
:root[inFullscreen] #navigator-toolbox #PersonalToolbar {
    visibility: unset !important;
}

/* Full screen Address bar overlap instead of push */
/* Modified from https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/autohide_toolbox.css */
/* 2f30a22 */

:root[sizemode="fullscreen"],
:root[sizemode="fullscreen"] #navigator-toolbox {
    margin-top: 0 !important;
}

:root[inFullscreen] {
    #navigator-toolbox {
        --browser-area-z-index-toolbox: 3;
        position: fixed !important;
        /*
        background-color: var(--lwt-accent-color, black) !important;
        */
        background-color: var(--toolbox-bgcolor) !important;
        transition: var(--uc-autohide-navbar-transition) !important;
        /*
        transition:
            transform 82ms linear,
            opacity 82ms linear !important;
        transition-delay: var(--uc-autohide-toolbox-delay) !important;
        @media -moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and -moz-pref("widget.windows.mica"),
            -moz-pref("uc.flex.sidebery-apply-expand-speed-to-toolbars"),
            -moz-pref("uc.flex.browser-wallpaper-enabled") {
            transition:
                transform var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type)
                    var(--uc-autohide-sidebar-delay),
                opacity var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type)
                    var(--uc-autohide-sidebar-delay) !important;
        }
        */
        transform-origin: top;
        transform: rotateX(var(--uc-toolbox-rotation));
        opacity: 0;
        line-height: 0;
        z-index: 1;
        pointer-events: none;
        width: 100vw;
    }

    &[sessionrestored] #urlbar[popover] {
        pointer-events: none;
        opacity: 0;
        /* Use !important to override the transition styles in Nightly (v135) */
        transition: var(--uc-autohide-urlbar-transition) !important;
        /*
        transition:
            transform 82ms linear var(--uc-autohide-toolbox-delay),
            opacity 0ms calc(var(--uc-autohide-toolbox-delay) + 82ms),
            box-shadow 0.3s ease-out,
            left 0.3s ease,
            width 0.3s ease,
            translate 0.3s ease !important;
        @media -moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and -moz-pref("widget.windows.mica"),
            -moz-pref("uc.flex.sidebery-apply-expand-speed-to-toolbars"),
            -moz-pref("uc.flex.browser-wallpaper-enabled") {
            transition:
                transform var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type)
                    var(--uc-autohide-sidebar-delay),
                opacity 0ms var(--uc-autohide-transition-type)
                    calc(var(--uc-autohide-sidebar-delay) + var(--uc-autohide-transition-duration)) !important;
        }
        */
        transform-origin: 0px calc(0px - var(--tab-min-height) - var(--tab-block-margin) * 2);
        transform: rotateX(89.9deg);
    }

    :root[window-modal-open] #urlbar[popover],
    #mainPopupSet:has(
            > [panelopen]:not(
                    #ask-chat-shortcuts,
                    #selection-shortcut-action-panel,
                    #chat-shortcuts-options-panel,
                    #tab-preview-panel
                ),
            > #tab-group-editor > [panelopen]
        )
        ~ toolbox
        #urlbar[popover],
    #navigator-toolbox:is(:hover, :focus-within, [movingtab]) #urlbar[popover],
    #urlbar-container > #urlbar[popover]:is([focused], [open]) {
        pointer-events: auto;
        opacity: 1;
        /* Use !important to override the transition styles in Nightly (v135) */
        /*
        transition-delay: 33ms !important;
        */
        transition: var(--uc-hover-urlbar-transition) !important;
        /*
        transition:
            transform 82ms linear 33ms,
            opacity 0ms 33ms,
            box-shadow 0.3s ease-out,
            left 0.3s ease,
            width 0.3s ease,
            translate 0.3s ease !important;
        @media -moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and -moz-pref("widget.windows.mica"),
            -moz-pref("uc.flex.sidebery-apply-expand-speed-to-toolbars"),
            -moz-pref("uc.flex.browser-wallpaper-enabled") {
            transition:
                transform var(--uc-hover-transition-duration) var(--uc-autohide-transition-type)
                    var(--uc-hover-sidebar-delay),
                opacity var(--uc-hover-transition-duration) var(--uc-autohide-transition-type)
                    var(--uc-hover-sidebar-delay),
                box-shadow 0.3s ease-out,
                left 0.3s ease,
                width 0.3s ease,
                translate 0.3s ease !important;
        }
        */
        transform: rotateX(0deg);
    }

    :root[window-modal-open] #navigator-toolbox,
    #mainPopupSet:has(
            > [panelopen]:not(
                    #ask-chat-shortcuts,
                    #selection-shortcut-action-panel,
                    #chat-shortcuts-options-panel,
                    #tab-preview-panel
                ),
            > #tab-group-editor > [panelopen]
        )
        ~ toolbox,
    #navigator-toolbox:has(#urlbar:is([open], [focus-within])),
    #navigator-toolbox:is(:hover, :focus-within, [movingtab]) {
        transition: var(--uc-hover-navbar-transition) !important;
        /*
        transition-delay: 33ms !important;
        @media -moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and -moz-pref("widget.windows.mica"),
            -moz-pref("uc.flex.sidebery-apply-expand-speed-to-toolbars"),
            -moz-pref("uc.flex.browser-wallpaper-enabled") {
            transition:
                transform var(--uc-hover-transition-duration) var(--uc-autohide-transition-type)
                    var(--uc-hover-sidebar-delay),
                opacity var(--uc-hover-transition-duration) var(--uc-autohide-transition-type)
                    var(--uc-hover-sidebar-delay) !important;
        }
        */
        transform: rotateX(0);
        opacity: 1;
    }

    #navigator-toolbox > * {
        line-height: normal;
        pointer-events: auto;
    }

    /* This is a bit hacky fix for an issue that will make urlbar zero pixels tall after you enter customize mode */
    #urlbar[breakout][breakout-extend] > .urlbar-input-container {
        padding-block: calc(
            min(4px, (var(--urlbar-container-height) - var(--urlbar-height)) / 2) + var(--urlbar-container-padding)
        ) !important;
    }
}
