/* Modified from https://github.com/christorange/VerticalFox/blob/main/windows/userChrome.css */
/* Active Tab */
/*
:root:not([lwt-default-theme-in-dark-mode]) .tab-background[selected],
.tab-background[multiselected="true"] {
    background: rgba(0, 0, 0, 0.05) !important;
}

:root[lwt-default-theme-in-dark-mode] .tab-background[selected],
.tab-background[multiselected="true"] {
    background: rgba(0, 0, 0, 0.2) !important;
}
*/

/* Override toolbar color if there's no theme background image. */
@media not (-moz-pref("uc.flex.allow-addons-to-change-toolbar-color") or -moz-pref("uc.flex.browser-wallpaper-enabled")) {
    @media -moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and (not -moz-pref("widget.windows.mica")),
        -moz-pref("extensions.activeThemeID", "firefox-compact-light@mozilla.org"),
        -moz-pref("extensions.activeThemeID", "firefox-compact-dark@mozilla.org") {
        :root:not([lwtheme-image], [style*="--lwt-additional-images"]) {
            #navigator-toolbox {
                --toolbar-bgcolor: var(--uc-bgcolor) !important;
                --toolbox-bgcolor-inactive: var(--uc-bgcolor) !important;
                background-image:
                    var(--toolbar-bgimage, linear-gradient(transparent, transparent)),
                    linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
                    var(--lwt-header-image, var(--lwt-additional-images)) !important;
            }
        }
    }
}

/* Auto hide icons on the Nav Bar */
@media -moz-pref("uc.flex.auto-hide-navbar-icons") and (not -moz-pref("uc.flex.fully-hide-toolbox")) {
    :root:not([customizing], [inFullscreen], [titlepreface*="\200b "], [titlepreface*="\200d "]) {
        #navigator-toolbox:not(:hover) {
            #main-menubar > menu:not([open]),
            toolbarbutton:not(#urlbar-container *):not(#customizationui-widget-panel *):not(
                    #sidebar-button:is(:first-child, [sidebar-positionend]:last-child)
                ):not(.titlebar-button):not([open]):not(#downloads-button[progress]),
            #search-container:not(:focus-within),
            #zoom-controls,
            #edit-controls {
                opacity: 0 !important;
                transition: opacity var(--uc-autohide-navbar-icons-duration) var(--uc-autohide-navbar-icons-type);
            }
            @media -moz-pref("uc.flex.revert-to-original-sidebar-icon") {
                #sidebar-button {
                    opacity: 0 !important;
                    transition: opacity var(--uc-autohide-navbar-icons-duration) var(--uc-autohide-navbar-icons-type);
                }
            }
        }

        #navigator-toolbox:hover {
            #main-menubar > menu,
            toolbarbutton,
            #search-container,
            #zoom-controls,
            #edit-controls {
                transition: opacity var(--uc-hover-navbar-icons-duration) var(--uc-autohide-navbar-icons-type);
            }
        }
    }
}

/* Navigation bar Buttons */
toolbarbutton:hover {
    cursor: pointer;
}

/* ----- Move menu buttons ----- */
#nav-bar #PanelUI-button {
    -moz-box-ordinal-group: 0 !important;
}

#nav-bar #PanelUI-button #PanelUI-menu-button {
    margin-right: 2px !important;
    margin-left: 2px !important;
}

@media only screen and (max-width: 670px) {
    #main-window:not([inFullscreen]) #navigator-toolbox #TabsToolbar .titlebar-buttonbox-container {
        visibility: visible !important;
        position: relative !important;
        display: block !important;
    }
    #main-window:not([inFullscreen]) #navigator-toolbox #nav-bar {
        padding-right: initial !important;
    }
    #TabsToolbar.browser-toolbar {
        display: flex !important;
        justify-content: flex-end !important;
    }
}

/* Modified from https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/autohide_toolbox.css */
/* 2f30a22 */

/* Hide the whole toolbar area unless urlbar is focused or cursor is over the toolbar */
/* Dimensions on non-Win10 OS probably needs to be adjusted */

@media -moz-pref("uc.flex.fully-hide-toolbox") {
    :root:not([inFullscreen]) {
        #navigator-toolbox {
            --browser-area-z-index-toolbox: 3;
            position: fixed !important;
            /*
            background-color: var(--lwt-accent-color, black) !important;
            */
            background-color: var(--toolbox-bgcolor) !important;
            transition: var(--uc-autohide-navbar-transition) !important;
            /*
            transition:
                transform 82ms linear,
                opacity 82ms linear !important;
            transition-delay: var(--uc-autohide-toolbox-delay) !important;
            @media -moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and -moz-pref("widget.windows.mica"),
                -moz-pref("uc.flex.sidebery-apply-expand-speed-to-toolbars"),
                -moz-pref("uc.flex.browser-wallpaper-enabled") {
                transition:
                    transform var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type)
                        var(--uc-autohide-sidebar-delay),
                    opacity var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type)
                        var(--uc-autohide-sidebar-delay) !important;
            }
            */
            transform-origin: top;
            transform: rotateX(var(--uc-toolbox-rotation));
            opacity: 0;
            line-height: 0;
            z-index: 1;
            pointer-events: none;
            width: 100vw;
        }

        &[sessionrestored] #urlbar[popover] {
            pointer-events: none;
            opacity: 0;
            /* Use !important to override the transition styles in Nightly (v135) */
            transition: var(--uc-autohide-urlbar-transition) !important;
            /*
            transition:
                transform 82ms linear var(--uc-autohide-toolbox-delay),
                opacity 0ms calc(var(--uc-autohide-toolbox-delay) + 82ms),
                box-shadow 0.3s ease-out,
                left 0.3s ease,
                width 0.3s ease,
                translate 0.3s ease !important;
            @media -moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and -moz-pref("widget.windows.mica"),
                -moz-pref("uc.flex.sidebery-apply-expand-speed-to-toolbars"),
                -moz-pref("uc.flex.browser-wallpaper-enabled") {
                transition:
                    transform var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type)
                        var(--uc-autohide-sidebar-delay),
                    opacity 0ms var(--uc-autohide-transition-type)
                        calc(var(--uc-autohide-sidebar-delay) + var(--uc-autohide-transition-duration)),
                    box-shadow 0.3s ease-out,
                    left 0.3s ease,
                    width 0.3s ease,
                    translate 0.3s ease !important;
            }
            */
            transform-origin: 0px calc(0px - var(--tab-min-height) - var(--tab-block-margin) * 2);
            transform: rotateX(89.9deg);
        }

        :root[window-modal-open] #urlbar[popover],
        #mainPopupSet:has(
                > [panelopen]:not(
                        #ask-chat-shortcuts,
                        #selection-shortcut-action-panel,
                        #chat-shortcuts-options-panel,
                        #tab-preview-panel
                    ),
                > #tab-group-editor > [panelopen]
            )
            ~ toolbox
            #urlbar[popover],
        #navigator-toolbox:is(:hover, :focus-within, [movingtab]) #urlbar[popover],
        #urlbar-container > #urlbar[popover]:is([focused], [open]) {
            pointer-events: auto;
            opacity: 1;
            /* Use !important to override the transition styles in Nightly (v135) */
            /*
            transition-delay: 33ms !important;
            */
            transition: var(--uc-hover-urlbar-transition) !important;
            /*
            transition:
                transform 82ms 33ms,
                opacity 0ms 33ms,
                box-shadow 0.3s ease-out,
                left 0.3s ease,
                width 0.3s ease,
                translate 0.3s ease !important;
            @media -moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and -moz-pref("widget.windows.mica"),
                -moz-pref("uc.flex.sidebery-apply-expand-speed-to-toolbars"),
                -moz-pref("uc.flex.browser-wallpaper-enabled") {
                transition:
                    transform var(--uc-hover-transition-duration) var(--uc-autohide-transition-type)
                        var(--uc-hover-sidebar-delay),
                    opacity var(--uc-hover-transition-duration) var(--uc-autohide-transition-type)
                        var(--uc-hover-sidebar-delay) !important;
            }
            */
            transform: rotateX(0deg);
        }

        :root[window-modal-open] #navigator-toolbox,
        #mainPopupSet:has(
                > [panelopen]:not(
                        #ask-chat-shortcuts,
                        #selection-shortcut-action-panel,
                        #chat-shortcuts-options-panel,
                        #tab-preview-panel
                    ),
                > #tab-group-editor > [panelopen]
            )
            ~ toolbox,
        #navigator-toolbox:has(#urlbar:is([open], [focus-within])),
        #navigator-toolbox:is(:hover, :focus-within, [movingtab]) {
            transition: var(--uc-hover-navbar-transition) !important;
            /*
            transition-delay: 33ms !important;
            @media -moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and -moz-pref("widget.windows.mica"),
                -moz-pref("uc.flex.sidebery-apply-expand-speed-to-toolbars"),
                -moz-pref("uc.flex.browser-wallpaper-enabled") {
                transition:
                    transform var(--uc-hover-transition-duration) var(--uc-autohide-transition-type)
                        var(--uc-hover-sidebar-delay),
                    opacity var(--uc-hover-transition-duration) var(--uc-autohide-transition-type)
                        var(--uc-hover-sidebar-delay) !important;
            }
            */
            transform: rotateX(0);
            opacity: 1;
        }

        #navigator-toolbox > * {
            line-height: normal;
            pointer-events: auto;
        }

        /* Don't apply transform before window has been fully created */
        &:not([sessionrestored]) #navigator-toolbox {
            transform: none !important;
        }

        &[customizing] #navigator-toolbox {
            position: relative !important;
            transform: none !important;
            opacity: 1 !important;
        }

        /* This is a bit hacky fix for an issue that will make urlbar zero pixels tall after you enter customize mode */
        #urlbar[breakout][breakout-extend] > .urlbar-input-container {
            padding-block: calc(
                min(4px, (var(--urlbar-container-height) - var(--urlbar-height)) / 2) + var(--urlbar-container-padding)
            ) !important;
        }
    }
}

@media not -moz-pref("uc.flex.fully-hide-toolbox") {
    :root:is([titlepreface*="\200b "], [titlepreface*="\200d "]):not([inFullscreen]) {
        #navigator-toolbox {
            --browser-area-z-index-toolbox: 3;
            position: fixed !important;
            /*
            background-color: var(--lwt-accent-color, black) !important;
            */
            background-color: var(--toolbox-bgcolor) !important;
            transition: var(--uc-autohide-navbar-transition) !important;
            /*
            transition:
                transform 82ms linear,
                opacity 82ms linear !important;
            transition-delay: var(--uc-autohide-toolbox-delay) !important;
            @media -moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and -moz-pref("widget.windows.mica"),
                -moz-pref("uc.flex.sidebery-apply-expand-speed-to-toolbars"),
                -moz-pref("uc.flex.browser-wallpaper-enabled") {
                transition:
                    transform var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type)
                        var(--uc-autohide-sidebar-delay),
                    opacity var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type)
                        var(--uc-autohide-sidebar-delay) !important;
            }
            */
            transform-origin: top;
            transform: rotateX(var(--uc-toolbox-rotation));
            opacity: 0;
            line-height: 0;
            z-index: 1;
            pointer-events: none;
            width: 100vw;
        }

        &[sessionrestored] #urlbar[popover] {
            pointer-events: none;
            opacity: 0;
            /* Use !important to override the transition styles in Nightly (v135) */
            transition: var(--uc-autohide-urlbar-transition) !important;
            /*
            transition:
                transform 82ms linear var(--uc-autohide-toolbox-delay),
                opacity 0ms calc(var(--uc-autohide-toolbox-delay) + 82ms),
                box-shadow 0.3s ease-out,
                left 0.3s ease,
                width 0.3s ease,
                translate 0.3s ease !important;
            @media -moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and -moz-pref("widget.windows.mica"),
                -moz-pref("uc.flex.sidebery-apply-expand-speed-to-toolbars"),
                -moz-pref("uc.flex.browser-wallpaper-enabled") {
                transition:
                    transform var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type)
                        var(--uc-autohide-sidebar-delay),
                    opacity 0ms var(--uc-autohide-transition-type)
                        calc(var(--uc-autohide-sidebar-delay) + var(--uc-autohide-transition-duration)) !important;
            }
            */
            transform-origin: 0px calc(0px - var(--tab-min-height) - var(--tab-block-margin) * 2);
            transform: rotateX(89.9deg);
        }

        :root[window-modal-open] #urlbar[popover],
        #mainPopupSet:has(
                > [panelopen]:not(
                        #ask-chat-shortcuts,
                        #selection-shortcut-action-panel,
                        #chat-shortcuts-options-panel,
                        #tab-preview-panel
                    ),
                > #tab-group-editor > [panelopen]
            )
            ~ toolbox
            #urlbar[popover],
        #navigator-toolbox:is(:hover, :focus-within, [movingtab]) #urlbar[popover],
        #urlbar-container > #urlbar[popover]:is([focused], [open]) {
            pointer-events: auto;
            opacity: 1;
            /* Use !important to override the transition styles in Nightly (v135) */
            /*
            transition-delay: 33ms !important;
            */
            transition: var(--uc-hover-urlbar-transition) !important;
            /*
            transition:
                transform 82ms linear 33ms,
                opacity 0ms 33ms,
                box-shadow 0.3s ease-out,
                left 0.3s ease,
                width 0.3s ease,
                translate 0.3s ease !important;
            @media -moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and -moz-pref("widget.windows.mica"),
                -moz-pref("uc.flex.sidebery-apply-expand-speed-to-toolbars"),
                -moz-pref("uc.flex.browser-wallpaper-enabled") {
                transition:
                    transform var(--uc-hover-transition-duration) var(--uc-autohide-transition-type)
                        var(--uc-hover-sidebar-delay),
                    opacity var(--uc-hover-transition-duration) var(--uc-autohide-transition-type)
                        var(--uc-hover-sidebar-delay),
                    box-shadow 0.3s ease-out,
                    left 0.3s ease,
                    width 0.3s ease,
                    translate 0.3s ease !important;
            }
            */
            transform: rotateX(0deg);
        }

        :root[window-modal-open] #navigator-toolbox,
        #mainPopupSet:has(
                > [panelopen]:not(
                        #ask-chat-shortcuts,
                        #selection-shortcut-action-panel,
                        #chat-shortcuts-options-panel,
                        #tab-preview-panel
                    ),
                > #tab-group-editor > [panelopen]
            )
            ~ toolbox,
        #navigator-toolbox:has(#urlbar:is([open], [focus-within])),
        #navigator-toolbox:is(:hover, :focus-within, [movingtab]) {
            transition: var(--uc-hover-navbar-transition) !important;
            /*
            transition-delay: 33ms !important;
            @media -moz-pref("extensions.activeThemeID", "default-theme@mozilla.org") and -moz-pref("widget.windows.mica"),
                -moz-pref("uc.flex.sidebery-apply-expand-speed-to-toolbars"),
                -moz-pref("uc.flex.browser-wallpaper-enabled") {
                transition:
                    transform var(--uc-hover-transition-duration) var(--uc-autohide-transition-type)
                        var(--uc-hover-sidebar-delay),
                    opacity var(--uc-hover-transition-duration) var(--uc-autohide-transition-type)
                        var(--uc-hover-sidebar-delay) !important;
            }
            */
            transform: rotateX(0);
            opacity: 1;
        }

        #navigator-toolbox > * {
            line-height: normal;
            pointer-events: auto;
        }

        /* Don't apply transform before window has been fully created */
        &:not([sessionrestored]) #navigator-toolbox {
            transform: none !important;
        }

        &[customizing] #navigator-toolbox {
            position: relative !important;
            transform: none !important;
            opacity: 1 !important;
        }

        /* This is a bit hacky fix for an issue that will make urlbar zero pixels tall after you enter customize mode */
        #urlbar[breakout][breakout-extend] > .urlbar-input-container {
            padding-block: calc(
                min(4px, (var(--urlbar-container-height) - var(--urlbar-height)) / 2) + var(--urlbar-container-padding)
            ) !important;
        }
    }
}
