@import url(chrome://userchrome/content/layout/uc-low-globals.css);

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #23252e;
  color: #f4f4f7;
  -moz-control-character-visibility: visible;
}

.nowrap pre {
  white-space: pre;
}

html:not([dir]) pre {
  unicode-bidi: plaintext;
  background-color: #23252e;
  color: #f4f4f7;
}

@-moz-document unobservable-document() {
  @media (prefers-color-scheme: dark) {
    :root {
      background-color: #23252e;
      color: #f4f4f7;
    }
  }
}

@media (width: 0) or (height: 0) {
  :root {
    display: none;
  }
}
