@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";
@namespace html "http://www.w3.org/1999/xhtml";
/* Tab Stash */
:is(.webextension-browser-action, .eom-addon-button)[data-extensionid="tab-stash@condordes.net"i]
    .toolbarbutton-icon,
#sidebar-box[sidebarcommand="tab-stash_condordes_net-sidebar-action"]
    #sidebar-switcher-target
    > #sidebar-icon,
#sidebarMenu-popup
    #button_tab-stash_condordes_net-sidebar-action:not([checked="true"]),
menupopup#viewSidebarMenu
    menuitem.menuitem-iconic.webextension-menuitem#menu_tab-stash_condordes_net-sidebar-action[style]:is([type="checkbox"], [type="radio"]):not([checked="true"]) {
    list-style-image: url(chrome://userchrome/content/material/tabstash-logo.svg) !important;
}

#pageAction-urlbar-tab-stash_condordes_net {
    list-style-image: url(chrome://userchrome/content/material/tabstash-one.svg) !important;
}

:is(.customization-target, .widget-overflow-list)
    .webextension-browser-action[data-extensionid="jid1-KKzOGWgsW3Ao4Q@jetpack"i]
    > .toolbarbutton-badge-stack
    > .toolbarbutton-badge {
    background-color: transparent !important;
    background-size: 12px !important;
    width: 12px !important;
    height: 12px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    box-shadow: none !important;
    color: transparent !important;
}

.webextension-browser-action[data-extensionid="jid1-KKzOGWgsW3Ao4Q@jetpack"i][badge="⛔"]
    .toolbarbutton-badge {
    background-image: url(chrome://userchrome/content/error.svg) !important;
    fill: var(--warning-color) !important;
}

.webextension-browser-action[data-extensionid="jid1-KKzOGWgsW3Ao4Q@jetpack"i][badge="✅"]
    .toolbarbutton-badge {
    background-image: url(chrome://userchrome/content/material/verified.svg) !important;
    fill: var(--update-badge-bg) !important;
}
