@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";
@namespace html "http://www.w3.org/1999/xhtml";

/*= Default Icon - Open ======================================================*/
/* Query */
:-moz-any(#PlacesToolbar, #BMB_bookmarksPopup, #bookmarksMenu)
  .bookmark-item[container="true"][query="true"]:not([tagContainer])[open="true"]
  > .menu-iconic-left
  > .menu-iconic-icon {
  transform: rotate(15deg) !important;
}

/* History */
:-moz-any(#historyTree, #placesList, #placeContent) treechildren::-moz-tree-image(title, query, open, dayContainer),
:-moz-any(#historyTree, #placesList, #placeContent)
  treechildren::-moz-tree-image(query, open, OrganizerQuery_history____v) {
  list-style-image: url("./icons/history-reverse.svg") !important;
}

/* Tag */
:-moz-any(#PlacesToolbar, #BMB_bookmarksPopup, #bookmarksMenu)
  .bookmark-item[container="true"][tagContainer="true"][open="true"],
:-moz-any(#placesList, #placeContent) treechildren::-moz-tree-image(title, query, open, tagContainer),
:-moz-any(#placesList, #placeContent) treechildren::-moz-tree-image(query, open, OrganizerQuery_tags_______v) {
  list-style-image: url("./icons/tag-open.svg") !important;
}

/* Boomark */
:-moz-any(#placesList, #placeContent) treechildren::-moz-tree-image(query, open, OrganizerQuery_allbms_____v) {
  list-style-image: url("chrome://browser/skin/bookmark-hollow.svg") !important;
}

/* Bookmark Toolbar */
#BMB_bookmarksPopup #BMB_bookmarksToolbar[open="true"],
#bookmarksMenuPopup #bookmarksToolbarFolderMenu[open="true"],
:-moz-any(#bookmarks-view, #editBMPanel_folderTree, #placesList, #placeContent)
  treechildren::-moz-tree-image(container, open, queryFolder_toolbar_____) {
  list-style-image: url("./icons/bookmarksToolbar-open.svg") !important;
}

/* Bookmark Menu */
:-moz-any(#bookmarks-view, #editBMPanel_folderTree, #placesList, #placeContent)
  treechildren::-moz-tree-image(container, open, queryFolder_menu________) {
  list-style-image: url("./icons/bookmarksMenu-open.svg") !important; /* or bookmarksMenu-open2.svg" */
}

/*= Menubar - Icons ==========================================================*/
@-moz-document url("chrome://browser/content/places/places.xhtml")
{
  @media (-moz-gtk-csd-available) {
    #organizeButton,
    #viewMenu,
    #maintenanceButton,
    #back-button,
    #forward-button,
    #clearDownloadsButton {
      fill: currentColor !important;
      -moz-context-properties: fill !important;
    }

    /* Add */
    #organizeButton {
      list-style-image: url("chrome://global/skin/icons/settings.svg") !important;
    }
    #viewMenu {
      list-style-image: url("./icons/sort.svg") !important;
    }
    #maintenanceButton {
      list-style-image: url("./icons/import-export.svg") !important;
    }

    #clearDownloadsButton {
      list-style-image: url("chrome://global/skin/icons/delete.svg") !important;
    }
    #clearDownloadsButton > .toolbarbutton-icon {
      display: -moz-inline-box !important;
      margin-top: 0;
      margin-bottom: 0;
      margin-inline-start: 0;
      margin-inline-end: 2px;
    }

    /* Replace */
    #back-button {
      list-style-image: url("chrome://browser/skin/back.svg") !important;
    }
    #forward-button {
      list-style-image: url("chrome://browser/skin/forward.svg") !important;
    }

    #back-button:-moz-locale-dir(rtl) > .toolbarbutton-icon,
    #forward-button:-moz-locale-dir(rtl) > .toolbarbutton-icon {
      transform: scaleX(-1) !important;
    }
  }
}

/** Panel - Icons *************************************************************/
/*= Padding ==================================================================*/
:root {
  --arrowpanel-menublank-padding: calc(var(--arrowpanel-menuicon-padding) * 2 + 8px) !important;
  --arrowpanel-menuimageblank-padding: calc(var(--arrowpanel-menuitem-padding) - 2px) !important;
}

#downloadsHistory .button-text,
.subviewbutton > .toolbarbutton-text {
  padding-inline-start: var(--arrowpanel-menuicon-padding) !important;
}
.toolbaritem-combined-buttons > .subviewbutton:not(.subviewbutton-iconic) > .toolbarbutton-text {
  padding-inline-start: 0 !important;
}
#panelMenu_bookmarksMenu .subviewbutton[disabled="true"] .toolbarbutton-text,
#appMenu_historyMenu .subviewbutton[disabled="true"] .toolbarbutton-text {
  padding-inline-start: var(--arrowpanel-menublank-padding) !important;
}
#appMenu-proton-update-banner .toolbarbutton-text {
  margin-inline-start: 0 !important;
}

#appMenu-multiView .subviewbutton::before,
#appMenu-proton-update-banner::before {
  display: -moz-inline-box;
  margin-inline-end: var(--arrowpanel-menuicon-padding);
  width: 16px;
  height: 16px;
}
#appMenu-proton-update-banner {
  margin-bottom: 2px !important;
}
#appMenu-proton-update-banner::before {
  margin-inline-start: var(--arrowpanel-menuitem-padding) !important;
}
#appMenu-fxa-status2,
#appMenu-zoom-controls2 {
  align-items: center;
  padding-top: var(--arrowpanel-menuimageblank-padding) !important;
  padding-bottom: var(--arrowpanel-menuimageblank-padding) !important;
}
#appMenu-zoom-controls2::before {
  margin-inline-end: 0 !important;
}

.subviewbutton[type="checkbox"]:not([checked="true"]) > .toolbarbutton-text {
  margin-left: 16px !important;
}

/* Icons Color */
#appMenu-multiView .subviewbutton::before,
#appMenu-proton-update-banner::before,
#downloadsHistory .button-icon,
.subviewbutton > image {
  fill: currentColor !important;
  fill-opacity: var(--toolbarbutton-icon-fill-opacity) !important;
  -moz-context-properties: fill !important;
}
#appMenu-zoomReduce-button2 > .toolbarbutton-icon,
#appMenu-zoomEnlarge-button2 > .toolbarbutton-icon {
  stroke: var(--zoom-controls-bgcolor, var(--button-bgcolor, ButtonFace)) !important;
  -moz-context-properties: fill, stroke !important;
}
#appMenu-zoomReduce-button2:not([disabled], [open], :active):is(:hover) > .toolbarbutton-icon,
#appMenu-zoomEnlarge-button2:not([disabled], [open], :active):is(:hover) > .toolbarbutton-icon {
  stroke: var(--button-hover-bgcolor) !important;
}

.subviewbutton[disabled="true"] > image {
  /* Ghost icons when disabled */
  opacity: 0.4;
}

/*= Panel - Main =============================================================*/
#appMenu-proton-addon-banners > .addon-banner-item > .toolbarbutton-icon {
  display: -moz-inline-box !important;
  margin-inline-start: var(--arrowpanel-menuicon-padding);
  -moz-box-ordinal-group: 0 !important;
}

#appMenu-proton-update-banner::before {
  content: url("./icons/whatsnew.svg");
}
#appMenu-fxa-status2::before {
  /* Don't exist img tag */
  content: url("chrome://browser/skin/fxa/avatar-empty.svg");
}
#appMenu-fxa-status2:is([fxastatus="signedin"], [fxastatus="unverified"], [fxastatus="login-failed"])::before {
  display: none;
}
#appMenu-fxa-status2:is([fxastatus="signedin"], [fxastatus="unverified"], [fxastatus="login-failed"])
  #appMenu-fxa-label2::before {
  /* url("https://profile.accounts.firefox.com/v1/avatar/a") */
  content: "";
  border-radius: 50% !important;
  background-size: 16px !important;
  background-image: var(--avatar-image-url) !important;
}

#appMenu-new-tab-button2 {
  list-style-image: url("chrome://browser/skin/new-tab.svg");
}
#appMenu-new-window-button2 {
  list-style-image: url("chrome://browser/skin/window.svg");
}
#appMenu-new-private-window-button2 {
  list-style-image: url("chrome://browser/skin/privateBrowsing.svg");
}

#appMenu-bookmarks-button {
  list-style-image: url("chrome://browser/skin/bookmark.svg");
}
#appMenu-history-button {
  list-style-image: url("chrome://browser/skin/history.svg");
}
#appMenu-downloads-button {
  list-style-image: url("chrome://browser/skin/downloads/downloads.svg");
}
#appMenu-passwords-button {
  list-style-image: url("chrome://browser/skin/login.svg");
}
#appMenu-extensions-themes-button {
  list-style-image: url("chrome://mozapps/skin/extensions/extension.svg");
}

#appMenu-print-button2 {
  list-style-image: url("chrome://global/skin/icons/print.svg");
}
#appMenu-save-file-button2 {
  list-style-image: url("chrome://browser/skin/save.svg");
}
#appMenu-find-button2 {
  list-style-image: url("chrome://global/skin/icons/search-glass.svg");
}
#appMenu-zoom-controls2::before {
  content: url("./icons/screenshot.svg");
}

#appMenu-settings-button {
  list-style-image: url("chrome://global/skin/icons/settings.svg");
}
#appMenu-more-button2 {
  list-style-image: url("chrome://browser/skin/ion.svg");
}
#appMenu-help-button2 {
  list-style-image: url("chrome://global/skin/icons/help.svg");
}

#appMenu-quit-button2 {
  list-style-image: url("./icons/quit.svg");
}

/*= Panel - Account ==========================================================*/
#PanelUI-fxa-menu-connect-device-button .toolbarbutton-icon,
#PanelUI-fxa-menu-account-signout-button .toolbarbutton-icon {
  width: 16px !important;
  height: 16px !important;
}

/* Default */
#fxa-manage-account-button::before {
  content: "";
  display: -moz-inline-box;
  width: 32px !important;
  height: 32px !important;
  border-radius: 50%;
  background-size: 32px;
  background-image: var(--avatar-image-url);
  margin-inline-end: var(--arrowpanel-menuicon-padding);
}

.syncNowBtn {
  visibility: visible !important;
  -moz-box-ordinal-group: 1 !important;
  margin-inline-end: var(--arrowpanel-menuicon-padding);
}
#PanelUI-fxa-menu-setup-sync-button {
  list-style-image: url("chrome://browser/skin/sync.svg");
}

#PanelUI-fxa-menu-connect-device-button {
  list-style-image: url("chrome://browser/skin/fxa/add-device.svg");
}
#PanelUI-fxa-menu-sendtab-button {
  list-style-image: url("./icons/send-to-device.svg");
}
#PanelUI-fxa-menu-sync-prefs-button {
  list-style-image: url("chrome://global/skin/icons/settings.svg");
}
#PanelUI-fxa-menu-account-signout-button {
  list-style-image: url("./icons/sign-out.svg");
}
#PanelUI-remotetabs-view-managedevices::before {
  /* Box */
  content: "";
  padding-inline-end: 16px;
  padding-block: 1px;
  margin-inline-end: var(--arrowpanel-menuicon-padding);

  /* Color */
  fill: currentColor;
  fill-opacity: var(--toolbarbutton-icon-fill-opacity);
  -moz-context-properties: fill;

  background-size: 16px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("chrome://global/skin/icons/settings.svg");
}

.PanelUI-remotetabs-notabsforclient-label {
  margin-inline-start: calc(var(--arrowpanel-menuicon-padding) + var(--arrowpanel-menuitem-padding)) !important;
  padding-inline-start: var(--arrowpanel-menublank-padding) !important;
}

/* Change Separator */
#PanelUI-fxa-menu::before {
  content: "";
  display: -moz-box;
  border-bottom: 1px solid var(--panel-separator-color);
  margin: var(--panel-separator-margin);
  padding: 0;
}
#PanelUI-fxa-menu > :first-child {
  -moz-box-ordinal-group: 0;
}
#PanelUI-sign-out-separator {
  display: none;
}
.pageAction-sendToDevice-device.subviewbutton.sync-menuitem.sendtab-target[clientType=""], /* Legacy */
  .sendToDevice-device.subviewbutton.sync-menuitem.sendtab-target[clientType=""] {
  list-style-image: url("./icons/send-to-device.svg");
}
.pageAction-sendToDevice-device.subviewbutton.sync-menuitem.sendtab-target:not([clientType]), /* Legacy */
  .sendToDevice-device.subviewbutton.sync-menuitem.sendtab-target:not([clientType]) {
  list-style-image: url("chrome://global/skin/icons/settings.svg");
}

/*= Panel - Bookmark =========================================================*/
#panelMenuBookmarkThisPage {
  list-style-image: url("chrome://browser/skin/bookmark-hollow.svg");
}
panelMenuBookmarkThisPage[starred] {
  list-style-image: url("chrome://browser/skin/bookmark.svg");
}

#panelMenu_searchBookmarks {
  list-style-image: url("chrome://global/skin/icons/search-glass.svg");
}
#panelMenu_viewBookmarksToolbar {
  list-style-image: url("chrome://browser/skin/bookmarks-toolbar.svg");
}

#panelMenu_showAllBookmarks {
  list-style-image: url("chrome://browser/skin/bookmark-star-on-tray.svg");
}

/*= Panel - History ==========================================================*/
#appMenuRecentlyClosedTabs {
  list-style-image: url("chrome://browser/skin/tab.svg");
}
#appMenuRecentlyClosedWindows {
  list-style-image: url("chrome://browser/skin/window.svg");
}
#appMenuRestoreSession {
  list-style-image: url("./icons/restore-session.svg");
}
#appMenuClearRecentHistory {
  list-style-image: url("chrome://browser/skin/forget.svg");
}

#PanelUI-historyMore {
  list-style-image: url("chrome://browser/skin/history.svg");
}

#appMenu-library-recentlyClosedTabs {
  list-style-image: url("./icons/movetowindow-16.svg");
}
#appMenu-library-recentlyClosedWindows {
  list-style-image: url("./icons/restore-session.svg");
}

/*= Panel - More tools =======================================================*/
#appmenu-moreTools-button {
  list-style-image: url("chrome://browser/skin/customize.svg");
}

/* Web Developer Tools */
#appmenu-developer-tools-view .subviewbutton:nth-child(1),
#PanelUI-developer-tools-view .subviewbutton:nth-child(1) {
  list-style-image: url("./icons/developer.svg");
}
/* Task Manager */
#appmenu-developer-tools-view .subviewbutton:nth-child(2),
#PanelUI-developer-tools-view .subviewbutton:nth-child(2) {
  list-style-image: url("./icons/performance.svg");
}
/* Remote Debugging - Edge bug.svg */
#appmenu-developer-tools-view .subviewbutton:nth-child(3),
#PanelUI-developer-tools-view .subviewbutton:nth-child(3) {
  list-style-image: url("./icons/bug.svg");
}
/* Browser Toolbox - Edge webdeveloper.svg */
#appmenu-developer-tools-view .subviewbutton:nth-child(4),
#PanelUI-developer-tools-view .subviewbutton:nth-child(4) {
  list-style-image: url("./icons/window-dev-tools.svg");
}
/* Browser Content Toolbaox -  */
#appmenu-developer-tools-view .subviewbutton:nth-child(5),
#PanelUI-developer-tools-view .subviewbutton:nth-child(5) {
  list-style-image: url("./icons/command-frames.svg");
}
/* Browser Console */
#appmenu-developer-tools-view .subviewbutton:nth-last-child(5),
#PanelUI-developer-tools-view .subviewbutton:nth-last-child(5) {
  list-style-image: url("chrome://devtools/skin/images/command-console.svg");
}
/* Responsive Design Mode */
#appmenu-developer-tools-view .subviewbutton:nth-last-child(4),
#PanelUI-developer-tools-view .subviewbutton:nth-last-child(4) {
  list-style-image: url("./icons/command-responsivemode.svg");
}
/* Eyedropper */
#appmenu-developer-tools-view .subviewbutton:nth-last-child(3),
#PanelUI-developer-tools-view .subviewbutton:nth-last-child(3) {
  list-style-image: url("chrome://devtools/skin/images/command-eyedropper.svg");
}
/* Page Source - Edge file-search.svg */
#appmenu-developer-tools-view .subviewbutton:nth-last-child(2),
#PanelUI-developer-tools-view .subviewbutton:nth-last-child(2) {
  list-style-image: url("./icons/document-search.svg");
}
/* Extensions for Devel */
#appmenu-developer-tools-view .subviewbutton:nth-last-child(1),
#PanelUI-developer-tools-view .subviewbutton:nth-last-child(1) {
  list-style-image: url("chrome://devtools/skin/images/debugging-addons.svg");
}
#appmenu-developer-tools-view .subviewbutton:last-child {
  margin-bottom: 6px !important;
}

/*= Panel - Help =============================================================*/
#appMenu_menu_openHelp {
  list-style-image: url("chrome://global/skin/icons/help.svg");
}
#appMenu_feedbackPage {
  list-style-image: url("./icons/send.svg");
}
#appMenu_helpSafeMode {
  list-style-image: url("chrome://devtools/skin/images/debugging-workers.svg");
}
#appMenu_troubleShooting {
  list-style-image: url("chrome://global/skin/icons/more.svg");
}
#appMenu_help_reportSiteIssue {
  list-style-image: url("chrome://global/skin/icons/lightbulb.svg");
}
#appMenu_menu_HelpPopup_reportPhishingtoolmenu {
  list-style-image: url("chrome://global/skin/icons/warning.svg");
}
#appMenu_aboutName {
  list-style-image: url("chrome://global/skin/icons/info.svg");
}

/*= Panel - Library ==========================================================*/
#appMenu-library-bookmarks-button {
  list-style-image: url("chrome://browser/skin/bookmark.svg");
}
#appMenu-library-history-button {
  list-style-image: url("chrome://browser/skin/history.svg");
}
#appMenu-library-downloads-button {
  list-style-image: url("chrome://browser/skin/downloads/downloads.svg");
}

/*= Panel - Downloads ======================================================*/
#downloadsHistory {
  list-style-image: url("chrome://browser/skin/downloads/downloads.svg");
}
#downloadsHistory .box-inherit.button-box {
  display: -moz-inline-box !important;
}

/*= Toolbar - Overflow Menu ==================================================*/
#overflowMenu-customize-button {
  list-style-image: url("chrome://browser/skin/customize.svg");
}

/*= Tabbar - All Tab Menu ====================================================*/
#allTabsMenu-undoCloseTab {
  list-style-image: url("chrome://global/skin/icons/undo.svg");
}
#allTabsMenu-searchTabs {
  list-style-image: url("chrome://global/skin/icons/search-glass.svg");
}
#allTabsMenu-containerTabsButton {
  list-style-image: url("./icons/container-openin-16.svg");
}

#allTabsMenu-hiddenTabsButton {
  list-style-image: url("./icons/password-hide.svg");
}

#allTabsMenu-containerTabsView .subviewbutton:last-child {
  list-style-image: url("chrome://global/skin/icons/settings.svg");
}

/*= BMB_bookmarksPopup =======================================================*/
#BMB_viewBookmarksSidebar {
}
#BMB_bookmarksShowAllTop,
#BMB_bookmarksShowAll {
  --menuitem-image: url("chrome://browser/skin/bookmark-star-on-tray.svg");
}
#BMB_bookmarksToolbar {
  --menuitem-image: url("chrome://browser/skin/bookmarks-toolbar.svg");
}

@supports -moz-bool-pref("layout.css.osx-font-smoothing.enabled") {
  #BMB_bookmarksShowAllTop {
    list-style-image: url("chrome://browser/skin/bookmark-star-on-tray.svg") !important;
  }
  #BMB_bookmarksShowAllTop > .menu-iconic-left {
    display: -moz-box !important;
  }
}

/*= protections-popup ========================================================*/
#protections-popup-settings-button > .protections-popup-settings-icon,
#protections-popup-show-report-button > .protections-popup-show-report-icon {
  -moz-context-properties: fill;
  fill: currentColor;
  margin-inline-end: 1em;
}

#protections-popup-settings-button > .protections-popup-settings-icon {
  list-style-image: url("chrome://global/skin/icons/settings.svg");
}

#protections-popup-show-report-button > .protections-popup-show-report-icon {
  /* chrome://browser/skin/controlcenter/dashboard.svg */
  list-style-image: url("icons/dashboard.svg");
}

/*= identity-popup ===========================================================*/
#identity-popup-clear-sitedata-button,
#identity-popup-more-info {
  padding-inline: 5px !important;
}

#identity-popup-securityView-body {
  margin-inline-start: 32px !important; /* Original: 10px */
}

#identity-popup-clear-sitedata-button {
  list-style-image: url("./icons/broom.svg");
}

/*= sidebarMenu-popup ========================================================*/
#identity-popup-more-info {
  list-style-image: url("chrome://global/skin/icons/info.svg");
}

#sidebar-switcher-bookmarks {
  list-style-image: url("chrome://browser/skin/bookmark.svg");
}

#sidebar-switcher-history {
  list-style-image: url("chrome://browser/skin/history.svg");
}

#sidebar-switcher-tabs {
  list-style-image: url("chrome://browser/skin/tab.svg");
}

#sidebar-reverse-position {
  list-style-image: url("chrome://browser/skin/sidebars-right.svg");
}
#sidebar-box[positionend="true"] #sidebar-reverse-position {
  /* Can't apply this. shadow dom */
  list-style-image: url("chrome://browser/skin/sidebars.svg");
}

#sidebarMenu-popup > .subviewbutton[data-l10n-id="sidebar-menu-close"] {
  list-style-image: url("chrome://global/skin/icons/close.svg");
}

/** Menu - Icons Layout *******************************************************/
menupopup menuitem:not([type="checkbox"], [type="radio"]),
menupopup menu:not([type="checkbox"], [type="radio"]),
#main-menubar > menu {
  -moz-appearance: none !important; /* Linux: menulist */
}

/* Icon */
:not(menu, #ContentSelectDropdown)
  > menupopup
  > menuitem:not(.menuitem-iconic, .in-menulist, [type="checkbox"], [checked="true"]),
:not(menu, #ContentSelectDropdown)
  > menupopup
  > menu:not(.menu-iconic, .in-menulist, [type="checkbox"], [checked="true"]),
#main-menubar > menu,
menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #goPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
  menuitem:not(.menuitem-iconic, .in-menulist, [type="checkbox"], [checked="true"]),
menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #goPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
  menu:not(.menu-iconic, .in-menulist, [type="checkbox"], [checked="true"]),
menupopup:is(#organizeButtonPopup, #maintenanceButtonPopup) > menuitem,
menupopup:is(#viewMenuPopup, #maintenanceButtonPopup) > menu,
menupopup:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup) > menuitem,
#blockedPopupDontShowMessage {
  /* Color */
  -moz-context-properties: fill, fill-opacity !important;
  fill: currentColor !important;

  /* Layout */
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-image: var(--menuitem-image);
}

/* For native context menus on macOS */
@supports -moz-bool-pref("widget.macos.native-context-menus") {
  :not(menu, #ContentSelectDropdown)
    > menupopup
    > menuitem:not(.menuitem-iconic, [type="checkbox"], [checked="true"], .in-menulist),
  :not(menu, #ContentSelectDropdown)
    > menupopup
    > menu:not(.menu-iconic, [type="checkbox"], [checked="true"], .in-menulist) {
    list-style-image: var(--menuitem-image) !important;
  }
}

/* Padding */
:root {
  --context-menu-background-padding-default: 5px;
  --context-menu-background-padding: var(--context-menu-background-padding-default);
}
:not(menu, #ContentSelectDropdown, #context-navigation) > menupopup > menuitem:not(.menuitem-iconic),
:not(menu, #ContentSelectDropdown, #context-navigation) > menupopup > menu:not(.menu-iconic),
menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #goPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
  menuitem:not(.menuitem-iconic, .in-menulist, [type="checkbox"], [checked="true"], .bookmark-item),
menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #goPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
  menu:not(.menu-iconic, .in-menulist, [type="checkbox"], [checked="true"]),
menupopup:is(#organizeButtonPopup, #maintenanceButtonPopup) > menuitem,
menupopup:is(#viewMenuPopup, #maintenanceButtonPopup) > menu,
menupopup:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup) > menuitem,
#blockedPopupDontShowMessage {
  background-position: left var(--context-menu-background-padding) center !important;
  padding-inline-start: var(--context-menu-background-padding) !important;
}

/** Context Menu - Icons ******************************************************/
/*= tabContextMenu ===========================================================*/
#context_openANewTab {
  --menuitem-image: url("chrome://browser/skin/new-tab.svg");
}

#context_reloadTab,
#context_reloadSelectedTabs {
  --menuitem-image: url("./icons/reload.svg");
}
#context_toggleMuteTab,
#context_toggleMuteSelectedTabs {
  --menuitem-image: url("chrome://browser/skin/tabbrowser/tab-audio-muted-small.svg");
}
#context_toggleMuteTab[muted],
#context_toggleMuteSelectedTabs[muted] {
  --menuitem-image: url("chrome://browser/skin/tabbrowser/tab-audio-playing-small.svg");
}
#context_pinTab,
#context_pinSelectedTabs {
  --menuitem-image: url("./icons/pin-tab.svg");
}
#context_unpinTab,
#context_unpinSelectedTabs {
  --menuitem-image: url("./icons/unpin-tab.svg");
}
#context_duplicateTab,
#context_duplicateTabs {
  --menuitem-image: url("./icons/notebook-subsection.svg");
}

#context_bookmarkTab,
#context_bookmarkSelectedTabs {
  --menuitem-image: url("chrome://browser/skin/bookmark.svg");
}
#context_moveTabOptions {
  --menuitem-image: url("./icons/arrow-swap.svg");
}
#context_sendTabToDevice {
  --menuitem-image: url("./icons/send-to-device.svg");
}

#context_sendTabToDevice:is([disabled="true"]) + #context_shareTabURL, /* Legacy */
  #context_sendTabToDevice:is([disabled="true"]) + menuitem.share-tab-url-item {
  /* At windows */
  --menuitem-image: url("./icons/share.svg");
}
#context_reopenInContainer {
  --menuitem-image: url("./icons/container-openin-16.svg");
}
#context_selectAllTabs {
  --menuitem-image: url("./icons/tab-multiple.svg");
}

#context_closeTab {
  --menuitem-image: url("chrome://global/skin/icons/close.svg");
}
#context_closeTabOptions {
}
#context_undoCloseTab {
  --menuitem-image: url("chrome://global/skin/icons/undo.svg");
}

/*= new-tab-button-popup =====================================================*/
#new-tab-button-popup > menuitem[command="Browser:OpenAboutContainers"],
.new-tab-popup > menuitem[command="Browser:OpenAboutContainers"] {
  --menuitem-image: url("chrome://global/skin/icons/settings.svg");
}

/*= toolbar-context-menu =====================================================*/
.customize-context-manageExtension {
  --menuitem-image: url("chrome://global/skin/icons/settings.svg");
}
.customize-context-removeExtension {
  --menuitem-image: url("chrome://global/skin/icons/delete.svg");
}
.customize-context-reportExtension {
  --menuitem-image: url("./icons/send.svg");
}

.customize-context-moveToPanel {
  --menuitem-image: url("chrome://browser/skin/pin-12.svg");
}
.toolbar-context-autohide-downloads-button {
  --menuitem-image: url("./icons/password-hide.svg");
}
.customize-context-removeFromToolbar {
  --menuitem-image: url("chrome://global/skin/icons/delete.svg");
}
#toolbar-context-openANewTab {
  --menuitem-image: url("chrome://browser/skin/new-tab.svg");
}

#toolbar-context-reloadSelectedTab,
#toolbar-context-reloadSelectedTabs {
  --menuitem-image: url("./icons/reload.svg");
}
#toolbar-context-bookmarkSelectedTab,
#toolbar-context-bookmarkSelectedTabs {
  --menuitem-image: url("chrome://browser/skin/bookmark.svg");
}
#toolbar-context-selectAllTabs {
  --menuitem-image: url("./icons/tab-multiple.svg");
}
#toolbar-context-undoCloseTab {
  --menuitem-image: url("chrome://global/skin/icons/undo.svg");
}

#toggle_toolbar-menubar {
  /* checkbox */
  /* --menuitem-image: url("./icons/calendar-agenda.svg"); */
}
#toggle_PersonalToolbar {
  /* Also placeContext */
  --menuitem-image: url("chrome://browser/skin/bookmarks-toolbar.svg");
}

menuitem.viewCustomizeToolbar {
  --menuitem-image: url("chrome://browser/skin/customize.svg");
}

/*= blockedPopupOptions ======================================================*/
#blockedPopupAllowSite {
  --menuitem-image: url("chrome://global/skin/icons/check.svg");
}
#blockedPopupOptions > menuitem[oncommand="gPopupBlockerObserver.editPopupSettings();"] {
  --menuitem-image: url("chrome://global/skin/icons/edit.svg");
}
#blockedPopupDontShowMessage {
  /* checkbox */
  --menuitem-image: url("chrome://global/skin/icons/blocked.svg");
}

/*= autohide-context =========================================================*/
#autohide-context > menuitem[data-l10n-id="full-screen-autohide"] {
  /* checkbox */
}

#autohide-context > menuitem[data-l10n-id="full-screen-exit"] {
  --menuitem-image: url("chrome://browser/skin/fullscreen-exit.svg");
}

/*= contentAreaContextMenu ===================================================*/
#context-viewsource-goToLine {
  --menuitem-image: url("./icons/text-number-format.svg");
}
#context-viewsource-wrapLongLines {
  /* checkbox */
  /* --menuitem-image: url("./icons/arrow-sort-down-lines.svg"); */
}

#context-viewsource-highlightSyntax {
  /* checkbox */
  /* --menuitem-image: url("./icons/code.svg"); */
}

#spell-no-suggestions {
  --menuitem-image: url("./icons/text-proofing-tools.svg");
}
#spell-add-to-dictionary {
  --menuitem-image: url("./icons/book-add.svg");
}
#spell-undo-add-to-dictionary {
  --menuitem-image: url("chrome://global/skin/icons/undo.svg");
}

#context-openlinkincurrent {
  --menuitem-image: url("./icons/link-square.svg");
}
#context-openlinkincontainertab {
  --menuitem-image: url("chrome://browser/skin/new-tab.svg");
}
#context-openlinkintab {
  --menuitem-image: url("chrome://browser/skin/new-tab.svg");
}
#context-openlinkinusercontext-menu {
  --menuitem-image: url("./icons/container-openin-16.svg");
}
#context-openlink {
  --menuitem-image: url("chrome://browser/skin/window.svg");
}
#context-openlinkprivate {
  --menuitem-image: url("chrome://browser/skin/privateBrowsing.svg");
}

#context-bookmarklink {
  --menuitem-image: url("chrome://browser/skin/bookmark.svg");
}
#context-savelink {
  --menuitem-image: url("chrome://browser/skin/save.svg");
}
#context-savelinktopocket {
  --menuitem-image: url("./icons/pocket-outline.svg");
}
#context-copyemail {
  --menuitem-image: url("chrome://browser/skin/mail.svg");
}
#context-copylink {
  --menuitem-image: url("./icons/link.svg");
}
#context-sendlinktodevice {
  --menuitem-image: url("./icons/send-to-device.svg");
}

#context-media-play {
  --menuitem-image: url("chrome://global/skin/media/play-fill.svg");
}
#context-media-pause {
  --menuitem-image: url("chrome://global/skin/media/pause-fill.svg");
}
#context-media-mute {
  --menuitem-image: url("chrome://global/skin/media/audio-muted.svg");
}
#context-media-unmute {
  --menuitem-image: url("chrome://global/skin/media/audio.svg");
}
#context-media-playbackrate {
  --menuitem-image: url("./icons/time-picker.svg");
}
#context-media-loop {
  /* checkbox */
  /* --menuitem-image: url("./icons/arrow-repeat-all.svg"); */
}
#context-leave-dom-fullscreen {
  --menuitem-image: url("chrome://global/skin/media/fullscreenExitButton.svg");
}
#context-video-fullscreen {
  --menuitem-image: url("chrome://global/skin/media/fullscreenEnterButton.svg");
}
#context-media-hidecontrols {
  --menuitem-image: url("./icons/eye-hide.svg");
}
#context-media-showcontrols {
  --menuitem-image: url("./icons/eye-show.svg");
}

#context-viewvideo {
  --menuitem-image: url("./icons/video.svg");
}
#context-video-pictureinpicture {
  /* checkbox */
  /* --menuitem-image: url("chrome://global/skin/media/picture-in-picture-open.svg"); */
}

#context-reloadimage {
  --menuitem-image: url("./icons/image-arrow-counterclockwise.svg");
}
#context-viewimage {
  --menuitem-image: url("./icons/image-add.svg");
}
#context-saveimage {
  --menuitem-image: url("./icons/image.svg");
}
#context-video-saveimage {
  --menuitem-image: url("./icons/video-snapshot.svg");
}
#context-savevideo {
  --menuitem-image: url("./icons/video.svg");
}
#context-saveaudio {
  --menuitem-image: url("chrome://global/skin/media/audio.svg");
}
#context-copyimage-contents {
  --menuitem-image: url("./icons/image-copy.svg");
}
#context-copyimage,
#context-copyvideourl,
#context-copyaudiourl {
  --menuitem-image: url("./icons/link.svg");
}
#context-sendimage,
#context-sendvideo,
#context-sendaudio {
  --menuitem-image: url("chrome://browser/skin/mail.svg");
}
#context-viewimageinfo {
  --menuitem-image: url("chrome://global/skin/icons/info.svg");
}
#context-viewimagedesc {
  --menuitem-image: url("./icons/image-alt-text.svg");
}
#context-setDesktopBackground {
  --menuitem-image: url("./icons/resize-image.svg");
}
#context-ctp-play {
  --menuitem-image: url("chrome://global/skin/icons/plugin.svg");
}
#context-ctp-hide {
  --menuitem-image: url("chrome://global/skin/icons/plugin-blocked.svg");
}

#context-savepage {
  --menuitem-image: url("chrome://browser/skin/save.svg");
}
#context-pocket {
  --menuitem-image: url("./icons/pocket-outline.svg");
}
#context-sendpagetodevice {
  --menuitem-image: url("./icons/send-to-device.svg");
}
#fill-login {
  --menuitem-image: url("./icons/password.svg");
}
#fill-login-generated-password {
  --menuitem-image: url("chrome://browser/skin/login.svg");
}
#manage-saved-logins {
  --menuitem-image: url("./icons/key-multiple.svg");
}

#context-undo {
  --menuitem-image: url("chrome://global/skin/icons/undo.svg");
}
#context-redo {
}

#context-cut {
  --menuitem-image: url("chrome://browser/skin/edit-cut.svg");
}
#context-copy {
  --menuitem-image: url("./icons/edit-copy.svg");
}
#context-paste {
  --menuitem-image: url("chrome://browser/skin/edit-paste.svg");
}
#context-delete {
  --menuitem-image: url("chrome://global/skin/icons/delete.svg");
}
#context-selectall {
  --menuitem-image: url("./icons/select-all-on.svg");
}
#context-print-selection {
  --menuitem-image: url("chrome://global/skin/icons/print.svg");
}

#context-take-screenshot {
  --menuitem-image: url("chrome://browser/skin/screenshot.svg");
}

#context-keywordfield {
  --menuitem-image: url("chrome://browser/skin/bookmark.svg");
}
#context-searchselect,
#context-searchselect-private {
  --menuitem-image: url("chrome://global/skin/icons/search-glass.svg");
}

#frame {
  --menuitem-image: url("./icons/command-frames.svg");
}

#spell-check-enabled {
  /* checkbox */
}
#spell-add-dictionaries-main {
  --menuitem-image: url("./icons/book-add.svg");
}
#spell-dictionaries {
  --menuitem-image: url("./icons/book.svg");
}

#context-bidi-text-direction-toggle {
  --menuitem-image: url("./icons/text-direction-horizontal-ltr.svg");
}
#context-bidi-page-direction-toggle {
  --menuitem-image: url("./icons/document-landscape-split-hint.svg");
}

#context-viewpartialsource-selection,
#context-viewsource {
  --menuitem-image: url("./icons/document-search.svg");
}
#context-inspect-a11y {
  --menuitem-image: url("chrome://devtools/skin/images/tool-accessibility.svg");
}
#context-inspect {
  --menuitem-image: url("chrome://devtools/skin/images/command-pick.svg");
}

#context-media-eme-learnmore {
  /* iconic */
}

@supports -moz-bool-pref("layout.css.osx-font-smoothing.enabled") {
  #context-back {
    --menuitem-image: url("chrome://browser/skin/back.svg");
  }
  #context-forward {
    --menuitem-image: url("chrome://browser/skin/forward.svg");
  }
  #context-reload {
    --menuitem-image: url("./icons/reload.svg");
  }
  #context-stop {
    --menuitem-image: url("chrome://global/skin/icons/close.svg");
  }

  #context-bookmarkpage {
    --menuitem-image: url("chrome://browser/skin/bookmark.svg");
  }
}

/*= pictureInPictureToggleContextMenu ========================================*/
#pictureInPictureToggleContextMenu > menuitem[oncommand="PictureInPicture.hideToggle();"] {
  --menuitem-image: url("./icons/eye-hide.svg");
}

/*= placeContext =============================================================*/
#placesContext_open {
  --menuitem-image: url("./icons/link-square.svg");
}
#placesContext_openBookmarkContainer\:tabs,
#placesContext_openBookmarkLinks\:tabs {
  --menuitem-image: url("./icons/movetowindow-16.svg");
}
#placesContext_open\:newtab,
#placesContext_openContainer\:tabs,
#placesContext_openLinks\:tabs {
  --menuitem-image: url("chrome://browser/skin/new-tab.svg");
}
#placesContext_open\:newwindow {
  --menuitem-image: url("chrome://browser/skin/window.svg");
}
#placesContext_open\:newprivatewindow {
  --menuitem-image: url("chrome://browser/skin/privateBrowsing.svg");
}

#placesContext_show_bookmark\:info,
#placesContext_show\:info,
#placesContext_show_folder\:info {
  --menuitem-image: url("chrome://global/skin/icons/edit.svg");
}
#placesContext_deleteBookmark,
#placesContext_deleteFolder,
#placesContext_delete,
#placesContext_delete_history {
  --menuitem-image: url("chrome://global/skin/icons/delete.svg");
}
#placesContext_deleteHost {
  --menuitem-image: url("./icons/eye-hide.svg");
}
#placesContext_sortBy\:name {
  --menuitem-image: url("./icons/text-sort-ascending.svg");
}

#placesContext_cut {
  --menuitem-image: url("chrome://browser/skin/edit-cut.svg");
}
#placesContext_copy {
  --menuitem-image: url("./icons/edit-copy.svg");
}
#placesContext_paste_group {
  --menuitem-image: url("chrome://browser/skin/edit-paste.svg");
}

#placesContext_new\:bookmark {
  --menuitem-image: url("chrome://browser/skin/bookmark.svg");
}
#placesContext_new\:folder {
  --menuitem-image: url("chrome://global/skin/icons/folder.svg");
}
#placesContext_new\:separator {
  --menuitem-image: url("./icons/vertical-line.svg");
}

#placesContext_paste {
  --menuitem-image: url("chrome://browser/skin/edit-paste.svg");
}

#placesContext_createBookmark {
  --menuitem-image: url("chrome://browser/skin/bookmark.svg");
}
#show-other-bookmarks_PersonalToolbar {
  /* checkbox */
  /* --menuitem-image: url("./icons/star-line-horizontal.svg"); */
}
#placesContext_showAllBookmarks {
  --menuitem-image: url("chrome://browser/skin/bookmark-star-on-tray.svg");
}

.openintabs-menuitem {
  --menuitem-image: url("./icons/movetowindow-16.svg");
}

/*= pageActionContextMenu ====================================================*/
.pageActionContextMenuItem.extensionPinned.extensionUnpinned.manageExtensionItem {
  --menuitem-image: url("chrome://global/skin/icons/settings.svg");
}
.pageActionContextMenuItem.extensionPinned.extensionUnpinned.removeExtensionItem {
  --menuitem-image: url("chrome://global/skin/icons/delete.svg");
}

/*= customizationPanelItemContextMenu ========================================*/
#customizationPanelItemContextMenuUnpin {
  --menuitem-image: url("./icons/unpin-tab.svg");
}
.customize-context-removeFromPanel {
  --menuitem-image: url("chrome://global/skin/icons/delete.svg");
}

/*= customizationPaletteItemContextMenu ======================================*/
.customize-context-addToToolbar {
  --menuitem-image: url("chrome://devtools/skin/images/dock-bottom.svg");
}
.customize-context-addToPanel {
  --menuitem-image: url("chrome://browser/skin/menu.svg");
}

/*= customizationPanelContextMenu ============================================*/
#customizationPanelContextMenu > menuitem[command="cmd_CustomizeToolbars"] {
  --menuitem-image: url("chrome://browser/skin/customize.svg");
}

/*= downloads-button-autohide-panel ==========================================*/
#downloads-button-autohide-checkbox {
  /* checkbox */
}

/*= downloadsContextMenu =====================================================*/
.downloadPauseMenuItem {
  --menuitem-image: url("chrome://global/skin/media/pause-fill.svg");
}
.downloadResumeMenuItem {
  --menuitem-image: url("chrome://global/skin/media/play-fill.svg");
}
.downloadUnblockMenuItem {
  --menuitem-image: url("./icons/checkmark-circle.svg");
}
.downloadUseSystemDefaultMenuItem {
  --menuitem-image: url("chrome://browser/skin/open.svg");
}
.downloadAlwaysUseSystemDefaultMenuItem {
  /* checkbox */
}
.downloadShowMenuItem {
  --menuitem-image: url("chrome://global/skin/icons/folder.svg");
}

#downloadsContextMenu > menuitem[command="downloadsCmd_openReferrer"] {
  --menuitem-image: url("./icons/link-square.svg");
}
#downloadsContextMenu > menuitem[command="downloadsCmd_copyLocation"] {
  --menuitem-image: url("./icons/link.svg");
}

.downloadRemoveFromHistoryMenuItem {
  --menuitem-image: url("chrome://global/skin/icons/delete.svg");
}
#downloadsContextMenu > menuitem[command="downloadsCmd_clearList"],
#downloadsContextMenu > menuitem[command="downloadsCmd_clearDownloads"] {
  --menuitem-image: url("./icons/broom.svg");
}

/*= SyncedTabsSidebarContext =================================================*/
#syncedTabsOpenSelected {
  --menuitem-image: url("./icons/link-square.svg");
}
#syncedTabsOpenSelectedInTab {
  --menuitem-image: url("chrome://browser/skin/new-tab.svg");
}
#syncedTabsOpenSelectedInWindow {
  --menuitem-image: url("chrome://browser/skin/window.svg");
}
#syncedTabsOpenSelectedInPrivateWindow {
  --menuitem-image: url("chrome://browser/skin/privateBrowsing.svg");
}

#syncedTabsBookmarkSelected {
  --menuitem-image: url("chrome://browser/skin/bookmark.svg");
}
#syncedTabsCopySelected {
  --menuitem-image: url("./icons/link.svg");
}

#syncedTabsOpenAllInTabs {
  --menuitem-image: url("./icons/movetowindow-16.svg");
}
#syncedTabsManageDevices {
  --menuitem-image: url("chrome://global/skin/icons/settings.svg");
}
#syncedTabsRefresh {
  --menuitem-image: url("chrome://browser/skin/sync.svg");
}

/*= SyncedTabsSidebarTabsFilterContext =======================================*/
#SyncedTabsSidebarTabsFilterContext > menuitem[cmd="cmd_undo"] {
  --menuitem-image: url("chrome://global/skin/icons/undo.svg");
}
#SyncedTabsSidebarTabsFilterContext > menuitem[cmd="cmd_cut"] {
  --menuitem-image: url("chrome://browser/skin/edit-cut.svg");
}
#SyncedTabsSidebarTabsFilterContext > menuitem[cmd="cmd_copy"] {
  --menuitem-image: url("./icons/edit-copy.svg");
}
#SyncedTabsSidebarTabsFilterContext > menuitem[cmd="cmd_paste"] {
  --menuitem-image: url("chrome://browser/skin/edit-paste.svg");
}
#SyncedTabsSidebarTabsFilterContext > menuitem[cmd="cmd_delete"] {
  --menuitem-image: url("chrome://global/skin/icons/delete.svg");
}

#SyncedTabsSidebarTabsFilterContext > menuitem[cmd="cmd_selectAll"] {
  --menuitem-image: url("./icons/select-all-on.svg");
}

#syncedTabsRefreshFilter {
  --menuitem-image: url("chrome://browser/skin/sync.svg");
}

/*= urlbar-input-container ===================================================*/
#urlbar-input-container .textbox-contextmenu menuitem[cmd="cmd_undo"] {
  --menuitem-image: url("chrome://global/skin/icons/undo.svg");
}
#urlbar-input-container .textbox-contextmenu menuitem[cmd="cmd_redo"] {
}

#urlbar-input-container .textbox-contextmenu menuitem[cmd="cmd_cut"] {
  --menuitem-image: url("chrome://browser/skin/edit-cut.svg");
}
#urlbar-input-container .textbox-contextmenu menuitem[cmd="cmd_copy"] {
  --menuitem-image: url("./icons/edit-copy.svg");
}
#urlbar-input-container .textbox-contextmenu menuitem[cmd="cmd_paste"] {
  --menuitem-image: url("chrome://browser/skin/edit-paste.svg");
}
#paste-and-go {
}
#urlbar-input-container .textbox-contextmenu menuitem[cmd="cmd_delete"] {
  --menuitem-image: url("chrome://global/skin/icons/delete.svg");
}
#urlbar-input-container .textbox-contextmenu menuitem[cmd="cmd_selectAll"] {
  --menuitem-image: url("./icons/select-all-on.svg");
}

/*= textbox-contextmenu ======================================================*/
/* Browser's Searchbar, Libray's Searchbar, Page Info */
.textbox-contextmenu > menuitem[data-l10n-id="text-action-undo"] {
  --menuitem-image: url("chrome://global/skin/icons/undo.svg");
}
.textbox-contextmenu > menuitem[data-l10n-id="text-action-redo"] {
}

.textbox-contextmenu > menuitem[data-l10n-id="text-action-cut"] {
  --menuitem-image: url("chrome://browser/skin/edit-cut.svg");
}
.textbox-contextmenu > menuitem[data-l10n-id="text-action-copy"] {
  --menuitem-image: url("./icons/edit-copy.svg");
}
.textbox-contextmenu > menuitem[data-l10n-id="text-action-paste"] {
  --menuitem-image: url("chrome://browser/skin/edit-paste.svg");
}
.textbox-contextmenu > menuitem[data-l10n-id="text-action-delete"] {
  --menuitem-image: url("chrome://global/skin/icons/delete.svg");
}
.textbox-contextmenu > menuitem[data-l10n-id="text-action-select-all"] {
  --menuitem-image: url("./icons/select-all-on.svg");
}

/* Only searchbar */
menuitem.searchbar-paste-and-search {
}
menuitem.searchbar-clear-history {
  --menuitem-image: url("chrome://browser/skin/forget.svg");
}

/*= context_sendTabToDevicePopupMenu =========================================*/
menupopup:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup)
  > .sync-menuitem.sendtab-target[clientType="phone"] {
  --menuitem-image: url("chrome://browser/skin/device-phone.svg");
}

menupopup:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup)
  > .sync-menuitem.sendtab-target[clientType="tablet"] {
  --menuitem-image: url("chrome://browser/skin/device-tablet.svg");
}

menupopup:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup)
  > .sync-menuitem.sendtab-target[clientType="desktop"] {
  --menuitem-image: url("chrome://browser/skin/device-desktop.svg");
}

menupopup:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup)
  > .sync-menuitem.sendtab-target[clientType="tv"] {
  --menuitem-image: url("chrome://browser/skin/device-tv.svg");
}

menupopup:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup)
  > .sync-menuitem.sendtab-target[clientType="vr"] {
  --menuitem-image: url("chrome://browser/skin/device-vr.svg");
}

menupopup:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup)
  > .sync-menuitem.sendtab-target[clientType=""] {
  --menuitem-image: url("./icons/send-to-device.svg");
}

menupopup:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup)
  > .sync-menuitem.sendtab-target:not([clientType]) {
  --menuitem-image: url("chrome://global/skin/icons/settings.svg");
}

/** Global Menu ***************************************************************/
/*= main-menubar =============================================================*/
#file-menu {
  --menuitem-image: url("./icons/mail-inbox-all.svg");
}
#edit-menu {
  --menuitem-image: url("chrome://global/skin/icons/edit.svg");
}
#view-menu {
  --menuitem-image: url("./icons/content-view.svg");
}
#history-menu {
  --menuitem-image: url("chrome://browser/skin/history.svg");
}
#bookmarksMenu {
  --menuitem-image: url("chrome://browser/skin/bookmark.svg");
}
#tools-menu {
  --menuitem-image: url("./icons/toolbox.svg");
}
#helpMenu {
  --menuitem-image: url("chrome://global/skin/icons/help.svg");
}

/*= menu_FilePopup ===========================================================*/
#menu_newNavigatorTab {
  --menuitem-image: url("chrome://browser/skin/new-tab.svg");
}
#menu_newUserContext {
}
#menu_newNavigator {
  --menuitem-image: url("chrome://browser/skin/window.svg");
}
#menu_newPrivateWindow {
  --menuitem-image: url("chrome://browser/skin/privateBrowsing.svg");
}
#menu_newFissionWindow {
}
#menu_newNonFissionWindow {
}
#menu_openLocation {
}
#menu_openFile {
  --menuitem-image: url("chrome://browser/skin/open.svg");
}
#menu_close {
}
#menu_closeWindow {
}

#menu_savePage {
  --menuitem-image: url("chrome://browser/skin/save.svg");
}
#menu_sendLink {
  --menuitem-image: url("chrome://browser/skin/mail.svg");
}

#menu_printPreview {
}
#menu_print {
  --menuitem-image: url("chrome://global/skin/icons/print.svg");
}

#menu_importFromAnotherBrowser {
  --menuitem-image: url("chrome://browser/skin/import.svg");
}

#goOfflineMenuitem {
}
#menu_FileQuitItem {
  --menuitem-image: url("./icons/quit.svg");
}

/* Mange Containers */
#menu_newUserContext menupopup menuitem:last-child {
  --menuitem-image: url("chrome://global/skin/icons/settings.svg");
}

/*= menu_EditPopup ===========================================================*/
#menu_undo {
  --menuitem-image: url("chrome://global/skin/icons/undo.svg");
}
#menu_redo {
}

#menu_cut {
  --menuitem-image: url("chrome://browser/skin/edit-cut.svg");
}
#menu_copy {
  --menuitem-image: url("./icons/edit-copy.svg");
}
#menu_paste {
  --menuitem-image: url("chrome://browser/skin/edit-paste.svg");
}
#menu_delete {
  --menuitem-image: url("chrome://global/skin/icons/delete.svg");
}

#menu_selectAll {
  --menuitem-image: url("./icons/select-all-on.svg");
}

#menu_find {
  --menuitem-image: url("chrome://global/skin/icons/search-glass.svg");
}
#menu_findAgain {
}

#textfieldDirection-swap {
}

#menu_preferences {
  --menuitem-image: url("chrome://global/skin/icons/settings.svg");
}

/*= menu_viewPopup ===========================================================*/
#viewToolbarsMenu {
  --menuitem-image: url("./icons/toolbar.svg");
}
#viewSidebarMenuMenu {
  --menuitem-image: url("chrome://browser/skin/sidebars.svg");
}

#viewFullZoomMenu {
  --menuitem-image: url("./icons/screenshot.svg");
}
#pageStyleMenu {
  --menuitem-image: url("./icons/document-css.svg");
}
#repair-text-encoding {
  --menuitem-image: url("chrome://browser/skin/characterEncoding.svg");
}

#fullScreenItem {
  --menuitem-image: url("chrome://browser/skin/fullscreen.svg");
}
#menu_readerModeItem {
  --menuitem-image: url("chrome://browser/skin/reader-mode.svg");
}
#menu_showAllTabs {
}

#documentDirection-swap {
  --menuitem-image: url("./icons/text-direction-horizontal-ltr.svg");
}

/* view-menu-popup sub menu */
#menu_customizeToolbars {
  --menuitem-image: url("chrome://browser/skin/customize.svg");
}

/* viewFullZoomMenu sub menu */
#menu_zoomEnlarge {
  --menuitem-image: url("chrome://browser/skin/add-circle-fill.svg");
}
#menu_zoomReduce {
  --menuitem-image: url("chrome://browser/skin/subtract-circle-fill.svg");
}
#menu_zoomReset {
  --menuitem-image: url("./icons/resize.svg");
}

/*= goPopup ==================================================================*/
#menu_showAllHistory {
  --menuitem-image: url("chrome://browser/skin/history.svg");
}
#sanitizeItem {
  --menuitem-image: url("chrome://browser/skin/forget.svg");
}

#sync-tabs-menuitem {
  --menuitem-image: url("chrome://browser/skin/sync.svg");
}
#historyRestoreLastSession {
  --menuitem-image: url("./icons/restore-session.svg");
}
#hiddenTabsMenu {
}
#historyUndoMenu {
  --menuitem-image: url("chrome://browser/skin/tab.svg");
}
#historyUndoWindowMenu {
  --menuitem-image: url("chrome://browser/skin/window.svg");
}

/* sub menu */
#historyUndoPopup .restoreallitem {
  --menuitem-image: url("./icons/movetowindow-16.svg");
}
#historyUndoWindowPopup .restoreallitem {
  --menuitem-image: url("./icons/restore-session.svg");
}

/*= bookmarksMenuPopup =======================================================*/
#bookmarksShowAll {
  --menuitem-image: url("chrome://browser/skin/bookmark-star-on-tray.svg");
}

#menu_bookmarkThisPage,
#menu_bookmarkAllTabs {
  --menuitem-image: url("chrome://browser/skin/bookmark-hollow.svg");
}
#menu_bookmarkThisPage[data-l10n-id="menu-bookmark-edit"] {
  --menuitem-image: url("chrome://browser/skin/bookmark.svg");
}

#bookmarksToolbarFolderMenu {
}
#menu_unsortedBookmarks {
}
#menu_mobileBookmarks {
}

/*= menu_ToolsPopup ==========================================================*/
#menu_openDownloads {
  --menuitem-image: url("chrome://browser/skin/downloads/downloads.svg");
}
#menu_openAddons {
  --menuitem-image: url("chrome://mozapps/skin/extensions/extension.svg");
}
#sync-setup {
  --menuitem-image: url("chrome://browser/skin/fxa/avatar-empty.svg");
}
#sync-enable {
}
#sync-unverifieditem {
}
#sync-syncnowitem {
}
#sync-reauthitem {
}

#webDeveloperMenu, /* Legacy */
  #browserToolsMenu {
  --menuitem-image: url("./icons/developer.svg");
}
#menu_pageInfo {
  --menuitem-image: url("./icons/document-endnote.svg");
}

/* menuWebDeveloperPopup sub menu */
#enableDeveloperTools {
}
#menu_devToolbox {
}
#menu_taskManager {
  --menuitem-image: url("./icons/performance.svg");
}
#menu_devtools_remotedebugging {
  --menuitem-image: url("./icons/bug.svg");
}
#menu_browserToolbox {
  --menuitem-image: url("./icons/window-dev-tools.svg");
}
#menu_browserContentToolbox {
  --menuitem-image: url("./icons/command-frames.svg");
}
#menu_browserConsole {
  --menuitem-image: url("chrome://devtools/skin/images/command-console.svg");
}
#menu_responsiveUI {
}
#menu_eyedropper {
}
#menu_pageSource {
  --menuitem-image: url("./icons/document-search.svg");
}
#extensionsForDevelopers {
  --menuitem-image: url("chrome://devtools/skin/images/debugging-addons.svg");
}

/*= menu_HelpPopup ===========================================================*/
#menu_openHelp {
  --menuitem-image: url("chrome://global/skin/icons/help.svg");
}
#feedbackPage {
  --menuitem-image: url("./icons/send.svg");
}
#helpSafeMode {
  --menuitem-image: url("chrome://devtools/skin/images/debugging-workers.svg");
}
#troubleShooting {
  --menuitem-image: url("chrome://global/skin/icons/more.svg");
}
#help_reportSiteIssue {
  --menuitem-image: url("chrome://global/skin/icons/lightbulb.svg");
}
#menu_HelpPopup_reportPhishingtoolmenu {
  --menuitem-image: url("chrome://global/skin/icons/warning.svg");
}
#menu_HelpPopup_reportPhishingErrortoolmenu {
}

#aboutName {
  --menuitem-image: url("chrome://global/skin/icons/info.svg");
}

#helpPolicySupport {
}

/** Libray Menu ***************************************************************/
/*= organizeButtonPopup ======================================================*/
#newbookmark {
  --menuitem-image: url("chrome://browser/skin/bookmark.svg");
}
#newfolder {
  --menuitem-image: url("./icons/folder.svg");
}
#newseparator {
  --menuitem-image: url("./icons/vertical-line.svg");
}

#orgUndo {
  --menuitem-image: url("chrome://global/skin/icons/undo.svg");
}
#orgRedo {
}

#orgCut {
  --menuitem-image: url("chrome://browser/skin/edit-cut.svg");
}
#orgCopy {
  --menuitem-image: url("./icons/edit-copy.svg");
}
#orgPaste {
  --menuitem-image: url("chrome://browser/skin/edit-paste.svg");
}
#orgDelete {
  --menuitem-image: url("chrome://global/skin/icons/delete.svg");
}

#orgSelectAll {
  --menuitem-image: url("./icons/select-all-on.svg");
}

#orgClose {
  --menuitem-image: url("chrome://global/skin/icons/close.svg");
}

/*= viewMenuPopup ============================================================*/
#viewColumns {
  --menuitem-image: url("chrome://global/skin/icons/columnpicker.svg");
}
#viewSort {
  --menuitem-image: url("./icons/text-sort-ascending.svg");
}

/*= maintenanceButtonPopup ===================================================*/
#backupBookmarks {
  --menuitem-image: url("chrome://devtools/skin/images/datastore.svg");
}
#fileRestoreMenu {
}

#fileImport {
  --menuitem-image: url("chrome://browser/skin/save.svg");
}
#fileExport {
  --menuitem-image: url("chrome://browser/skin/open.svg");
}

#browserImport {
  --menuitem-image: url("chrome://browser/skin/import.svg");
}
