#main-window {
  -webkit-font-kerning: normal;
  font-kerning: normal;
  border: none !important;
}

#main-window:-moz-lwtheme-brighttext,
#main-window:-moz-lwtheme-darktext {
  background: transparent !important;
  -moz-appearance: var(--moz-appearance) !important;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: none;
  -webkit-font-kerning: normal;
  font-kerning: normal;
}
