#main-window {
    -webkit-font-kerning: normal !important;
    font-kerning: normal !important;
    border: none !important;
}

#main-window:-moz-lwtheme-brighttext,
#main-window:-moz-lwtheme-darktext {
    background: var(--bg) !important;
    -moz-appearance: var(--moz-appearance) !important;
}

* {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
    font-variant-ligatures: none !important;
    -webkit-font-kerning: normal !important;
    font-kerning: normal !important;
}

#browser-bottombox {
    background: var(--bg) !important;
}