
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";
@namespace html "http://www.w3.org/1999/xhtml";



/*== Menu Color ==============================================================*/
html#main-window menupopup {
  /* is same as toolbar color https://github.com/mozilla/gecko-dev/blob/master/toolkit/themes/windows/global/global.css#L17-L67 */
  --menu-color: var(
    --arrowpanel-color,
    var(--in-content-page-color)
  ) !important;
  --menu-background-color: var(
    --arrowpanel-background,
    var(--in-content-button-background)
  ) !important;

  --menu-border-color: var(
    --toolbarbutton-active-background,
    var(--button-active-bgcolor, var(--card-outline-color))
  ) !important;
  --menuitem-hover-background-color: var(
    --toolbarbutton-hover-background,
    var(--button-hover-bgcolor, var(--in-content-button-background-hover))
  ) !important;

  --menu-disabled-color: color-mix(
    in srgb,
    var(--menu-color) 40%,
    transparent
  ) !important;
  --menuitem-disabled-hover-background-color: color-mix(
    in srgb,
    var(--menuitem-hover-background-color) 40%,
    transparent
  ) !important;
}

@media not all and (-moz-gtk-csd-available) {
  window:is(#bookmarksPanel, #history-panel)[lwt-sidebar="true"] menupopup {
    --panel-color: var(--lwt-sidebar-text-color, var(--menu-color)) !important;
    --panel-background: var(
      --lwt-sidebar-background-color,
      var(--menu-background-color)
    ) !important;
  }
  window:is(#bookmarksPanel, #history-panel)[lwt-sidebar="true"]
    menu[_moz-menuactive="true"]:not([disabled="true"]),
  window:is(#bookmarksPanel, #history-panel)[lwt-sidebar="true"]
    menuitem[_moz-menuactive="true"]:not([disabled="true"]) {
    --menuitem-hover-background-color: color-mix(
      in srgb,
      currentColor 17%,
      transparent
    ); /* Looks like toolbar button */
    /* or var(--lwt-sidebar-highlight-background-color)
         If this value is used, unset is required in the default theme.
      */
  }

  /* Fallback background */
  menupopup:not(.cui-widget-panel.cui-widget-panelview, [placespopup="true"]) {
    background-color: var(
      --lwt-accent-color,
      var(--in-content-page-background)
    ) !important;
  }
}

/* Default theme color preservation */
:root[lwtheme-mozlightdark] menupopup:not(#BMB_bookmarksPopup, [placespopup="true"]), /* Legacy */
:root[lwtheme-mozlightdark] menupopup:is(#goPopup, #historyMenuPopup, #bookmarksMenuPopup), /* Legacy */
:root:is([style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"], [style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254);"]) menupopup:not(#BMB_bookmarksPopup, [placespopup="true"]),
:root:is([style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"], [style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254);"]) menupopup:is(#goPopup, #historyMenuPopup, #bookmarksMenuPopup) {
  --menu-color: var(--toolbar-color, var(--in-content-page-color)) !important;
  --arrowpanel-background: var(
    --toolbar-bgcolor,
    var(--in-content-button-background)
  ) !important; /* --menu-background-color */
}
@media not all and (-moz-gtk-csd-available) {
  window:is(#bookmarksPanel, #history-panel)[style*="--newtab-background-color: rgba(249, 249, 251, 1);"] menupopup, /* Default Light Mode */
    window:is(#bookmarksPanel, #history-panel)[style*="--newtab-background-color: rgba(43, 42, 51, 1);"]    menupopup {
    /* Default Dark Mode */
    --panel-color: var(--menu-color) !important;
    --panel-background: var(--menu-background-color) !important;
  }
}

  /*- Menulist ---------------------------------------------------------------*/
  /* From mulist.css */
  xul|menulist {
    appearance: none !important;
    background-color: var(
      --in-content-button-background,
      ButtonFace
    ) !important;
    color: var(--in-content-button-text-color, ButtonText) !important;
    border-radius: 4px !important;
    padding-block: 4px !important;
    padding-inline: 12px 8px !important;
    margin: 5px 2px 3px !important;
  }

  xul|menulist[size="medium"] {
    padding-block: 6px !important;
    padding-inline: 16px 10px !important;
  }

  xul|menulist[size="large"] {
    padding-block: 8px !important;
    padding-inline: 16px 12px !important;
  }

  xul|menulist:hover {
    background-color: var(
      --button-hover-bgcolor,
      color-mix(in srgb, currentColor 10%, ButtonFace)
    ) !important;
  }

  xul|menulist:hover:active {
    background-color: var(
      --button-active-bgcolor,
      color-mix(in srgb, currentColor 20%, ButtonFace)
    ) !important;
  }

  xul|menulist:-moz-focusring {
    outline: 2px solid var(--focus-outline-color, -moz-accent-color) !important;
    outline-offset: var(--focus-outline-offset, 2px) !important;
  }

  #label-box {
    -moz-box-align: center !important;
    -moz-box-pack: center !important;
    font-weight: 600 !important;
  }

  dropmarker {
    display: -moz-box !important;
    appearance: none !important;
    width: 12px !important;
    height: 12px !important;
  }

  dropmarker::part(icon) {
    list-style-image: url("chrome://global/skin/icons/arrow-down.svg") !important;
    -moz-context-properties: fill !important;
    fill: currentColor !important;
  }

  #highlightable-label:not([highlightable="true"]),
  #label[highlightable="true"] {
    display: none !important;
  }

  xul|menuitem > label:not(.menu-text) {
    margin: 0 3px !important;
  }

  /* From common.css */
  xul|menulist > xul|menupopup {
    appearance: none !important;

    /* Reset native styles on Windows and macOS */
    border: none !important;
    background-color: transparent !important;

    --panel-border-color: var(--in-content-box-border-color) !important;
    --panel-border-radius: 2px !important;
    --panel-background: var(--in-content-box-background) !important;
    --panel-color: var(--in-content-text-color) !important;
    --panel-padding: 0 !important;
  }

  xul|menulist > xul|menupopup xul|menu,
  xul|menulist > xul|menupopup xul|menuitem {
    appearance: none !important;
    font-size: 1em !important;
    padding-block: 0.2em !important;
    padding-inline: 10px 30px !important;
  }

  xul|menulist
    > xul|menupopup
    > xul|menu:not([disabled="true"])[_moz-menuactive="true"],
  xul|menulist
    > xul|menupopup
    > xul|menuitem:not([disabled="true"])[_moz-menuactive="true"] {
    color: var(--in-content-item-hover-text) !important;
    background-color: var(--in-content-item-hover) !important;
  }

  xul|menulist
    > xul|menupopup
    > xul|menu:not([disabled="true"])[selected="true"],
  xul|menulist
    > xul|menupopup
    > xul|menuitem:not([disabled="true"])[selected="true"] {
    color: var(--in-content-item-selected-text) !important;
    background-color: var(--in-content-item-selected) !important;
  }

  xul|menulist > xul|menupopup > xul|menu[disabled="true"],
  xul|menulist > xul|menupopup > xul|menuitem[disabled="true"] {
    color: #999 !important;
    /* override the [_moz-menuactive="true"] background color from
         global/menu.css */
    background-color: transparent !important;
  }

  xul|menulist > xul|menupopup xul|menuseparator {
    appearance: none !important;
    margin: 0 !important;
    padding: 0 !important;
    border-top: 1px solid var(--in-content-box-border-color) !important;
    border-bottom: none !important;
  }

  xul|menulist::part(dropmarker) {
    margin-block: 1px !important;
  }

  /* Override menulist.css */
  xul|menulist[disabled="true"] {
    background-color: var(--in-content-button-background) !important;
  }

  xul|menulist:-moz-focusring > xul|*.menulist-label-box {
    outline: none !important;
  }

  /*- List Boxes -------------------------------------------------------------*/
  html|select[size][multiple],
  xul|listheader,
  xul|richlistbox {
    appearance: none !important;
    margin-inline: 0 !important;
    background-color: var(--in-content-box-background) !important;
    border: 1px solid var(--in-content-box-border-color) !important;
    border-radius: 4px !important;
    color: var(--in-content-text-color) !important;
  }

  xul|listheader {
    border-bottom: none !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    padding-bottom: 1px !important;
    box-shadow: inset 0 -1px var(--in-content-border-color) !important;
    overflow: clip !important; /* Clip border-radius */
  }

  xul|listheader + xul|richlistbox {
    margin-top: 0 !important;
    border-top: none !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  html|select[size][multiple] > html|option,
  xul|treechildren::-moz-tree-row {
    padding: 0.3em inherit !important;
    margin: 0 !important;
    border: none !important;
    border-radius: 0 !important;
    background-image: none !important;
  }

  xul|treechildren::-moz-tree-row(multicol, odd) {
    background-color: var(--in-content-box-background-odd);
  }

  html|select[size][multiple] > html|option:hover,
  xul|richlistbox > xul|richlistitem:not([disabled="true"], [selected]):hover,
  xul|treechildren::-moz-tree-row(hover) {
    background-color: var(--in-content-item-hover) !important;
    color: var(--in-content-item-hover-text) !important;
  }

  xul|richlistbox > xul|richlistitem[selected],
  xul|treechildren::-moz-tree-row(selected) {
    background-color: var(--in-content-item-selected) !important;
    color: var(--in-content-item-selected-text) !important;
  }

  xul|richlistbox:not(#categories) > xul|richlistitem[selected] {
    /* Ensure buttons/menulists inside richlistitems (containers, applications) look OK */
    --in-content-button-background: color-mix(
      in srgb,
      currentColor 15%,
      transparent
    ) !important;
    --in-content-button-background-hover: color-mix(
      in srgb,
      currentColor 30%,
      transparent
    ) !important;
    --in-content-button-background-active: color-mix(
      in srgb,
      currentColor 45%,
      transparent
    ) !important;
    --in-content-button-text-color: var(
      --in-content-item-selected-text
    ) !important;
    --in-content-button-text-color-hover: var(
      --in-content-item-selected-text
    ) !important;
    --in-content-focus-outline-color: var(
      --in-content-item-selected-text
    ) !important;
  }

  xul|richlistitem[selected] xul|menulist:focus-visible {
    outline-offset: -2px !important;
  }

  /* Use a 2px border so that selected row highlight is still visible behind
        an existing high-contrast border that uses the background color */
  @media (prefers-contrast) {
    xul|treechildren::-moz-tree-row(selected) {
      border: 2px solid currentColor !important;
      border-radius: 4px !important;
    }
  }

  xul|panel[type="autocomplete-richlistbox"] {
    background-color: var(--in-content-box-background) !important;
    border: 1px solid var(--in-content-box-border-color) !important;
    color: var(--in-content-text-color) !important;
  }


/*= Menu - Reduce Padding ====================================================*/
:root {
  --menu-padding: 0.35em; /* Win7, 8: 0px */
}
:root[uidensity="compact"] {
  --menu-padding: 0.25em;
}
:root[uidensity="touch"] {
  --menu-padding: 0.5em;
}
menupopup:not(.in-menulist) > menuitem,
menupopup > menu {
  /* Original: 0.5em */
  padding-block: var(--menu-padding) !important;
}

@supports not -moz-bool-pref("layout.css.osx-font-smoothing.enabled") {
  :root:not([uidensity="touch"]) .menu-text,
  :root:not([uidensity="touch"]) .menu-iconic-text {
    padding-inline-end: 0 !important; /* Original: 2px */
  }
  :root:not([uidensity="touch"]) .menupopup-arrowscrollbox {
    padding-block: 1px !important; /* Original: 4px*/
  }
  :root:not([uidensity="touch"]) #context-navigation:not([hidden]) {
    padding: 0 0 1px !important; /* Original: 0 0 4px*/
  }
  :root:not([uidensity="touch"]) .menu-right {
    margin-right: 6px !important; /* Original: 12px */
  }
}

@media (-moz-os-version: windows-win7), (-moz-os-version: windows-win8) {
  /* Remove border */
  menupopup > menuitem,
  menupopup > menu {
    padding-block: calc(var(--menu-padding) - 2px) !important;
  }

  /* Make to original */
  :root:not([uidensity="touch"]) #context-navigation:not([hidden]) {
    padding: 0 0 4px !important;
  }
}

@media (-moz-gtk-csd-available) {
  menupopup > menu {
    padding-inline-start: 0.5em;
  }
}

/* Arrow Icon Align to Right */
.bookmark-item.subviewbutton > .menu-right {
  margin-inline-end: 0 !important;
}

/*= Bookmark Menu - Reduce Padding ===========================================*/
:root {
  --bookmark-menu-padding: 3px;
}
:root[uidensity="compact"] {
  --bookmark-menu-padding: 1.5px;
}

:root:not([uidensity="touch"]) #BMB_bookmarksPopup .subviewbutton,
:root:not([uidensity="touch"]) #BMB_bookmarksPopup .subviewbutton,
:root:not([uidensity="touch"])
  #PlacesToolbar
  menupopup[placespopup]
  .bookmark-item,
:root:not([uidensity="touch"])
  #PlacesToolbar
  menupopup[placespopup]
  .openintabs-menuitem {
  padding-block: var(--bookmark-menu-padding) !important;
}

/*= Global Menu - Set Padding ================================================*/
/* Vertical Align - Center & Height: 100%  */
#main-menubar {
  -moz-box-flex: 1 !important;
}

/* Rounding */
#main-menubar > menu {
  border-radius: 4px;
}

/* Menubar item padding */
:root {
  --global-menubar-padding: 2px;
}
:root[uidensity="compact"] {
  --global-menubar-padding: 1px;
}
:root[uidensity="touch"] {
  --global-menubar-padding: 4px;
}
#main-menubar > menu {
  padding-block: var(--global-menubar-padding) !important;
}

/* Reduce items */
#main-menubar > menu > menupopup menuitem,
#main-menubar > menu > menupopup menu {
  padding-block: var(--bookmark-menu-padding) !important;
}

/* Menubar */
#main-menubar > menu {
  background-position: left var(--context-menu-background-padding-default)
    center !important;
  padding-inline-start: calc(
    16px + var(--context-menu-background-padding-default)
  ) !important;
  padding-inline-end: 3px;
}
#main-menubar > menu:first-child {
  background-position: left
    calc(3px + var(--context-menu-background-padding-default)) center !important;
  padding-inline-start: calc(
    19px + var(--context-menu-background-padding-default)
  ) !important;
}
#main-menubar > menu > menupopup {
  --menuitem-image: none; /* Prevent Image Inheritance */
}

/* Padding - Windows */
@media (-moz-os-version: windows-win7),
  (-moz-os-version: windows-win8),
  (-moz-os-version: windows-win10) {
  /* Checkbox */
  :root {
    --context-menu-text-padding: calc(
      var(--menu-padding) + var(--context-menu-background-padding-default) +
        16px
    );
  }
  :not(menu, #ContentSelectDropdown, #context-navigation)
    > menupopup
    > menuitem[type="checkbox"][checked="false"]
    > .menu-iconic-left {
    padding-inline-start: var(--context-menu-text-padding);
  }
}

@media (-moz-os-version: windows-win7) {
  :root {
    --context-menu-background-padding-default: 2px;
  }
}
@media (-moz-os-version: windows-win8) {
  :root {
    --context-menu-background-padding-default: 3px;
  }
}
@media (-moz-os-version: windows-win7), (-moz-os-version: windows-win8) {
  :not(menu, #ContentSelectDropdown, #context-navigation)
    > menupopup
    > menuitem:not(.menuitem-iconic, [type="checkbox"], [checked="true"], .in-menulist),
  :not(menu, #ContentSelectDropdown, #context-navigation)
    > menupopup
    > menu:not(.menu-iconic, [type="checkbox"], [checked="true"], .in-menulist),
  menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #goPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
    menuitem:not(.menuitem-iconic, .in-menulist, [type="checkbox"], [checked="true"], .bookmark-item),
  menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #goPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
    menu:not(.menu-iconic, .in-menulist, [type="checkbox"], [checked="true"]),
  menupopup:is(#organizeButtonPopup, #maintenanceButtonPopup) > menuitem,
  menupopup:is(#viewMenuPopup, #maintenanceButtonPopup) > menu,
  menupopup:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup)
    > menuitem,
  #blockedPopupDontShowMessage {
    background-position: left var(--context-menu-background-padding) center !important;
    padding-inline-start: 0 !important;
  }
}
@media (-moz-os-version: windows-win10) {
  :root {
    --context-menu-background-padding: 1em;
    --context-menu-text-padding: 24px; /* 16px + 8px */
    --menu-background-padding-default: calc(
      var(--context-menu-background-padding) + var(--context-menu-text-padding)
    );
  }

  :not(menu, #ContentSelectDropdown, #context-navigation)
    > menupopup
    > menuitem:not(.menuitem-iconic, [type="checkbox"], [checked="true"], .in-menulist),
  :not(menu, #ContentSelectDropdown, #context-navigation)
    > menupopup
    > menu:not(.menu-iconic, [type="checkbox"], [checked="true"], .in-menulist),
  menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #goPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
    menuitem:not(.menuitem-iconic, .in-menulist, [type="checkbox"], [checked="true"], .bookmark-item),
  menupopup:is(#menu_FilePopup, #menu_EditPopup, #menu_viewPopup, #goPopup, #historyMenuPopup, #bookmarksMenuPopup, #menu_ToolsPopup, #menu_HelpPopup)
    menu:not(.menu-iconic, .in-menulist, [type="checkbox"], [checked="true"]),
  menupopup:is(#organizeButtonPopup, #maintenanceButtonPopup) > menuitem,
  menupopup:is(#viewMenuPopup, #maintenanceButtonPopup) > menu,
  menupopup:is(#context_sendTabToDevicePopupMenu, #context-sendpagetodevice-popup)
    > menuitem,
  #blockedPopupDontShowMessage {
    padding-inline-start: var(--menu-background-padding-default) !important;
    margin-left: 0 !important;
  }
}

/* Padding - Linux */
@media (-moz-gtk-csd-available) {
  :root {
    --context-menu-background-padding-default: 6px;
  }

  #main-menubar > menu > .menubar-text {
    padding-inline-start: 3px;
  }
}

/* Padding - Mac */
@supports -moz-bool-pref("layout.css.osx-font-smoothing.enabled") {
  :root {
    --context-menu-background-padding-default: 10px;
    --context-menu-mac-padding: 21px;
  }

  /* context menu width */
  :not(menu, #ContentSelectDropdown, #context-navigation)
    > menupopup
    > menuitem:not(.menuitem-iconic, [type="checkbox"], [checked="true"], .in-menulist),
  :not(menu, #ContentSelectDropdown, #context-navigation)
    > menupopup
    > menu:not(.menu-iconic, [type="checkbox"], [checked="true"], .in-menulist),
  #blockedPopupDontShowMessage {
    padding-inline-end: var(--context-menu-background-padding) !important;
  }

  /* text position */
  :not(menu, #ContentSelectDropdown, #context-navigation)
    > menupopup
    > menuitem
    > .menu-text,
  :not(menu, #ContentSelectDropdown, #context-navigation)
    > menupopup
    > menu
    > menu-text {
    padding-inline-start: var(--context-menu-mac-padding) !important;
  }

  /* Checkbox menuitem, None iconic menu */
  :not(menu, #ContentSelectDropdown, #context-navigation)
    > menupopup
    > menuitem[type="checkbox"],
  :not(menu, #ContentSelectDropdown, #context-navigation)
    > menupopup
    > menu:not(.menu-iconic) {
    padding-inline-start: calc(
      var(--context-menu-background-padding) + var(--context-menu-mac-padding)
    ) !important;
  }
}

/*= Bookmark Menu - Layout ===================================================*/
/* #goPopup(Legacy of historyMenuPoup), #historyMenuPopup, #bookmarksMenuPopup: looks like global menu
   * #BMB_bookmarksPopup: looks like arrow panel
   */

/* Empty Menu */
menupopup menupopup[emptyplacesresult] .menu-text,
#PersonalToolbar menupopup[emptyplacesresult] .menu-text {
  margin-inline-start: 0 !important;
}

/* Bookmark Popup - As Arrow Panel */
#BMB_bookmarksPopup,
#PersonalToolbar {
  --context-menu-background-padding: var(--arrowpanel-menuitem-padding);
}

/* Windows 7, 8 */
@media (-moz-os-version: windows-win7), (-moz-os-version: windows-win8) {
  /* Global Menu */
  menupopup:is(#goPopup, #historyMenuPopup, #bookmarksMenuPopup)
    .bookmark-item {
    padding-inline-start: 0 !important;
  }

  /* Bookmark Popup - None icon menu */
  #BMB_bookmarksPopup,
  #PersonalToolbar {
    --arrowpanel-menuicon-padding: 9px;
  }
  menupopup:is(#BMB_bookmarksPopup)
    menuitem:not(.menuitem-iconic, [disabled="true"]),
  menupopup:is(#BMB_bookmarksPopup) menu:not(.menu-iconic),
  #PersonalToolbar
    menupopup[placespopup="true"]
    menuitem:not(.menuitem-iconic, [disabled="true"]),
  #PersonalToolbar menupopup[placespopup="true"] menu:not(.menu-iconic) {
    margin-inline: var(--arrowpanel-menuitem-padding) !important;
    background-position: left calc(var(--arrowpanel-menuicon-padding)) center !important;
  }
  menupopup:is(#BMB_bookmarksPopup)
    menuitem:not(.menuitem-iconic, [disabled="true"]),
  menupopup:is(#BMB_bookmarksPopup) menu:not(.menu-iconic) {
    padding-inline-start: calc(
      var(--arrowpanel-menuicon-padding) + var(--context-menu-text-padding) +
        2px
    ) !important;
  }
  #PersonalToolbar
    menupopup[placespopup="true"]
    menuitem:not(.menuitem-iconic, [disabled="true"]),
  #PersonalToolbar menupopup[placespopup="true"] menu:not(.menu-iconic) {
    padding-inline-start: var(--arrowpanel-menuicon-padding) !important;
  }
}

/* Windows */
@media (-moz-os-version: windows-win10) {
  /* Bookmark Popup - None icon menu */
  menupopup:is(#BMB_bookmarksPopup)
    menuitem:not(.menuitem-iconic, [disabled="true"]),
  menupopup:is(#BMB_bookmarksPopup) menu:not(.menu-iconic),
  #PersonalToolbar
    menupopup[placespopup="true"]
    menuitem:not(.menuitem-iconic, [disabled="true"]),
  #PersonalToolbar menupopup[placespopup="true"] menu:not(.menu-iconic) {
    margin-inline: var(--arrowpanel-menuitem-padding) !important;
    padding-inline-start: calc(
      var(--arrowpanel-menuicon-padding) + var(--context-menu-text-padding)
    ) !important;
    background-position: left calc(var(--arrowpanel-menuicon-padding)) center !important;
  }
}

/* Linux */
@media (-moz-gtk-csd-available) {
  /* Global Menu */
  menupopup:is(#goPopup, #historyMenuPopup, #bookmarksMenuPopup)
    .bookmark-item {
    padding-inline-start: var(--context-menu-background-padding) !important;
  }

  /* Bookmark Popup - Iconic menu */
  #BMB_bookmarksPopup .menu-iconic-text,
  #PersonalToolbar
    menupopup[placespopup="true"]
    .bookmark-item
    .menu-iconic-text {
    padding-inline-start: 1px !important;
  }
  /* Bookmark Popup - None icon menu */
  menupopup:is(#BMB_bookmarksPopup)
    menuitem:not(.menuitem-iconic, [disabled="true"]),
  menupopup:is(#BMB_bookmarksPopup) menu:not(.menu-iconic),
  #PersonalToolbar
    menupopup[placespopup="true"]
    menuitem:not(.menuitem-iconic, [disabled="true"]),
  #PersonalToolbar menupopup[placespopup="true"] menu:not(.menu-iconic) {
    padding-inline-start: calc(
      var(--arrowpanel-menuitem-padding) + 1px
    ) !important;
  }
}

@supports -moz-bool-pref("layout.css.osx-font-smoothing.enabled") {
  /* Bookmark Popup - As Arrow Panel */
  #PersonalToolbar menupopup menuitem,
  #PersonalToolbar menupopup menu {
    padding-inline: calc(
      var(--arrowpanel-menuicon-padding) + var(--arrowpanel-menuitem-padding)
    ) !important;
  }

  /* Bookmark Popup - None icon menu */
  menupopup:is(#BMB_bookmarksPopup)
    menuitem:not(.menuitem-iconic, [disabled="true"]),
  menupopup:is(#BMB_bookmarksPopup) menu:not(.menu-iconic) {
    padding-inline-start: calc(
      var(--arrowpanel-menuitem-padding) + 3px
    ) !important;
  }
}
