/* #TabsToolbar {
  -moz-window-dragging: no-drag !important;
}

#nav-bar:not([customizing]) {
  visibility: collapse;
  margin-bottom: 0 !important;
  background: var(--bg);
}

:root:not([customizing]) :hover > #nav-bar,
#nav-bar:focus-within,
#urlbar[focused="true"],
#identity-box[open="true"],
#navigator-toolbox:hover > #nav-bar:not([customizing]),
#toolbar-menubar:not([inactive="true"]) ~ #nav-bar:not([customizing]) {
  visibility: visible;
  margin-top: 0px;
  filter: alpha(opacity=100);
  opacity: 100;
  margin-bottom: 0;
  padding-bottom: 2px;
}
#PersonalToolbar {
  margin-top: 0px;
}
#nav-bar .toolbarbutton-1[open="true"] {
  visibility: visible;
  opacity: 100;
}

:-moz-any(#content, #appcontent) browser {
  overflow-y: visi;
  margin-bottom: 0px !important;
  overflow-x: scroll;
}*/

#nav-bar {
  -moz-box-ordinal-group: 1 !important;
}
#PersonalToolbar {
  -moz-box-ordinal-group: 2 !important;
}
#titlebar {
  -moz-box-ordinal-group: 3 !important;
}

#nav-bar:not([customizing="true"]):not([inFullscreen]) {
  min-height: 1px !important;
  max-height: 0px !important;
  margin-top: 1px !important;
  margin-bottom: -3px !important;
  transition: all 50ms linear 0s !important;
  z-index: -5 !important;
}

#navigator-toolbox:focus-within :-moz-any(#nav-bar) {
  min-height: 32px !important;
  max-height: 32px !important;
  margin-top: 1px !important;
  margin-bottom: -32px !important;
  transition: all 50ms linear 0s !important;
  z-index: 5 !important;
}

/* Needed for for FF 75 megabar */
#urlbar {
  --urlbar-toolbar-height: 32px !important;
}
