@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";
@namespace html "http://www.w3.org/1999/xhtml";


  /*- Sidebar ----------------------------------------------------------------*/
  #sidebar-box:not([lwt-sidebar]) {
    appearance: none !important;
  }
  :root:not(:-moz-lwtheme) #sidebar-box,
  :root[lwt-default-theme-in-dark-mode] #sidebar-box {
    --sidebar-background-color: var(--mac-sidebar-bgcolor) !important;
    --sidebar-text-color: var(--mac-text-color) !important;
    /* --sidebar-border-color: var(--win-sidebar-border-color) !important; */
  }
  @media (-moz-toolbar-prefers-color-scheme: dark),
    (prefers-color-scheme: dark) {
    .sidebar-panel[style="--newtab-background-color: rgba(43, 42, 51, 1); --newtab-text-primary-color: rgba(251, 251, 254, 1); --lwt-sidebar-background-color: rgb(56, 56, 61); --lwt-sidebar-text-color: rgba(249, 249, 250, 1);"],
      body[lwt-sidebar][style="--newtab-background-color: rgba(43, 42, 51, 1); --newtab-text-primary-color: rgba(251, 251, 254, 1); --lwt-sidebar-background-color: rgb(56, 56, 61); --lwt-sidebar-text-color: rgba(249, 249, 250, 1);"],
      .sidebar-panel[style="--newtab-background-color: rgb(43, 42, 51); --newtab-text-primary-color: rgba(251, 251, 254, 1); --lwt-sidebar-background-color: rgb(56, 56, 61); --lwt-sidebar-text-color: rgba(249, 249, 250, 1);"], /* Nightly */
      body[lwt-sidebar][style="--newtab-background-color: rgb(43, 42, 51); --newtab-text-primary-color: rgba(251, 251, 254, 1); --lwt-sidebar-background-color: rgb(56, 56, 61); --lwt-sidebar-text-color: rgba(249, 249, 250, 1);"] {
      /* Only darkmode has more: --newtab-background-color-secondary: rgba(66, 65, 77, 1); */
      --lwt-sidebar-background-color: transparent !important;
      --lwt-sidebar-text-color: var(--mac-text-color) !important;
    }
  }

  :root[lwt-default-theme-in-dark-mode] #sidebarMenu-popup {
    --button-hover-bgcolor: var(--mac-sidebar-hover-bgcolor);
    --button-active-bgcolor: var(--mac-sidebar-hover-bgcolor);
  }

  /*- Others -----------------------------------------------------------------*/
  /* For Overwrite */
  @media (-moz-toolbar-prefers-color-scheme: dark),
    (prefers-color-scheme: dark) {
    :root[lwt-default-theme-in-dark-mode][lwthemetextcolor="bright"] {
      --toolbar-bgcolor: color-mix(
        in srgb,
        rgb(255, 255, 255) 15%,
        -moz-dialog
      ) !important;
    }
  }

  /* Hard Coded */
  :root[lwtheme-mozlightdark][lwt-default-theme-in-dark-mode] /* Legacy */
    #tabbrowser-tabs:not([movingtab])
    > #tabbrowser-arrowscrollbox
    > .tabbrowser-tab
    > .tab-stack
    > .tab-background[selected="true"],
  :root[style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254);"][lwt-default-theme-in-dark-mode]
    #tabbrowser-tabs:not([movingtab])
    > #tabbrowser-arrowscrollbox
    > .tabbrowser-tab
    > .tab-stack
    > .tab-background[selected="true"] {
    background: color-mix(
      in srgb,
      rgb(255, 255, 255) 15%,
      -moz-dialog
    ) !important;
  }

  :root:not([customizing="true"]):not(:-moz-lwtheme)
    tab[visuallyselected]
    > stack::before,
  :root:not([customizing="true"]):not(:-moz-lwtheme)
    tab[visuallyselected]
    > stack::after,
  :root:not([customizing="true"])[lwt-default-theme-in-dark-mode]
    tab[visuallyselected]
    > stack::before,
  :root:not([customizing="true"])[lwt-default-theme-in-dark-mode]
    tab[visuallyselected]
    > stack::after {
    fill: color-mix(in srgb, rgb(255, 255, 255) 15%, -moz-dialog) !important;
  }
}

