/*
 * Author: Thomas Leon Highbaugh (thighbaugh@zoho.com)
 * Description: Styles the toolbar containing the tabs
 */


/* .toolbar-items {
} */


/* Transparent tabs */

.toolbar-items:-moz-lwtheme-darktext,
.toolbar-items:-moz-lwtheme-brighttext {
    background-color: transparent !important;
    -moz-appearance: var(--moz-appearance) !important;
}


/*  Set minimum height for tab bar */

#tabbrowser-tabs {
    --tab-min-height: 32px;
    margin: 6px;
}


/* Compact mode */

:root[uidensity="compact"] #tabbrowser-tabs {
    margin: 0 !important;
}

.tab-background {
    border: none !important;
    color: var(--color) !important;
    background: var(--bg) !important;
    -moz-appearance: var(--moz-appearance) !important;
}

.tab-background[selected="true"] {
    background: var(--tab-selected-bg) !important;
}

.tab-background:not[visuallyselected] {
    background: var(--tab-selected-bg) !important;
    opacity: 0.5 !important;
    border-left: none !important;
}


/* Style all the lines before and after selected tab */

.tabbrowser-tab::after,
.tabbrowser-tab::before {
    border-width: 1px !important;
}

.tabbrowser-arrowscrollbox {
    -webkit-margin-start: 4px !important;
    margin-inline-start: 4px !important;
    -webkit-margin-end: 0 !important;
    margin-inline-end: 0 !important;
}

.tab-text {
    font-weight: var(--tab-font-weight);
    font-size: var(--tab-font-size) !important;
}


/* Center all content */

.tab-content {
    justify-content: center;
    align-items: center;
    min-width: 100% !important;
    padding: 0 10px !important;
}


/* A way to center the label and icon while
the close button is positioned to the far right */

.tab-content::before {
    content: "";
    display: -moz-box;
    -moz-box-flex: 1;
}


/* Tab close button */

.tab-close-button {
    opacity: 1 !important;
}


/* Prevent tab icons size breaking */

.tab-icon-image,
.tab-icon-sound,
.tab-throbber,
.tab-throbber-fallback,
.tab-close-button {
    min-width: 16px;
}


/* Adjust tab label width */

.tab-label-container {
    min-width: 3px !important;
}

#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([selected="true"]) .tab-throbber,
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([selected="true"]) .tab-throbber-fallback,
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([selected="true"]):not([busy]) .tab-icon-image,
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([selected="true"]):not([image]) .tab-label-container {
    margin-left: 0 !important;
    fill: var(--color) !important;
    color: var(--color) !important;
}


/* Tab icon */

hbox.tab-content .tab-icon-image {
    display: initial !important;
}


/* Show the icon of pinned tabs */

hbox.tab-content[pinned="true"] .tab-icon-image {
    display: initial !important;
}


/* Hide text of pinned tabs */

hbox.tab-content[pinned="true"] .tab-text {
    display: none !important;
}


/*  Hide the blue line on top of tab */

.tab-line {
    display: none !important;
}

.tab-bottom-line {}

.tabbrowser-tab {
    border-radius: var(--tab-border-radius) !important;
    border-width: 0;
    height: var(--tab-height) !important;
    overflow: hidden;
    margin-top: 0 !important;
    background: var(--bg) !important;
    margin-bottom: 0 !important;
}

:root[uidensity="compact"] .tabbrowser-tab {
    border-radius: 0 !important;
}

.tabbrowser-tab:hover {
    box-shadow: 0 1px 4px var(--box-shadow);
    background: var(--hover-bg) !important;
}


/*  Audio playing background */

.tabbrowser-tab[soundplaying="true"] {
    background-color: var(--tab-soundplaying-bg) !important;
}

#tabbrowser-tabs {}


/*  Audio Icon */

.tab-icon-sound {}


/* Center pinned tab stack(Contains icon) if #tabbrowser-tabs[positionpinnedtabs=true] */

#tabbrowser-tabs[positionpinnedtabs="true"] .tabbrowser-tab[pinned="true"] .tab-stack {
    position: relative !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}

.private-browsing-indicator {
    display: block;
    background: transparent;
}


/* subtle tab separators */

.tabbrowser-tab::after,
.tabbrowser-tab::before {
    margin-bottom: 9px !important;
    margin-top: 9px !important;
}