
@-moz-document url(chrome://browser/content/browser.xul),
               url(chrome://browser/content/browser.xhtml) {


  /* hide horizontal tabs at the top of the window */
  #TabsToolbar > * {
    visibility: collapse  !important;
  }

  /* hide navigation bar when it is not focused; use Ctrl+L to get focus */
  #main-window:not([customizing]) #navigator-toolbox:not(:focus-within):not(:hover) {
    margin-top: -45px !important;
  }
  #navigator-toolbox {
    transition: 0.2s margin-top ease-out !important;
  }

  

}