/* ##========================================================================================
##*                                                                                     ##
##                                        BUTTONS                                       ##
##                                                                                      ##
##======================================================================================== */

#back-button,
#forward-button {
  display: none !important;
}

/* bookmark icon */
#star-button {
  display: none !important;
}

/* zoom indicator */
#urlbar-zoom-button {
  display: none !important;
}

/* Make button small as Possible, hidden out of sight */
#PanelUI-button {
  margin-top: -5px;
  margin-bottom: 38px;
}

#PanelUI-menu-button {
  list-style-image: none !important;
  padding: 0px !important;
  max-height: 1px;
}

#PanelUI-menu-button .toolbarbutton-icon {
  width: 1px !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack {
  padding: 0px !important;
}

#reader-mode-button {
  display: none !important;
}

/* tracking protection shield icon */
#tracking-protection-icon-container {
  display: none !important;
}

#identity-box {
  display: none !important;
} /* hides encryption AND permission items */
#identity-permission-box {
  display: none !important;
} /* only hodes permission items */

/* e.g. playing indicator (secondary - not icon) */
.tab-secondary-label {
  display: none !important;
}

#pageActionButton {
  display: none !important;
}

#page-action-buttons {
  display: none !important;
}


