
#statuspanel {
  background-color: var(--window-color) !important;
  background-image: var(--acrylic-texture) !important;
  backdrop-filter: var(--acrylic-blur) !important;
  border: 1px none var(-window-color) !important;
  border-top-style: solid !important;
  color: var(--inverted-color) !important;
}

:root[inDOMFullscreen] #statuspanel {
  visibility: collapse !important;
}

#statuspanel:not([type="overLink"], [inactive][previoustype="overLink"]) {
  opacity: 0 !important;
  transition: none !important;
}

#statuspanel[type="overLink"] {
  transition: opacity 400ms var(--uc-smooth-timing-function), visibility 400ms !important;
}

#statuspanel-label {
  background: none !important;
  color: inherit !important;
  box-shadow: none !important;
  opacity: revert !important;
  padding: 0 8px !important;
  margin: 0 0 1px !important;
  border: none !important;
}

#statuspanel:not([mirror]):-moz-locale-dir(ltr),
#statuspanel[mirror]:-moz-locale-dir(rtl) {
  border-top-left-radius: 0 !important;
  border-top-right-radius: var(--uc-border-radius) !important;
  border-right-style: solid !important;
}

#statuspanel:not([mirror]):-moz-locale-dir(rtl),
#statuspanel[mirror]:-moz-locale-dir(ltr) {
  border-top-left-radius: var(--uc-border-radius) !important;
  border-top-right-radius: 0 !important;
  border-left-style: solid !important;
}

#statuspanel-inner {
  height: 32px !important;
  width: auto !important;
  min-width: unset !important;
  max-width: unset !important;
  -moz-box-align: center !important;
}
