/* ##========================================================================================
##                                                                                      ##
##                                         TABS                                         ##
##                                                                                      ##
##======================================================================================== */

  /* move tabs bar over */
  #TabsToolbar {
    margin-left: var(--uc-urlbar-width) !important;
    display: none !important;
  }

/* remove gap after pinned tabs
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
    > #tabbrowser-arrowscrollbox
    > .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 0 !important;
  display: none !important;
} */


/* remove tab shadow */
/* .tabbrowser-tab > .tab-stack > .tab-background {
  box-shadow: none !important;
  display: none !important;
} */


/* tab background */
/* .tabbrowser-tab > .tab-stack > .tab-background {
  background: var(--uc-theme-color) !important;
  display: none !important;
} */


/* active tab background */
/* .tabbrowser-tab[selected]
    > .tab-stack
    > .tab-background {
  background: var(--uc-hover-color) !important;
  display: none !important;
} */


/* tab close button options */
/* .tabbrowser-tab:not([pinned]) .tab-close-button {
  display: none !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  display: none !important;
} */


/* adaptive tab width */
/* .tabbrowser-tab[selected][fadein]:not([pinned]) {
  max-width: var(--uc-active-tab-width) !important;
  display: none !important;
}

.tabbrowser-tab[fadein]:not([selected]):not([pinned]) {
  max-width: var(--uc-inactive-tab-width) !important;
  display: none !important;
} */


/* container tabs indicator */
/* .tabbrowser-tab[usercontextid]
    > .tab-stack
    > .tab-background
    > .tab-context-line {
  margin: -1px var(--container-tabs-indicator-margin) 0 var(--container-tabs-indicator-margin) !important;
  border-radius: var(--tab-border-radius) !important;
  display: none !important;
}
 */

/* show favicon when media is playing but tab is hovered */
/* .tab-icon-image:not([pinned]) {
  opacity: 1 !important;
  display: none !important;
} */


/* Makes the speaker icon to always appear if the tab is playing (not only on hover) */
/* .tab-icon-overlay:not([crashed]),
.tab-icon-overlay[pinned][crashed][selected] {
  top: 5px !important;
  z-index: 1 !important;
  padding: 1.5px !important;
  inset-inline-end: -8px !important;
  width: 16px !important;
  height: 16px !important;
  border-radius: 10px !important;
  display: none !important;
} */


/* style and position speaker icon */
/* .tab-icon-overlay:not([sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked]) {
  stroke: transparent !important;
  background: transparent !important;
  opacity: 1 !important;
  fill-opacity: 0.8 !important;
  color: currentColor !important;
  stroke: var(--uc-theme-color) !important;
  background-color: var(--uc-theme-color) !important;
  display: none !important;
}
 */

/* change the colors of the speaker icon on active tab to match tab colors */
/* .tabbrowser-tab[selected] .tab-icon-overlay:not([sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked]) {
  stroke: var(--uc-hover-color) !important;
  background-color: var(--uc-hover-color) !important;
  display: none !important;
}

.tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked]) {
  margin-inline-end: 9.5px !important;
  display: none !important;
}

.tabbrowser-tab:not([image]) .tab-icon-overlay:not([pinned], [sharing], [crashed]) {
  top: 0 !important;
  padding: 0 !important;
  margin-inline-end: 5.5px !important;
  inset-inline-end: 0 !important;
  display: none !important;
}

.tab-icon-overlay:not([crashed])[soundplaying]:hover,
.tab-icon-overlay:not([crashed])[muted]:hover,
.tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
  color: currentColor !important;
  stroke: var(--uc-inverted-color) !important;
  background-color: var(--uc-inverted-color) !important;
  fill-opacity: 0.95 !important;
  display: none !important;
}

.tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[soundplaying]:hover,
.tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[muted]:hover,
.tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
  color: currentColor !important;
  stroke: var(--uc-inverted-color) !important;
  background-color: var(--uc-inverted-color) !important;
  fill-opacity: 0.95 !important;
  display: none !important;
} */


/* speaker icon color fix */
/* #TabsToolbar .tab-icon-overlay:not([crashed])[soundplaying],
#TabsToolbar .tab-icon-overlay:not([crashed])[muted],
#TabsToolbar .tab-icon-overlay:not([crashed])[activemedia-blocked] {
  color: var(--uc-inverted-color) !important;
  display: none !important;
} */


/* speaker icon color fix on hover */
/* .tab-icon-overlay:not([crashed])[soundplaying]:hover,
#TabsToolbar .tab-icon-overlay:not([crashed])[muted]:hover,
#TabsToolbar .tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
  color: var(--uc-theme-color) !important;
} */



/* ##========================================================================================
##                                                                                      ##
##                                    Container Tabs                                    ##
##                                                                                      ##
##======================================================================================== */

.identity-color-blue {
  --identity-tab-color: var(--uc-identity-color-blue) !important;
  --identity-icon-color: var(--uc-identity-color-blue) !important;
}

.identity-color-turquoise {
  --identity-tab-color: var(--uc-identity-color-turquoise) !important;
  --identity-icon-color: var(--uc-identity-color-turquoise) !important;
}

.identity-color-green {
  --identity-tab-color: var(--uc-identity-color-green) !important;
  --identity-icon-color: var(--uc-identity-color-green) !important;
}

.identity-color-yellow {
  --identity-tab-color: var(--uc-identity-color-yellow) !important;
  --identity-icon-color: var(--uc-identity-color-yellow) !important;
}

.identity-color-orange {
  --identity-tab-color: var(--uc-identity-color-orange) !important;
  --identity-icon-color: var(--uc-identity-color-orange) !important;
}

.identity-color-red {
  --identity-tab-color: var(--uc-identity-color-red) !important;
  --identity-icon-color: var(--uc-identity-color-red) !important;
}

.identity-color-pink {
  --identity-tab-color: var(--uc-identity-color-pink) !important;
  --identity-icon-color: var(--uc-identity-color-pink) !important;
}

.identity-color-purple {
  --identity-tab-color: var(--uc-identity-color-purple) !important;
  --identity-icon-color: var(--uc-identity-color-purple) !important;
}

