@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@namespace html url(http://www.w3.org/1999/xhtml);

@import url(uc-globals.css);
@import url(uc-variables.css);
@import url(uc-navbar.css);
@import url(uc-sidebar.css);
@import url(uc-statusbar.css);
@import url(uc-layout.css);
@import url(uc-tabs.css);
@import url(uc-icons.css);
@import url(uc-buttons.css);

/* I am assuming because  */
#TabsToolbar {
  margin-left: var(--uc-urlbar-width) !important;
  display: none !important;
  background: transparent !important;
}
