/* URL bar max-width and centered hack */
#urlbar {
  max-width: 70% !important;
  margin: 0 15% !important;

  /* URL bar and toolbar height */
  --urlbar-height: 36px !important;
  --urlbar-toolbar-height: 40px !important;
}

/* URL bar and toolbar height if compact mode */
:root[uidensity="compact"] #urlbar {
  --urlbar-height: 30px !important;
  --urlbar-toolbar-height: 34px !important;
}

#urlbar-input:focus {
}

/* Set color scheme */
#urlbar-input:focus:-moz-lwtheme-darktext,
#urlbar-input:focus:-moz-lwtheme-brighttext {
  color: var(--urlbar-focused-color) !important;
}

#urlbar-background {
  border-radius: var(--urlbar-radius) !important;
  border: none !important;
}

/* Set color scheme */
#urlbar-background:-moz-lwtheme-darktext,
#urlbar-background:-moz-lwtheme-brighttext {
  background: var(--urlbar-bg) !important;
}

.urlbar-icon:not([disabled]):hover,
.urlbar-icon-wrapper:not([disabled]):hover {
}

/* Set color scheme */
.urlbar-icon:not([disabled]):hover:-moz-lwtheme-darktext,
.urlbar-icon:not([disabled]):hover:-moz-lwtheme-brighttext,
.urlbar-icon-wrapper:not([disabled]):hover:-moz-lwtheme-darktext,
.urlbar-icon-wrapper:not([disabled]):hover:-moz-lwtheme-brighttext {
  background: var(--hover-bg) !important;
}

.urlbar-icon[open],
.urlbar-icon-wrapper[open],
.urlbar-icon:not([disabled]):hover:active,
.urlbar-icon-wrapper:hover:active {
  background: var(--active-bg);
}

/* Set color scheme */
.urlbar-icon[open]:-moz-lwtheme-darktext,
.urlbar-icon[open]:-moz-lwtheme-brighttext,
.urlbar-icon-wrapper[open]:-moz-lwtheme-darktext,
.urlbar-icon-wrapper[open]:-moz-lwtheme-brighttext,
.urlbar-icon:not([disabled]):hover:active:-moz-lwtheme-darktext,
.urlbar-icon:not([disabled]):hover:active:-moz-lwtheme-brighttext,
.urlbar-icon-wrapper:hover:active:-moz-lwtheme-darktext,
.urlbar-icon-wrapper:hover:active:-moz-lwtheme-brighttext {
  background: var(--hover-bg) !important;
}

.urlbar-icon-wrapper[open] > .urlbar-icon,
.urlbar-icon-wrapper > .urlbar-icon:hover,
.urlbar-icon-wrapper > .urlbar-icon:hover:active {
}

/* Set color scheme */
.urlbar-icon-wrapper[open] > .urlbar-icon:-moz-lwtheme-darktext,
.urlbar-icon-wrapper[open] > .urlbar-icon:-moz-lwtheme-brighttext,
.urlbar-icon-wrapper > .urlbar-icon:hover:-moz-lwtheme-darktext,
.urlbar-icon-wrapper > .urlbar-icon:hover:-moz-lwtheme-brighttext,
.urlbar-icon-wrapper > .urlbar-icon:hover:active:-moz-lwtheme-darktext,
.urlbar-icon-wrapper > .urlbar-icon:hover:active:-moz-lwtheme-brighttext {
  background: var(--hover-bg) !important;
}

#urlbar[breakout-extend="true"]:not([open="true"]) > #urlbar-background {
  box-shadow: none !important;
  display: none !important;
  -moz-appearance: var(--moz-appearance) !important;
}

#urlbar[open="true"] > #urlbar-background {
}

/* Set color scheme */
#urlbar[open="true"] > #urlbar-background:-moz-lwtheme-darktext,
#urlbar[open="true"] > #urlbar-background:-moz-lwtheme-brighttext {
  background: var(--urlbar-active-bg) !important;
  backdrop-filter: blur(var(--backdrop-blur)) !important;
}

.urlbar-icon {
}

/* Set color scheme */
.urlbar-icon:-moz-lwtheme-darktext,
.urlbar-icon:-moz-lwtheme-brighttext {
  color: var(--icon-color) !important;
}

.urlbar-icon > image {
  fill: var(--base08) !important;
  color: var(--base08) !important;
}

.urlbarView-row[type="switchtab"] > span .urlbarView-url {
  color: var(--urlbar-switch-tab-color) !important;
}

#urlbar-results {
  font-weight: var(--urlbar-results-font-weight);
  font-size: var(--urlbar-results-font-size) !important;
}

/* Hover background color */
.urlbarView-row-inner:hover {
  background: var(--accent-bg) !important;
}

.urlbarView-url,
.search-panel-one-offs-container {
  font-weight: var(--urlbar-results-font-weight);
  font-size: var(--urlbar-font-size) !important;
}

#urlbar-input {
  font-size: var(--urlbar-font-size) !important;
  font-weight: var(--urlbar-font-weight) !important;
  text-align: center !important;
}

/* Urlbar buttons */
.urlbar-icon,
.urlbar-page-action {
  border-radius: 6px;
}

/* URL bar hightlight color */
::-moz-selection {
  background-color: var(--urlbar-hightlight-bg) !important;
}

/* Bookmark button - Star button */
#star-button {
}

#star-button:hover:not(.no-hover):not([open="true"]) {
}

/* Set color scheme */
#star-button:hover:not(.no-hover):not([open="true"]):-moz-lwtheme-darktext,
#star-button:hover:not(.no-hover):not([open="true"]):-moz-lwtheme-brighttext {
  background: var(--hover-bg) !important;
}

#star-button:hover:active:not(.no-hover),
#star-button[open="true"] {
}

/* Set color scheme */
#star-button:hover:active:not(.no-hover):-moz-lwtheme-darktext,
#star-button:hover:active:not(.no-hover):-moz-lwtheme-brighttext,
#star-button[open="true"]:-moz-lwtheme-darktext,
#star-button[open="true"]:-moz-lwtheme-brighttext {
  background: var(--hover-bg) !important;
}

/* Tracking */
#tracking-protection-icon-container {
  border-radius: 6px;
  margin: 2px;
}

/* Identity */
#identity-box {
  border-radius: 6px;
  margin: 2px;
}

#identity-box:hover:not(.no-hover):not([open="true"]),
#tracking-protection-icon-container:hover:not(.no-hover):not([open="true"]) {
}

#identity-box:hover:not(.no-hover):not([open="true"]):-moz-lwtheme-darktext,
#identity-box:hover:not(.no-hover):not([open="true"]):-moz-lwtheme-brighttext,
#tracking-protection-icon-container:hover:not(.no-hover):not([open="true"]):-moz-lwtheme-darktext,
#tracking-protection-icon-container:hover:not(.no-hover):not([open="true"]):-moz-lwtheme-brighttext {
  background: var(--hover-bg) !important;
}

#identity-box:hover:active:not(.no-hover),
#identity-box[open="true"],
#tracking-protection-icon-container:hover:active:not(.no-hover),
#tracking-protection-icon-container[open="true"] {
}

#identity-box:hover:active:not(.no-hover):-moz-lwtheme-darktext,
#identity-box:hover:active:not(.no-hover):-moz-lwtheme-brighttext,
#identity-box[open="true"]:-moz-lwtheme-darktext,
#identity-box[open="true"]:-moz-lwtheme-brighttext,
#tracking-protection-icon-container:hover:active:not(.no-hover):-moz-lwtheme-darktext,
#tracking-protection-icon-container:hover:active:not(.no-hover):-moz-lwtheme-brighttext,
#tracking-protection-icon-container[open="true"]:-moz-lwtheme-darktext,
#tracking-protection-icon-container[open="true"]:-moz-lwtheme-brighttext {
  background: var(--hover-bg) !important;
}

/* Hides Navbar unless Control+l is pressed */
#TabsToolbar {
  -moz-window-dragging: no-drag !important;
}

#nav-bar:not([customizing="true"]):not([inFullscreen]) {
  min-height: 1px !important;
  max-height: 1px !important;
  margin-bottom: -1px !important;
  transition: all 180ms ease 0.5s !important;
  z-index: -1 !important;
}

#navigator-toolbox:hover:not([inFullscreen]) #nav-bar,
#navigator-toolbox:focus-within:not([inFullscreen]) #nav-bar {
  min-height: 40px !important;
  max-height: 40px !important;
  margin-bottom: -40px !important;
  transition: all 180ms ease 0s !important;
  z-index: 1 !important;
}

#urlbar,
#urlbar[breakout][breakout-extend] {
  top: calc(40px - var(--urlbar-height) / 2) !important;
}

/** 
 * Other tweaks regarding urlbar 
 */

/* Remove placeholder text in the address bar */
.urlbar-input-box > .urlbar-input::placeholder {
  opacity: 0 !important;
}

/* Give the address bar darker background in a private browsing window and tweak selection colors */
#urlbar ::-moz-selection {
  background-color: var(--accent) !important;
  color: var(--base07) !important;
}

#urlbar:not([focused="true"]):-moz-lwtheme,
#urlbar.hidden-focus:-moz-lwtheme {
  border-color: var(--base02) !important;
}

/* Get rid of border and shadow, blend into toolbar */
#urlbar {
  border: none !important;
}

/* remove megabar */
@-moz-document url(chrome://browser/content/browser.xhtml)
{
  #urlbar[breakout][breakout-extend] > #urlbar-input-container,
  #urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding-block: 0px !important;
    padding-inline: 0px !important;
    transition: none !important;
    border-radius: var(--toolbarbutton-border-radius) !important;
  }

  #urlbar[breakout][breakout-extend] {
    top: calc(
      (var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2
    ) !important;
    left: 0 !important;
    width: 100% !important;
  }

  #urlbar[breakout][breakout-extend] > #urlbar-background {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) !important;
  }

  #urlbar[breakout][breakout-extend] > #urlbar-input-container {
    border: 1px solid var(--toolbar-field-focus-border-color) !important;
  }

  #urlbar[breakout][breakout-extend][open] > #urlbar-input-container {
    border-bottom: 1px solid transparent !important;
    border-radius: var(--toolbarbutton-border-radius)
      var(--toolbarbutton-border-radius) 0 0 !important;
  }
}
/* Remove border between Tabs and NavBar */
#nav-bar {
  margin-bottom: -1px !important;
  border: none !important;
  box-shadow: none !important;
}

/* Keep Navbar on top during Findbar/Bookmark bar sliding animations */
#nav-bar {
  z-index: 3;
}

/* Download progress */
/* #downloads-button[progress] #downloads-indicator-icon{
  fill: #39f !important;
} */

/* Shorter menu button separator (4px padding => 10px) */
:root:not([uidensity="compact"]):not([chromehidden~="toolbar"])
  #PanelUI-button {
  border-image-source: linear-gradient(
    transparent 10px,
    var(--lwt-toolbar-vertical-separator, rgba(255, 255, 255, 0.2)) 10px,
    var(--lwt-toolbar-vertical-separator, rgba(255, 255, 255, 0.2))
      calc(100% - 10px),
    transparent calc(100% - 10px)
  ) !important;
}

/* Hide menu button separator and remove its spacing */
:root:not([uidensity="compact"]):not([chromehidden~="toolbar"])
  #PanelUI-button {
  margin-inline-start: 0 !important;
  border-inline-start: none !important;
}

:root:not([uidensity="compact"]) #PanelUI-menu-button {
  padding-left: 0 !important;
}

/* Move "search with" text in richlist to the bottom */
.search-panel-one-offs {
  -moz-box-ordinal-group: 0;
}

#navigator-toolbox::after {
  display: none !important;
  border-bottom: 0 !important;
}

#nav-bar,
#TabsToolbar {
  border: none !important;
}

#nav-bar-customization-target {
  background-color: #292d35 !important;
}

#navigator-toolbox {
  margin-top: 0;
  padding-top: 0 !important;
  border: none !important;
}

#navigator-toolbox {
  --tabs-border-color: transparent !important;
}

.toolbarbutton-1 {
  fill: #edeeff !important;
  background-color: #292d35 !important;
}

#urlbar-input-container {
  border: none !important;
}

#urlbar[open] > #urlbar-background {
  background: #292d35 !important;
  border-color: transparent !important;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.32) !important;
}

#urlbar-background {
  background-color: #292d35 !important;
  box-shadow: none !important;
  border-color: transparent !important;
}
