/* URL bar max-width and centered hack */
#urlbar {
  max-width: 70% !important;
  margin: 0 15% !important;

  /* URL bar and toolbar height */
  --urlbar-height: 40px !important;
  --urlbar-toolbar-height: 44px !important;
}

/* URL bar and toolbar height if compact mode */
:root[uidensity="compact"] #urlbar {
  --urlbar-height: 30px !important;
  --urlbar-toolbar-height: 34px !important;
}

#urlbar-input:focus {
}

/* Set color scheme */
#urlbar-input:focus:-moz-lwtheme-darktext,
#urlbar-input:focus:-moz-lwtheme-brighttext {
  color: var(--urlbar-focused-color) !important;
}

#urlbar-background {
  border-radius: var(--urlbar-radius) !important;
  border: none !important;
}

/* Set color scheme */
#urlbar-background:-moz-lwtheme-darktext,
#urlbar-background:-moz-lwtheme-brighttext {
  background: var(--urlbar-bg) !important;
}

.urlbar-icon:not([disabled]):hover,
.urlbar-icon-wrapper:not([disabled]):hover {
}

/* Set color scheme */
.urlbar-icon:not([disabled]):hover:-moz-lwtheme-darktext,
.urlbar-icon:not([disabled]):hover:-moz-lwtheme-brighttext,
.urlbar-icon-wrapper:not([disabled]):hover:-moz-lwtheme-darktext,
.urlbar-icon-wrapper:not([disabled]):hover:-moz-lwtheme-brighttext {
  background: var(--hover-bg) !important;
}

.urlbar-icon[open],
.urlbar-icon-wrapper[open],
.urlbar-icon:not([disabled]):hover:active,
.urlbar-icon-wrapper:hover:active {
  background: var(--active-bg);
}

/* Set color scheme */
.urlbar-icon[open]:-moz-lwtheme-darktext,
.urlbar-icon[open]:-moz-lwtheme-brighttext,
.urlbar-icon-wrapper[open]:-moz-lwtheme-darktext,
.urlbar-icon-wrapper[open]:-moz-lwtheme-brighttext,
.urlbar-icon:not([disabled]):hover:active:-moz-lwtheme-darktext,
.urlbar-icon:not([disabled]):hover:active:-moz-lwtheme-brighttext,
.urlbar-icon-wrapper:hover:active:-moz-lwtheme-darktext,
.urlbar-icon-wrapper:hover:active:-moz-lwtheme-brighttext {
  background: var(--hover-bg) !important;
}

.urlbar-icon-wrapper[open] > .urlbar-icon,
.urlbar-icon-wrapper > .urlbar-icon:hover,
.urlbar-icon-wrapper > .urlbar-icon:hover:active {
}

/* Set color scheme */
.urlbar-icon-wrapper[open] > .urlbar-icon:-moz-lwtheme-darktext,
.urlbar-icon-wrapper[open] > .urlbar-icon:-moz-lwtheme-brighttext,
.urlbar-icon-wrapper > .urlbar-icon:hover:-moz-lwtheme-darktext,
.urlbar-icon-wrapper > .urlbar-icon:hover:-moz-lwtheme-brighttext,
.urlbar-icon-wrapper > .urlbar-icon:hover:active:-moz-lwtheme-darktext,
.urlbar-icon-wrapper > .urlbar-icon:hover:active:-moz-lwtheme-brighttext {
  background: var(--hover-bg) !important;
}

#urlbar[breakout-extend="true"]:not([open="true"]) > #urlbar-background {
  box-shadow: none !important;
  display: none !important;
  -moz-appearance: var(--moz-appearance) !important;
}

#urlbar[open="true"] > #urlbar-background {
}

/* Set color scheme */
#urlbar[open="true"] > #urlbar-background:-moz-lwtheme-darktext,
#urlbar[open="true"] > #urlbar-background:-moz-lwtheme-brighttext {
  background: var(--urlbar-active-bg) !important;
  backdrop-filter: blur(var(--backdrop-blur)) !important;
}

.urlbar-icon {
}

/* Set color scheme */
.urlbar-icon:-moz-lwtheme-darktext,
.urlbar-icon:-moz-lwtheme-brighttext {
  color: var(--icon-color) !important;
}

.urlbar-icon > image {
  fill: var(--base08) !important;
  color: var(--base08) !important;
}

.urlbarView-row[type="switchtab"] > span .urlbarView-url {
  color: var(--urlbar-switch-tab-color) !important;
}

#urlbar-results {
  font-weight: var(--urlbar-results-font-weight);
  font-size: var(--urlbar-results-font-size) !important;
}

/* Hover background color */
.urlbarView-row-inner:hover {
  background: var(--accent-bg) !important;
}

.urlbarView-url,
.search-panel-one-offs-container {
  font-weight: var(--urlbar-results-font-weight);
  font-size: var(--urlbar-font-size) !important;
}

#urlbar-input {
  font-size: var(--urlbar-font-size) !important;
  font-weight: var(--urlbar-font-weight) !important;
  text-align: center !important;
}

/* Urlbar buttons */
.urlbar-icon,
.urlbar-page-action {
  border-radius: 6px;
}

/* URL bar hightlight color */
::-moz-selection {
  background-color: var(--urlbar-hightlight-bg) !important;
}

/* Bookmark button - Star button */
#star-button {
}

#star-button:hover:not(.no-hover):not([open="true"]) {
}

/* Set color scheme */
#star-button:hover:not(.no-hover):not([open="true"]):-moz-lwtheme-darktext,
#star-button:hover:not(.no-hover):not([open="true"]):-moz-lwtheme-brighttext {
  background: var(--hover-bg) !important;
}

#star-button:hover:active:not(.no-hover),
#star-button[open="true"] {
}

/* Set color scheme */
#star-button:hover:active:not(.no-hover):-moz-lwtheme-darktext,
#star-button:hover:active:not(.no-hover):-moz-lwtheme-brighttext,
#star-button[open="true"]:-moz-lwtheme-darktext,
#star-button[open="true"]:-moz-lwtheme-brighttext {
  background: var(--hover-bg) !important;
}

/* Tracking */
#tracking-protection-icon-container {
  border-radius: 6px;
  margin: 2px;
}

/* Identity */
#identity-box {
  border-radius: 6px;
  margin: 2px;
}

#identity-box:hover:not(.no-hover):not([open="true"]),
#tracking-protection-icon-container:hover:not(.no-hover):not([open="true"]) {
}

#identity-box:hover:not(.no-hover):not([open="true"]):-moz-lwtheme-darktext,
#identity-box:hover:not(.no-hover):not([open="true"]):-moz-lwtheme-brighttext,
#tracking-protection-icon-container:hover:not(.no-hover):not([open="true"]):-moz-lwtheme-darktext,
#tracking-protection-icon-container:hover:not(.no-hover):not([open="true"]):-moz-lwtheme-brighttext {
  background: var(--hover-bg) !important;
}

#identity-box:hover:active:not(.no-hover),
#identity-box[open="true"],
#tracking-protection-icon-container:hover:active:not(.no-hover),
#tracking-protection-icon-container[open="true"] {
}

#identity-box:hover:active:not(.no-hover):-moz-lwtheme-darktext,
#identity-box:hover:active:not(.no-hover):-moz-lwtheme-brighttext,
#identity-box[open="true"]:-moz-lwtheme-darktext,
#identity-box[open="true"]:-moz-lwtheme-brighttext,
#tracking-protection-icon-container:hover:active:not(.no-hover):-moz-lwtheme-darktext,
#tracking-protection-icon-container:hover:active:not(.no-hover):-moz-lwtheme-brighttext,
#tracking-protection-icon-container[open="true"]:-moz-lwtheme-darktext,
#tracking-protection-icon-container[open="true"]:-moz-lwtheme-brighttext {
  background: var(--hover-bg) !important;
}

/* Hides Navbar unless Control+l is pressed */
#TabsToolbar {
  -moz-window-dragging: no-drag !important;
}

#nav-bar:not([customizing="true"]):not([inFullscreen]) {
  min-height: 1px !important;
  max-height: 1px !important;
  margin-bottom: -1px !important;
  transition: all 180ms ease 0.5s !important;
  z-index: -1 !important;
}

#navigator-toolbox:hover:not([inFullscreen]) #nav-bar,
#navigator-toolbox:focus-within:not([inFullscreen]) #nav-bar {
  min-height: 40px !important;
  max-height: 40px !important;
  margin-bottom: -40px !important;
  transition: all 180ms ease 0s !important;
  z-index: 1 !important;
}

#urlbar,
#urlbar[breakout][breakout-extend] {
  top: calc(40px - var(--urlbar-height) / 2) !important;
}

/** 
 * Other tweaks regarding urlbar 
 */

/* Remove placeholder text in the address bar */
.urlbar-input-box > .urlbar-input::placeholder {
  opacity: 0 !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container,
#urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding-block: 0px !important;
  padding-inline: 0px !important;
  transition: none !important;
  border-radius: var(--toolbarbutton-border-radius) !important;
}
