/*
 * Author: Thomas Leon Highbaugh (thighbaugh@zoho.com)
 * Project: blurredfox
 * File: userChrome/window-controls.css
 * Description: styles the window controls, or specifically hides them
 */
#autohide-context {
  display: none !important;
}

#window-controls[hidden="true"] {
  display: none !important;
}

#window-controls[hidden="false"] {
  display: inline-flex !important;
}
