/* TAB BAR */
#TabsToolbar {
  min-height: 40px !important;
  position: absolute !important;
  background-color: var(--main-tab-bg-color) !important;
}

#TabsToolbar::before,
#TabsToolbar::after {
  border: 0px !important;
  display: none !important;
}

.tab-background,
.tabbrowser-tab::before,
.tabbrowser-tab::after {
  display: none !important;
}

.tabbrowser-tab:not([pinned]) .tab-icon-image {
  /*display: none !important;*/
  height: 15px !important;
  width: 15px !important;
}

.tabbrowser-tab[pinned="true"] .tab-icon-image {
  height: 15px !important;
  width: 15px !important;
  align-items: center !important;
}

/* Lower and Color Tab Line */
.tab-background {
  -moz-box-direction: reverse !important;
}

.tabbrowser-tab .tab-line[selected="true"] {
  margin-right: 0px !important;
  margin-left: 0px !important;
  height: 25px !important;
  /*background-color: red !important;*/
}

/* Center Tab Text */
.tab-text {
  -moz-box-flex: 1 !important;
  text-align: center !important;
}

.tab-text[pinned] {
  display: none !important;
}

.tab-text[selected] {
  font-weight: bold !important;
}

.tab-text:not([selected]) {
  color: #434760 !important;
}

.tabbrowser-tab {
  position: relative !important;
  border-bottom: 3px !important;
  min-height: 40px !important;
  min-width: 100px !important;
}

.tabbrowser-tab[pinned] {
  min-width: 40px !important;
  max-width: 40px !important;
}

.tabbrowser-tab[selected="true"],
.tabbrowser-tab[selected="true"]:hover {
  border-radius: 0 0 var(--tab-corner-rounding) var(--tab-corner-rounding) !important;
  box-shadow: var(--tabbar-shadow-selected) !important;
}

.tabbrowser-tab:not([selected="true"]) {
  box-shadow: var(--tabbar-shadow) !important;
}

.tab-close-button {
  display: none !important;
}

/* Hide New Tab Button */
#tabs-newtab-button,
#new-tab-button {
  display: none !important;
}
