:root,
tooltip {
  --in-content-bg-dark: #17191e;
  --in-content-box-bg-dark: #23252e;
  --in-content-button-highlight-dark: #3c3f4c;
  --in-content-separator-dim: #23252eaa;
  --in-content-border-color-dim: #23252eaa;
  --plaintext-color: #f4f4f7;
}
