/* This Source Code Form is subject to the terms of the Creative Commons
 * Attribution-NonCommercial-ShareAlike International License, v. 4.0.
 * If a copy of the CC BY-NC-SA 4.0 was not distributed with this
 * file, You can obtain one at http://creativecommons.org/licenses/by-nc-sa/4.0/
 * or send a letter to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA. */

 :root,
 tooltip {
   --in-content-bg-dark: var(--uc-background-layered);
   --in-content-bg-darker: var(--uc-background-main);
   --in-content-box-bg-dark: var(--uc-background-layered);
     --in-content-button-highlight-dark: var(--uc-button-selected);
   --in-content-separator-dim: var(--uc-panel-border-ii);
   --in-content-border-color-dim: var(--uc-panel-border);
   --plaintext-color: var(--uc-text);
   --uc-menu-border-color: var(--uc-panel-border);
   --tooltip-bgcolor: var(--uc-higgs-boson-window);
   --tooltip-color: var(--uc-text);
   --tooltip-border-radius: var(--uc-button-border-radius);
   --tooltip-border-color: var(--uc-panel-border);
   --tooltip-box-shadow: var(--uc-box-shadow-panel);
    --transparent-img-background: center/16px repeat hsla(0, 0%, 80%)
     url(chrome://userchrome/content/checker.svg);
   --transparent-img-background-context: center/16px repeat
     url(chrome://userchrome/content/checker-context.svg);
 }

 @media (prefers-color-scheme: dark) {
   :root {
     --transparent-img-background: center/16px repeat hsla(0, 0%, 20%)
       url(chrome://userchrome/content/checker-dark.svg);
   }
 }
