@-moz-document url-prefix("about:") {
  :root {
    --in-content-box-background: var(--firefoxcss-item-bg-color) !important;
    --in-content-table-background: var(--firefoxcss-item-bg-color) !important;
    --in-content-page-background: var(--firefoxcss-main-bg-color) !important;
  }

  html,
  body {
    background-color: var(--firefoxcss-main-bg-color) !important;
  }
}

@-moz-document url("about:blank") {
  #newtab-customize-overlay {
    background-color: var(--firefoxcss-main-bg-color) !important;
  }
}

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/content/multi_column_addons.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text and a star while you are there. */

/* Makes addon manager show addons in 2-4 columns based on available width */
/* You can use compact_addons_manager.css with this to make things even more, well, compact  */

@-moz-document url-prefix("chrome://mozapps/content/extensions/aboutaddons.html"), url("about:addons")
{
  :root {
    overflow-x: hidden;
  } /* Remove this if it causes horizontal scrolling problems */

  @media (min-width: 720px) {
    #main {
      max-width: unset !important;
      padding-right: 28px;
    }
    addon-list > section,
    recommended-addon-list {
      padding: 1em;
      display: grid;
      grid-template-areas: "hd hd" "cd cd";
      grid-auto-columns: 1fr;
      column-gap: 1em;
    }

    addon-card .card-contents {
      width: unset !important;
      white-space: initial !important;
    }

    .card-heading-image {
      max-width: calc(100% + 32px);
    }
    section > h2 {
      grid-area: hd;
    }
    addon-card {
      padding-bottom: 0px !important;
      padding-top: 0px !important;
      grid-area: auto;
    }
    addon-card .addon-description {
      max-height: 3em;
      scrollbar-width: thin;
    }
  }

  @media (min-width: 1220px) {
    addon-list > section,
    recommended-addon-list {
      grid-template-areas: "hd hd hd" "cd cd cd";
    }
  }

  @media (min-width: 1720px) {
    addon-list > section,
    recommended-addon-list {
      grid-template-areas: "hd hd hd hd" "cd cd cd cd";
    }
  }
}

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/content/compact_about_config.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Makes about:config list more compact */

@-moz-document url("about:config") {
  .button-delete,
  .button-edit,
  .button-reset,
  .button-save,
  .button-toggle {
    margin-block: 1px !important;
    padding-block: 11px 0 !important;
    padding-inline: 0 !important;
    min-height: 22px !important;
    width: 22px !important;
    outline-offset: 0 !important;
  }
  .cell-edit {
    width: 28px !important;
  }
  form > input,
  tr:not(.add) > th,
  tr:not(.add) > .cell-value {
    padding-block: 0 !important;
  }
  tr:not(:hover) .semi-transparent:not(.primary, .button-add) {
    background-color: transparent !important;
  }
}
/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/content/dark_settings_pages.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Recolors addons manager, preferences page and new about:config */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

@-moz-document url-prefix("about:addons"),
  url-prefix("about:preferences"),
  url-prefix("about:config"),
  url-prefix("chrome://browser/content/"),
  url-prefix("chrome://mozapps/content/"),
  url-prefix("chrome://pippki/content/"),
  url-prefix("chrome://mozapps/content/extensions/aboutaddons.html")
{
  :root,
  html|html {
    --in-content-page-color: var(--firefoxcss-text-color) !important;
    --in-content-text-color: var(--firefoxcss-text-color) !important;
    --in-content-page-background: var(--firefoxcss-main-bg-color) !important;
    --in-content-box-background: var(--firefoxcss-item-bg-color) !important;
    --in-content-deemphasized-text: var(--in-content-text-color) !important;
    scrollbar-color: var(--in-content-text-color)
      var(--in-content-page-background) !important;
    color: var(--in-content-text-color) !important;
  }

  menulist > menupopup {
    background-color: var(--in-content-page-background) !important;
  }

  .updateSettingCrossUserWarningContainer,
  .info-panel,
  .extension-controlled,
  .message-bar,
  html|message-bar,
  .alert,
  treecol {
    background-color: var(--in-content-box-background) !important;
    color: var(--in-content-text-color) !important;
  }
  .menulist-dropmarker,
  .checkbox-icon {
    -moz-context-properties: fill;
    fill: CurrentColor !important;
  }
  /* make panel background blurry if the background is translucent. Requires pref layout.css.backdrop-filter.enabled  */
  html|panel-list {
    backdrop-filter: blur(28px);
  }
}

/* Get addons page */
/* New addons manager doesn't use this anymore */
@-moz-document url-prefix("https://discovery.addons.mozilla.org/")
{
  html|* {
    color: inherit !important;
  }
  html|html,
  html|body {
    background-color: var(--firefoxcss-main-bg-color) !important;
    color: var(--firefoxcss-text-color) !important;
  }
  html|div.addon,
  html|div.Notice {
    background-color: var(--firefoxcss-item-bg-color) !important;
  }
}

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/content/standalone_image_page_mods.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

@-moz-document media-document(image) {
  @media not print {
    :root {
      background-color: var(--firefoxcss-main-bg-color) !important; /* set solid color background */
      background-image: none !important; /* remove default background texture */
    }

    /* Uncomment the following to position image to top-left */
    /*
    img{
      margin: 0 !important;
    }
    */

    /* Checkerboard pattern for transparent images, slight blue hue */
    img.transparent {
      background: conic-gradient(
          #eef 0.25turn,
          #bbc 0.25turn 0.5turn,
          #eef 0.5turn 0.75turn,
          #bbc 0.75turn
        )
        top left / 24px 24px repeat !important;
    }
  }
}

