/* about:addons responsive grid layout */

@-moz-document url-prefix("about:addons"), url-prefix("chrome://mozapps/content/extensions/aboutaddons.html")
{
  :root {
    overflow-x: hidden;
  }

  recommended-addon-list,
  .sidebar-footer-list,
  footer,
  .footer,
  [data-l10n-id="recommended-themes-heading"],
  [data-l10n-id="recommended-extensions-heading"] {
    display: none !important;
  }

  #main {
    max-width: unset !important;
  }

  addon-list,
  recommended-addon-list {
    display: flex;
    flex-direction: column;
  }

  addon-list > section,
  addon-list[type="extension"] > section,
  recommended-addon-list > section {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1em;
  }

  addon-card {
    width: 100%;
    contain: none;
  }
  addon-list addon-card > .addon.card {
    background-color: #222222 !important;
  }

  addon-card .card-contents {
    width: unset;
    white-space: initial;
    padding: unset;
    background-color: #222222 !important;
  }

  addon-card .addon-name-link {
    font-size: 0.9em;
  }

  addon-list[type="extension"] .addon-name-container {
    display: grid;
    grid-template-areas: "name badge opt" "name toggle toggle";
    grid-row-gap: 6px;
    grid-auto-columns: 1fr 24px auto;
  }

  .addon-icon {
    align-self: center;
  }

  .addon-name-container > .addon-name {
    grid-area: name;
  }
  .addon-name-container > :is(.toggle-button, moz-toggle) {
    grid-area: toggle;
    justify-self: end;
  }
  .addon-name-container > .more-options-button {
    grid-area: opt;
  }
  .addon-name-container > .addon-badge {
    grid-area: badge;
  }

  addon-list[type="extension"] .more-options-button {
    margin-inline: 0;
    border-radius: var(--firefoxcss-border-radius) !important;
    background-image: none !important;
    background-color: var(--firefoxcss-new-tab-button-hover) !important;
    box-shadow: 1px 1px 4px -1px
      var(--firefoxcss-new-tab-button-box-shadow-hover) !important;
  }

  .card-heading-image {
    max-width: calc(100% + 36px);
    object-position: left;
  }

  addon-card .addon-description {
    max-height: 3em;
    scrollbar-width: thin;
  }

  addon-list[type="theme"] addon-card {
    margin-right: auto;
    background-color: #222222 !important;
  }

  addon-card:not([expanded]) .addon-badge-verified,
  addon-card:not([expanded]) .addon-badge-recommended,
  addon-card:not([expanded]) .addon-description,
  addon-card:not([expanded]) .addon-card-message button[action] {
    display: none;
  }

  addon-list[type="extension"] {
    --card-padding: 8px;
  }
  #page-header,
  .main-heading,
  .main-search,
  .sticky-container,
  .sticky-header {
    background-color: #191919 !important;
  }
  #page-header {
    background-color: #191919 !important;
  }
  .card .addon {
    background-color: #222222 !important;
  }
}

@-moz-document url-prefix("about:addons") {
  :root {
    --sidebar-width: 60px !important;
  }

  #categories {
    width: var(--sidebar-width) !important;
  }

  #categories > .category {
    margin-left: 10px !important;
    -moz-box-pack: center;
  }

  #category-discover,
  .category[data-l10n-id*="discover"],
  #categories > button:first-of-type {
    display: none !important;
  }

  .sidebar-footer-list {
    margin-left: 18px !important;
  }

  .sidebar-footer-label,
  .category > .category-name {
    display: none;
  }
}

/* Addon discovery page */
@-moz-document url-prefix("https://discovery.addons.mozilla.org/")
{
  html|* {
    color: inherit !important;
  }
  html|html,
  html|body {
    background-color: #191919 !important;
    color: rgb(210, 210, 210) !important;
  }
  html|div.addon,
  html|div.Notice {
    background-color: #191919 !important;
  }
}
