@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

@-moz-document url-prefix("about:") {
  :root {
    --in-content-box-background: var(--firefoxcss-item-bg-color) !important;
    --in-content-table-background: var(--firefoxcss-item-bg-color) !important;
    --in-content-page-background: var(--firefoxcss-main-bg-color) !important;
  }

  html,
  body {
    background-color: var(--firefoxcss-main-bg-color) !important;
  }
}

@-moz-document url("about:blank") {
  #newtab-customize-overlay {
    background-color: var(--firefoxcss-main-bg-color) !important;
  }
}
