@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

@-moz-document url-prefix("https://discovery.addons.mozilla.org/")
{
  html|* {
    color: inherit !important;
  }
  html|html,
  html|body {
    background-color: var(--firefoxcss-main-bg-color) !important;
    color: var(--firefoxcss-text-color) !important;
  }
  html|div.addon,
  html|div.Notice {
    background-color: var(--firefoxcss-item-bg-color) !important;
  }
}
