/* multithreaded download manager */

@-moz-document url-prefix("moz-extension://0163b722-07ea-4fbd-80d6-7b5de657bb9e") {
  :root {
    --selected-bg: color-mix(in srgb, #23252e 60%, #17191e);
  }

  body {
    background-color: var(--in-content-page-background) !important;
    color: var(--secondary-color) !important;
  }

  #toolbar {
    background-color: var(--base00) !important;
    display: flex !important;
    flex-flow: row nowrap !important;
    column-gap: 3px !important;
    padding: 3px !important;
  }

  #toolbar > button,
  .summary-row > button {
    background-color: transparent !important;
    margin: 0 !important;
    border-radius: var(--uc-border-radius) !important;
    outline: 0 !important;
  }

  #toolbar > button:not([disabled]):hover,
  .summary-row > button:not([disabled]):hover {
    background-color: var(--base02) !important;
  }

  #toolbar > button:not([disabled]):focus-visible,
  .summary-row > button:not([disabled]):focus-visible {
    outline: var(--global-focus-ring) !important;
    box-shadow: var(--global-focus-shadow) !important;
  }

  #toolbar > button:not([disabled]):hover:active,
  .summary-row > button:not([disabled]):hover:active {
    background-color: var(--base01-active) !important;
  }

  #tasks-wrapper {
    min-height: 100px !important;
  }

  #tasks:empty + #empty-tasks {
    height: 100px !important;
    display: flex !important;
    flex-flow: column nowrap !important;
    justify-content: center !important;
    align-content: center !important;
  }

  .task {
    border-color: var(--base0099) !important;
  }

  :root[data-path="panel/panel"] .task.selected {
    background-color: var(--selected-bg) !important;
  }

  .progress-canvas {
    border-radius: 100px !important;
  }

  .warning-bar,
  .error-bar {
    background-color: rgb(22, 21, 22) !important;
  }
}
