/*=====================================================================
=========================== B U T T O N S =============================
=====================================================================*/

/* Go Back button */
#back-button > .toolbarbutton-icon {
  border: none !important;
  background: none !important;
  border-radius: var(--toolbarbutton-border-radius) !important;
  width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
  height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
  padding: var(--toolbarbutton-inner-padding) !important;
}

/* Main Menu Button */
#PanelUI-button {
  margin-inline-start: 0 !important;
  padding-inline-start: 0 !important;
  border: none !important;
  border-inline-start: none !important;
}

/* Add padding to all toolbar buttons and extension buttons */
toolbar .toolbarbutton-1,
.unified-extensions-item-action-button,
.webextension-browser-action {
  padding: 0.25rem !important;
  background-color: hsla(255, 2%, 65%, 0.3) !important;
  border: 1px solid currentColor !important;
  border-radius: var(--firefoxcss-border-radius-sm) !important;
}

toolbar .toolbarbutton-1:hover,
toolbar .toolbarbutton-1:active,
.unified-extensions-item-action-button:hover,
.unified-extensions-item-action-button:active,
.webextension-browser-action:hover,
.webextension-browser-action:active {
  background-color: var(--firefoxcss-item-bg-color) !important;
}

toolbar .toolbarbutton-1:hover .toolbarbutton-icon,
toolbar .toolbarbutton-1:active .toolbarbutton-icon,
.unified-extensions-item-action-button:hover .toolbarbutton-icon,
.unified-extensions-item-action-button:active .toolbarbutton-icon,
.webextension-browser-action:hover .toolbarbutton-icon,
.webextension-browser-action:active .toolbarbutton-icon {
  fill: #555555 !important;
}

toolbar
  .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover
  > .toolbarbutton-icon,
toolbar
  .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover
  > .toolbarbutton-text,
toolbar
  .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover
  > .toolbarbutton-badge-stack {
  box-shadow: 1px 1px 4px var(--firefoxcss-toolbar-button-box-shadow) !important;
}

toolbar
  .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active)
  > .toolbarbutton-icon,
toolbar
  .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active)
  > .toolbarbutton-text,
toolbar
  .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active)
  > .toolbarbutton-badge-stack {
  box-shadow: 2px 2px 4px var(--firefoxcss-toolbar-button-active-box-shadow) !important;
}

/* ----- New tab icon size (16-default). Not change the rest of calc --- */
@media not -moz-pref("sidebar.verticalTabs") {
  #tabs-newtab-button .toolbarbutton-icon,
  #new-tab-button .toolbarbutton-icon {
    width: calc(2 * var(--toolbarbutton-inner-padding) + 12px) !important;
    height: calc(2 * var(--toolbarbutton-inner-padding) + 12px) !important;
  }
}

/* Design of the plus/newtab button - active/press */
toolbar
  #tabs-newtab-button:not([disabled="true"]):-moz-any(
    [open],
    [checked],
    :hover:active
  )
  > .toolbarbutton-icon,
toolbar
  #new-tab-button:not([disabled="true"]):-moz-any(
    [open],
    [checked],
    :hover:active
  )
  > .toolbarbutton-icon {
  border: 0 !important;
  border-radius: 100% !important;
  background-image: none !important;
  background-color: var(--firefoxcss-new-tab-button-active) !important;
  box-shadow: inset 2px 2px 2px 0px
    var(--firefoxcss-new-tab-button-box-shadow-active) !important;
}

/* Design of the plus/newtab button - hover */
toolbar
  #tabs-newtab-button:not([disabled="true"]):not([checked]):not([open]):not(
    :active
  ):hover
  > .toolbarbutton-icon,
toolbar
  #new-tab-button:not([disabled="true"]):not([checked]):not([open]):not(
    :active
  ):hover
  > .toolbarbutton-icon {
  border: 0 !important;
  border-radius: 100% !important;
  background-image: none !important;
  background-color: var(--firefoxcss-new-tab-button-hover) !important;
  box-shadow: 1px 1px 4px -1px var(--firefoxcss-new-tab-button-box-shadow-hover) !important;
}

/* Back button hover/active color */
#back-button:not([disabled]):not([open]):hover > .toolbarbutton-icon,
#back-button:not([disabled="true"]):is([open], [checked], :hover:active) > .toolbarbutton-icon {
  background-color: var(--toolbarbutton-hover-background) !important;
}

#back-button:not([disabled="true"]):is([open], [checked], :hover:active) > .toolbarbutton-icon {
  background-color: var(--toolbarbutton-active-background) !important;
}

/* Firefox view button */
#TabsToolbar #firefox-view-button {
  margin-left: 2px !important;
}

#TabsToolbar #firefox-view-button:hover:not([open]) > .toolbarbutton-icon {
  background-image: none !important;
  box-shadow: none !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  background-color: var(--firefoxcss-tab-hover-bg-color) !important;
}

#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon {
  background-image: none !important;
  background-color: var(--firefoxcss-main-bg-color) !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  box-shadow: none !important;
}

/* Remove line on the right side of the Firefox view button and fix margins */
:root:not([privatebrowsingmode], [firefoxviewhidden])
  :is(toolbarbutton, toolbarpaletteitem)
  + #tabbrowser-tabs,
:root[privatebrowsingmode]:not([firefoxviewhidden])
  :is(
    toolbarbutton:not(#firefox-view-button),
    toolbarpaletteitem:not(#wrapper-firefox-view-button)
  )
  + #tabbrowser-tabs {
  border-inline-start: 0 !important;
  margin-inline-start: 0px !important;
}

#firefox-view-button {
  padding-right: 0px !important;
}

:root[privatebrowsingmode="temporary"] #PanelUI-menu-button {
  fill: var(--firefoxcss-private-browsing-menu-color) !important;
}

:root[privatebrowsingmode="temporary"]
  #PanelUI-menu-button
  .toolbarbutton-badge-stack
  .toolbarbutton-icon {
  filter: var(--firefoxcss-private-browsing-drop-shadow) !important;
}

/* Make forward and back buttons smaller  */
#back-button .toolbarbutton-icon,
#forward-button .toolbarbutton-icon {
  padding: calc(var(--toolbarbutton-inner-padding) + 1px) !important;
}


