/*=====================================================================
=========================== B U T T O N S =============================
=====================================================================*/

/* Main Menu Button */
#PanelUI-button {
  margin-inline-start: 0 !important;
  padding-inline-start: 0 !important;
  border-inline-start: none !important;
}

toolbar
  .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover
  > .toolbarbutton-icon,
toolbar
  .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover
  > .toolbarbutton-text,
toolbar
  .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover
  > .toolbarbutton-badge-stack {
  box-shadow: inset 2px 2px 4px var(--firefoxcss-toolbar-button-box-shadow) !important;
}

toolbar
  .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active)
  > .toolbarbutton-icon,
toolbar
  .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active)
  > .toolbarbutton-text,
toolbar
  .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active)
  > .toolbarbutton-badge-stack {
  box-shadow: inset 2px 2px 4px var(--firefoxcss-toolbar-button-box-shadow) !important;
}

/* ----- New tab icon size (16-default). Not change the rest of calc --- */
@media not -moz-pref("sidebar.verticalTabs") {
  #tabs-newtab-button .toolbarbutton-icon,
  #new-tab-button .toolbarbutton-icon {
    width: calc(2 * var(--toolbarbutton-inner-padding) + 12px) !important;
    height: calc(2 * var(--toolbarbutton-inner-padding) + 12px) !important;
  }
}

/* Design of the plus/newtab button - active/press */
toolbar
  #tabs-newtab-button:not([disabled="true"]):-moz-any(
    [open],
    [checked],
    :hover:active
  )
  > .toolbarbutton-icon,
toolbar
  #new-tab-button:not([disabled="true"]):-moz-any(
    [open],
    [checked],
    :hover:active
  )
  > .toolbarbutton-icon {
  border: 0 !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  background-image: none !important;
  background-color: var(--firefoxcss-new-tab-button-active) !important;
  box-shadow: inset 2px 2px 2px 0px
    var(--firefoxcss-new-tab-button-box-shadow-active) !important;
}

/* Design of the plus/newtab button - hover */
toolbar
  #tabs-newtab-button:not([disabled="true"]):not([checked]):not([open]):not(
    :active
  ):hover
  > .toolbarbutton-icon,
toolbar
  #new-tab-button:not([disabled="true"]):not([checked]):not([open]):not(
    :active
  ):hover
  > .toolbarbutton-icon {
  border: 0 !important;
  border-radius: var(--firefoxcss-border-radius) !important;

  background-image: none !important;
  background-color: var(--firefoxcss-new-tab-button-hover) !important;
  box-shadow: 1px 1px 4px -1px var(--firefoxcss-new-tab-button-box-shadow-hover) !important;
}

/* Back button hover/active color */
#back-button:not([disabled]):not([open]):hover > .toolbarbutton-icon {
  background-color: var(--toolbarbutton-hover-background) !important;
}

#back-button:not([disabled="true"]):is([open], [checked], :hover:active)
  > .toolbarbutton-icon {
  background-color: var(--toolbarbutton-active-background) !important;
}

/* Firefox view button */
#TabsToolbar #firefox-view-button {
  margin-left: 12px !important;
}

#TabsToolbar #firefox-view-button:hover:not([open]) > .toolbarbutton-icon {
  background-image: none !important;
  box-shadow: none !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  background-color: var(--firefoxcss-tab-hover-bg-color) !important;
}

#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon {
  background-image: none !important;
  background-color: var(--firefoxcss-main-bg-color) !important;
  border-radius: var(--firefoxcss-border-radius) !important;
}

/* Remove line on the right side of the Firefox view button and fix margins */
:root:not([privatebrowsingmode], [firefoxviewhidden])
  :is(toolbarbutton, toolbarpaletteitem)
  + #tabbrowser-tabs,
:root[privatebrowsingmode]:not([firefoxviewhidden])
  :is(
    toolbarbutton:not(#firefox-view-button),
    toolbarpaletteitem:not(#wrapper-firefox-view-button)
  )
  + #tabbrowser-tabs {
  border-inline-start: 0 !important;
  margin-inline-start: 0px !important;
}

#firefox-view-button {
  padding-right: 0px !important;
  margin-left: 22px !important;
}

:root[privatebrowsingmode="temporary"] #PanelUI-menu-button {
  fill: var(--firefoxcss-private-browsing-menu-color) !important;
}

.tab-icon-stack, .toolbarbutton-animatable-box, .toolbarbutton-icon {
  box-sizing: border-box !important;
  background-color: hsla(240, 2%, 35%, 0.95) !important;
  border: 1px solid hsla(240, 2%, 05%, 0.75) !important;
  border-radius:calc(var(--firefoxcss-border-radius)/2) !important;
  box-shadow: inset 2px 2px 4px var(--firefoxcss-toolbar-button-box-shadow) !important;
  width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
  height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
  color: hsla(240, 2%, 95%, 0.75);
  fill: hsla(240, 2%, 95%, 0.75) !important;
  filter: var(--firefoxcss-private-browsing-drop-shadow) !important;
  padding: calc(var(--toolbarbutton-inner-padding) + 1px) !important;
}

.tab-icon-stack:hover, .toolbarbutton-animatable-box:hover, .toolbarbutton-icon:hover {
  box-sizing: border-box !important;
  background-color: hsla(240, 2%, 55%, 0.75) !important;
  border: 1px solid hsla(240, 2%, 95%, 0.75) !important;
}
.tab-icon-stack:active, .toolbarbutton-animatable-box:active, .toolbarbutton-icon:active {
  box-sizing: border-box !important;
  background-color: hsla(240, 2%, 85%, 0.95) !important;
  color: #1c1c1c !important;
  fill: #1c1c1c !important;
}
