/*=====================================================================
========================= S E T   C O L O R S =========================
=====================================================================*/

/* Spill style. Modifications for userChrome file */

/* ----- My Custom Colors ----- */
@media (prefers-color-scheme: dark) {
  :root {
    --firefoxcss-bookmarks-bg-color: hsl(240, 2%, 13%) !important;
  }
}

/* Main BAR */
#main-window #navigator-toolbox {
  border-bottom: none !important;
}

/* Remove the white line around the content window */
#browser #tabbrowser-tabbox {
  outline: none !important;
  box-shadow: -1px 4px 2px #0000002e !important;
}

/* Vertical tabs background color with transparency preserved */
#vertical-tabs {
  background-color: hsla(240, 2%, 13%, 0.85) !important;
}

@media (prefers-color-scheme: light) {
  #vertical-tabs {
    background-color: hsla(200, 5%, 96%, 0.9) !important;
  }
}

/* Sidebar background color change */
#browser #sidebar-box {
  --sidebar-background-color: var(--firefoxcss-main-bg-color) !important;
}

/* Bookmarks bar background color */
#PersonalToolbar {
  background-color: var(--firefoxcss-main-bg-color) !important;
}

@media not -moz-pref("sidebar.revamp") {
  /* Remove line between website content and top bar */
  #navigator-toolbox {
    border-bottom: var(--firefoxcss-top-bar-border-bottom-size) solid
      var(--firefoxcss-top-bar-border-bottom-color) !important;
  }
}

@media -moz-pref("sidebar.revamp") {
  @media not -moz-pref("sidebar.verticaltabs") {
    #navigator-toolbox {
      border-bottom: none !important;
    }
  }
}

/* Set navigation toolbar to match bookmark bar */
#navigator-toolbox #nav-bar {
  background-color: var(--firefoxcss-main-bg-color) !important;
  border-bottom: none !important;
}

/* Set menubar to match bookmark bar */
#toolbar-menubar {
  background-color: var(--firefoxcss-main-bg-color) !important;
}

/* More tools button background */
.more-tools-button {
  background-color: var(--firefoxcss-main-bg-color) !important;
}

/* /* Toolbar buttons background */
*/
/* .toolbarbutton-1 { */
/*   background-color: var(--firefoxcss-item-bg-color) !important; */
/* } */
/**/
/* /* Toolbar buttons hover with 50% opacity */ */
/* .toolbarbutton-1:hover { */
/*   background-color: color-mix( */
/*     in srgb, */
/*     var(--firefoxcss-item-bg-color) 50%, */
/*     transparent */
/*   ) !important; */
/* } */

/* Tab favicons background removed */

/* Whole Main Toolbar */
#navigator-toolbox {
  background-color: var(--firefoxcss-main-bg-color) !important;
}

/* Fix some custom firefox themes that break */
#navigator-toolbox {
  :root[lwtheme-image] & {
    background-image: var(--lwt-additional-images) !important;
  }
}

/* Avoids bright flash */
#tabbrowser-tabpanels {
  background-color: var(
    --uc-light-bkgnd-color,
    var(--firefoxcss-bright-flash-color)
  ) !important;
}

/* CTRL+F Search Bar color changes  */
.browserContainer > findbar {
  background-image: none !important;
  background-color: var(--firefoxcss-main-bg-color) !important;
}

.browserContainer > findbar .findbar-textbox {
  background-color: var(--firefoxcss-item-bg-color) !important;
}
