/*=====================================================================
========================= S E T   C O L O R S =========================
=====================================================================*/

/* Vertical tabs background color with transparency preserved */
#vertical-tabs {
  background-color: hsla(240, 2%, 13%, 0.9) !important;
}

@media (prefers-color-scheme: light) {
  #vertical-tabs {
    background-color: hsla(200, 5%, 96%, 0.9) !important;
  }
}

/* All hbox elements background color */
hbox {
  background-color: var(--firefoxcss-bookmarks-bg-color) !important;
}

/* Sidebar background color change */
#browser #sidebar-box {
  --sidebar-background-color: var(--firefoxcss-bookmarks-bg-color) !important;
}

/* Bookmarks bar background color */
#PersonalToolbar {
  background-color: var(--firefoxcss-item-bg-color) !important;
}

@media not -moz-pref("sidebar.revamp") {
  /* Remove line between website content and top bar */
  #navigator-toolbox {
    border-bottom: var(--firefoxcss-top-bar-border-bottom-size) solid
      var(--firefoxcss-top-bar-border-bottom-color) !important;
  }
}

@media -moz-pref("sidebar.revamp") {
  @media not -moz-pref("sidebar.verticaltabs") {
    #navigator-toolbox {
      border-bottom: none !important;
    }
  }
}

/* Set navigation toolbar to match bookmark bar */
#navigator-toolbox #nav-bar {
  background-color: var(--firefoxcss-bookmarks-bg-color) !important;
  border-bottom: none !important;
}

/* Whole Main Toolbar */
#navigator-toolbox {
  background-color: var(--firefoxcss-item-bg-color) !important;
}

/* Fix some custom firefox themes that break */
#navigator-toolbox {
  :root[lwtheme-image] & {
    background-image: var(--lwt-additional-images) !important;
  }
}

/* Avoids bright flash */
#tabbrowser-tabpanels {
  background-color: var(
    --uc-light-bkgnd-color,
    var(--firefoxcss-bright-flash-color)
  ) !important;
}

/* CTRL+F Search Bar color changes  */
.browserContainer > findbar {
  background-image: none !important;
  background-color: var(--firefoxcss-main-bg-color) !important;
}

.browserContainer > findbar .findbar-textbox {
  background-color: var(--firefoxcss-item-bg-color) !important;
}