/*=====================================================================
======================= H E I G H T   F I X E S =======================
=====================================================================*/

/* Menu Bar height */
#toolbar-menubar {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  line-height: 22px !important;
  max-height: 22px !important;
}