/*=====================================================================
============================= I C O N S ================================
======================================================================*/

/* Context menu icon styling */
:where(#contentAreaContextMenu > menu:not(.menu-iconic))::before,
:where(#contentAreaContextMenu > menuitem:not(.menuitem-iconic))::before {
  display: flex;
  padding-inline-end: 8px;
  padding-top: 2px;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  content: url("chrome://browser/skin/tab.svg");
  -moz-context-properties: fill;
  fill: currentColor;
}

:where(#contentAreaContextMenu > menu),
:where(#contentAreaContextMenu > menuitem) {
  padding-inline-start: 1em !important;
}

#contentAreaContextMenu > menuitem[type="checkbox"]::before {
  content: url("chrome://devtools/skin/images/checkbox.svg");
}

#contentAreaContextMenu > menuitem[type="checkbox"] > :is(.menu-iconic-left, .menu-icon) {
  display: none;
}

#contentAreaContextMenu > menuitem[type="checkbox"][_moz-menuactive]::before,
#contentAreaContextMenu > menuitem[type="checkbox"]:is([checked=""], [checked="true"])::before {
  background: no-repeat center left url("chrome://global/skin/icons/check.svg");
}

#contentAreaContextMenu > :is(.menu-iconic, .menuitem-iconic)::before {
  content: none;
}

/* Separator-based group icons */
:where(#context-sep-navigation) ~ menuitem::before {
  content: url("chrome://devtools/skin/images/tool-dom.svg");
}

:where(#context-sep-viewsource-commands) ~ menuitem::before {
  content: url("chrome://browser/skin/translations.svg");
}

:where(#spell-suggestions-separator) ~ menuitem::before {
  content: url("chrome://browser/skin/new-tab.svg");
}

:where(#context-sep-open) ~ menuitem::before {
  content: url("chrome://browser/skin/bookmark-star-on-tray.svg");
}

:where(#context-savelinktopocket) ~ menuitem::before {
  content: url("chrome://global/skin/icons/edit-copy.svg");
}

:where(#context-sep-copylink) ~ menuitem::before {
  content: url("chrome://devtools/skin/images/play.svg");
}

:where(#context-media-sep-commands) ~ menuitem::before {
  content: url("chrome://browser/skin/canvas.svg");
}

:where(#context-sep-sharing) ~ menuitem::before {
  content: url("chrome://browser/skin/login.svg");
}

:where(#passwordmgr-items-separator) ~ menuitem::before {
  content: url("chrome://global/skin/icons/edit.svg");
}

:where(#context-sep-screenshots) ~ menuitem::before {
  content: url("chrome://global/skin/icons/search-glass.svg");
}

/* Individual menu items */
#context-openlink::before {
  content: url("chrome://browser/skin/window.svg");
}

#context-openlinkprivate::before {
  content: url("chrome://browser/skin/privateBrowsing.svg");
}

#context-savelinktopocket::before {
  content: url("chrome://global/skin/icons/pocket-outline.svg");
}

#context-copylink::before,
#context-stripOnShareLink::before,
#context-copyaudiourl::before,
#context-copyvideourl::before {
  content: url("chrome://global/skin/icons/link.svg");
}

#context-saveaudio::before,
#context-saveimage::before,
#context-savelink::before,
#context-savevideo::before,
#context-savepage::before {
  content: url("chrome://browser/skin/save.svg");
}

#context-pocket::before {
  content: url("chrome://global/skin/icons/pocket.svg");
}

#contentAreaContextMenu > #fill-login::before {
  content: url("chrome://browser/skin/login.svg");
}

#use-relay-mask::before {
  content: url("chrome://browser/skin/preferences/relay-logo.svg");
  transform: scale(0.85);
}

#context-copy::before,
#context-pdfjs-copy::before {
  content: url("chrome://global/skin/icons/edit-copy.svg");
}

#context-cut::before,
#context-pdfjs-cut::before {
  content: url("chrome://browser/skin/edit-cut.svg");
}

#context-paste-no-formatting::before,
#context-paste::before,
#context-pdfjs-paste::before {
  content: url("chrome://browser/skin/edit-paste.svg");
}

#context-delete::before,
#context-pdfjs-delete::before {
  content: url("chrome://global/skin/icons/delete.svg");
}

#context-video-saveimage::before,
#context-take-screenshot::before {
  content: url("chrome://devtools/skin/images/command-screenshot.svg");
}

#context-sendpagetodevice::before,
#context-sendlinktodevice::before {
  content: url("chrome://browser/skin/synced-tabs.svg");
}

#context-media-play::before {
  content: url("chrome://devtools/skin/images/play.svg");
}

#context-media-pause::before {
  content: url("chrome://devtools/skin/images/pause.svg");
}

#context-media-mute::before {
  content: url("chrome://global/skin/media/audio-muted.svg");
  transform: scale(0.85);
}

#context-media-unmute::before {
  content: url("chrome://global/skin/media/audio.svg");
  transform: scale(0.85);
}

#context-media-hidecontrols::before,
#context-media-showcontrols::before {
  content: url("chrome://devtools/skin/images/dock-bottom.svg");
}

#context-media-loop::before {
  content: url("chrome://browser/skin/notification-icons/autoplay-media.svg");
}

#context-leave-dom-fullscreen::before {
  content: url("chrome://browser/skin/fullscreen-exit.svg");
}

#context-video-fullscreen::before {
  content: url("chrome://browser/skin/fullscreen.svg");
}

#context-video-pictureinpicture::before {
  content: url("chrome://global/skin/media/picture-in-picture-open.svg");
}

#context-media-playbackrate::before {
  content: url("chrome://global/skin/icons/performance.svg");
}

#context-sendimage::before,
#context-sendvideo::before,
#context-sendaudio::before {
  content: url("chrome://browser/skin/mail.svg");
}

#context-undo::before,
#context-pdfjs-undo::before,
#context-redo::before,
#context-pdfjs-redo::before {
  content: url("chrome://global/skin/icons/undo.svg");
}

#context-redo::before,
#context-pdfjs-redo::before {
  transform-box: content-box;
  transform: scaleX(-1);
}

#context-selectall::before,
#context-pdfjs-selectall::before,
#context-pdfjs-highlight-selection::before {
  content: url("chrome://global/skin/reader/character-spacing-20.svg");
  transform: scale(0.85);
}

#context-reveal-password::before {
  -moz-context-properties: fill, stroke;
  stroke: currentColor;
  content: url("chrome://devtools/skin/images/eye-opened.svg");
}

#context-print-selection::before {
  content: url("chrome://global/skin/icons/print.svg");
}

#context-translate-selection::before,
#spell-check-enabled::before,
#spell-add-dictionaries-main::before,
#spell-dictionaries::before {
  content: url("chrome://browser/skin/translations.svg");
}

#context-ask-chat::before {
  content: url("chrome://global/skin/icons/highlights.svg");
}

#context-bidi-text-direction-toggle::before,
#context-bidi-page-direction-toggle::before {
  content: url("chrome://devtools/skin/images/command-bidi.svg");
}

#context-viewpartialsource-selection::before,
#context-viewsource::before {
  content: url("chrome://browser/skin/characterEncoding.svg");
}

#context-inspect-a11y::before {
  content: url("chrome://devtools/skin/images/accessibility.svg");
}

#context-inspect::before {
  content: url("chrome://devtools/skin/images/open-inspector.svg");
}

/*=====================================================================
===================== A P P   M E N U   I C O N S ======================
======================================================================*/

/* Adds icons to main menu items which were removed in Proton */
#appMenu-zoom-controls::before,
#appMenu-fxa-status2[fxastatus] > toolbarbutton::before,
:where(#appMenu-mainView) > .panel-subview-body > .subviewbutton > .toolbarbutton-icon {
  fill: currentColor;
  -moz-context-properties: fill;
  margin-inline: 0 8px !important;
}

#appMenu-zoom-controls::before,
#appMenu-fxa-status2[fxastatus] > toolbarbutton::before {
  display: flex;
  content: "";
  width: 16px;
  height: 16px;
}

#appMenu-empty-profiles-button {
  list-style-image: url("chrome://browser/skin/topsites.svg");
}
#appMenu-new-tab-button2 {
  list-style-image: url("chrome://browser/skin/new-tab.svg");
}
#appMenu-new-window-button2 {
  list-style-image: url("chrome://browser/skin/window.svg");
}
#appMenu-new-private-window-button2 {
  list-style-image: url("chrome://browser/skin/privateBrowsing.svg");
}
#appMenu-bookmarks-button {
  list-style-image: url("chrome://browser/skin/bookmark-star-on-tray.svg");
}
#appMenu-history-button {
  list-style-image: url("chrome://browser/skin/history.svg");
}
#appMenu-downloads-button {
  list-style-image: url("chrome://browser/skin/downloads/downloads.svg");
}
#appMenu-passwords-button {
  list-style-image: url("chrome://browser/skin/login.svg");
}
#appMenu-extensions-themes-button {
  list-style-image: url("chrome://mozapps/skin/extensions/extension.svg");
}
#appMenu-print-button2 {
  list-style-image: url("chrome://global/skin/icons/print.svg");
}
#appMenu-save-file-button2 {
  list-style-image: url("chrome://browser/skin/save.svg");
}
#appMenu-find-button2 {
  list-style-image: url("chrome://global/skin/icons/search-glass.svg");
}
#appMenu-settings-button {
  list-style-image: url("chrome://global/skin/icons/settings.svg");
}
#appMenu-more-button2 {
  list-style-image: url("chrome://global/skin/icons/developer.svg");
}
#appMenu-report-broken-site-button {
  list-style-image: url("chrome://global/skin/icons/warning.svg");
}
#appMenu-help-button2 {
  list-style-image: url("chrome://global/skin/icons/info.svg");
}
#appMenu-quit-button2 {
  list-style-image: url("chrome://devtools/skin/images/search-clear.svg");
  & > .toolbarbutton-icon {
    stroke: transparent;
    -moz-context-properties: fill, stroke;
  }
}
#appMenu-translate-button {
  list-style-image: url("chrome://browser/skin/translations.svg");
}
#appMenu-zoom-controls::before {
  background-image: url("chrome://browser/skin/fullscreen.svg");
}

/* Use account-button icon for signed in sync item */
#appMenu-fxa-status2[fxastatus] > toolbarbutton::before {
  background-image: var(--avatar-image-url);
}

/* Add somewhat hacky separator to zoom controls so it looks consistent */
#appMenu-mainView > .panel-subview-body::after {
  content: "";
  display: flex;
  border-bottom: 1px solid var(--panel-separator-color);
  margin: var(--panel-separator-margin);
}

#appMenu-translate-button ~ * {
  order: 2;
}

/*=====================================================================
=================== M E N U B A R   I C O N S =========================
======================================================================*/

#main-menubar > menu {
  fill: currentColor !important;
  height: var(--uc-menubaritem-height, 28px);
  width: var(--uc-menubaritem-width, 30px);
  -moz-context-properties: fill;
  padding: 3px !important;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--toolbarbutton-border-radius);
}

#main-menubar > menu > :is(.menubar-text, .menu-text) {
  display: none;
}

#file-menu {
  background-image: url("chrome://devtools/skin/images/tool-storage.svg");
}
#edit-menu {
  background-image: url("chrome://browser/skin/customize.svg");
}
#view-menu {
  background-image: url("chrome://devtools/skin/images/command-frames.svg");
}
#history-menu {
  background-image: url("chrome://browser/skin/history.svg");
}
#bookmarksMenu {
  background-image: url("chrome://browser/skin/bookmark.svg");
}
#profiles-menu {
  background-image: url("chrome://browser/skin/device-desktop.svg");
}
#tools-menu {
  background-image: url("chrome://global/skin/icons/developer.svg");
}
#helpMenu {
  background-image: url("chrome://global/skin/icons/help.svg");
}

/*=====================================================================
================= P L A C E S   C O N T E X T   I C O N S =============
======================================================================*/

/* Places context menu icon styling */
:where(#placesContext > menu:not(.menu-iconic))::before,
:where(#placesContext > menuitem:not(.menuitem-iconic))::before {
  display: flex;
  padding-inline-end: 8px;
  padding-top: 2px;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  content: url("chrome://browser/skin/tab.svg");
  -moz-context-properties: fill;
  fill: currentColor;
}

:where(#placesContext > menu),
:where(#placesContext > menuitem) {
  padding-inline-start: 1em !important;
}

#placesContext > menuitem[type="checkbox"]::before {
  content: url("chrome://devtools/skin/images/checkbox.svg");
}

#placesContext > menuitem[type="checkbox"] > :is(.menu-iconic-left, .menu-icon) {
  display: none;
}

#placesContext > menuitem[type="checkbox"][_moz-menuactive]::before,
#placesContext > menuitem[type="checkbox"]:is([checked=""], [checked="true"])::before {
  background: no-repeat center left url("chrome://global/skin/icons/check.svg");
}

#placesContext_openBookmarkContainer\:tabs::before,
#placesContext_openBookmarkLinks\:tabs::before {
  content: url("chrome://global/skin/icons/edit-copy.svg");
}

#placesContext_open\:newtab::before {
  content: url("chrome://global/skin/icons/open-in-new.svg");
}

#placesContext_openContainer\:tabs::before,
#placesContext_openLinks\:tabs::before {
  content: url("chrome://global/skin/icons/edit-copy.svg");
}

#placesContext_open\:newwindow::before {
  content: url("chrome://browser/skin/window.svg");
}

#placesContext_open\:newprivatewindow::before {
  content: url("chrome://browser/skin/privateBrowsing.svg");
}

#placesContext_showInFolder::before,
#placesContext_new\:folder::before {
  content: url("chrome://global/skin/icons/folder.svg");
}

#placesContext_show_bookmark\:info::before,
#placesContext_show\:info::before,
#placesContext_show_folder\:info::before {
  content: url("chrome://global/skin/icons/edit.svg");
}

#placesContext_deleteFolder::before,
#placesContext_deleteBookmark::before,
#placesContext_delete::before,
#placesContext_delete_history::before {
  content: url("chrome://global/skin/icons/delete.svg");
}

#placesContext_deleteHost::before {
  content: url("chrome://browser/skin/forget.svg");
}

#placesContext_sortBy\:name::before {
  content: url("chrome://browser/skin/sort.svg");
}

#placesContext_copy::before {
  content: url("chrome://devtools/skin/images/copy.svg");
}

#placesContext_cut::before {
  content: url("chrome://browser/skin/edit-cut.svg");
}

#placesContext_paste_group::before,
#placesContext_paste::before {
  content: url("chrome://browser/skin/edit-paste.svg");
}

#placesContext_new\:bookmark::before,
#placesContext_createBookmark::before {
  content: url("chrome://browser/skin/bookmark-hollow.svg");
}

#placesContext > #toggle_PersonalToolbar::before {
  content: url("chrome://browser/skin/bookmarks-toolbar.svg");
}

#placesContext_showAllBookmarks::before {
  content: url("chrome://browser/skin/library.svg");
}

#placesContext_new\:separator::before {
  content: url("chrome://global/skin/reader/content-width-20.svg");
  transform: scale(0.85);
}

/*=====================================================================
============= T E X T B O X   C O N T E X T   I C O N S ===============
======================================================================*/

/* Textbox context menu icon styling */
:where(.textbox-contextmenu > menu:not(.menu-iconic))::before,
:where(.textbox-contextmenu > menuitem:not(.menuitem-iconic))::before {
  display: flex;
  padding-inline-end: 8px;
  padding-top: 2px;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  content: url("chrome://browser/skin/tab.svg");
  -moz-context-properties: fill;
  fill: currentColor;
}

:where(.textbox-contextmenu > menu),
:where(.textbox-contextmenu > menuitem) {
  padding-inline-start: 1em !important;
}

.textbox-contextmenu > menuitem[type="checkbox"]::before {
  content: url("chrome://devtools/skin/images/checkbox.svg");
}

.textbox-contextmenu > menuitem[type="checkbox"] > :is(.menu-iconic-left, .menu-icon) {
  display: none;
}

.textbox-contextmenu > [data-l10n-id="text-action-undo"]::before,
.textbox-contextmenu > [data-l10n-id="text-action-redo"]::before {
  content: url("chrome://global/skin/icons/undo.svg");
}

.textbox-contextmenu > [data-l10n-id="text-action-redo"]::before {
  transform-box: content-box;
  transform: scaleX(-1);
}

.textbox-contextmenu > [data-l10n-id="text-action-copy"]::before {
  content: url("chrome://global/skin/icons/edit-copy.svg");
}

.textbox-contextmenu > [data-l10n-id="text-action-strip-on-share"]::before {
  content: url("chrome://devtools/skin/images/command-always-on-top-window.svg");
}

.textbox-contextmenu > [data-l10n-id="text-action-cut"]::before {
  content: url("chrome://browser/skin/edit-cut.svg");
}

.textbox-contextmenu > [data-l10n-id="text-action-paste"]::before {
  content: url("chrome://browser/skin/edit-paste.svg");
}

.textbox-contextmenu > #paste-and-go::before {
  content: url("chrome://browser/skin/edit-paste.svg");
}

.textbox-contextmenu > .searchbar-paste-and-search::before {
  content: url("chrome://global/skin/icons/search-glass.svg");
}

.textbox-contextmenu > [data-l10n-id="text-action-delete"]::before {
  content: url("chrome://global/skin/icons/delete.svg");
}

.textbox-contextmenu > [data-l10n-id="text-action-select-all"]::before {
  content: url("chrome://global/skin/reader/character-spacing-20.svg");
  transform: scale(0.85);
}