/*=====================================================================
============================ M I S C ==================================
=====================================================================*/

/* URLBar view button opacity on hover/selection */
.urlbarView-button {
  .urlbarView-row:is([row-selectable]:hover, [selected])
    > &:not(:hover, [open]) {
    background-color: transparent !important;
    opacity: 0.8 !important;
  }
}

/* Warning message when SVG context properties are disabled */
@media not -moz-pref("svg.context-properties.content.enabled") {
  #navigator-toolbox::before {
    width: 100%;
    content: ">>>> To fix buttons enable 'svg.context-properties.content.enabled' in about:config (type about:config in search) <<<<";
    color: #ffc6a4;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    background-color: #000;
    font-size: 1.1rem;
  }
}

/* Alt menu bar height fixes */
#toolbar-menubar {
  &[autohide="true"] {
    :root[tabsintitlebar] #navigator-toolbox:not([tabs-hidden]) > & {
      min-height: 0 !important;
    }
  }
}

#toolbar-menubar {
  &[autohide="true"] {
    :root[tabsintitlebar] #navigator-toolbox[tabs-hidden] > & {
      min-height: 0 !important;
    }
  }
}
