/*=====================================================================
===================== S P I L L   T H E M E =============================
=====================================================================*/

/* Main BAR - Remove border for Spill theme */
#main-window #navigator-toolbox {
  border-bottom: none !important;
}

/* Remove the white line around the content window */
#browser #tabbrowser-tabbox {
  outline: none !important;
  box-shadow: -1px 4px 2px #0000002e !important;
}
