/*=====================================================================
============== U R L   A U T O   H I D E   B U T T O N S ==============
=====================================================================*/

@media not -moz-pref("mod.search.info.buttons.show.always") {
  /* - [persistsearchterms] - 
     Used when "Show search terms instead of URL on 
     default search engine results page" enabled.
     When you search a globe icon shows up to show full url */

  .urlbar-page-action,
  .urlbar-revert-button,
  .urlbar-go-button,
  .search-go-button {
    &:not([disabled]):hover {
      background-color: var(--toolbarbutton-hover-background) !important;
    }
  }

  .identity-box-button,
  #tracking-protection-icon-container {
    &:hover:not([open="true"]) {
      background-color: var(--toolbarbutton-hover-background) !important;
    }
  }

  #urlbar-label-box,
  #urlbar-zoom-button {
    background-color: var(--firefoxcss-item-bg-color) !important;
  }

  #urlbar-zoom-button:hover {
    background-color: var(--firefoxcss-urlbar-zoom-button) !important;
  }

  /* Let you hide location permission icons to fix padding     */
  @media -moz-pref("mod.hide.location.permissions.icon") {
    #identity-permission-box box image.sharing-icon {
      opacity: 0 !important;
      visibility: collapse !important;
      transition: opacity var(--firefoxcss-transition-fast) var(--firefoxcss-transition-easing-in-out), visibility var(--firefoxcss-transition-fast) var(--firefoxcss-transition-easing-in-out);
      transition-delay: var(--firefoxcss-transition-fast);
    }

    #identity-permission-box[open="true"] box image.sharing-icon {
      opacity: 1 !important;
      visibility: visible !important;
      transition: opacity var(--firefoxcss-transition-fast) var(--firefoxcss-transition-easing), visibility var(--firefoxcss-transition-fast) var(--firefoxcss-transition-easing);
      transition-delay: var(--firefoxcss-transition-fast);
    }
  }

  #identity-box.extensionPage
    #identity-icon-box:not([open])
    #identity-icon-label {
    opacity: 0;
    visibility: collapse;
  }

  #identity-box.extensionPage #identity-icon-box #identity-icon-label {
    transition: opacity 0.3s var(--firefoxcss-transition-easing);
  }

  @media -moz-pref("mod.hide.extension.url.icon") {
    #identity-box.extensionPage #identity-icon-box {
      display: none !important;
    }
  }

  #tracking-protection-icon-container,
  #identity-icon-box,
  #identity-permission-box {
    /* Initial hidden state for the elements */
    /* persistsearchterms - is when you see globe in search */
    #urlbar & {
      opacity: 0 !important;
      margin-inline-start: calc(calc(var(--firefoxcss-spacing-4xl) - var(--firefoxcss-spacing-md)) - 2 * var(--urlbar-icon-padding));
      transition: margin-inline-start var(--firefoxcss-transition-medium) var(--firefoxcss-transition-easing-in-out),
        opacity var(--firefoxcss-transition-fast) var(--firefoxcss-transition-easing-in-out);
      transition-delay: var(--firefoxcss-transition-fast);
    }

    /* Specific rules to keep the elements shown when hovering */
    #urlbar:has(#identity-box:hover) &,
    #urlbar:has(#tracking-protection-icon-container:hover) & {
      opacity: 1 !important;
      margin-inline-start: initial !important;
      transition: margin-inline-start var(--firefoxcss-transition-fast) var(--firefoxcss-transition-easing), opacity var(--firefoxcss-transition-fast) var(--firefoxcss-transition-easing);
      transition-delay: var(--firefoxcss-transition-fast);
    }

    #urlbar &:hover:active,
    #urlbar &[open="true"] {
      opacity: 1 !important;
      margin-inline-start: initial !important;
    }
  }

  /*   When location permission granted show permission box */
  @media not -moz-pref("mod.hide.location.permissions.icon") {
    #urlbar #identity-permission-box:has(image.sharing-icon[sharing]) {
      opacity: 1 !important;
      margin-inline-start: initial !important;
      transition: margin-inline-start var(--firefoxcss-transition-fast) var(--firefoxcss-transition-easing), opacity var(--firefoxcss-transition-fast) var(--firefoxcss-transition-easing);
      transition-delay: var(--firefoxcss-transition-fast);
    }
  }

  #urlbar #identity-box[pageproxystate="valid"] {
    &.weakCipher,
    &.mixedDisplayContent,
    &.mixedDisplayContentLoadedActiveBlocked,
    &.certUserOverridden,
    &.certErrorPage,
    &.notSecureText {
      & #identity-icon-box {
        margin-inline-start: initial !important;
        opacity: 1 !important;
        color: #e36f6f !important;
        background-color: var(--firefoxcss-item-bg-color) !important;

        &:hover:not([open]) {
          background-color: var(--firefoxcss-urlbar-zoom-button) !important;
        }

        &:is(:hover:active, [open]) {
          background-color: var(--firefoxcss-urlbar-zoom-button) !important;
        }
      }
    }

    &.notSecure,
    &.mixedActiveContent,
    &.httpsOnlyErrorPage {
      & #identity-icon-box {
        margin-inline-start: initial !important;
        opacity: 1 !important;
      }
    }
  }

  #urlbar
    #identity-box[pageproxystate="valid"]:is(.chromeUI, .extensionPage)
    > #identity-icon-box {
    margin-inline-start: initial !important;
    opacity: 1 !important;
    background-color: var(--firefoxcss-item-bg-color) !important;

    &:hover:not([open]) {
      background-color: var(--firefoxcss-urlbar-zoom-button) !important;
    }

    &:is(:hover:active, [open]) {
      background-color: var(--firefoxcss-urlbar-zoom-button) !important;
    }
  }

  #urlbar:not([persistsearchterms]) .urlbar-input-container .urlbar-input-box {
    padding-inline-start: 3px !important;
  }

  #identity-box:hover ~ .urlbar-input-box > #urlbar-input,
  #tracking-protection-icon-container:hover
    ~ .urlbar-input-box
    > #urlbar-input {
    mask-image: linear-gradient(to right, transparent, black 3ch),
      linear-gradient(to left, transparent, black 3ch) !important;
    mask-composite: intersect;
  }

  #urlbar:is(:not([usertyping]), :not([focused])):not([persistsearchterms])
    #page-action-buttons {
    padding-inline-start: 6px;
  }

  #urlbar:not(.searchButton)
    > .urlbar-input-container
    > #identity-box[pageproxystate="invalid"]
    > .identity-box-button {
    padding-inline: var(--urlbar-icon-padding) !important;
  }

  #page-action-buttons .urlbar-page-action {
    margin-inline-end: calc(calc(var(--firefoxcss-spacing-4xl) - var(--firefoxcss-spacing-md)) - 2 * var(--urlbar-icon-padding)) !important;
    opacity: 0 !important;
    transition: margin-inline-end var(--firefoxcss-transition-medium) var(--firefoxcss-transition-easing-in-out), opacity var(--firefoxcss-transition-fast) var(--firefoxcss-transition-easing-in-out);
  }

  #page-action-buttons:not(:hover)
    #translations-button[translationsactive="true"]:not([open]) {
    /*     visibility: collapse !important; */
  }

  #translations-button-locale {
    color: white !important;
  }

  #page-action-buttons #translations-button[translationsactive="true"] {
    margin-inline-end: initial !important;
    opacity: 1 !important;
  }

  #page-action-buttons #reader-mode-button[readeractive] {
    margin-inline-end: initial !important;
    opacity: 1 !important;
  }

  #page-action-buttons:hover > .urlbar-page-action,
  #page-action-buttons .urlbar-page-action[open],
  #page-action-buttons .urlbar-page-action[open] ~ .urlbar-page-action {
    opacity: 1 !important;
    margin-inline-end: initial !important;
    transition: margin-inline-end var(--firefoxcss-transition-fast) var(--firefoxcss-transition-easing), opacity var(--firefoxcss-transition-fast) var(--firefoxcss-transition-easing);
  }

  /* Create visual dots on both sides */
  /* left side identity-box dots modification dark color %23FFFFFF*/
  #urlbar:is(:not([usertyping]), :not([focused])):not([persistsearchterms])
    #identity-box::after,
  #urlbar:is(:not([usertyping]), :not([focused])):not([persistsearchterms])
    #page-action-buttons::before {
    position: relative;
    content: "•••";
    content: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><svg fill="context-fill" width="13px" height="12px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M20.25 16c0 2.347-1.903 4.25-4.25 4.25s-4.25-1.903-4.25-4.25c0-2.347 1.903-4.25 4.25-4.25s4.25 1.903 4.25 4.25zM20.25 27c0 2.347-1.903 4.25-4.25 4.25s-4.25-1.903-4.25-4.25c0-2.347 1.903-4.25 4.25-4.25s4.25 1.903 4.25 4.25zM20.25 5c0 2.347-1.903 4.25-4.25 4.25s-4.25-1.903-4.25-4.25c0-2.347 1.903-4.25 4.25-4.25s4.25 1.903 4.25 4.25z"></path></svg>');
    pointer-events: none;
    -moz-context-properties: fill, fill-opacity;
    fill: var(--toolbarbutton-icon-fill) !important;
    transition: opacity var(--firefoxcss-transition-fast) var(--firefoxcss-transition-easing);
    align-self: center;
    font-size: 1.25rem;
  }

  #identity-box::after,
  #page-action-buttons::before {
    opacity: var(--firefoxcss-opacity-xs);
  }

  #identity-box::after {
    left: var(--firefoxcss-spacing-sm);
  }

  #page-action-buttons::before {
    right: var(--firefoxcss-spacing-sm);
  }

  #identity-box:hover::after,
  #page-action-buttons:hover::before {
    opacity: var(--firefoxcss-opacity-xs) !important;
    transition: opacity 50ms var(--firefoxcss-transition-easing);
    pointer-events: none;
  }

  #identity-box[pageproxystate="invalid"]::after,
  .urlbar-input-container[pageproxystate="invalid"]
    > #page-action-buttons::before {
    opacity: 0 !important;
    transition: opacity 50ms var(--firefoxcss-transition-easing);
  }

  /* Linux changes for visual dots */
  @media (-moz-platform: linux) {
    #identity-box::after,
    #page-action-buttons::before {
      content: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><svg fill="context-fill" width="13px" height="12px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M20.25 16c0 2.347-1.903 4.25-4.25 4.25s-4.25-1.903-4.25-4.25c0-2.347 1.903-4.25 4.25-4.25s4.25 1.903 4.25 4.25zM20.25 27c0 2.347-1.903 4.25-4.25 4.25s-4.25-1.903-4.25-4.25c0-2.347 1.903-4.25 4.25-4.25s4.25 1.903 4.25 4.25zM20.25 5c0 2.347-1.903 4.25-4.25 4.25s-4.25-1.903-4.25-4.25c0-2.347 1.903-4.25 4.25-4.25s4.25 1.903 4.25 4.25z"></path></svg>') !important;
      transform: none !important;
      font-size: unset !important;
    }

    #page-action-buttons::before {
      right: 2px;
    }

    #identity-box::after {
      left: 2px;
    }
  }
}