/*=====================================================================
============ W I N D O W   C O N T R O L   B U T T O N S ==============
=====================================================================*/

/* Fix for web apps */
:root[taskbartab] #navigator-toolbox:not([tabs-hidden]) {
  #nav-bar .titlebar-buttonbox-container {
    display: none !important;
  }
}

@media (-moz-platform: windows) {
  /* Keep showing the buttons when alt menu visible */
  .titlebar-buttonbox-container {
    #toolbar-menubar[autohide="true"]:not([inactive]) + #TabsToolbar > & {
      visibility: visible !important;
    }
  }

  @media -moz-pref("sidebar.verticalTabs") {
    #toolbar-menubar[autohide]:not([inactive])
      ~ :is(#TabsToolbar, #nav-bar)
      > .titlebar-buttonbox-container {
      visibility: unset !important;
    }
  }

  #TabsToolbar .titlebar-buttonbox-container,
  #nav-bar .titlebar-buttonbox-container {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-right: 3px !important;
    padding-left: 3px !important;
  }

  .titlebar-buttonbox-container .titlebar-button > .toolbarbutton-icon {
    height: 12px !important;
    min-height: 12px !important;
    width: 12px !important;
    min-width: 12px !important;
  }

  .titlebar-buttonbox-container .titlebar-button {
    border-radius: var(--toolbarbutton-border-radius);
    padding: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  @media not -moz-pref("firefoxcss.tabs.on.top.enable") {
    #toolbar-menubar .titlebar-button {
      padding-block: 0px !important;
    }

    #nav-bar-customization-target
      > :is(toolbarbutton, toolbaritem):first-child {
      padding-inline-start: 2px !important;
    }

    :root[sizemode="maximized"] .titlebar-buttonbox-container {
      padding-top: 0px !important;
    }

    #navigator-toolbox[inFullscreen] #nav-bar {
      padding-right: initial !important;
    }

    @media not -moz-pref("sidebar.verticalTabs") {
      #nav-bar {
        padding-right: var(--firefoxcss-control-buttons-margin) !important;
      }

      #navigator-toolbox:not([inFullscreen])
        #TabsToolbar
        .titlebar-buttonbox-container {
        visibility: visible !important;
        display: none !important;
        position: absolute !important;
        top: 1px;
        right: 0;
      }

      .titlebar-buttonbox-container .titlebar-min {
        order: 0 !important;
      }

      .titlebar-buttonbox-container .titlebar-max,
      .titlebar-restore {
        order: 1 !important;
      }

      .titlebar-buttonbox-container .titlebar-close {
        order: 2 !important;
      }

      @media only screen and (max-width: 670px) {
        #navigator-toolbox:not([inFullscreen])
          #TabsToolbar
          .titlebar-buttonbox-container {
          visibility: visible !important;
          display: none !important;
          position: relative !important;
          order: 1 !important;
          padding-top: 1px !important;
          padding-bottom: 1px !important;
        }

        #navigator-toolbox:not([inFullscreen]) #nav-bar {
          padding-right: initial !important;
        }
      }
    }
  }

  /*=====================================================================
  ============= T H I C K E R   C O N T R O L   B U T T O N S ===========
  =====================================================================*/

  /* Thicker Windows control buttons using HighContrast buttons */
  .titlebar-buttonbox-container .titlebar-button.titlebar-min {
    content: "\ef2d" !important;
  }

  .titlebar-buttonbox-container .titlebar-button.titlebar-max {
    content: "\ef2e" !important;
  }

  .titlebar-buttonbox-container .titlebar-button.titlebar-restore {
    content: "\ef2f" !important;
  }

  .titlebar-buttonbox-container .titlebar-button.titlebar-close {
    content: "\ef2c" !important;
  }
}

