/*=====================================================================
============ W I N D O W   C O N T R O L   B U T T O N S ==============
=====================================================================*/

/* Fix for web apps */
:root[taskbartab] #navigator-toolbox:not([tabs-hidden]) {
  #nav-bar .titlebar-buttonbox-container {
    display: none !important;
  }
}
