/*
 
Based on Shadowfox Theme
*/
/* This file contains color variables for Firefox Add-ons and other Mozilla services.
   It is used to ensure consistent theming across various pages and components. */
@-moz-document url-prefix(https://discovery.addons.mozilla.org),
url-prefix(chrome://),
url-prefix(about:),
url-prefix(file:),
url(https://www.mozilla.org/credits/),
url-prefix(https://addons.mozilla.org),
url-prefix(http://addons.mozilla.org),
url-prefix(https://raw.githubusercontent.com),
url-prefix(moz-extension),
url-prefix(view-source),
regexp(".*\\.(p|P)(d|D)(f|F).*") {
  :root {
    --magenta-10: #ffbdf4;
    --magenta-20: #ff94ed;
    --magenta-30: #ff6ce7;
    --magenta-40: #ff1ad9 --magenta-50: #ff1ad9;
    --magenta-60: #ed00b5;
    --magenta-70: #b5007f;
    --magenta-80: #7d004f;
    --magenta-90: #440027;
    --purple-10: #d8a3ff;
    --purple-20: #c77aff;
    --purple-30: #b652ff;
    --purple-40: #a529ff;
    --purple-50: #9400ff;
    --purple-60: #8000d7;
    --purple-70: #6200a4;
    --purple-80: #440071;
    --purple-90: #25003e;
    --blue-10: #bfdfff;
    --blue-20: #97caff;
    --blue-30: #6eb6ff;
    --blue-40: #45a1ff;
    --blue-50: #0a84ff;
    --blue-60: #0060df;
    --blue-70: #003eaa;
    --blue-80: #002275;
    --blue-90: #000f40;
    --teal-10: #a3ffff;
    --teal-20: #7afeff;
    --teal-30: #52feff;
    --teal-40: #29feff;
    --teal-50: #00feff;
    --teal-60: #00c8d7;
    --teal-70: #008ea4;
    --teal-80: #005a71;
    --teal-90: #002d3e;
    --green-10: #aafa9a;
    --green-20: #8af873;
    --green-30: #69f64c;
    --green-40: #48f525;
    --green-50: #30e60b;
    --green-60: #12bc00;
    --green-70: #058b00;
    --green-80: #006504;
    --green-90: #003706;
    --yellow-10: #fff7a3;
    --yellow-20: #fff47a;
    --yellow-30: #fff052;
    --yellow-40: #ffed29;
    --yellow-50: #ffe900;
    --yellow-60: #d7b600;
    --yellow-70: #a47f00;
    --yellow-80: #715100;
    --yellow-90: #3e2800;
    --red-10: #ffa3b8;
    --red-20: #ff7a98;
    --red-30: #ff5278;
    --red-40: #ff2959;
    --red-50: #ff0039;
    --red-60: #d70022;
    --red-70: #a4000f;
    --red-80: #5a0002;
    --red-90: #3e0200;
    --orange-10: #ffd8a3;
    --orange-20: #ffc77a;
    --orange-30: #ffb652;
    --orange-40: #ffa529;
    --orange-50: #ff9400;
    --orange-60: #d76e00;
    --orange-70: #a44900;
    --orange-80: #712b00;
    --orange-90: #3e1300;
    --grey-10: #f9f9fa;
    --grey-20: #ededf0;
    --grey-30: #d7d7db;
    --grey-40: #b1b1b3;
    --grey-50: #737373;
    --grey-60: #4a4a4f;
    --grey-70: #38383d;
    --grey-80: #2a2a2e;
    --grey-90: #0c0c0e;
    --code-green: var(--green-20) !important;
    --warning-color: var(--yellow-10) !important;
    --warning-background-color: #44391f;
    --theme-highlight-green: var(-green-20);
    --theme-highlight-blue: var(--blue-30);
    --theme-highlight-purple: var(--purple-20);
    --theme-highlight-red: var(--red-30);
    --theme-highlight-yellow: var(--yellow-10);
    --theme-highlight-bluegrey: #8ea2b6;
    --theme-highlight-lightorange: var(--orange-20);
    --theme-highlight-orange: var(--orange-40);
    --theme-highlight-pink: var(--red-10);
    --tone-1: var(--grey-10);
    --tone-2: var(--grey-20);
    --tone-3: var(--grey-30);
    --tone-4: var(--grey-40);
    --tone-5: var(--grey-50);
    --tone-6: var(--grey-60);
    --tone-7: var(--grey-70);
    --tone-8: var(--grey-80);
    --tone-9: var(--grey-90);
    --accent-1: #8ea2b6;
    --accent-2: #6b86a1;
    --accent-3: #536a81;
    --accent-4: #3b4a61;
    --accent-5: #27323d;
    --accent-6: #11161b;
    --in-content-page-color: var(--tone-2) !important;
    --in-content-page-background: var(--grey-80) !important;
    --in-content-text-color: var(--tone-2) !important;
    --in-content-selected-text: var(--tone-1) !important;
    --in-content-selected-text-background: var(--gray-70) !important;
    --in-content-box-background: var(--tone-8) !important;
    --in-content-box-background-odd: var(--tone-7) !important;
    --in-content-box-background-hover: var(--grey-70) !important;
    --in-content-box-background-active: var(--grey-90) !important;
    --in-content-box-border-color: var(--tone-7) !important;
    --in-content-item-hover: rgba(0, 149, 221, 0.25);
    --in-content-item-selected: var(--tone-8) !important;
    --in-content-border-highlight: var(--accent-1) !important;
    --in-content-border-focus: var(--accent-1) !important;
    --in-content-border-color: var(--tone-5) !important;
    --in-content-category-outline-focus: 1px dotted var(--accent-3) !important;
    --in-content-category-text: var(--tone-4) !important;
    --in-content-category-text-active: var(--gray-10) !important;
    --in-content-category-text-selected: var(--accent-1) !important;
    --in-content-category-text-selected-active: var(--tone-2);
    --in-content-category-background-hover: rgba(12, 12, 13, 0.1);
    --in-content-category-background-active: rgba(12, 12, 13, 0.15);
    --in-content-category-background-selected-hover: rgba(12, 12, 13, 0.15);
    --in-content-category-background-selected-active: rgba(12, 12, 13, 0.2);
    --in-content-tab-color: #424f5a;
    --in-content-link-color: var(--blue-50) !important;
    --in-content-link-color-hover: var(--blue-30) !important;
    --in-content-link-color-active: var(--teal-50) !important;
    --in-content-link-color-visited: var(--purple-50) !important;
    --in-content-primary-button-background: var(--tone-7) !important;
    --in-content-primary-button-background-hover: var(--tone-6) !important;
    --in-content-primary-button-background-active: var(--tone-5) !important;
    --in-content-table-border-dark-color: var(--tone-1) !important;
    --in-content-table-header-background: var(--tone-7) !important;
    --theme-selection-background: var(--accent-3) !important;
    --theme-selection-background-hover: var(--accent-2) !important;
    --in-content-category-header-background: var(--tone-7) !important;
    --selected-icon-fill-color: var(--tone-1) !important;
    --in-content-dark-header-background: var(--tone-7) !important;
    --tab-line-selected-color: var(--accent-1) !important;
    --secure-connection-color: var(--accent-2) !important;
    --tab-background-color: var(--tone-9);
    --tab-color: var(--in-content-selected-text);
    --theme-sidebar-background: var(--gray-90) !important;
    --card-outline-color: var(--in-content-box-border-color) !important;
    --cm-background: var(--tone-8) !important;
    --cm-selection: var(--accent-7) !important;
    --cm-marker: #555 !important;
    --cm-linenumber: #58575c !important;
    --cm-cursor: #fff !important;
    --cm-active-line-background: rgba(185, 215, 253, 0.15) !important;
    --cm-matching-bracket: rgba(255, 255, 255, 0.25) !important;
    --cm-search-background: rgba(24, 29, 32, 1) !important;
    --cm-red: var(--red-60) !important;
    --start-indicator-for-updater-scripts: black;
    --end-indicator-for-updater-scripts: black;
    --dummy-variable-for-updater-scripts: black;
    --in-content-focus-outline-color: var(--accent-3) !important;
    --in-content-accent-color: var(--accent-2) !important;
    --in-content-accent-color-active: var(--accent-1) !important;
    --in-content-table-background: var(--in-content-page-background);
    --in-content-table-border-color: var(--in-content-border-color);
    --in-content-table-header-background: var(--tone-7);
    --in-content-table-header-color: var(--in-content-page-color) !important;
  }
}
